'.bandopopupbackground {
  background-color: var(--color-white);
}
.bandopopupbackground,
.bandopopupcontainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.bandopopupunderbar,
.bandotextinputsettingbox {
  position: absolute;
  height: 14.87%;
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-white);
}
.bandopopupunderbar {
  top: 85.13%;
  bottom: 0;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.bandotextinputsettingbox {
  top: 70.25%;
  bottom: 14.87%;
}
.bandofontstylesettingbox,
.bandowritingbodybox,
.bandowritingtitlebox {
  position: absolute;
  height: 8.92%;
  width: 96.45%;
  top: 1.7%;
  right: 1.77%;
  bottom: 89.38%;
  left: 1.77%;
  border-radius: var(--br-3xs);
  background-color: #FBFBFB;
}
.bandowritingbodybox,
.bandowritingtitlebox {
  border: 0;
  outline: 0;
  height: 45.89%;
  top: 22.66%;
  bottom: 31.44%;
}
.bandowritingtitlebox {
  height: 9.49%;
  top: 11.9%;
  bottom: 78.61%;
}
.bandopostsettingbutton,
.bandotextsubmitbutton {
  position: absolute;
  height: 10.78%;
  width: 22.87%;
  top: 87.18%;
  right: 75.25%;
  bottom: 2.04%;
  left: 1.88%;
}
.bandotextsubmitbutton {
  width: 18.25%;
  right: 1.62%;
  left: 80.13%;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
}
.bandodiv {
  position: absolute;
  height: 7.25%;
  width: 11.12%;
  top: 88.85%;
  left: 83.62%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-designsetting-outlined-icon {
  position: absolute;
  height: 7.44%;
  width: 5%;
  top: 88.85%;
  right: 91.38%;
  bottom: 3.71%;
  left: 3.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bandodiv1 {
  position: absolute;
  height: 5.4%;
  width: 13.88%;
  top: 89.97%;
  left: 9.25%;
  font-size: var(--font-size-13xl);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablertext-size-icon {
  position: absolute;
  height: 4.25%;
  width: 2.53%;
  top: 4.11%;
  right: 92.82%;
  bottom: 91.64%;
  left: 4.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.carbontext-bold-icon,
.hugeiconsimage-01,
.ioncolor-fill-icon,
.mingcuteunderline-line-icon,
.tableritalic-icon,
.tablerstrikethrough-icon {
  position: absolute;
  height: 4.25%;
  width: 2.53%;
  top: 4.11%;
  right: 87.82%;
  bottom: 91.64%;
  left: 9.65%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.hugeiconsimage-01,
.ioncolor-fill-icon,
.mingcuteunderline-line-icon,
.tableritalic-icon,
.tablerstrikethrough-icon {
  right: 82.82%;
  left: 14.65%;
}
.hugeiconsimage-01,
.ioncolor-fill-icon,
.mingcuteunderline-line-icon,
.tablerstrikethrough-icon {
  right: 77.82%;
  left: 19.65%;
}
.hugeiconsimage-01,
.ioncolor-fill-icon,
.tablerstrikethrough-icon {
  right: 72.82%;
  left: 24.65%;
}
.hugeiconsimage-01,
.ioncolor-fill-icon {
  right: 67.82%;
  left: 29.65%;
}
.hugeiconsimage-01 {
  height: 5.67%;
  width: 3.38%;
  top: 75.1%;
  right: 93.24%;
  bottom: 19.24%;
  left: 3.38%;
}
.fluentemoji-16-regular-icon,
.lets-iconsvideo-light,
.pepicons-pencilline-y,
.phchart-bar-light-icon,
.rilive-line-icon {
  position: absolute;
  height: 5.67%;
  width: 3.38%;
  top: 75.1%;
  right: 86.37%;
  bottom: 19.24%;
  left: 10.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lets-iconsvideo-light,
.pepicons-pencilline-y,
.phchart-bar-light-icon,
.rilive-line-icon {
  right: 79.49%;
  left: 17.13%;
}
.pepicons-pencilline-y,
.phchart-bar-light-icon,
.rilive-line-icon {
  right: 72.62%;
  left: 24%;
}
.pepicons-pencilline-y,
.phchart-bar-light-icon {
  right: 65.74%;
  left: 30.88%;
}
.phchart-bar-light-icon {
  right: 58.5%;
  left: 38.13%;
  object-fit: contain;
}
.ant-designpaper-clip-outlined-icon,
.solarchecklist-minimalistic-l-icon,
.uilcalender-icon {
  position: absolute;
  height: 5.67%;
  width: 3.38%;
  top: 75.1%;
  right: 51.99%;
  bottom: 19.24%;
  left: 44.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.solarchecklist-minimalistic-l-icon,
.uilcalender-icon {
  right: 45.12%;
  left: 51.5%;
}
.solarchecklist-minimalistic-l-icon {
  right: 38.24%;
  left: 58.38%;
}
.jammore-horizontal-icon,
.material-symbolsquiz-outline-icon,
.mdiform-select-icon,
.mdiuser-check-outline-icon,
.midocument-check-icon {
  position: absolute;
  height: 5.67%;
  width: 3.38%;
  top: 75.1%;
  right: 31.37%;
  bottom: 19.24%;
  left: 65.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.jammore-horizontal-icon,
.material-symbolsquiz-outline-icon,
.mdiform-select-icon,
.mdiuser-check-outline-icon {
  right: 24.49%;
  left: 72.13%;
}
.jammore-horizontal-icon,
.material-symbolsquiz-outline-icon,
.mdiform-select-icon {
  right: 17.62%;
  left: 79%;
}
.jammore-horizontal-icon,
.mdiform-select-icon {
  right: 10.74%;
  left: 85.88%;
}
.jammore-horizontal-icon {
  right: 3.87%;
  left: 92.75%;
}
.bandopostbody {
  position: absolute;
  height: 87.05%;
  width: 100%;
  top: 12.95%;
  right: 0;
  bottom: 0;
  left: 0;
}
.bandopopupcloseicon {
  position: absolute;
  height: 50%;
  width: 5%;
  top: 24.95%;
  right: 3.88%;
  bottom: 25.05%;
  left: 91.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
/* .bandopopupclosebutton {
  position: absolute;
  height: 72.48%;
  width: 9.63%;
  top: 13.71%;
  right: 1.62%;
  bottom: 13.81%;
  left: 88.75%;
} */
.bandopopupclosebutton {
  cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
  position: absolute; /* 절대 위치 지정 */
  top: 10px; /* 상단에서 10px 위치 */
  right: 10px; /* 오른쪽에서 10px 위치 */
  width: 30px; /* 너비 30px */
  height: 30px; /* 높이 30px */
  background-color: transparent; /* 배경색 투명 */
}
.bandob {
  position: absolute;
  height: 60%;
  width: 13.88%;
  top: 20%;
  left: 42.91%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bandoposttitle,
.bandowriteboxtitle {
  position: absolute;
  height: 72.48%;
  width: 20.88%;
  top: 13.71%;
  right: 39.62%;
  bottom: 13.81%;
  left: 39.5%;
}
.bandoposttitle {
  height: 12.95%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 87.05%;
  left: 0;
  font-size: 48px;
}
.bandopostpage {
  width: 1184px;
  max-width: 100%;
  height: 811px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
'