.bandob3,
.bandodiv5 {
  position: absolute;
  top: 58.82%;
  left: 12.42%;
}
.bandob3 {
  top: 25.88%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.bandouserimagebox-icon {
  position: absolute;
  height: 70.59%;
  width: 9.09%;
  top: 12.94%;
  right: 89.39%;
  bottom: 16.47%;
  left: 1.52%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bandousernamebox {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.bandouser {
  width: 660px;
  position: relative;
  height: 85px;
  font-size: var(--font-size-lgi);
  color: var(--color-gray-300);
}
.bandopostbackground {
  position: absolute;
  height: 93.14%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 6.86%;
  left: 0;
}
.bandotextbox,
.bandotitlebox1 {
  position: absolute;
  height: 4.18%;
  width: 98.33%;
  top: 0.96%;
  right: 0.91%;
  bottom: 94.86%;
  left: 0.76%;
  background-color: var(--color-white);
}
.bandotextbox {
  height: 12.43%;
  top: 6%;
  bottom: 81.56%;
}
.bandob4 {
  position: absolute;
  top: 1.5%;
  left: 2.42%;
}
.bandop2 {
  margin: 0;
}
.bandop222 {
  margin: 0;
}
.bandodiv6 {
  position: absolute;
  top: 7.61%;
  left: 2.42%;
}
.bandobodyimage-icon,
.bandomingcutemore-2-fill-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bandobodyimage-icon {
  height: 70.74%;
  width: 99.7%;
  top: 21.33%;
  right: 0.15%;
  bottom: 7.93%;
  left: 0.15%;
  object-fit: cover;
}
.bandomingcutemore-2-fill-icon {
  height: 2.68%;
  width: 3.79%;
  top: 1.71%;
  right: 2.42%;
  bottom: 95.61%;
  left: 93.79%;
}
.bandocommentlistbox,
.bandopostunderbar {
  position: absolute;
  height: 5.57%;
  width: 100%;
  top: 94.43%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.bandocommentlistbox {
  height: 4.07%;
  width: 17.73%;
  top: 95.18%;
  right: 81.52%;
  bottom: 0.75%;
  left: 0.76%;
}
.bandodiv7 {
  position: absolute;
  top: 95.93%;
  left: 3.33%;
  font-size: var(--font-size-xl);
}
.bandocommentviewbutton,
.bandofa-solideye-icon,
.bandosolaralt-arrow-up-line-duoton-icon {
  position: absolute;
  height: 2.14%;
  width: 3.03%;
  top: 96.14%;
  right: 83.48%;
  bottom: 1.71%;
  left: 13.48%;
}
.bandocommentviewbutton {
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.bandofa-solideye-icon,
.bandosolaralt-arrow-up-line-duoton-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bandofa-solideye-icon {
  width: 3.41%;
  right: 7.8%;
  left: 88.79%;
}
.bandoviewcountbox {
  position: absolute;
  height: 4.07%;
  width: 12.88%;
  top: 95.18%;
  right: 0.91%;
  bottom: 0.75%;
  left: 86.21%;
}
.bandodiv8 {
  position: absolute;
  height: 2.36%;
  width: 4.24%;
  top: 96.03%;
  left: 92.27%;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bandopost {
  width: 660px;
  position: relative;
  height: 933px;
}
.bandolikesharebarbg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
  border-top: 1px solid var(--color-darkgray);
  border-bottom: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.bandoakar-iconsheart {
  position: absolute;
  height: 40.54%;
  width: 4.2%;
  top: 28.38%;
  right: 73.81%;
  bottom: 31.08%;
  left: 21.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bandodiv10,
.bandodiv9,
.bandoicon-parkshare {
  position: absolute;
  top: 29.73%;
  left: 26.89%;
}
.bandodiv10,
.bandoicon-parkshare {
  left: 64.15%;
}
.bandoicon-parkshare {
  height: 40.54%;
  width: 4.2%;
  top: 28.38%;
  right: 36.55%;
  bottom: 31.08%;
  left: 59.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bandolikesharebar {
  width: 714px;
  position: relative;
  height: 74px;
  text-align: center;
}
.bandopostframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.bandocommentcontainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
  border-bottom: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.bandousercomment-child {
  position: absolute;
  height: 21.35%;
  width: 8.4%;
  top: 7.83%;
  right: 85.85%;
  bottom: 70.82%;
  left: 5.74%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bandob5 {
  position: absolute;
  top: 14.23%;
  left: 16.53%;
}
.bandocommentbodybox,
.bandocommentuserbox,
.bandopostingtimebox {
  position: absolute;
  height: 28.83%;
  width: 92.44%;
  top: 3.91%;
  right: 3.92%;
  bottom: 67.26%;
  left: 3.64%;
}
.bandocommentbodybox,
.bandopostingtimebox {
  height: 44.13%;
  top: 32.74%;
  bottom: 23.13%;
}
.bandopostingtimebox {
  height: 18.86%;
  top: 76.87%;
  bottom: 4.27%;
}
.bandodiv11,
.bandodiv12 {
  position: absolute;
  top: 40.93%;
  left: 5.74%;
}
.bandodiv12 {
  top: 82.21%;
}
.bandousercomment {
  width: 714px;
  position: relative;
  height: 281px;
}
.bandopostlistframe {
  position: absolute;
  top: 14px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bandopostlist {
  width: 714px;
  background-color: var(--color-white);
  max-width: 100%;
  height: 1708px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}