.child9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
}
.chevron-down-icon {
  position: absolute;
  top: 1.313rem;
  left: 20.813rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.div45 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  width: 23.5rem;
  height: 4.25rem;
}
