.home-filled-icon {
  width: 3.75rem;
  position: relative;
  height: 3.75rem;
  overflow: hidden;
  flex-shrink: 0;
}
.div53 {
  width: 3rem;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.home-filled-parent {
  position: absolute;
  top: 0.563rem;
  left: 2.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div52 {
  flex: 1;
  position: relative;
  background-color: #d9d9d9;
  height: 6.25rem;
}
.frame13 {
  position: absolute;
  top: 43.75rem;
  left: 0;
  width: 26.831rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 1rem;
  color: #000;
  font-family: Inter;
}
