.frame-icon {
  position: absolute;
  top: 2.563rem;
  left: 1.438rem;
  width: 24rem;
  height: 1.438rem;
  overflow: hidden;
}
.codiconcircle {
  width: 1rem;
  position: relative;
  height: 1rem;
  overflow: hidden;
  flex-shrink: 0;
}
.div24 {
  position: relative;
  font-weight: 500;
}
.codiconcircle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.563rem;
}
.frame5,
.frame6 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame6 {
  align-self: stretch;
  border-radius: 18px;
  background-color: #efefef;
  height: 2.563rem;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0.625rem 1.125rem;
  box-sizing: border-box;
}
.frame5 {
  position: absolute;
  top: 5.563rem;
  left: 2.625rem;
  width: 21.625rem;
  align-items: flex-end;
  justify-content: center;
}
.rectangle-input {
  border: 0;
  outline: 0;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18px;
  width: 21.375rem;
  height: 2.563rem;
}
.zondiconsclose-solid {
  position: absolute;
  top: 0.688rem;
  left: 19.125rem;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
}
.vector-icon3 {
  width: 0.5rem;
  position: relative;
  height: 0.5rem;
}
.input {
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: Inter;
  font-size: 1rem;
  background-color: transparent;
  position: relative;
  color: #000;
  text-align: center;
}
.vector-parent {
  position: absolute;
  top: 0.688rem;
  left: 1.375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.813rem;
}
.frame8 {
  align-self: stretch;
  position: relative;
  height: 2.563rem;
  overflow: hidden;
  flex-shrink: 0;
}
.frame7 {
  position: absolute;
  top: 8.625rem;
  left: 2.625rem;
  width: 21.625rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.search {
  width: 26.875rem;
  position: relative;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  height: 46.875rem;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: 1rem;
  color: #000;
  font-family: Inter;
}
