.frame-child8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 24rem;
  height: 35.25rem;
}
.div207,
.div208,
.div209 {
  position: absolute;
  top: 1.813rem;
  left: 10.125rem;
}
.div208{
  top : 32.188rem;
  left: 10.125rem;
}
.div209 {
  top: 32.188rem;
  left: 12.125rem;
}
.div209 {
  top: 6.125rem;
  left: 2.438rem;
}
.div210 {
  top: 9.813rem;
}
.div210,
.div211,
.div212,
.div213 {
  position: absolute;
  left: 2.438rem;
}
.div211 {
  top: 13.5rem;
  color: var(--color-mediumaquamarine);
}
.div212,
.div213 {
  top: 17.188rem;
}
.div213 {
  top: 20.875rem;
  cursor: pointer;
}
.div214,
.div215{
  position : absolute;
  top: 24.563rem;
  left: 2.438rem;
}

.done-icon {
  position: absolute;
  top: 24.563rem;
  left: 2.0rem;
}
.div215,
.done-icon {
  top: 28.25rem;
}
.done-icon {
  top: 13.5rem;
  left: 20.688rem;
  width: 1.875rem;
  height: 1.875rem;
  object-fit: cover;
}
.rectangle-root {
  width: 25rem;
  position: relative;
  height: 35.25rem;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
