.commentframe-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  object-fit: cover;
}
.cheese12,
.gemachtt {
  position: absolute;
  top: 0.313rem;
  display: inline-block;
}
.cheese12 {
  left: 3rem;
  font-weight: 600;
  width: 6.875rem;
}
.gemachtt {
  left: 9.875rem;
  width: 19.5rem;
  height: 2.25rem;
}
.commentcomponent,
.commentframe {
  position: absolute;
  width: 31.375rem;
  height: 2.75rem;
  overflow: hidden;
}
.commentframe {
  top: 0;
  left: 0;
}
.commentcomponent {
  top: 13.25rem;
  left: 1rem;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
