.outsta-instagrampost-child {
  position: absolute;
  height: 57.03%;
  width: 100%;
  top: 8.83%;
  right: 0;
  bottom: 34.15%;
  left: 0;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.outsta-instagrampost-inner,
.outsta-instagrampost-item {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
}
.outsta-instagrampost-item {
  height: 2.06%;
  top: 95.38%;
  bottom: 2.57%;
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.outsta-instagrampost-inner {
  height: 2.57%;
  top: 97.43%;
  bottom: 0;
}
.outsta-postidframe-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
}
.outsta-iconamoonmenu-kebab-horizonta {
  position: absolute;
  top: calc(50% - 19px);
  left: 42.75rem;
  width: 3.5rem;
  height: 2.375rem;
  overflow: hidden;
}
.outsta-digital-highway2 {
  width: 16.625rem;
  position: relative;
  display: inline-block;
  height: 2.563rem;
  flex-shrink: 0;
}
.outsta-posttitleframe {
  position: absolute;
  top: 0.375rem;
  left: 5.625rem;
  width: 22.813rem;
  height: 3.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.outsta-div6 {
  position: absolute;
  top: 1.375rem;
  left: 22.25rem;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray);
  display: inline-block;
  width: 5.125rem;
}
.outsta-postidframe {
  position: absolute;
  height: 8.83%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 91.17%;
  left: 0;
  overflow: hidden;
  font-size: var(--font-size-13xl);
}
.outsta-heartandcommenticon {
  position: absolute;
  height: 6.5%;
  width: 62.23%;
  top: 65.85%;
  right: 37.1%;
  bottom: 27.64%;
  left: 0.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.outsta-digital-highway3,
.outsta-orion-world2 {
  position: absolute;
  width: 100%;
  left: 0;
  display: inline-block;
}
.outsta-digital-highway3 {
  height: 3.87%;
  top: 73.4%;
  font-size: var(--font-size-9xl);
  font-weight: 600;
}
.outsta-orion-world2 {
  height: 10.92%;
  top: 78.63%;
}
.outsta-div7 {
  height: 2.79%;
  width: 24.6%;
  top: 90.01%;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
  cursor: pointer;
}
.outsta-div10,
.outsta-div7,
.outsta-div8,
.outsta-div9,
.outsta-input2 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.outsta-input2 {
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 2.79%;
  width: 14.63%;
  top: 93.26%;
  color: var(--color-dimgray);
  text-align: left;
}
.outsta-div10,
.outsta-div8,
.outsta-div9 {
  height: 100%;
  width: 44.71%;
  top: 0;
  font-weight: 600;
}
.outsta-div10,
.outsta-div9 {
  width: 35.29%;
  left: 47.06%;
}
.outsta-div9 {
  top: 0.1rem;
}
.outsta-div10 {
  width: 17.65%;
  left: 82.35%;
}
.outsta-likegroup {
  position: absolute;
  height: 3.25%;
  width: 22.61%;
  top: 67.48%;
  right: 0.27%;
  bottom: 29.27%;
  left: 77.13%;
}
.outsta-instagrampost {
  position: absolute;
  top: 0.813rem;
  left: 14.813rem;
  width: 47rem;
  height: 53.813rem;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
