@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.outsta-div4,
.outsta-div5 {
  position: absolute;
}
.outsta-div4 {
  top: 16px;
  left: 27px;
  display: inline-block;
  width: 134px;
}
.outsta-div5 {
  top: 0;
  left: -1.5rem;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-dodgerblue);
  text-align: left;
}
.outsta-allremovebutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 16px;
  left: 294px;
  width: 104px;
  height: 22px;
}
.outsta-sidebarsearchtext {
  position: absolute;
  top: 180px;
  left: 0;
  width: 398px;
  height: 48px;
  overflow: hidden;
}
.outsta-b9 {
  position: absolute;
  top: 20px;
  left: 32px;
}
.outsta-phx-bold1,
.outsta-vector-icon1 {
  position: absolute;
  overflow: hidden;
}
.outsta-vector-icon1 {
  height: 65.63%;
  width: 65.63%;
  top: 17.19%;
  right: 17.19%;
  bottom: 17.19%;
  left: 17.19%;
  max-width: 100%;
  max-height: 100%;
}
.outsta-phx-bold1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 20px;
  left: 354px;
  width: 32px;
  height: 32px;
}
.outsta-searchgroup-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: #efefef;
  width: 366px;
  height: 40px;
}
.outsta-input1,
.outsta-phx-circle-fill-icon {
  position: absolute;
  top: calc(50% - 12px);
}
.outsta-phx-circle-fill-icon {
  left: 330px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.outsta-input1 {
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  left: 22px;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 240px;
}
.outsta-searchbar,
.outsta-searchgroup {
  position: absolute;
  top: 0;
  left: 16px;
  width: 366px;
  height: 40px;
}
.outsta-searchbar {
  top: 108px;
  left: 0;
  width: 398px;
  overflow: hidden;
}
.outsta-searchsidebar,
.outsta-sidebarheader1 {
  width: 398px;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.outsta-sidebarheader1 {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 180px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
}
.outsta-searchsidebar {
  height: 100%;
  border-radius: 0 var(--br-base) var(--br-base) 0;
  background-color: var(--color-white);
  overflow-y: auto;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  font-size: var(--font-size-xl);
}
.outsta-searchsidebar.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
