.searchhistoryframe-child {
  position: absolute;
  top: calc(50% - 22px);
  left: 0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.digital-highway1 {
  position: absolute;
  top: 13px;
  left: 56px;
  font-weight: 600;
  display: inline-block;
  width: 200px;
}
.phx-bold-icon1,
.xbutton {
  position: absolute;
  overflow: hidden;
}
.phx-bold-icon1 {
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  width: 16px;
  height: 16px;
}
.xbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 16px);
  right: 0;
  width: 32px;
  height: 32px;
}
.searchhistoryframe {
  position: absolute;
  top: 8px;
  left: 24px;
  width: 348px;
  height: 44px;
}
.searchhistory {
  width: 398px;
  max-width: 100%;
  height: 60px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
