.ncafe-cafewritingpost-child {
  position: absolute;
  top: 0.5rem;
  left: 17.75rem;
  width: 55.5rem;
  height: 11.25rem;
  object-fit: cover;
  cursor: pointer;
}

.ncafe-b9 {
  position: absolute;
  top: 0.5rem;
  left: 0;
  display: inline-block;
  width: 8.813rem;
}

.ncafe-headwritingbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: #e0f8e3;
  width: 4.25rem;
  height: 2.5rem;
}

.ncafe-b10 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 24px);
  font-size: 1.125rem;
  display: inline-block;
  font-family: var(--font-inter);
  color: #009f47;
  text-align: center;
  width: 2.938rem;
}

.ncafe-headwritingbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0.5rem;
  left: 50.5rem;
  width: 4.25rem;
  height: 2.5rem;
}

.ncafe-cafewritingposthead {
  position: absolute;
  top: 13.25rem;
  left: 18.125rem;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 54.75rem;
  height: 3.5rem;
  overflow: hidden;
}

.ncafe-input {
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: calc(50% - 11.5px);
  left: 1.75rem;
  font-weight: 700;
  color: var(--color-black);
  text-align: left;
  width: 49.625rem;
}

.ncafe-writingposttitle {
  position: absolute;
  top: 17.5rem;
  left: 18.125rem;
  border-radius: 10px;
  background-color: var(--color-gainsboro-100);
  width: 54.75rem;
  height: 4.563rem;
}

.ncafe-mingcutepic-line-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 18px);
  width: 2.25rem;
  height: 2.25rem;
  overflow: hidden;
}

.ncafe-div23 {
  position: absolute;
  top: 2.625rem;
  left: 0.375rem;
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-100);
  text-align: left;
}

.ncafe-picbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  width: 2.625rem;
  height: 3.75rem;
  overflow: hidden;
}

.ncafe-div24 {
  position: absolute;
  top: 2.625rem;
  left: calc(50% - 23px);
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-darkslategray-100);
  text-align: center;
  display: inline-block;
  width: 2.875rem;
}

.ncafe-videobutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 4.375rem;
  width: 2.625rem;
  height: 3.75rem;
  overflow: hidden;
}

.ncafe-div25 {
  position: absolute;
  top: 2.625rem;
  left: calc(50% - 24px);
  font-weight: 600;
  display: inline-block;
  width: 3rem;
}

.ncafe-stickerbutton {
  position: absolute;
  top: 0;
  left: 8.75rem;
  background-color: var(--color-white);
  width: 2.625rem;
  height: 3.75rem;
  overflow: hidden;
  text-align: center;
}

.ncafe-div26 {
  position: absolute;
  top: 2.625rem;
  left: calc(50% - 14px);
  font-weight: 600;
}

.ncafe-filebutton,
.ncafe-linkbutton,
.ncafe-placebutton {
  position: absolute;
  top: 0;
  left: 13.125rem;
  background-color: var(--color-white);
  width: 2.625rem;
  height: 3.75rem;
  overflow: hidden;
}

.ncafe-linkbutton,
.ncafe-placebutton {
  left: 17.5rem;
}

.ncafe-placebutton {
  left: 21.875rem;
}

.ncafe-div29 {
  position: absolute;
  top: 2.625rem;
  left: calc(50% - 7px);
  font-weight: 600;
}

.ncafe-imagepreviewbutton {
  position: relative;
  top: 0rem;
  left: 46.5rem;
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: var(--br-7xs);
  background-color: #e0f8e3;
  font-size: large;
  color: #009f47;
}

.ncafe-tablebutton {
  position: absolute;
  top: 0;
  left: 26.25rem;
  background-color: var(--color-white);
  width: 2.625rem;
  height: 3.75rem;
  overflow: hidden;
}

.ncafe-toolbarframe {
  position: absolute;
  top: 23.563rem;
  left: 18.125rem;
  width: 54.75rem;
  height: 4rem;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray-100);
}

.ncafe-cafewritingpost {
  width: 100%;
  position: absolute;
  background-color: var(--color-white);
  height: 50.688rem;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

/* 사진 미리보기 css 수정부탁드려여 */
/* 했어여 크크 */
.ncafe-image-preview-container {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 28rem;
  left: 61.2rem;
  width: 15%;
  height: 40%;
}

.ncafe-image-preview {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* top: 57%; */
  /* left: 81.5%; */
  /* margin-top: 20px; */
  width: 100%;
  height: 100%;
  /* max-width: 800px; */
  background-color: whitesmoke;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 100%;
  z-index: 2;
}

.ncafe-preview-image {
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  height: auto;
  /* display: block; */
  object-fit: contain;
  /* overflow-y: auto; */
}

.ncafe-preview-cancel-button {
  position: relative;
  left: 0.5rem;
  top: -0.3rem;
}

/* .ncafe-modal-overlay {
  position: relative;
  top: 30%;
  left: 30%;
  width: 40rem;
  height: 40rem;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: var(--contents);
}
.ncafe-modal-image {
  position: relative;
  top: 1.5rem;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.ncafe-modal-close {
  position: relative;
  top: -38rem;
  left: -4.5rem;
} */