.mainpage-blank2-icon {
  top: 70rem;
  left: 42.875rem;
}
.mainpage-blank1-icon,
.mainpage-blank2-icon,
.mainpage-neverband-child {
  position: absolute;
  border-radius: var(--br-3xs);
  width: 20.813rem;
  height: 17.125rem;
  object-fit: cover;
}
.mainpage-blank1-icon {
  top: 70rem;
  left: 21.438rem;
}
.mainpage-neverband-child {
  top: 0;
  left: 0;
}
.mainpage-div39 {
  position: absolute;
  top: 17.125rem;
  left: 4.688rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.mainpage-instagrammer,
.mainpage-neverband {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 20.813rem;
  height: 20.75rem;
}
.mainpage-neverband {
  top: 70.125rem;
  left: 0;
}
.mainpage-instagrammer {
  top: 46.75rem;
  left: 42.875rem;
}
.mainpage-div41 {
  position: absolute;
  top: 17.125rem;
  left: 8.125rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.mainpage-baeman,
.mainpage-kikiotaxi1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 46.75rem;
  width: 20.813rem;
  height: 20.75rem;
}
.mainpage-kikiotaxi1 {
  left: 21.438rem;
}
.mainpage-baeman {
  left: 0;
}
.mainpage-nevermap {
  left: 42.875rem;
}
.mainpage-coupong1,
.mainpage-gov25,
.mainpage-nevermap {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 23.375rem;
  width: 20.813rem;
  height: 20.75rem;
}
.mainpage-gov25 {
  left: 21.438rem;
}
.mainpage-coupong1 {
  left: 0;
}
.mainpage-div46 {
  position: absolute;
  top: 17.125rem;
  left: 5.813rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.mainpage-never1,
.mainpage-pknubank {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  width: 20.813rem;
}
.mainpage-never1 {
  position: absolute;
  left: 42.875rem;
  height: 20.75rem;
}
.mainpage-pknubank {
  left: 21.438rem;
}
.mainpage-appguidemainbuttonset2,
.mainpage-krail,
.mainpage-pknubank {
  position: absolute;
  height: 20.75rem;
}
.mainpage-krail {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 20.813rem;
}
.mainpage-appguidemainbuttonset2 {
  top: 30.75rem;
  left: 4.438rem;
  width: 65.875rem;
  overflow-y: auto;
}
.mainpage-appguidemainbuttonset2::-webkit-scrollbar {
  display: none;
}
.mainpage-guidescrollbackground {
  position: absolute;
  top: -14rem;
  left: 3.938rem;
  background-color: var(--color-white);
  width: 68.5rem;
  height: 44.75rem;
  overflow: hidden;
}
.mainpage-title4 {
  position: absolute;
  top: 27.75rem;
  left: 4.438rem;
}
.mainpage-chatbot-guidement {
  margin: 0;
}
.mainpage-div49 {
  position: absolute;
  top: 6.375rem;
  left: 0;
  display: inline-block;
  width: 65.875rem;
}
.mainpage-p6 {
  margin: 0;
  font-size: xx-large;
}
.mainpage-appguidemaincontentbanner {
  position: absolute;
  top: 8.625rem;
  left: 4.438rem;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 65.875rem;
  height: 17.125rem;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.mainpage-button8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 57.938rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 16.75rem;
}
.mainpage-infomainbuttonset1line {
  position: absolute;
  top: 1.688rem;
  left: 57.813rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.mainpage-button9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 34.375rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 23.563rem;
}
.mainpage-infomainbuttonset1line1 {
  position: absolute;
  top: 1.688rem;
  left: 34.25rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.mainpage-button10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 17rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  font-weight: bold;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 17.375rem;
}
.mainpage-infomainbuttonset1line2 {
  position: absolute;
  top: 1.688rem;
  left: 17.125rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.mainpage-button11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 17.25rem;
}
.mainpage-appguidemainbuttonset1 {
  position: absolute;
  top: 0;
  left: -0.062rem;
  width: 74.688rem;
  height: 6.625rem;
}
.mainpage-appguidemain {
  position: absolute;
  top: 14.438rem;
  width : 93.28%;
  left: 3.36%;
  right: 3.36%;
  height : 50rem;
  text-align: left;
  padding-bottom:10px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-box-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #F5F6F7;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mainpage-intro-txt3 {
  width: 100%;
}
.mainpage-intro4 {
  position: absolute;
  width: 84.6%;
  top: 55.38%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.mainpage-rectangle-div {
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: #6F9801;
  cursor: pointer;
}
.mainpage-rectangle-div:hover {
  background-color: #5b7a04;
}
.mainpage-div50,
.mainpage-rectangle-div,
.mainpage-start3 {
  position: absolute;
}
.mainpage-div50 {
  width: 100%;
  top: 8.24%;
  left: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-start3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.5%;
  left: 29.33%;
}
.mainpage-character-icon3 {
  position: absolute;
  height: 45.25%;
  width: 76.18%;
  top: 10.13%;
  right: 11.82%;
  bottom: 44.63%;
  left: 12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-copyright4 {
  position: absolute;
  right: 3.313rem;
}
.mainpage-chatbot6 {
  position: absolute;
  right : 0;
  top: calc(50% - 400px);
  width: 34.375rem;
  height: 50rem;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-copyright4 {
  top: 68.67%;
}
.mainpage-div51,
.mainpage-div52 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.mainpage-div52 {
  left: 56.563rem;
}
.mainpage-div53,
.mainpage-div54,
.mainpage-div55,
.mainpage-div56 {
  position: absolute;
  top: 0;
  left: 38.688rem;
}
.mainpage-div54,
.mainpage-div55,
.mainpage-div56 {
  left: 28.188rem;
}
.mainpage-div55,
.mainpage-div56 {
  left: 17.688rem;
}
.mainpage-div56 {
  left: 7.188rem;
}
.mainpage-footermenutext4,
.mainpage-title5 {
  position: absolute;
  right: 3.313rem;
}
.mainpage-footermenutext4 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.mainpage-title5 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.mainpage-logo-icon4 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.mainpage-appguidefooter1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -18.687rem;
  left: 0;
  background-color: var(--contents);
  height: 18.75rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-appguide {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
.mainpage-appguide::-webkit-scrollbar {
  display: none;
}