.blank2-icon {
  top: 71.938rem;
  left: 42.875rem;
}
.blank1-icon,
.blank2-icon,
.neverband-child {
  position: absolute;
  border-radius: var(--br-3xs);
  width: 20.813rem;
  height: 17.125rem;
  object-fit: cover;
}
.blank1-icon {
  top: 71.938rem;
  left: 21.438rem;
}
.neverband-child {
  top: 0;
  left: 0;
}
.div39 {
  position: absolute;
  top: 17.125rem;
  left: 4.688rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.instagrammer,
.neverband {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 20.813rem;
  height: 20.75rem;
}
.neverband {
  top: 70.125rem;
  left: 0;
}
.instagrammer {
  top: 46.75rem;
  left: 42.875rem;
}
.div41 {
  position: absolute;
  top: 17.125rem;
  left: 8.125rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.baeman,
.kikiotaxi1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 46.75rem;
  width: 20.813rem;
  height: 20.75rem;
}
.kikiotaxi1 {
  left: 21.438rem;
}
.baeman {
  left: 0;
}
.nevermap {
  left: 42.875rem;
}
.coupong1,
.gov25,
.nevermap {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 23.375rem;
  width: 20.813rem;
  height: 20.75rem;
}
.gov25 {
  left: 21.438rem;
}
.coupong1 {
  left: 0;
}
.div46 {
  position: absolute;
  top: 17.125rem;
  left: 5.813rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.never1,
.pknubank {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  width: 20.813rem;
}
.never1 {
  position: absolute;
  left: 42.875rem;
  height: 20.75rem;
}
.pknubank {
  left: 21.438rem;
}
.appguidemainbuttonset2,
.krail,
.pknubank {
  position: absolute;
  height: 20.75rem;
}
.krail {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 20.813rem;
}
.appguidemainbuttonset2 {
  top: 30.75rem;
  left: 4.438rem;
  width: 65.875rem;
  overflow-y: auto;
}
.appguidemainbuttonset2::-webkit-scrollbar {
  display: none;
}
.guidescrollbackground {
  position: absolute;
  top: -14rem;
  left: 3.938rem;
  background-color: var(--color-white);
  width: 68.5rem;
  height: 44.75rem;
  overflow: hidden;
}
.title4 {
  position: absolute;
  top: 27.75rem;
  left: 4.438rem;
}
.chatbot-guidement {
  margin: 0;
}
.div49 {
  position: absolute;
  top: 6.375rem;
  left: 0;
  display: inline-block;
  width: 65.875rem;
}
.p6 {
  margin: 0;
  font-size: xx-large;
}
.appguidemaincontentbanner {
  position: absolute;
  top: 8.625rem;
  left: 4.438rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 65.875rem;
  height: 17.125rem;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 57.938rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 16.75rem;
}
.infomainbuttonset1line {
  position: absolute;
  top: 1.688rem;
  left: 57.813rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.button9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 34.375rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 23.563rem;
}
.infomainbuttonset1line1 {
  position: absolute;
  top: 1.688rem;
  left: 34.25rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.button10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 17rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  font-weight: bold;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 17.375rem;
}
.infomainbuttonset1line2 {
  position: absolute;
  top: 1.688rem;
  left: 17.125rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.button11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 17.25rem;
}
.appguidemainbuttonset1 {
  position: absolute;
  top: 0;
  left: -0.062rem;
  width: 74.688rem;
  height: 6.625rem;
}
.appguidemain {
  position: absolute;
  top: 14.438rem;
  left: calc(50% - 895px);
  width: 74.625rem;
  height: 50.063rem;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.box-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.intro-txt3 {
  width: 100%;
}
.intro4 {
  position: absolute;
  width: 84.6%;
  top: 55.38%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.rectangle-div {
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--light);
}
.div50,
.rectangle-div,
.start3 {
  position: absolute;
}
.div50 {
  width: 100%;
  top: 8.24%;
  left: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.5%;
  left: 29.33%;
}
.character-icon3 {
  position: absolute;
  height: 45.25%;
  width: 76.18%;
  top: 10.13%;
  right: 11.82%;
  bottom: 44.63%;
  left: 12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chatbot3,
.copyright4 {
  position: absolute;
  right: 3.313rem;
}
.chatbot3 {
  top: calc(50% - 309px);
  width: 34.375rem;
  height: 50rem;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.copyright4 {
  top: 68.67%;
}
.div51,
.div52 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.div52 {
  left: 56.563rem;
}
.div53,
.div54,
.div55,
.div56 {
  position: absolute;
  top: 0;
  left: 38.688rem;
}
.div54,
.div55,
.div56 {
  left: 28.188rem;
}
.div55,
.div56 {
  left: 17.688rem;
}
.div56 {
  left: 7.188rem;
}
.footermenutext4,
.title5 {
  position: absolute;
  right: 3.313rem;
}
.footermenutext4 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.title5 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.logo-icon4 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.appguidefooter1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -18.687rem;
  left: 0;
  background-color: var(--contents);
  height: 18.75rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.div57,
.headermyinfobutton1 {
  position: absolute;
  width: 14rem;
}
.div57 {
  top: 15.87%;
  right: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headermyinfobutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--light);
  top: 2.344rem;
  right: 3.875rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 6.5rem;
}
.headertitleimage-icon4 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 332.5px);
  max-height: 100%;
  width: 7.5rem;
  object-fit: cover;
}
.div58 {
  position: absolute;
  top: 0.9%;
  left: calc(50% - 223.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.75rem;
}
.headertitle2 {
  position: absolute;
  top: 2.125rem;
  left: calc(50% - 332.5px);
  width: 41.563rem;
  height: 6.938rem;
  cursor: pointer;
}
.div59,
.headerbackbutton5 {
  position: absolute;
  width: 14rem;
}
.div59 {
  top: 16.83%;
  left: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerbackbutton5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--light);
  top: 2.344rem;
  left: 3.875rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 6.5rem;
}
.appguideheader {
  position: absolute;
  width: 99.95%;
  top: 0;
  right: 0.05%;
  left: 0;
  background-color: var(--main);
  height: 11.188rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-56xl);
  color: var(--color-white);
  font-family: var(--font-noto-sans-kr);
}
.appguide {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
.appguide::-webkit-scrollbar {
  display: none;
}