.div195 {
  position: absolute;
  top: 13rem;
  left: 5.25rem;
  font-size: var(--font-size-17xl);
  font-family: var(--font-noto-sans-kr);
  font-weight: normal;
  color: var(--color-black);
  text-align: left;
}
.bandbuttonimage-icon {
  position: absolute;
  top: 2.25rem;
  left: 4.688rem;
  width: 11.5rem;
  height: 8.563rem;
  object-fit: cover;
}
.bandbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 5rem;
  left: 45.125rem;
  width: 20.813rem;
  height: 17.125rem;
}
.instagrambuttonimage-icon {
  position: absolute;
  top: 2.313rem;
  left: 6.063rem;
  width: 8.75rem;
  height: 8.75rem;
  object-fit: cover;
}
.instagrambutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 5rem;
  left: 22.563rem;
  width: 20.813rem;
  height: 17.125rem;
}
.div196 {
  position: absolute;
  top: 13rem;
  left: 5.438rem;
  font-size: var(--font-size-17xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: left;
}
.cafebuttonimage-icon {
  position: absolute;
  top: 1.688rem;
  left: 5.625rem;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.cafebutton,
.title18 {
  position: absolute;
  left: 0;
}
.cafebutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  top: 5rem;
  width: 20.813rem;
  height: 17.125rem;
}
.title18 {
  top: 0;
}
.communitybuttonset {
  position: absolute;
  top: 27.75rem;
  left: 4.438rem;
  width: 65.938rem;
  height: 22.125rem;
}
.sns1 {
  margin: 0;
}
.sns-container1 {
  width: 100%;
}
.sns-container {
  position: absolute;
  top: 5.813rem;
  left: 0;
  display: flex;
  align-items: center;
  width: 65.875rem;
}
.appguidemaincontentbanner2 {
  position: absolute;
  top: 8.625rem;
  left: 4.438rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 65.875rem;
  height: 17.125rem;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.button30 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 57.938rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  font-weight: bold;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 16.75rem;
}
.infomainbuttonset1line9 {
  position: absolute;
  top: 1.688rem;
  left: 57.813rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.button31 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 34.375rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 23.563rem;
}
.infomainbuttonset1line10 {
  position: absolute;
  top: 1.688rem;
  left: 34.25rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.button32 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 17rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 17.375rem;
}
.infomainbuttonset1line11 {
  position: absolute;
  top: 1.688rem;
  left: 17.125rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.button33 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 17.25rem;
}
.appguidemainbuttonset12 {
  position: absolute;
  top: 0;
  left: -0.062rem;
  width: 74.688rem;
  height: 6.625rem;
}
.communitymain {
  position: absolute;
  top: 14.438rem;
  left: calc(50% - 895px);
  width: 74.625rem;
  height: 50.063rem;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.box-icon11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.intro12 {
  position: absolute;
  width: 84.6%;
  top: 55.38%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.start-child8 {
  position: absolute;
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--light);
}
.button34 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 8.24%;
  left: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start11 {
  position: absolute;
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.5%;
  left: 29.33%;
}
.character-icon11 {
  position: absolute;
  height: 45.25%;
  width: 76.18%;
  top: 10.13%;
  right: 11.82%;
  bottom: 44.63%;
  left: 12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chatbot11,
.copyright14 {
  position: absolute;
  right: 3.313rem;
}
.chatbot11 {
  top: calc(50% - 309px);
  width: 34.375rem;
  height: 50rem;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.copyright14 {
  top: 68.67%;
}
.div197,
.div198,
.div199 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.div198,
.div199 {
  left: 56.563rem;
}
.div199 {
  left: 38.688rem;
}
.div200,
.div201,
.div202 {
  position: absolute;
  top: 0;
  left: 28.188rem;
}
.div201,
.div202 {
  left: 17.688rem;
}
.div202 {
  left: 7.188rem;
}
.footermenutext14,
.title19 {
  position: absolute;
  right: 3.313rem;
}
.footermenutext14 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.title19 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.logo-icon14 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.communityfooter1,
.div203 {
  position: absolute;
  right: 0;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.communityfooter1 {
  width: 100%;
  bottom: -18.687rem;
  left: 0;
  background-color: var(--contents);
  height: 18.75rem;
  font-size: var(--font-size-5xl);
}
.div203 {
  top: 15.87%;
  font-size: var(--font-size-29xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
}
.headermyinfobutton10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--light);
  position: absolute;
  top: 2.344rem;
  right: 3.875rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 14rem;
  height: 6.5rem;
}
.headertitleimage-icon13 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 332.5px);
  max-height: 100%;
  width: 7.5rem;
  object-fit: cover;
}
.div204 {
  position: absolute;
  top: 0.9%;
  left: calc(50% - 223.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.75rem;
}
.headertitle11 {
  position: absolute;
  top: 2.125rem;
  left: calc(50% - 332.5px);
  width: 41.563rem;
  height: 6.938rem;
  cursor: pointer;
}
.div205,
.headerbackbutton14 {
  position: absolute;
  width: 14rem;
}
.div205 {
  top: 16.83%;
  left: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerbackbutton14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--light);
  top: 2.344rem;
  left: 3.875rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 6.5rem;
}
.communityheader1 {
  position: absolute;
  width: 99.95%;
  top: 0;
  right: 0.05%;
  left: 0;
  background-color: var(--main);
  height: 11.188rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-56xl);
  color: var(--color-white);
  font-family: var(--font-noto-sans-kr);
}
.community {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
}
.community::-webkit-scrollbar {
  display: none;
}