.title15 {
  position: absolute;
  top: 27.75rem;
  left: 4.438rem;
}
.deviceguidebutton6,
.smartphone-icon {
  cursor: pointer;
  position: absolute;
  width: 20.813rem;
  height: 17.125rem;
}
.smartphone-icon {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.deviceguidebutton6 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 18.938rem;
  left: 45.125rem;
}
.deviceguidebutton5 {
  top: 18.938rem;
  left: 22.563rem;
}
.deviceguidebutton1,
.deviceguidebutton2,
.deviceguidebutton3,
.deviceguidebutton4,
.deviceguidebutton5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 20.813rem;
  height: 17.125rem;
}
.deviceguidebutton4 {
  top: 18.938rem;
  left: 0;
}
.deviceguidebutton1,
.deviceguidebutton2,
.deviceguidebutton3 {
  top: 0;
  left: 45.188rem;
}
.deviceguidebutton1,
.deviceguidebutton2 {
  left: 22.625rem;
}
.deviceguidebutton1 {
  left: 0.063rem;
}
.deviceguidebuttonset {
  position: absolute;
  top: 32.75rem;
  left: 4.438rem;
  width: 66rem;
  height: 18.938rem;
  overflow-y: auto;
}
.deviceguidebuttonset::-webkit-scrollbar {
  display: none;
}
.guidescrollbackground1 {
  position: absolute;
  top: -14rem;
  left: 3.938rem;
  background-color: var(--color-white);
  width: 68.5rem;
  height: 44.75rem;
  overflow: hidden;
}
.p28 {
  margin: 0;
}
.txt {
  width: 100%;
}
.deviceguide-ment {
  margin: 0;
  font-size: xx-large;
}
.div184 {
  position: absolute;
  top: 4.438rem;
  left: 0;
  display: flex;
  align-items: center;
  width: 65.875rem;
}
.appguidemaincontentbanner1 {
  position: absolute;
  top: 8.625rem;
  left: 4.438rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 65.875rem;
  height: 17.125rem;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.button26 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 57.938rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 16.75rem;
}
.infomainbuttonset1line6 {
  position: absolute;
  top: 1.688rem;
  left: 57.813rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.button27 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 34.375rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  font-weight: bold;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 23.563rem;
}
.infomainbuttonset1line7 {
  position: absolute;
  top: 1.688rem;
  left: 34.25rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.button28 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 17rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 17.375rem;
}
.infomainbuttonset1line8 {
  position: absolute;
  top: 1.688rem;
  left: 17.125rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.button29 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 17.25rem;
}
.appguidemainbuttonset11 {
  position: absolute;
  top: 0;
  left: -0.062rem;
  width: 74.688rem;
  height: 6.625rem;
}
.appguidemain1 {
  position: absolute;
  top: 14.438rem;
  left: calc(50% - 895px);
  width: 74.625rem;
  height: 50.063rem;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.box-icon10 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.intro11 {
  position: absolute;
  width: 84.6%;
  top: 55.38%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.start-child7 {
  position: absolute;
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--light);
}
.div185 {
  position: absolute;
  width: 100%;
  top: 8.24%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start10 {
  position: absolute;
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.5%;
  left: 29.33%;
  font-size: var(--font-size-29xl);
}
.character-icon10 {
  position: absolute;
  height: 45.25%;
  width: 76.18%;
  top: 10.13%;
  right: 11.82%;
  bottom: 44.63%;
  left: 12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chatbot10,
.copyright13 {
  position: absolute;
  right: 3.313rem;
}
.chatbot10 {
  top: calc(50% - 309px);
  width: 34.375rem;
  height: 50rem;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.copyright13 {
  top: 68.67%;
}
.div186,
.div187,
.div188 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.div187,
.div188 {
  left: 56.563rem;
}
.div188 {
  left: 38.688rem;
}
.div189,
.div190,
.div191 {
  position: absolute;
  top: 0;
  left: 28.188rem;
}
.div190,
.div191 {
  left: 17.688rem;
}
.div191 {
  left: 7.188rem;
}
.footermenutext13,
.title17 {
  position: absolute;
  right: 3.313rem;
}
.footermenutext13 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.title17 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.logo-icon13 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.appguidefooter2 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -18.687rem;
  left: 0;
  background-color: var(--contents);
  height: 18.75rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.div192 {
  position: absolute;
  top: 15.87%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
}
.headermyinfobutton9 {
  position: absolute;
  top: 2.344rem;
  right: 3.875rem;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--light);
  width: 14rem;
  height: 6.5rem;
  cursor: pointer;
}
.headertitleimage-icon12 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 332.5px);
  max-height: 100%;
  width: 7.5rem;
  object-fit: cover;
}
.div193 {
  position: absolute;
  top: 0.9%;
  left: calc(50% - 223.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34.75rem;
}
.headertitle10 {
  position: absolute;
  top: 2.125rem;
  left: calc(50% - 332.5px);
  width: 41.563rem;
  height: 6.938rem;
  font-size: var(--font-size-56xl);
  color: var(--color-white);
  cursor: pointer;
}
.div194,
.headerbackbutton13 {
  position: absolute;
  width: 14rem;
}
.div194 {
  top: 16.83%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerbackbutton13 {
  top: 2.344rem;
  left: 3.875rem;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--light);
  height: 6.5rem;
  cursor: pointer;
}
.appguideheader1 {
  position: absolute;
  width: 99.95%;
  top: 0;
  right: 0.05%;
  left: 0;
  background-color: var(--main);
  height: 11.188rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.deviceguide {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
.deviceguide::-webkit-scrollbar {
  display: none;
}