.box18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #b5e299 50%, #84a470);
}
.div112 {
  cursor: pointer;
}
.div112,
.image-1-icon9 {
  position: absolute;
  top: 0.9%;
  left: 22.55%;
}
.image-1-icon9 {
  height: 100%;
  width: 20.65%;
  top: 0;
  right: 79.35%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo9 {
  position: absolute;
  height: 61.67%;
  width: 30.26%;
  top: 19.44%;
  right: 34.9%;
  bottom: 18.89%;
  left: 34.84%;
  font-size: var(--font-size-56xl);
  color: var(--color-white);
}
.group-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--light);
}
.div113 {
  position: absolute;
  top: 16.35%;
  left: 17.86%;
}
.easymode9,
.rectangle-parent6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.easymode9 {
  height: 57.78%;
  width: 11.67%;
  top: 21.11%;
  right: 3.28%;
  bottom: 21.11%;
  left: 85.05%;
}
.back9,
.div114 {
  position: absolute;
  top: 16.35%;
  left: 10.71%;
}
.back9 {
  height: 57.78%;
  width: 11.67%;
  top: 21.11%;
  right: 85.1%;
  bottom: 21.11%;
  left: 3.23%;
  cursor: pointer;
}
.header9 {
  width: 120rem;
  position: relative;
  background-color: var(--color-darkseagreen);
  height: 11.25rem;
  flex-shrink: 0;
}
.box-icon6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.p18 {
  margin: 0;
}
.intro-txt6 {
  width: 100%;
}
.intro7 {
  position: absolute;
  width: 84.6%;
  top: 55.38%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.start-child4 {
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--light);
}
.div115,
.start-child4,
.start6 {
  position: absolute;
}
.div115 {
  width: 100%;
  top: 8.24%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start6 {
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.5%;
  left: 29.33%;
  font-size: var(--font-size-29xl);
}
.character-icon6 {
  position: absolute;
  height: 45.25%;
  width: 76.18%;
  top: 10.13%;
  right: 11.82%;
  bottom: 44.63%;
  left: 12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chatbot6 {
  position: absolute;
  top: calc(50% - 400px);
  right: 0;
  width: 34.375rem;
  height: 50rem;
  font-size: var(--font-size-19xl);
  font-family: var(--font-noto-sans-kr);
}
.chrome-icon,
.earbuds-icon,
.kiosk-icon,
.smartphone-icon,
.smarttv-icon,
.smartwatch-icon {
  position: absolute;
  top: 51.813rem;
  left: 49.438rem;
  border-radius: var(--br-3xs);
  width: 20.813rem;
  height: 17.125rem;
  object-fit: cover;
  cursor: pointer;
}
.chrome-icon,
.earbuds-icon,
.kiosk-icon,
.smarttv-icon,
.smartwatch-icon {
  left: 26.875rem;
}
.earbuds-icon,
.kiosk-icon,
.smarttv-icon,
.smartwatch-icon {
  left: 4.313rem;
}
.earbuds-icon,
.kiosk-icon,
.smarttv-icon {
  top: 32.875rem;
  left: 49.5rem;
}
.earbuds-icon,
.smarttv-icon {
  left: 26.938rem;
}
.smarttv-icon {
  left: 4.375rem;
}
.smartphone-icon,
.chrome-icon,
.smartwatch-icon {
  margin-top: 1rem;
}
.title10 {
  position: absolute;
  top: 28rem;
  left: 6.063rem;
  text-align: left;
  font-weight: bold;
}
.desc {
  position: relative;
  padding-top: 0.2rem;
  padding-left: 7.5rem;
  font-size: xx-large;
}
.info-inner {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 65.875rem;
  height: 17.125rem;
}
.div116,
.info4 {
  position: absolute;
  top: 4.438rem;
  left: 2.125rem;
}
.info4 {
  top: 8.25rem;
  left: 4.438rem;
  width: 65.875rem;
  height: 17.125rem;
  font-size: var(--font-size-17xl);
}
.info-desc {
  position: relative;
  margin: 0;
  left: 7rem;
}
.menu-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 74.688rem;
  height: 6.625rem;
}
.div117,
.menu-child7 {
  position: absolute;
  top: 1.813rem;
  left: 61.063rem;
}
.menu-child7 {
  top: 1.688rem;
  left: 57.813rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.div118 {
  font-weight: bold;
}
.div118,
.menu-child8 {
  position: absolute;
  top: 1.813rem;
  left: 37.375rem;
}
.menu-child8 {
  top: 1.688rem;
  left: 34.25rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.div119 {
  position: absolute;
  top: 1.813rem;
  left: 20.563rem;
}
.menu-child9 {
  top: 1.688rem;
  left: 17.125rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.div120,
.menu-child9,
.menu11 {
  position: absolute;
}
.div120 {
  top: 1.813rem;
  left: 4.438rem;
}
.menu11 {
  top: 0.313rem;
  left: 0;
  width: 74.688rem;
  height: 6.625rem;
  text-align: left;
}
.body6 {
  position: relative;
  width: 111.625rem;
  height: 50rem;
  flex-shrink: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
}
.box19 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--contents);
}
.div121 {
  position: relative;
}
.menu12 {
  position: absolute;
  height: 17.33%;
  width: 67.03%;
  top: 50%;
  right: 2.76%;
  bottom: 32.67%;
  left: 30.21%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-31xl);
}
.copyright9 {
  position: absolute;
  top: 68.67%;
  left: 58.39%;
  font-size: var(--font-size-5xl);
}
.logo-icon9 {
  position: absolute;
  height: 77.33%;
  width: 12.03%;
  top: 11.33%;
  right: 86.04%;
  bottom: 11.33%;
  left: 1.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.title11 {
  position: absolute;
  top: 21%;
  left: 83.44%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.footer9 {
  width: 120rem;
  position: relative;
  height: 18.75rem;
  flex-shrink: 0;
  font-size: var(--font-size-13xl);
}
.deviceguide2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 120rem;
  height: 67.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.deviceguide2::-webkit-scrollbar {
  display: none;
}
.deviceguide1 {
  width: 100%;
  position: relative;
  height: 67.5rem;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
