 .mainpage-box-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F5F6F7;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mainpage-p2 {
  margin: 0;
}
.mainpage-intro-txt1 {
  width: 100%;
}
.mainpage-intro2 {
  position: absolute;
  width: 84.6%;
  top: 55.38%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.mainpage-start-item {
  height: 90%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: var(--main);
  cursor: pointer;
}
.mainpage-start-item:hover {
  background-color: var(--hover);
}
.mainpage-div17,
.mainpage-start-item,
.mainpage-start1 {
  position: absolute;
}
.mainpage-div17 {
  width: 100%;
  top: 8.24%;
  left: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-start1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.5%;
  left: 29.33%;
}
.mainpage-character-icon1 {
  position: absolute;
  height: 35%;
  width: 60%;
  top: 20%;
  right: 11.82%;
  bottom: 44.63%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-chatbot1 {
  position: absolute;
  top: calc(50% - 436px);
  right: 1.938rem;
  width: 34.375rem;
  height: 60rem;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-smarttv-child {
  position: absolute;
  height: 95%;
  width: 90%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: var(--br-3xs);
  background-color: var(--contents);
  box-sizing: border-box;
}
.mainpage-smarttv-item {
  height: 75%;
  width: 38.46%;
  top: 12.5%;
  right: 54.87%;
  bottom: 12.5%;
  left: 6.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-smarttv,
.mainpage-smarttv-item,
.mainpage-tv {
  position: absolute;
}
.mainpage-tv {
  top: 35.5%;
  left: 50.26%;
  font-size: 2rem;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.mainpage-smarttv {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 24.375rem;
  height: 12.5rem;
}
.mainpage-tv1 {
  top: 35.5%;
  left: 46.92%;
  font-size: 2rem;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.mainpage-earbuds,
.mainpage-tv1,
.mainpage-tv2 {
  position: absolute;
}
.mainpage-earbuds {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 13.688rem;
  left: 0;
  width: 24.375rem;
  height: 12.5rem;
}
.mainpage-tv2 {
  top: 35.5%;
  left: 51.54%;
  font-size: 2rem;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.mainpage-kiosk,
.mainpage-smartwatch {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 27.375rem;
  left: 0;
  width: 24.375rem;
  height: 12.5rem;
}
.mainpage-smartwatch {
  top: 41.063rem;
}
.mainpage-tv4 {
  position: absolute;
  top: 35.5%;
  left: 61.03%;
  font-size: 2rem;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.mainpage-chrome {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 54.75rem;
  left: 0;
  height: 12.5rem;
}
.mainpage-choose,
.mainpage-chrome,
.mainpage-smartphone {
  position: absolute;
  width: 24.375rem;
}
.mainpage-smartphone {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 68.438rem;
  left: 0;
  height: 12.5rem;
}
.mainpage-choose {
  top: 6rem;
  left: 2.813rem;
  width: 25rem;
  height: 61.125rem;
  overflow-y: auto;
}
.mainpage-choose::-webkit-scrollbar {
  display: none;
}
.mainpage-copyright2 {
  position: absolute;
  top: 68.67%;
  right: 3.313rem;
}
.mainpage-div21,
.mainpage-div22 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.mainpage-div22 {
  left: 56.563rem;
}
.mainpage-div23,
.mainpage-div24,
.mainpage-div25,
.mainpage-div26 {
  position: absolute;
  top: 0;
  left: 38.688rem;
}
.mainpage-div24,
.mainpage-div25,
.mainpage-div26 {
  left: 28.188rem;
}
.mainpage-div25,
.mainpage-div26 {
  left: 17.688rem;
}
.mainpage-div26 {
  left: 7.188rem;
}
.mainpage-footermenutext2,
.mainpage-title2 {
  position: absolute;
  right: 3.313rem;
}
.mainpage-footermenutext2 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.mainpage-title2 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.mainpage-logo-icon2 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.mainpage-appguidefooter {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -18.687rem;
  left: 0;
  background-color: var(--contents);
  height: 18.75rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
/* 캡션 CSS */
.caption-post,
.caption-cur,
.caption-pre{
  box-sizing: border-box;
  position: absolute;
  border-radius: var(--br-3xs);
  /* border: 1px dashed var(--color-black); */
  background-color: rgba(197, 197, 197, 0.8);
  color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
.caption-post {
  top: 39.75rem;
  left: 35rem;
  width: 12.563rem;
  height: 10.063rem;
  font-size: small;
}
.caption-cur {
  top: 18.188rem;
  left: 29.625rem;
  width: 23.313rem;
  height: 16.563rem;
  font-size: 1.3rem;
  line-height: 1.5;
}
.caption-pre {
  top: 3.188rem;
  left: 35rem;
  width: 12.563rem;
  height: 10.063rem;
  font-size: small;
}
.caption-text{
  text-align: center;
}
/* 캡션 CSS 끝*/
.mainpage-phone {
  top: 1.25rem;
  left: 1.313rem;
  border: 1px solid var(--color-black);
  width: 26.875rem;
  height: 58.25rem;
  border-radius: var(--br-xl);
}
.mainpage-div27,
.mainpage-phone,
.mainpage-tostart {
  position: absolute;
}
.mainpage-div27 {
  top: 0.7rem;
  left: calc(50% - 37px);
  font-size: var(--font-size-xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: left;
  position: absolute;
}
.mainpage-tostart {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 55.375rem;
  left: 30.2rem;
  border-radius: var(--br-xl);
  width: 10rem;
  height: 3.25rem;
}
.mainpage-gobackbuttoncontainer1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 55.375rem;
  left: 42.2rem;
  border-radius: var(--br-xl);
  width: 10rem;
  height: 3.25rem;
}
.mainpage-gobackbutton1 {
  top: 0.7rem;
  left: calc(50% - 37px);
  font-size: var(--font-size-xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: left;
  position: absolute;
}
.mainpage-tostart:hover,
.mainpage-gobackbuttoncontainer1:hover {
  background-color: lightgray;
}
.mainpage-maincontentsbody {
  position: absolute;
  top: 5.875rem;
  left: calc(50% - 515px);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: var(--br-3xs);
  background-color: var(--contents);
  /* border: 1px solid var(--color-black); */
  box-sizing: border-box;
  width: 54rem;
  height: 60.75rem;
}
.mainpage-devicesubpage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
.mainpage-devicesubpage::-webkit-scrollbar {
  display: none;
}
iframe{
  border:none;
}

/* caption-post가 나타나는 애니메이션 */
.slideIn {
  animation: kiosc_slideIn 0.8s ease forwards;
}

@keyframes kiosc_slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* caption과 caption-pre에 대한 애니메이션 */
.slideMin {
  animation: kiosc_slideUpMin 0.8s ease forwards;
}

.slideMax {
  animation: kiosc_slideUpMax 0.8s ease forwards;
}

@keyframes kiosc_slideUpMin {    
  0% {
    transform: translateY(150%) scale(2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes kiosc_slideUpMax {    
  0% {
    transform: translateY(150%) scale(0.5);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

