.mainpage-div101,
.mainpage-div102,
.mainpage-div103 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.mainpage-div102,
.mainpage-div103 {
  left: 56.563rem;
}
.mainpage-div103 {
  left: 38.688rem;
}
.mainpage-div104,
.mainpage-div105,
.mainpage-div106 {
  position: absolute;
  top: 0;
  left: 28.188rem;
}
.mainpage-div105,
.mainpage-div106 {
  left: 17.688rem;
}
.mainpage-div106 {
  left: 7.188rem;
}
.mainpage-footermenutext9,
.mainpage-title11 {
  position: absolute;
  right: 3.313rem;
}

.mainpage-box-icon6,
.mainpage-homefooter {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.mainpage-box-icon6 {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #F5F6F7;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mainpage-chat-p16 {
  margin: 0;
  color: black;
}
.mainpage-p16 {
  margin: 0;
}
.mainpage-intro-txt6 {
  width: 100%;
}
.mainpage-intro7 {
  position: absolute;
  width: 84.6%;
  top: 55.38%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.mainpage-start-child3 {
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  /* background-color: #66CDAA; */
  background-color: var(--main);
  cursor: pointer;
}
.mainpage-start-child3:hover {
  background-color: #CEE6B9;
}
.mainpage-div107,
.mainpage-start-child3,
.mainpage-start6 {
  position: absolute;
}
.mainpage-div107 {
  width: 100%;
  top: 8.24%;
  left: 0;
  font-size: var(--font-size-29xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-start6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.5%;
  left: 29.33%;
}
.mainpage-character-icon6 {
  position: absolute;
  height: 45.25%;
  width: 76.18%;
  top: 10.13%;
  right: 11.82%;
  bottom: 44.63%;
  left: 12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-chatbot6 {
  position: absolute;
  top: calc(50% - 400px);
  right: 0;
  width: 34.375rem;
  height: 50rem;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-homemaincommunitybuttonimage-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 21.875rem;
  height: 23.813rem;
  object-fit: cover;
}
.mainpage-homemaincommunitybuttonimage-icon:hover {
  box-shadow: 3px 3px 5px gray;
}
.mainpage-div108 {
  position: absolute;
  top: 9.625rem;
  left: 4rem;
  font-size: var(--font-size-41xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: left;
}
.mainpage-homemaincommunitybutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 26.188rem;
  left: calc(50% + 20px);
  width: 21.875rem;
  height: 23.813rem;
}
.mainpage-div109 {
  position: absolute;
  top: 9rem;
  left: 5.375rem;
  font-size: var(--font-size-29xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.mainpage-dgtitle {
  margin: 0;
  position: relative;
  top: -1rem;
  left: -1rem;
  text-align: center;
}
.mainpage-homemainguidebutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 26.188rem;
  left: calc(50% - 370px);
  width: 21.875rem;
  height: 23.813rem;
}
.mainpage-div110 {
  position: absolute;
  top: 9.625rem;
  left: 3.5rem;
  font-size: var(--font-size-41xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: left;
}
.mainpage-homemaininformationbutton,
.mainpage-homemainlearningbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: calc(50% + 20px);
  width: 21.875rem;
  height: 23.813rem;
}
.mainpage-homemaininformationbutton {
  left: calc(50% - 370px);
}

.mainpage-homemainbanner2image-icon {
  position: absolute;
  top: 1.563rem;
  left: 13.125rem;
  width: 10.569rem;
  height: 8.75rem;
  object-fit: cover;
}
.mainpage-b31,
.mainpage-div112 {
  position: absolute;
  top: 2.875rem;
  left: 0;
  font-size: var(--font-size-9xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: left;
}
.mainpage-div112 {
  top: 0.938rem;
  font-size: var(--font-size-xl);
}
.mainpage-homemainbanner2text {
  position: absolute;
  top: 3.375rem;
  left: 1.813rem;
  width: 11.313rem;
  height: 5.75rem;
}
.mainpage-homemainbanner2 {
  cursor: pointer;
  border: 2px solid var(--color-whitesmoke-100);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 13.75rem;
  left: calc(50% - 200px);
  border-radius: var(--br-xl);
  background: linear-gradient(
    0deg,
    #fff 11.78%,
    #e6f6ff 25.42%,
    #ccedff 51%,
    #99dafe
  );
  box-sizing: border-box;
  width: 25rem;
  height: 12.5rem;
  overflow: hidden;
}
.mainpage-homemainbanner1image-icon {
  position: absolute;
  top: 1.688rem;
  left: 14.125rem;
  width: 8.438rem;
  height: 9.125rem;
  object-fit: cover;
}
.mainpage-b32,
.mainpage-div113 {
  position: absolute;
  left: 0;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: left;
}
.mainpage-b32 {
  top: 3.75rem;
  font-size: var(--font-size-9xl);
}
.mainpage-div113 {
  top: 0;
  font-size: var(--font-size-xl);
}
.mainpage-homemainbanner1 {
  cursor: pointer;
  border: 2px solid var(--color-whitesmoke-100);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: calc(50% - 200px);
  border-radius: var(--br-xl);
  background: linear-gradient(270deg, #e2fbcc 36%, #fdfcde 89.5%);
  box-sizing: border-box;
  width: 25rem;
  height: 12.5rem;
  overflow: hidden;
}
.mainpage-div114,
.mainpage-homemainbannerset,
.mainpage-registerbutton {
  position: absolute;
  width: 25rem;
}
.mainpage-div114 {
  top: 1.313rem;
  left: -0.031rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-registerbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--contents);
  box-shadow: 3px 3px 5px gray;
  border-radius: 5px;
  top: 7.5rem;
  left: 0;
  height: 6.25rem;
}
.mainpage-homemainlrbutton,
.mainpage-loginbutton1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
}
.mainpage-loginbutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--contents);
  box-shadow: 3px 3px 5px gray;
  border-radius: 5px;
  height: 6.25rem;
}
.mainpage-loginbutton1:hover {
  background-color: lightgray;
}
.mainpage-registerbutton:hover {
  background-color: lightgray;
}
.mainpage-homemain {
  position: absolute;
  width: 93.28%;
  top: 14.313rem;
  right: 3.36%;
  left: 3.36%;
  height: 50rem;
  padding-bottom: 10px;
  overflow-y: auto;
}
.mainpage-home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
.mainpage-home::-webkit-scrollbar {
  display: none;
}
.mainpage-home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
}
.mainpage-home::-webkit-scrollbar {
  display: none;
}
.mainpage-homefooter {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  bottom: -18.75rem;
  background-color: var(--contents);
  height: 18.75rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-copyright9 {
  position: absolute;
  top: 68.67%;
  right: 3.313rem;
}
.mainpage-footermenutext9 {
  position: absolute;
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
  right: 3.313rem;
}
.mainpage-title11 {
  position: absolute;
  top: 21%;
  right: 3.313rem;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.mainpage-logo-icon9 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}

.mainpage-homemain {
  position: absolute;
  width: 93.28%;
  top: 14.313rem;
  right: 3.36%;
  left: 3.36%;
  height: 50rem;
  padding-bottom: 10px;
  overflow-y: auto;
}
.mainpage-homemainbuttonset {
  position: absolute;
  width: 41.32%;
  top: 0;
  right: 33.75%;
  left: 24.93%;
  height: 50rem;
}
.mainpage-homemainbannerset {
  position: absolute;
  top: 23.75rem;
  left: 0;
  height: 26.25rem;
}
.mainpage-homemainlrbutton {
  position: absolute;
  top: 0;
  left: 0;
  width: 25rem;
  height: 13.75rem;
}

.mainpage-homemaincommunitybutton,
.mainpage-homemainlearningbutton,
.mainpage-homemaininformationbutton,
.mainpage-homemainguidebutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 21.875rem;
  height: 23.813rem;
}

.mainpage-homemaincommunitybutton {
  top: 26.188rem;
  left: calc(50% + 20px);
}
.mainpage-homemainlearningbutton {
  top: 0;
  left: calc(50% + 20px);
}
.mainpage-homemaininformationbutton {
  top: 0;
  left: calc(50% - 370px);
}
.mainpage-homemainguidebutton {
  top: 26.188rem;
  left: calc(50% - 370px);
}

.mainpage-homemaincommunitybuttonimage-icon,
.mainpage-homemainlearningbuttonimage-icon,
.mainpage-homemaininformationbuttonimage-icon,
.mainpage-homemainguidebuttonimage-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 21.875rem;
  height: 23.813rem;
  object-fit: cover;
}
.mainpage-homemaincommunitybuttonimage-icon:hover,
.mainpage-homemainlearningbuttonimage-icon:hover,
.mainpage-homemaininformationbuttonimage-icon:hover,
.mainpage-homemaincommunitybuttonimage-icon:hover {
  box-shadow: 3px 3px 5px gray;
}

.mainpage-div108,
.mainpage-div109,
.mainpage-div110 {
  position: absolute;
  font-size: var(--font-size-41xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: left;
}
.mainpage-div108 {
  top: 9.625rem;
  left: 4rem;
}
.mainpage-div109 {
  top: 9rem;
  left: 5.375rem;
}
.mainpage-div110 {
  top: 9.625rem;
  left: 3.5rem;
}

.mainpage-registerbutton,
.mainpage-loginbutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--contents);
  box-shadow: 3px 3px 5px gray;
  border-radius: 5px;
  height: 6.25rem;
}
.mainpage-registerbutton {
  top: 7.5rem;
}
.mainpage-div114 {
  position: absolute;
  top: 1.313rem;
  left: -0.031rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 챗봇 컨테이너 스타일 추가 */
.mainpage-chatbot-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}