.mainpage-job-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  cursor: pointer;
}
.mainpage-infomaincontentbutton2,
.mainpage-infomaincontentbutton3,
.mainpage-infomaincontentbutton4,
.mainpage-infomaincontentbutton5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 5.125rem;
  left: 53.25rem;
  width: 12.5rem;
  height: 12.5rem;
}
.mainpage-infomaincontentbutton2,
.mainpage-infomaincontentbutton3,
.mainpage-infomaincontentbutton4 {
  left: 39.938rem;
}
.mainpage-infomaincontentbutton2,
.mainpage-infomaincontentbutton3 {
  left: 26.625rem;
}
.mainpage-infomaincontentbutton2 {
  left: 13.313rem;
}
.mainpage-culture-icon,
.mainpage-infomaincontentbutton1 {
  position: absolute;
  left: 0;
  width: 12.5rem;
  height: 12.5rem;
}
.mainpage-culture-icon {
  top: 0;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.mainpage-infomaincontentbutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 5.125rem;
}
.mainpage-title7 {
  position: absolute;
  top: 0;
  left: 1.5rem;
}
.mainpage-infomainbuttonset2 {
  position: absolute;
  top: 29.125rem;
  left: 4.563rem;
  width: 65.75rem;
  height: 17.625rem;
}
.mainpage-p12 {
  position: relative;
  margin: 0;
  top: -1rem;
}
.mainpage-div69 {
  position: absolute;
  top: 6.375rem;
  left: 0;
  display: inline-block;
  width: 65.875rem;
}
.mainpage-button18,
.mainpage-infomaincontentbanner {
  position: absolute;
  text-align: center;
}
.mainpage-infomaincontentbanner {
  top: 8.625rem;
  left: 4.438rem;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  /* border: 1px solid var(--color-black); */
  background-color: var(--contents);
  box-sizing: border-box;
  width: 65.875rem;
  height: 17.125rem;
  font-size: var(--font-size-17xl);
}
.mainpage-button18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1.813rem;
  left: 57.938rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  display: inline-block;
  width: 16.75rem;
}
.mainpage-infomainbuttonset1line3 {
  position: absolute;
  top: 1.688rem;
  left: 57.813rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.mainpage-button19 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 34.375rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 23.563rem;
}
.mainpage-infomainbuttonset1line4 {
  position: absolute;
  top: 1.688rem;
  left: 34.25rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.mainpage-button20 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 17rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 17.375rem;
}
.mainpage-infomainbuttonset1line5 {
  position: absolute;
  top: 1.688rem;
  left: 17.125rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.mainpage-button21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  font-weight: bold;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 17.25rem;
}
.mainpage-infomain,
.mainpage-infomainbuttonset1 {
  position: absolute;
  width: 74.688rem;
}
.mainpage-infomainbuttonset1 {
  top: 0;
  left: -0.062rem;
  height: 6.625rem;
}
.mainpage-infomain {
  position: absolute;
  top: 14.438rem;
  width : 93.28%;
  left: 3.36%;
  right: 3.36%;
  height : 50rem;
  text-align: left;
  padding-bottom:10px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-copyright6 {
  position: absolute;
  top: 68.67%;
  right: 3.313rem;
}
.mainpage-div70,
.mainpage-div71 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.mainpage-div71 {
  left: 56.563rem;
}
.mainpage-div72,
.mainpage-div73,
.mainpage-div74,
.mainpage-div75 {
  position: absolute;
  top: 0;
  left: 38.688rem;
}
.mainpage-div73,
.mainpage-div74,
.mainpage-div75 {
  left: 28.188rem;
}
.mainpage-div74,
.mainpage-div75 {
  left: 17.688rem;
}
.mainpage-div75 {
  left: 7.188rem;
}
.mainpage-footermenutext6,
.mainpage-title8 {
  position: absolute;
  right: 3.313rem;
}
.mainpage-footermenutext6 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.mainpage-title8 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.mainpage-logo-icon6 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.mainpage-infofooter {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -18.75rem;
  left: 0;
  background-color: var(--contents);
  height: 18.75rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-box-icon5 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
.mainpage-box-icon5 {
  height: 100%;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: #F5F6F7;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  max-height: 100%;
}
.mainpage-intro-txt5 {
  width: 100%;
}
.mainpage-chat-p12 {
  margin: 0;
}
.mainpage-intro6 {
  position: absolute;
  width: 84.6%;
  top: 55.38%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.mainpage-start-child2 {
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: var(--main);
  cursor: pointer;
}
.mainpage-start-child2:hover {
  background-color: var(--hover);
}
.mainpage-div79,
.mainpage-start-child2,
.mainpage-start5 {
  position: absolute;
}
.mainpage-div79 {
  width: 100%;
  top: 8.24%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.mainpage-start5 {
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.5%;
  left: 29.33%;
  font-size: var(--font-size-29xl);
}
.mainpage-character-icon5 {
  position: absolute;
  height: 45.25%;
  width: 76.18%;
  top: 10.13%;
  right: 11.82%;
  bottom: 44.63%;
  left: 12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-chatbot6 {
  position: absolute;
  right : 0;
  top: calc(50% - 400px);
  width: 34.375rem;
  height: 50rem;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-info {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
.mainpage-info::-webkit-scrollbar {
  display: none;
}