.mainpage-mindmap-child,
.mainpage-mindmap-item {
  position: absolute;
  height: 94%;
  width: 62.55%;
  top: 3.29%;
  right: 5.58%;
  bottom: 2.71%;
  left: 31.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mainpage-mindmap-item {
  height: 77.67%;
  width: 44.18%;
  top: 16.11%;
  right: 49.76%;
  bottom: 6.22%;
  left: 6.06%;
}
.mainpage-b {
  position: relative;
}
.mainpage-container,
.mainpage-wrapper {
  position: absolute;
  height: 6.44%;
  width: 14.05%;
  top: 41.87%;
  right: 43.46%;
  bottom: 51.68%;
  left: 42.5%;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
}
.mainpage-container {
  height: 6.3%;
  width: 16.09%;
  top: 0;
  right: 60.14%;
  bottom: 93.7%;
  left: 23.77%;
  background-color: var(--color-mediumaquamarine);
}
.mainpage-frame,
.mainpage-frame-div {
  height: 6.3%;
  background-color: var(--color-goldenrod);
}
.mainpage-frame {
  position: absolute;
  width: 13.93%;
  top: 90.48%;
  right: 59.78%;
  bottom: 3.22%;
  left: 26.29%;
  border-radius: var(--br-11xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
}
.mainpage-frame-div {
  width: 14.05%;
  top: 43.48%;
  right: 65.67%;
  bottom: 50.22%;
  left: 20.29%;
}
.mainpage-frame-div,
.mainpage-wrapper1,
.mainpage-wrapper2,
.mainpage-wrapper3,
.mainpage-wrapper4 {
  position: absolute;
  border-radius: var(--br-11xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
}
.mainpage-wrapper1 {
  height: 6.3%;
  width: 12%;
  top: 29.28%;
  right: 2.4%;
  bottom: 64.42%;
  left: 85.59%;
  background-color: #ff9a3c;
}
.mainpage-wrapper2,
.mainpage-wrapper3,
.mainpage-wrapper4 {
  height: 6.44%;
  width: 11.88%;
  top: 81.7%;
  right: 77.67%;
  bottom: 11.86%;
  left: 10.44%;
  background-color: var(--color-mediumaquamarine);
}
.mainpage-wrapper3,
.mainpage-wrapper4 {
  top: 57.25%;
  right: 8.4%;
  bottom: 36.31%;
  left: 79.71%;
}
.mainpage-wrapper4 {
  height: 6.3%;
  top: 35.72%;
  right: 87.15%;
  bottom: 57.98%;
  left: 0.96%;
}
.mainpage-wrapper10,
.mainpage-wrapper11,
.mainpage-wrapper12,
.mainpage-wrapper13,
.mainpage-wrapper14,
.mainpage-wrapper15,
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27,
.mainpage-wrapper5,
.mainpage-wrapper6,
.mainpage-wrapper7,
.mainpage-wrapper8,
.mainpage-wrapper9 {
  position: absolute;
  height: 6.44%;
  width: 11.88%;
  top: 75.84%;
  right: 8.4%;
  bottom: 17.72%;
  left: 79.71%;
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumaquamarine);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) 0;
  box-sizing: border-box;
}
.mainpage-wrapper10,
.mainpage-wrapper11,
.mainpage-wrapper12,
.mainpage-wrapper13,
.mainpage-wrapper14,
.mainpage-wrapper15,
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27,
.mainpage-wrapper6,
.mainpage-wrapper7,
.mainpage-wrapper8,
.mainpage-wrapper9 {
  height: 6.3%;
  top: 12.74%;
  right: 81.15%;
  bottom: 80.97%;
  left: 6.96%;
}
.mainpage-wrapper10,
.mainpage-wrapper11,
.mainpage-wrapper12,
.mainpage-wrapper13,
.mainpage-wrapper14,
.mainpage-wrapper15,
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27,
.mainpage-wrapper7,
.mainpage-wrapper8,
.mainpage-wrapper9 {
  height: 6.44%;
  top: 66.76%;
  right: 88.12%;
  bottom: 26.79%;
  left: 0;
}
.mainpage-wrapper10,
.mainpage-wrapper11,
.mainpage-wrapper12,
.mainpage-wrapper13,
.mainpage-wrapper14,
.mainpage-wrapper15,
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27,
.mainpage-wrapper8,
.mainpage-wrapper9 {
  height: 6.3%;
  width: 12%;
  top: 93.7%;
  right: 41.3%;
  bottom: 0;
  left: 46.7%;
}
.mainpage-wrapper10,
.mainpage-wrapper11,
.mainpage-wrapper12,
.mainpage-wrapper13,
.mainpage-wrapper14,
.mainpage-wrapper15,
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27,
.mainpage-wrapper9 {
  top: 0;
  right: 40.46%;
  bottom: 93.7%;
  left: 47.54%;
}
.mainpage-wrapper10,
.mainpage-wrapper11,
.mainpage-wrapper12,
.mainpage-wrapper13,
.mainpage-wrapper14,
.mainpage-wrapper15,
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  top: 21.23%;
  right: 18.25%;
  bottom: 72.47%;
  left: 69.75%;
}
.mainpage-wrapper11,
.mainpage-wrapper12,
.mainpage-wrapper13,
.mainpage-wrapper14,
.mainpage-wrapper15,
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.44%;
  width: 11.88%;
  top: 80.23%;
  right: 41.66%;
  bottom: 13.32%;
  left: 46.46%;
}
.mainpage-wrapper12,
.mainpage-wrapper13,
.mainpage-wrapper14,
.mainpage-wrapper15,
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.3%;
  width: 12%;
  top: 38.8%;
  right: 14.29%;
  bottom: 54.9%;
  left: 73.71%;
}
.mainpage-wrapper13,
.mainpage-wrapper14,
.mainpage-wrapper15,
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.44%;
  width: 11.88%;
  top: 51.83%;
  right: 83.43%;
  bottom: 41.73%;
  left: 4.68%;
}
.mainpage-wrapper14,
.mainpage-wrapper15,
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.3%;
  width: 12%;
  top: 64.42%;
  right: 66.75%;
  bottom: 29.28%;
  left: 21.25%;
}
.mainpage-wrapper15,
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  width: 11.88%;
  top: 50.22%;
  right: 26.29%;
  bottom: 43.48%;
  left: 61.82%;
}
.mainpage-wrapper16,
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  top: 55.05%;
  right: 54.86%;
  bottom: 38.65%;
  left: 33.25%;
}
.mainpage-wrapper17,
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  width: 9.72%;
  top: 60.47%;
  right: 41.66%;
  bottom: 33.24%;
  left: 48.62%;
}
.mainpage-wrapper18,
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.44%;
  width: 12%;
  top: 14.35%;
  right: 36.37%;
  bottom: 79.21%;
  left: 51.62%;
}
.mainpage-wrapper19,
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.3%;
  top: 27.53%;
  right: 72.75%;
  bottom: 66.18%;
  left: 15.25%;
}
.mainpage-wrapper20,
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.44%;
  top: 66.76%;
  right: 24.37%;
  bottom: 26.79%;
  left: 63.63%;
}
.mainpage-wrapper21,
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.3%;
  width: 13.93%;
  top: 84.63%;
  right: 23.53%;
  bottom: 9.08%;
  left: 62.55%;
}
.mainpage-wrapper22,
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.44%;
  width: 11.88%;
  top: 6.3%;
  right: 21.37%;
  bottom: 87.26%;
  left: 66.75%;
}
.mainpage-wrapper23,
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.3%;
  top: 46.71%;
  right: 0;
  bottom: 47%;
  left: 88.12%;
}
.mainpage-wrapper24,
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.44%;
  top: 75.84%;
  right: 57.5%;
  bottom: 17.72%;
  left: 30.61%;
}
.mainpage-wrapper25,
.mainpage-wrapper26,
.mainpage-wrapper27 {
  top: 15.81%;
  right: 54.86%;
  bottom: 77.75%;
  left: 33.25%;
}
.mainpage-wrapper26,
.mainpage-wrapper27 {
  height: 6.3%;
  top: 30.75%;
  right: 31.57%;
  bottom: 62.96%;
  left: 56.54%;
}
.mainpage-wrapper27 {
  height: 6.44%;
  top: 28.84%;
  right: 54.26%;
  bottom: 64.71%;
  left: 33.85%;
  background-color: var(--color-goldenrod);
}
.mainpage-mindmap {
  position: absolute;
  width: 43.39%;
  top: 18rem;
  left: 10%;
  height: 42.688rem;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-intro {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
.mainpage-intro::-webkit-scrollbar {
  display: none;
}