.mainpage-copyright8 {
  position: absolute;
  top: 68.67%;
  right: 3.313rem;
}
.mainpage-div91,
.mainpage-div92 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.mainpage-div92 {
  left: 56.563rem;
}
.mainpage-div93,
.mainpage-div94,
.mainpage-div95,
.mainpage-div96 {
  position: absolute;
  top: 0;
  left: 38.688rem;
}
.mainpage-div94,
.mainpage-div95,
.mainpage-div96 {
  left: 28.188rem;
}
.mainpage-div95,
.mainpage-div96 {
  left: 17.688rem;
}
.mainpage-div96 {
  left: 7.188rem;
}
.mainpage-footermenutext8,
.mainpage-title10 {
  position: absolute;
  right: 3.313rem;
}
.mainpage-footermenutext8 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.mainpage-title10 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.mainpage-logo-icon8 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.mainpage-div97,
.mainpage-joinfooter {
  position: absolute;
  width: 100%;
  left: 0;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.mainpage-joinfooter {
  right: 0;
  bottom: -18.75rem;
  background-color: var(--contents);
  height: 18.75rem;
  font-size: var(--font-size-5xl);
}
.mainpage-div97 {
  top: 1rem;
  font-size: var(--font-size-13xl);
  display: inline-block;
}
.mainpage-joinmainregisterbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--light);
  position: absolute;
  width: 64.42%;
  top: 43.313rem;
  right: 17.79%;
  left: 17.79%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 4.813rem;
}
.mainpage-joinmainregisterbutton:hover {
  background-color: #a2bca9;
}
.mainpage-idinput1, .mainpage-idinput2, .mainpage-idinput3, .mainpage-idinput4, .mainpage-idinput5 {
  font-size: x-large;
}
.mainpage-idinput4,
.mainpage-idinput5 {
  border: 0;
  outline: 0;
  background-color: var(--contents);
  position: absolute;
  width: 100%;
  top: 27.75rem;
  right: 0;
  left: 0;
  height: 4.813rem;
  padding: var(--padding-base) var(--padding-24xl) var(--padding-mini);
  box-sizing: border-box;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-darkgray);
}
.mainpage-idinput4 {
  top: 20.813rem;
}
.mainpage-idinput3 {
  top: 13.875rem;
}
.mainpage-idinput1,
.mainpage-idinput2,
.mainpage-idinput3 {
  border: 0;
  outline: 0;
  background-color: var(--contents);
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 4.813rem;
  padding: var(--padding-base) var(--padding-24xl) var(--padding-mini);
  box-sizing: border-box;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-darkgray);
}
.mainpage-idinput2 {
  top: 6.938rem;
}
.mainpage-idinput1 {
  top: 0;
}
.mainpage-joinmaininputset {
  position: absolute;
  width: 64.42%;
  top: 6.5rem;
  right: 17.79%;
  left: 17.79%;
  height: 32.563rem;
}
.mainpage-joinmainttitle {
  position: absolute;
  width: 100%;
  top: 1.438rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-joinmain {
  position: absolute;
  width: 40.99%;
  top: 13.563rem;
  right: 29.53%;
  left: 29.48%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  height: 52.5rem;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-join {
  width: 100%;
  position: relative;
  background-color: var(--contents);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
.mainpage-name-box::placeholder,
.mainpage-id-box::placeholder,
.mainpage-pw-box::placeholder,
.mainpage-pw-confirm::placeholder,
.mainpage-pn-box::placeholder {
  font-size: large;
}