.mainpage-copyright7 {
  position: absolute;
  top: 68.67%;
  right: 3.313rem;
}
.mainpage-div80,
.mainpage-div81 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.mainpage-div81 {
  left: 56.563rem;
}
.mainpage-div82,
.mainpage-div83,
.mainpage-div84,
.mainpage-div85 {
  position: absolute;
  top: 0;
  left: 38.688rem;
}
.mainpage-div83,
.mainpage-div84,
.mainpage-div85 {
  left: 28.188rem;
}
.mainpage-div84,
.mainpage-div85 {
  left: 17.688rem;
}
.mainpage-div85 {
  left: 7.188rem;
}
.mainpage-footermenutext7,
.mainpage-title9 {
  position: absolute;
  right: 3.313rem;
}
.mainpage-footermenutext7 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.mainpage-title9 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.mainpage-logo-icon7 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.mainpage-div86,
.mainpage-loginfooter {
  position: absolute;
  width: 100%;
  left: 0;
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
}
.mainpage-loginfooter {
  right: 0;
  bottom: -18.75rem;
  background-color: var(--contents);
  height: 18.75rem;
  font-size: var(--font-size-5xl);
}
.mainpage-div86 {
  top: 1rem;
  font-size: var(--font-size-13xl);
  display: inline-block;
}
.mainpage-loginbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--light);
  position: absolute;
  width: 79.72%;
  top: 29.438rem;
  right: 10.53%;
  left: 9.75%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 4.813rem;
}
.mainpage-loginbutton:hover {
  background-color: #CEE6B9;
}
.mainpage-find,
.mainpage-pwinput {
  border: 0;
  font-family: var(--font-noto-sans-kr);
}
.mainpage-find {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 25.188rem;
  right: 4.188rem;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  text-align: right;
  display: inline-block;
}
.mainpage-pwinput {
  outline: 0;
  background-color: var(--contents);
  top: 18.313rem;
  right: 10.53%;
  height: 4.813rem;
  padding: var(--padding-base) var(--padding-24xl) var(--padding-mini);
  box-sizing: border-box;
  font-size: x-large;
  color: var(--color-darkgray);
}
.mainpage-div87,
.mainpage-idinput,
.mainpage-pwinput {
  position: absolute;
  width: 79.72%;
  left: 9.75%;
}
.mainpage-idinput {
  border: 0;
  outline: 0;
  background-color: var(--contents);
  top: 10.813rem;
  right: 10.53%;
  height: 4.813rem;
  padding: var(--padding-base) var(--padding-24xl) var(--padding-mini);
  box-sizing: border-box;
  font-family: var(--font-noto-sans-kr);
  font-size: x-large;
  color: var(--color-darkgray);
}
.mainpage-div87 {
  top: 4.938rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-loginmain {
  position: absolute;
  width: 33.13%;
  top: 19.063rem;
  right: 33.44%;
  left: 33.44%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  height: 39.188rem;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-login {
  width: 100%;
  position: relative;
  background-color: var(--contents);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
