.box-icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.p4 {
  margin: 0;
}
.intro-txt2 {
  width: 100%;
}
.intro3 {
  position: absolute;
  width: 84.6%;
  top: 55.38%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.start-inner {
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--light);
}
.div28,
.start-inner,
.start2 {
  position: absolute;
}
.div28 {
  width: 100%;
  top: 8.24%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start2 {
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.5%;
  left: 29.33%;
  font-size: var(--font-size-29xl);
}
.character-icon2 {
  position: absolute;
  height: 45.25%;
  width: 76.18%;
  top: 10.13%;
  right: 11.82%;
  bottom: 44.63%;
  left: 12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.chatbot2 {
  position: absolute;
  top: calc(50% - 434px);
  right: 2.688rem;
  width: 34.375rem;
  height: 50rem;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.caption-post1 {
  position: absolute;
  top: 39.75rem;
  left: 35rem;
  width: 12.563rem;
  height: 10.063rem;
}
.caption-post1,
.caption-pre1,
.caption1 {
  border-radius: var(--br-3xs);
  border: 1px dashed var(--color-black);
  box-sizing: border-box;
}
.caption1 {
  position: absolute;
  top: 18.188rem;
  left: 29.625rem;
  width: 23.313rem;
  height: 16.563rem;
}
.caption-pre1 {
  top: 3.188rem;
  left: 35rem;
  width: 12.563rem;
  height: 10.063rem;
}
.caption-pre1,
.div29,
.phone1 {
  position: absolute;
}
.phone1 {
  top: 1.25rem;
  left: 1.313rem;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 26.875rem;
  height: 58.25rem;
}
.div29 {
  top: calc(50% - 12px);
  left: calc(50% - 37px);
  font-size: var(--font-size-xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: left;
}
.tostart1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 55.375rem;
  left: 32.188rem;
  border-radius: var(--br-xl);
  width: 19rem;
  height: 3.25rem;
}
.maincontentsbody1 {
  position: absolute;
  top: 5.875rem;
  left: calc(50% - 515px);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 54rem;
  height: 60.75rem;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-image: url(/public/@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.button3,
.button4,
.k-rail {
  position: absolute;
  width: 24.375rem;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 13.75rem;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-image: url(/public/1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.k-rail {
  top: 27.5rem;
  background-image: url(/public/krail@3x.png);
}
.coupong,
.k-rail,
.never {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.never {
  position: absolute;
  top: 41.25rem;
  width: 24.375rem;
  background-image: url(/public/never@3x.png);
}
.coupong {
  top: 55rem;
  background-image: url(/public/coupong@3x.png);
}
.button5,
.button6,
.coupong {
  position: absolute;
  width: 24.375rem;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 68.75rem;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-image: url(/public/2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.button6 {
  top: 82.5rem;
  background-image: url(/public/25@3x.png);
}
.button6,
.button7,
.instagramer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.button7 {
  position: absolute;
  top: 96.25rem;
  width: 24.375rem;
  background-image: url(/public/3@3x.png);
}
.instagramer {
  top: 110rem;
  background-image: url(/public/instagramer@3x.png);
}
.instagramer,
.kikiotaxi,
.maincontentsad {
  position: absolute;
  width: 24.375rem;
}
.kikiotaxi {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 123.75rem;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-image: url(/public/kikiotaxi@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.maincontentsad {
  top: 6.438rem;
  left: 1.313rem;
  height: 59.938rem;
  overflow-y: auto;
}
.maincontentsad::-webkit-scrollbar {
  display: none;
}
.copyright3 {
  position: absolute;
  top: 68.67%;
  right: 3.313rem;
}
.div30,
.div31 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.div31 {
  left: 56.563rem;
}
.div32,
.div33,
.div34,
.div35 {
  position: absolute;
  top: 0;
  left: 38.688rem;
}
.div33,
.div34,
.div35 {
  left: 28.188rem;
}
.div34,
.div35 {
  left: 17.688rem;
}
.div35 {
  left: 7.188rem;
}
.footermenutext3,
.title3 {
  position: absolute;
  right: 3.313rem;
}
.footermenutext3 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.title3 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.logo-icon3 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.maincontentsfooter {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -18.75rem;
  left: 0;
  background-color: var(--contents);
  height: 18.75rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.headertitleimage-icon3 {
  position: absolute;
  height: 74.12%;
  top: 14.12%;
  bottom: 11.76%;
  left: calc(50% - 254.5px);
  max-height: 100%;
  width: 5.188rem;
  object-fit: cover;
  cursor: pointer;
}
.div36,
.div37 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div36 {
  height: 72.94%;
  top: 10.59%;
  left: calc(50% - 959.5px);
  width: 119.375rem;
  cursor: pointer;
  font-size: var(--font-size-29xl);
}
.div37 {
  height: 67.33%;
  top: 16.67%;
  left: 0;
  font-size: var(--font-size-17xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  width: 14rem;
}
.headerbackbutton3,
.headerbackbutton4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--light);
  position: absolute;
  top: 0.75rem;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  width: 14rem;
  height: 3.75rem;
}
.headerbackbutton3 {
  left: 2.813rem;
}
.headerbackbutton4 {
  right: 2.75rem;
}
.maincontentsheader1 {
  position: absolute;
  width: 99.95%;
  top: 0;
  right: 0.05%;
  left: 0;
  background-color: var(--main);
  height: 5.313rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
  font-family: var(--font-noto-sans-kr);
}
.maincontents {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
.maincontents::-webkit-scrollbar {
  display: none;
}