.mainpage-box-icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #F5F6F7;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mainpage-p4 {
  margin: 0;
}
.mainpage-intro-txt2 {
  width: 100%;
}
.mainpage-intro3 {
  position: absolute;
  width: 84.6%;
  top: 55.38%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.mainpage-start-inner {
  height: 90%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: var(--main);
  cursor: pointer;
}
.mainpage-start-inner:hover {
  background-color: var(--hover);
}
.mainpage-div28,
.mainpage-start-inner,
.mainpage-start2 {
  position: absolute;
}
.mainpage-div28 {
  width: 100%;
  top: 8.24%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.mainpage-start2 {
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.5%;
  left: 29.33%;
  font-size: var(--font-size-29xl);
}
.mainpage-character-icon2 {
  position: absolute;
  height: 35%;
  width: 60%;
  top: 20%;
  right: 11.82%;
  bottom: 44.63%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-chatbot2 {
  position: absolute;
  top: calc(50% - 434px);
  right: 2.688rem;
  width: 34.375rem;
  height: 60rem;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
/* 캡션 CSS */
.caption-post1,
.caption-cur1,
.caption-pre1{
  box-sizing: border-box;
  position: absolute;
  border-radius: var(--br-3xs);
  /* border: 1px dashed var(--color-black); */
  background-color: rgba(197, 197, 197, 0.8);
  color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.caption-post1 {
  top: 39.75rem;
  left: 35rem;
  width: 12.563rem;
  height: 10.063rem;
  font-size: small;
}
.caption-cur1 {
  top: 18.188rem;
  left: 29.625rem;
  width: 23.313rem;
  height: 16.563rem;
  font-size: x-large;
  line-height: 1.5;
}
.caption-pre1 {
  top: 3.188rem;
  left: 35rem;
  width: 12.563rem;
  height: 10.063rem;
  font-size: small;
}
.caption-text1{
  text-align: center;
}
/* 캡션 CSS 끝*/
.mainpage-phone1 {
  top: 1.25rem;
  left: 1.313rem;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 26.875rem;
  height: 58.25rem;
  position: absolute;
}
.mainpage-div29 {
  top: calc(50% - 12px);
  left: calc(50% - 37px);
  font-size: var(--font-size-xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: left;
  position: absolute;
}
.mainpage-tostart1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 55.375rem;
  left: 32.188rem;
  border-radius: var(--br-xl);
  width: 19rem;
  height: 3.25rem;
}
.mainpage-tostart1:hover {
  background-color: lightgray;
}
.mainpage-maincontentsbody1 {
  position: absolute;
  top: 5.875rem;
  left: calc(50% - 515px);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: var(--br-3xs);
  /* border: 1px solid var(--color-black); */
  background-color: var(--contents);
  box-sizing: border-box;
  width: 54rem;
  height: 60.75rem;
}
.mainpage-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-image: url(/public/@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.mainpage-button3,
.mainpage-button4,
.mainpage-k-rail {
  position: absolute;
  width: 24.375rem;
}
.mainpage-button4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 13.75rem;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-image: url(/public/1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.mainpage-k-rail {
  top: 27.5rem;
  background-image: url(/public/krail@3x.png);
}
.mainpage-coupong,
.mainpage-k-rail,
.mainpage-never {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.mainpage-never {
  position: absolute;
  top: 41.25rem;
  width: 24.375rem;
  background-image: url(/public/never@3x.png);
}
.mainpage-coupong {
  top: 55rem;
  background-image: url(/public/coupong@3x.png);
}
.mainpage-button5,
.mainpage-button6,
.mainpage-coupong {
  position: absolute;
  width: 24.375rem;
}
.mainpage-button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 68.75rem;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-image: url(/public/2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.mainpage-button6 {
  top: 82.5rem;
  background-image: url(/public/25@3x.png);
}
.mainpage-button6,
.mainpage-button7,
.mainpage-instagramer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.mainpage-button7 {
  position: absolute;
  top: 96.25rem;
  width: 24.375rem;
  background-image: url(/public/3@3x.png);
}
.mainpage-instagramer {
  top: 110rem;
  background-image: url(/public/instagramer@3x.png);
}
.mainpage-instagramer,
.mainpage-kikiotaxi,
.mainpage-maincontentsad {
  position: absolute;
  width: 24.375rem;
}
.mainpage-kikiotaxi {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 123.75rem;
  left: 0;
  border-radius: var(--br-3xs);
  height: 12.5rem;
  background-image: url(/public/kikiotaxi@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.mainpage-maincontentsad {
  top: 6.438rem;
  left: 1.313rem;
  height: 59.938rem;
  overflow-y: auto;
}
.mainpage-maincontentsad::-webkit-scrollbar {
  display: none;
}
.mainpage-copyright3 {
  position: absolute;
  top: 68.67%;
  right: 3.313rem;
}
.mainpage-div30,
.mainpage-div31 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.mainpage-div31 {
  left: 56.563rem;
}
.mainpage-div32,
.mainpage-div33,
.mainpage-div34,
.mainpage-div35 {
  position: absolute;
  top: 0;
  left: 38.688rem;
}
.mainpage-div33,
.mainpage-div34,
.mainpage-div35 {
  left: 28.188rem;
}
.mainpage-div34,
.mainpage-div35 {
  left: 17.688rem;
}
.mainpage-div35 {
  left: 7.188rem;
}
.mainpage-footermenutext3,
.mainpage-title3 {
  position: absolute;
  right: 3.313rem;
}
.mainpage-footermenutext3 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.mainpage-title3 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.mainpage-logo-icon3 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.mainpage-maincontentsfooter {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -18.75rem;
  left: 0;
  background-color: var(--contents);
  height: 18.75rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-maincontents {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
.mainpage-maincontents::-webkit-scrollbar {
  display: none;
}
/* caption-post가 나타나는 애니메이션 */
.slideIn {
  animation: slideIn 0.8s ease forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* caption과 caption-pre에 대한 애니메이션 */
.slideMin {
  animation: slideUpMin 0.8s ease forwards;
}

.slideMax {
  animation: slideUpMax 0.8s ease forwards;
}

@keyframes slideUpMin {    
  0% {
    transform: translateY(150%) scale(2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes slideUpMax {    
  0% {
    transform: translateY(150%) scale(0.5);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}