.mainpage-b33,
.mainpage-div139 {
  position: absolute;
  top: 18.26%;
  left: 2.84%;
}
.mainpage-div139 {
  top: 55.65%;
}
.mainpage-storageboxmaincontent2box2b {
  position: absolute;
  top: 18rem;
  left: 2rem;
  border-radius: var(--br-3xs);
  background-color: var(--contents);
  width: 55rem;
  height: 7.188rem;
}
.mainpage-b34 {
  position: absolute;
  top: 54.69%;
  left: 3.65%;
  color: var(--heavy);
}
.mainpage-storageboxmaincontent2box2a {
  position: absolute;
  top: 5.188rem;
  left: 2rem;
  border-radius: var(--br-3xs);
  background-color: var(--contents);
  width: 55rem;
  height: 7.188rem;
}
.mainpage-b36 {
  position: absolute;
  top: 7.78%;
  left: 3.65%;
  color: var(--heavy);
}
.mainpage-storageboxmaincontent2box2 {
  position: absolute;
  top: 3.563rem;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: white;
  width: 59.875rem;
  height: 27.313rem;
}
.mainpage-div141 {
  position: absolute;
  top: 0;
  left: 1.15%;
  font-size: var(--font-size-13xl);
}
.mainpage-storageboxmaincontent2info2 {
  position: absolute;
  top: 20.625rem;
  left: 0;
  width: 59.875rem;
  height: 30.875rem;
}
.mainpage-div142 {
  position: absolute;
  width: 100%;
  top: 40.26%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-storageboxmaincontent2box1 {
  position: absolute;
  top: 3.563rem;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: white;
  width: 59.875rem;
  height: 9.625rem;
}
.mainpage-div143 {
  position: absolute;
  top: 0;
  left: 1.15%;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  text-align: left;
}
.mainpage-storageboxmaincontent2info1 {
  position: absolute;
  top: 5.563rem;
  left: 0.125rem;
  width: 59.875rem;
  height: 13.188rem;
  text-align: center;
  color: var(--color-darkslategray);
}
.mainpage-div144,
.mainpage-div145 {
  position: absolute;
  width: 82.59%;
  top: 20%;
  left: 17.41%;
  display: flex;
  align-items: center;
}
.mainpage-div145 {
  width: 17.21%;
  top: 0;
  left: 0.21%;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.mainpage-storageboxmaincontent2title {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 59.938rem;
  height: 3.75rem;
  color: var(--color-dimgray);
}
.mainpage-storageboxmaincontent2 {
  position: absolute;
  top: 23rem;
  left: 6.313rem;
  width: 60.125rem;
  height: 51.5rem;
}
.mainpage-div146 {
  top: 73%;
}
.mainpage-b37,
.mainpage-b38,
.mainpage-div146,
.mainpage-div147 {
  position: absolute;
  left: 3.76%;
}
.mainpage-b37 {
  top: 54.93%;
  color: var(--heavy);
}
.mainpage-b38 {
  top: 32.39%;
}
.mainpage-div147 {
  top: 30%
}
.mainpage-b38 {
  top: 10.33%;
  color: var(--heavy);
}
.mainpage-storageboxmaincontent1info {
  position: absolute;
  top: 5.75rem;
  left: 0.125rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: white;
  width: 59.875rem;
  height: 13.313rem;
}
.mainpage-div148,
.mainpage-div149 {
  position: absolute;
  width: 82.69%;
  top: 21.59%;
  left: 17.31%;
  display: flex;
  align-items: center;
}
.mainpage-div149 {
  width: 17.21%;
  top: 0;
  left: 0.1%;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.mainpage-storageboxmaincontent1title {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 59.938rem;
  height: 3.763rem;
  color: var(--color-dimgray);
}
.mainpage-storageboxmaincontent1 {
  position: absolute;
  top: 2rem;
  left: 6.313rem;
  width: 60rem;
  height: 19.063rem;
}
.mainpage-storageboxmaincontentset {
  position: absolute;
  top: 6.875rem;
  left: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  /* border-top: 1px solid var(--color-palegoldenrod);
  border-right: 3px solid var(--color-palegoldenrod);
  border-bottom: 3px solid var(--color-palegoldenrod);
  border-left: 1px solid var(--color-palegoldenrod); */
  background-color: var(--contents);
  box-sizing: border-box;
  width: 72.313rem;
  height: 45.25rem;
  overflow-y: auto;
}
.mainpage-storageboxmaincontentset::-webkit-scrollbar {
  display: none;
}
.mainpage-scrollbackground {
  position: absolute;
  top: -3.5rem;
  left: 0;
  background-color: var(--color-white);
  width: 72.75rem;
  height: 10.375rem;
  overflow: hidden;
}
.mainpage-div150 {
  position: absolute;
  width: 100%;
  top: 27.35%;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-mypagemenubutton31 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 31.188rem;
  border-top: 1px solid var(--main);
  border-right: 1px solid var(--main);
  border-left: 1px solid var(--main);
  border-radius: 0% 5% 0% 0%;
  box-sizing: border-box;
  width: 21.125rem;
  height: 6.856rem;
}
.mainpage-div151 {
  position: absolute;
  width: 100.2%;
  top: 27.35%;
  left: -0.2%;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-mypagemenubutton21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--light);
  position: absolute;
  top: 0;
  left: 15.594rem;
  border-top: 1px solid var(--main);
  box-sizing: border-box;
  width: 15.594rem;
  height: 6.856rem;
}
.mainpage-div152 {
  position: absolute;
  width: 99.8%;
  top: 27.35%;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-mypagemenubutton11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid var(--main);
  border-right: 1px solid var(--main);
  border-left: 1px solid var(--main);
  border-radius: 5% 0% 0% 0%;
  box-sizing: border-box;
  width: 15.594rem;
  height: 6.856rem;
}
.mainpage-storageboxmainbuttonset {
  position: absolute;
  height: 13.84%;
  width: 71.91%;
  top: 0;
  right: 28.09%;
  bottom: 86.16%;
  left: 0;
}
.mainpage-storageboxmain {
  position: absolute;
  top: 14.625rem;
  left: 3.875rem;
  width: 72.313rem;
  height: 52.125rem;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-copyright11 {
  position: absolute;
  top: 68.67%;
  right: 3.313rem;
}
.mainpage-div156,
.mainpage-div157,
.mainpage-div158 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.mainpage-div157,
.mainpage-div158 {
  left: 56.563rem;
}
.mainpage-div158 {
  left: 38.688rem;
}
.mainpage-div159,
.mainpage-div160,
.mainpage-div161 {
  position: absolute;
  top: 0;
  left: 28.188rem;
}
.mainpage-div160,
.mainpage-div161 {
  left: 17.688rem;
}
.mainpage-div161 {
  left: 7.188rem;
}
.mainpage-footermenutext11,
.mainpage-title13 {
  position: absolute;
  right: 3.313rem;
}
.mainpage-footermenutext11 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.mainpage-title13 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.mainpage-logo-icon11 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.mainpage-box-icon8,
.mainpage-mypagefooter1 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.mainpage-mypagefooter1 {
  bottom: -18.75rem;
  background-color: var(--contents);
  height: 18.75rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-box-icon8 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: #F5F6F7;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mainpage-p24 {
  margin: 0;
}
.mainpage-intro-txt8 {
  width: 100%;
}
.mainpage-intro9 {
  position: absolute;
  width: 84.6%;
  top: 55.11%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.mainpage-start-child5 {
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: var(--main);
  cursor: pointer;
}
.mainpage-start-child5:hover {
  background-color: var(--hover);
}
.mainpage-div162,
.mainpage-start-child5,
.mainpage-start8 {
  position: absolute;
}
.mainpage-div162 {
  width: 100%;
  top: 5.82%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.mainpage-start8 {
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.49%;
  left: 29.33%;
  font-size: var(--font-size-29xl);
}
.mainpage-character-icon8 {
  position: absolute;
  height: 45.26%;
  width: 76.18%;
  top: 10.13%;
  right: 11.82%;
  bottom: 44.61%;
  left: 12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-chatbot8 {
  position: absolute;
  top: calc(50% - 305.7px);
  right: 4.188rem;
  width: 34.375rem;
  height: 48.513rem;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-mypagestoragebox {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  cursor: default;
}
.mainpage-mypagestoragebox::-webkit-scrollbar {
  display: none;
}