.mainpage-box-icon9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #F5F6F7;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mainpage-p26 {
  margin: 0;
}
.mainpage-intro-txt9 {
  width: 100%;
}
.mainpage-intro10 {
  position: absolute;
  width: 84.6%;
  top: 55.11%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.mainpage-start-child6 {
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: var(--main);
  cursor: pointer;
}
.mainpage-start-child6:hover {
  background-color: var(--hover);
}
.mainpage-div163,
.mainpage-start-child6,
.mainpage-start9 {
  position: absolute;
}
.mainpage-div163 {
  width: 100%;
  top: 5.82%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.mainpage-start9 {
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.49%;
  left: 29.33%;
  font-size: var(--font-size-29xl);
}
.mainpage-character-icon9 {
  position: absolute;
  height: 45.26%;
  width: 76.18%;
  top: 10.13%;
  right: 11.82%;
  bottom: 44.61%;
  left: 12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-chatbot9 {
  position: absolute;
  top: calc(50% - 305.7px);
  right: 4.188rem;
  width: 34.375rem;
  height: 48.513rem;
}
.mainpage-div164,
.mainpage-div165 {
  position: absolute;
  width: 13.82%;
  top: 33.04%;
  left: 13.68%;
  display: flex;
  align-items: center;
}
.mainpage-div165 {
  width: 27.86%;
  left: 27.5%;
}
.mainpage-guidelistcontentchromeimage-icon {
  position: absolute;
  height: 60.87%;
  width: 7.98%;
  top: 20%;
  right: 89.99%;
  bottom: 19.13%;
  left: 2.02%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-button23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 21.43%;
  top: 33.04%;
  left: 75.82%;
  font-size: var(--font-size-13xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-darkslategray);
  text-align: right;
  display: flex;
  align-items: center;
}
.mainpage-guidelistcontent21 {
  position: absolute;
  top: 34rem;
  left: 6.956rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: white;
  width: 58.338rem;
  height: 7.188rem;
}
.mainpage-div166 {
  position: absolute;
  height: 5.21%;
  width: 80.73%;
  top: 65%;
  left: 9.77%;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.mainpage-guidelistcontentmapimage-icon {
  position: absolute;
  height: 86.96%;
  width: 9.88%;
  top: 6.96%;
  right: 88.95%;
  bottom: 6.09%;
  left: 1.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-guidelistcontent12 {
  position: absolute;
  top: 18rem;
  left: 6.956rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: white;
  width: 58.338rem;
  height: 7.188rem;
}
.mainpage-guidelistcontentbankimage-icon {
  position: absolute;
  height: 86.96%;
  width: 8.08%;
  top: 6.96%;
  right: 89.92%;
  bottom: 6.09%;
  left: 2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-guidelistcontent11 {
  position: absolute;
  top: 8rem;
  left: 6.956rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: white;
  width: 58.338rem;
  height: 7.188rem;
}
.mainpage-div171 {
  position: absolute;
  height: 5.21%;
  width: 80.73%;
  top: 8%;
  left: 9.59%;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.mainpage-guidelistcontentset {
  position: absolute;
  top: 6.875rem;
  left: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  /* border-top: 1px solid var(--color-palegoldenrod);
  border-right: 3px solid var(--color-palegoldenrod);
  border-bottom: 3px solid var(--color-palegoldenrod);
  border-left: 1px solid var(--color-palegoldenrod); */
  background-color: var(--contents);
  box-sizing: border-box;
  width: 72.313rem;
  height: 45.125rem;
  overflow-y: auto;
}
.mainpage-scrollbackground1 {
  position: absolute;
  top: -4.5rem;
  left: 0;
  background-color: var(--color-white);
  width: 72.75rem;
  height: 10.375rem;
  overflow: hidden;
}
.mainpage-div172 {
  position: absolute;
  width: 100%;
  top: 27.35%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-mypagemenubutton32 {
  position: absolute;
  top: 0;
  left: 31.188rem;
  background-color: var(--light);
  border-top: 1px solid var(--main);
  border-right: 1px solid var(--main);
  border-left: 1px solid var(--main);
  border-radius: 0% 5% 0% 0%;
  box-sizing: border-box;
  width: 21.125rem;
  height: 6.856rem;
}
.mainpage-div173 {
  position: absolute;
  width: 100.2%;
  top: 27.35%;
  left: -0.2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-mypagemenubutton22 {
  position: absolute;
  top: 0;
  left: 15.594rem;
  background-color: var(--color-white);
  border-top: 1px solid var(--main);
  box-sizing: border-box;
  width: 15.594rem;
  height: 6.856rem;
  cursor: pointer;
}
.mainpage-div174 {
  position: absolute;
  width: 99.8%;
  top: 27.35%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-mypagemenubutton12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border-top: 1px solid var(--main);
  border-right: 1px solid var(--main);
  border-left: 1px solid var(--main);
  border-radius: 5% 0% 0% 0%;
  box-sizing: border-box;
  width: 15.594rem;
  height: 6.856rem;
  cursor: pointer;
}
.mainpage-guidelistmainbuttonset {
  position: absolute;
  height: 12.15%;
  width: 71.91%;
  top: 0;
  right: 28.09%;
  bottom: 87.85%;
  left: 0;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.mainpage-guidelist {
  position: absolute;
  width: 60.26%;
  top: 14.625rem;
  right: 36.51%;
  left: 3.23%;
  height: 52rem;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-copyright12 {
  position: absolute;
  top: 68.67%;
  right: 3.313rem;
}
.mainpage-div175,
.mainpage-div176,
.mainpage-div177 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.mainpage-div176,
.mainpage-div177 {
  left: 56.563rem;
}
.mainpage-div177 {
  left: 38.688rem;
}
.mainpage-div178,
.mainpage-div179,
.mainpage-div180 {
  position: absolute;
  top: 0;
  left: 28.188rem;
}
.mainpage-div179,
.mainpage-div180 {
  left: 17.688rem;
}
.mainpage-div180 {
  left: 7.188rem;
}
.mainpage-footermenutext12,
.mainpage-title14 {
  position: absolute;
  right: 3.313rem;
}
.mainpage-footermenutext12 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.mainpage-title14 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.mainpage-logo-icon12 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.mainpage-mypagefooter2 {
  position: absolute;
  right: 0;
}
.mainpage-mypagefooter2 {
  width: 100%;
  bottom: -18.75rem;
  left: 0;
  background-color: var(--contents);
  height: 18.75rem;
  font-size: var(--font-size-5xl);
}
.mainpage-mypageguidelist {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
  cursor: default;
}
.mainpage-mypageguidelist::-webkit-scrollbar {
  display: none;
}