.mainpage-snsbodylayout {
  position: absolute;
  width: 74rem;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  top: 4px;
  height: 50.688rem;
}
.mainpage-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 34.875rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 16.875rem;
}
.mainpage-snsbuttonsetline {
  position: absolute;
  top: 1.688rem;
  left: 34.75rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.mainpage-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 18.563rem;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 16.313rem;
}
.mainpage-snsbuttonsetline1 {
  position: absolute;
  top: 1.688rem;
  left: 18.438rem;
  border-right: 4px solid var(--color-black);
  box-sizing: border-box;
  width: 0.25rem;
  height: 3.25rem;
}
.mainpage-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  left: 0;
  font-size: var(--font-size-21xl);
  font-family: var(--font-noto-sans-kr);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 18.125rem;
}

.mainpage-snsbuttonset {
  position: absolute;
  width: 74.688rem;
  top: calc(40% - 434px);
  left: 10rem;
  height: 6.625rem;
}
.mainpage-communitybody {
  position: absolute;
  width: 74.688rem;
  top: 14.625rem;
  left: calc(50% - 893px);
  height: 49.688rem;
}
.mainpage-copyright1 {
  position: absolute;
  top: 68.67%;
  right: 3.313rem;
}
.mainpage-div10,
.mainpage-div11 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.mainpage-div11 {
  left: 56.563rem;
}
.mainpage-div12,
.mainpage-div13,
.mainpage-div14,
.mainpage-div15 {
  position: absolute;
  top: 0;
  left: 38.688rem;
}
.mainpage-div13,
.mainpage-div14,
.mainpage-div15 {
  left: 28.188rem;
}
.mainpage-div14,
.mainpage-div15 {
  left: 17.688rem;
}
.mainpage-div15 {
  left: 7.188rem;
}
.mainpage-footermenutext1,
.mainpage-title1 {
  position: absolute;
  right: 3.313rem;
}
.mainpage-footermenutext1 {
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.mainpage-title1 {
  top: 21%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.mainpage-logo-icon1 {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.mainpage-box-icon,
.mainpage-communityfooter {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.mainpage-communityfooter {
  bottom: -18.687rem;
  background-color: var(--contents);
  height: 18.75rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-box-icon {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #B5E299;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mainpage-p {
  margin: 0;
}
.mainpage-intro-txt {
  width: 100%;
}
.mainpage-intro1 {
  position: absolute;
  width: 84.6%;
  top: 55.38%;
  left: 7.67%;
  display: flex;
  align-items: center;
}
.mainpage-start-child {
  height: 100%;
  width: 90.32%;
  top: 0;
  right: 4.84%;
  bottom: 0;
  left: 4.84%;
  box-shadow: 6px 6px 2.6px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--light);
  cursor: pointer;
}
.mainpage-start-child:hover {
  background-color: #CEE6B9;
}
.mainpage-div16,
.mainpage-start,
.mainpage-start-child {
  position: absolute;
}
.mainpage-div16 {
  width: 100%;
  top: 8.24%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainpage-start {
  height: 10.63%;
  width: 41.33%;
  top: 78.88%;
  right: 29.35%;
  bottom: 10.5%;
  left: 29.33%;
  font-size: var(--font-size-29xl);
}
.mainpage-character-icon {
  position: absolute;
  height: 45.25%;
  width: 76.18%;
  top: 10.13%;
  right: 11.82%;
  bottom: 44.63%;
  left: 12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mainpage-chatbot {
  position: absolute;
  top: calc(50% - 434px);
  right: 2.688rem;
  width: 34.375rem;
  height: 60rem;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.mainpage-sns {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 67.5rem;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
  cursor: default;
}
.mainpage-sns::-webkit-scrollbar {
  display: none;
}