.kiosc_icon,
.kiosc_icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 374px;
  height: 124px;
  object-fit: cover;
}

.kiosc_icon1 {
  top: 147px;
  left: 22px;
  width: 82px;
  height: 88px;
}

.kiosc_h3,
.kiosc_p2,
.kiosc_p3 {
  margin: 0;
  position: absolute;
  left: 111px;
}

.kiosc_h3 {
  top: 147px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}

.kiosc_p2,
.kiosc_p3 {
  top: 173px;
}

.kiosc_p3 {
  top: 199px;
}

.kiosc_p4,
.kiosc_p5 {
  margin: 0;
  left: 35px;
}

.kiosc_p4 {
  position: absolute;
  top: 251px;
}

.kiosc_p5 {
  top: 428px;
}

.kiosc_child,
.kiosc_div,
.kiosc_p5 {
  position: absolute;
}

.kiosc_child {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 128px;
  height: 34px;
}

.kiosc_div {
  top: 9px;
  left: 52px;
  font-size: var(--font-size-smi);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}

.kiosc_button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 605px;
  left: 51px;
  width: 128px;
  height: 34px;
}

.kiosc_button,
.kiosc_button1,
.kiosc_div1 {
  position: absolute;
}

.kiosc_div1 {
  top: 9px;
  left: 20px;
  font-size: var(--font-size-smi);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}

.kiosc_button123 {
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 605px;
  left: 197px;
  width: 128px;
  height: 34px;
}

.kiosc_monitor4 {
  position: absolute;
  top: 35px;
  left: 28px;
  background-color: var(--color-white);
  width: 374px;
  height: 672px;
  overflow: hidden;
  text-align: left;
  font-size: var(--num-size);
  color: var(--color-black);
  font-family: var(--num);
}

.kiosc_selectside-04 {
  width: 430px;
  height: 930px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
