.coupong-group-child66 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border-top: 10px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 25.5rem;
  height: 7.813rem;
}
.coupong-div173 {
  top: 1.438rem;
  color: var(--color-gray);
}
.coupong-div173,
.coupong-div174,
.coupong-div175,
.coupong-div176 {
  position: absolute;
  left: 2.5rem;
}
.coupong-div174 {
  top: 3.063rem;
  color: var(--color-gray);
}
.coupong-div175,
.coupong-div176 {
  top: 5.813rem;
}
.coupong-div176 {
  top: 6.125rem;
  left: 22.75rem;
  font-size: var(--font-size-3xs);
}
.coupong-div177,
.coupong-div178 {
  position: absolute;
  top: 5.813rem;
  left: 19.375rem;
}
.coupong-div178 {
  top: 1.438rem;
  left: 19.313rem;
}
.coupong-div179,
.coupong-div180,
.coupong-div181 {
  position: absolute;
  top: 3.063rem;
  left: 21.125rem;
}
.coupong-div180,
.coupong-div181 {
  top: 1.75rem;
  left: 22.75rem;
  font-size: var(--font-size-3xs);
}
.coupong-div181 {
  top: 3.313rem;
}
.coupong-group-child67 {
  position: absolute;
  top: 5.031rem;
  left: 2.094rem;
  border-top: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 21.438rem;
  height: 0.063rem;
}
.coupong-group-child68,
.coupong-rectangle-parent62 {
  position: absolute;
  left: 0;
  width: 25.5rem;
}
.coupong-rectangle-parent62 {
  top: 34.563rem;
  height: 7.813rem;
}
.coupong-group-child68 {
  top: 0;
  background-color: var(--color-white);
  border-top: 10px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 9.625rem;
}
.coupong-fluent-emoji-flatcoin-icon {
  position: absolute;
  top: 1.938rem;
  left: 1.563rem;
  width: 1.875rem;
  height: 1.875rem;
  overflow: hidden;
}
.coupong-div182 {
  position: absolute;
  top: 2.25rem;
  left: 3.688rem;
  font-size: var(--font-size-base);
}
.coupong-div183,
.coupong-group-child69 {
  position: absolute;
  top: 3.938rem;
  left: 3.688rem;
}
.coupong-group-child69 {
  top: 5.75rem;
  border-radius: var(--br-8xs);
  background-color: var(--main);
  width: 10.438rem;
  height: 2.125rem;
}
.coupong-div184 {
  position: absolute;
  top: 6.25rem;
  left: 5.063rem;
  color: var(--color-white);
}
.coupong-rectangle-parent63 {
  position: absolute;
  top: 24.938rem;
  left: 0;
  width: 25.5rem;
  height: 9.625rem;
  font-size: var(--font-size-sm);
}
.coupong-group-child70 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border-top: 10px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 25.5rem;
  height: 7.188rem;
}
.coupong-div185,
.coupong-div186,
.coupong-group-child70 {
  position: absolute;
}
.coupong-div185 {
  top: 1.938rem;
  left: 3.688rem;
  font-size: var(--font-size-base);
}
.coupong-div186 {
  top: 5.25rem;
  left: 1.625rem;
}
.coupong-twemojiadmission-tickets-icon {
  position: absolute;
  top: 1.625rem;
  left: 1.563rem;
  width: 1.875rem;
  height: 1.875rem;
  overflow: hidden;
}
.coupong-group-child71 {
  position: absolute;
  top: 4.469rem;
  left: -0.031rem;
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 25.563rem;
  height: 0.063rem;
}
.coupong-div187 {
  position: absolute;
  top: 5.25rem;
  left: 19.813rem;
  color: var(--main);
}
.coupong-rectangle-parent64 {
  position: absolute;
  top: 17.75rem;
  left: 0;
  width: 25.5rem;
  height: 7.188rem;
  font-size: var(--font-size-sm);
}
.coupong-group-child72,
.coupong-group-child73,
.coupong-group-child74 {
  position: absolute;
  left: 0;
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 25.5rem;
}
.coupong-group-child72 {
  top: 13.938rem;
  background-color: #eee;
  height: 3.813rem;
}
.coupong-group-child73,
.coupong-group-child74 {
  background-color: var(--color-white);
}
.coupong-group-child73 {
  top: 3.813rem;
  height: 10.125rem;
}
.coupong-group-child74 {
  top: 0;
  height: 3.813rem;
}
.coupong-div188 {
  position: absolute;
  top: 1rem;
  left: 1.563rem;
  font-size: var(--font-size-5xl);
  text-align: right;
}
.coupong-kg-11,
.coupong-rectangle-input1 {
  position: absolute;
  top: 4.813rem;
}
.coupong-rectangle-input1 {
  margin: 0;
  left: 1.563rem;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;
}
.coupong-kg-11 {
  left: 3.125rem;
}
.coupong-div189,
.coupong-group-child75 {
  position: absolute;
  top: 7.063rem;
}
.coupong-div189 {
  left: 8.563rem;
  font-size: var(--font-size-sm);
}
.coupong-group-child75 {
  left: 1.813rem;
  border-radius: var(--br-8xs);
  width: 6.25rem;
  height: 6.25rem;
  object-fit: cover;
}
.coupong-div190 {
  position: absolute;
  top: 8.938rem;
  left: 8.563rem;
  font-size: var(--font-size-xl);
}
.coupong-group-child76 {
  top: 11.25rem;
  left: 8.563rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 6.813rem;
  height: 1.375rem;
}
.coupong-div191,
.coupong-div192,
.coupong-group-child76 {
  position: absolute;
}
.coupong-div191 {
  top: 11.375rem;
  left: 11.688rem;
  font-size: var(--font-size-sm);
}
.coupong-div192 {
  top: 15.25rem;
  left: 2.313rem;
}
.coupong-close-icon,
.coupong-sort-down-icon {
  position: absolute;
  top: 11.313rem;
  left: 13.875rem;
  width: 0.625rem;
  height: 1.25rem;
  object-fit: cover;
}
.coupong-close-icon {
  top: 4.688rem;
  left: 23.438rem;
  width: 1.25rem;
  cursor: pointer;
}
.coupong-rectangle-parent65 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25.5rem;
  height: 17.75rem;
}
.coupong-group-parent1 {
  position: absolute;
  top: calc(50% - 281px);
  left: calc(50% - 204px);
  width: 25.5rem;
  height: 41.563rem;
  overflow-y: auto;
}
.coupong-cartupper-child,
.coupong-group-child77 {
  position: absolute;
  top: 0;
  left: 0;
  height: 5.125rem;
}
.coupong-cartupper-child {
  background-color: var(--color-white);
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 26.875rem;
}
.coupong-group-child77 {
  background-color: var(--main);
  width: 12.063rem;
}
.coupong-div193 {
  position: absolute;
  top: 1.813rem;
  left: 3rem;
}
.coupong-rectangle-parent66 {
  position: absolute;
  top: 0;
  left: 14.813rem;
  width: 12.063rem;
  height: 5.125rem;
  cursor: pointer;
  text-align: right;
  color: var(--color-white);
}
.coupong-rectangle-input2 {
  margin: 0;
  position: absolute;
  top: 1.438rem;
  left: 1rem;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.coupong-div194,
.coupong-div195 {
  position: absolute;
  top: 3.313rem;
  left: 1.188rem;
  font-size: var(--font-size-3xs);
}
.coupong-div195 {
  top: 1.938rem;
  left: 3.375rem;
  font-size: var(--font-size-base);
}
.coupong-cartupper {
  position: absolute;
  bottom: 0;
  left: calc(50% - 215px);
  width: 26.875rem;
  height: 5.125rem;
  font-size: var(--font-size-xl);
}
.coupong-group-child78,
.coupong-group-child79,
.coupong-group-child80 {
  position: absolute;
  top: 3.063rem;
  background-color: var(--color-white);
  width: 8.375rem;
  height: 3.625rem;
}
.coupong-group-child78 {
  left: calc(50% - 205px);
  border-bottom: 4px solid var(--main);
  box-sizing: border-box;
}
.coupong-group-child79,
.coupong-group-child80 {
  left: calc(50% - 67px);
}
.coupong-group-child80 {
  left: calc(50% + 71px);
}
.coupong-div196 {
  position: absolute;
  top: 0;
  left: calc(50% - 56px);
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  text-align: left;
}
.coupong-group-child81 {
  position: absolute;
  top: 6.656rem;
  left: calc(50% - 205.5px);
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 25.688rem;
  height: 0.063rem;
}
.coupong-div197,
.coupong-div198,
.coupong-div199 {
  position: absolute;
  top: 3.875rem;
  left: calc(50% - 179px);
}
.coupong-div198,
.coupong-div199 {
  left: calc(50% - 45px);
}
.coupong-div199 {
  left: calc(50% + 89px);
}
.coupong-rectangle-parent67 {
  position: absolute;
  top: 4.875rem;
  left: calc(50% - 205px);
  width: 25.625rem;
  height: 6.688rem;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--main);
}
.coupong-cart-12 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
