.coupong-div200 {
  position: absolute;
  top: 0;
  left: calc(50% - 56px);
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  text-align: left;
}
.coupong-group-child82,
.coupong-group-child83,
.coupong-group-child84 {
  position: absolute;
  top: 3.063rem;
  background-color: var(--color-white);
  width: 8.375rem;
  height: 3.625rem;
}
.coupong-group-child82 {
  left: calc(50% - 205px);
  border-bottom: 4px solid var(--main);
  box-sizing: border-box;
}
.coupong-group-child83,
.coupong-group-child84 {
  left: calc(50% - 67px);
}
.coupong-group-child84 {
  left: calc(50% + 71px);
}
.coupong-group-child85 {
  position: absolute;
  top: 6.656rem;
  left: calc(50% - 205.5px);
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 25.688rem;
  height: 0.063rem;
}
.coupong-div201,
.coupong-div202,
.coupong-div203 {
  position: absolute;
  top: 3.875rem;
  left: calc(50% - 179px);
}
.coupong-div202,
.coupong-div203 {
  left: calc(50% - 45px);
}
.coupong-div203 {
  left: calc(50% + 89px);
}
.coupong-parent1 {
  top: 4.875rem;
  left: calc(50% - 205px);
  width: 25.625rem;
  height: 6.688rem;
}
.coupong-div204,
.coupong-div205,
.coupong-parent1 {
  position: absolute;
}
.coupong-div204 {
  top: 0;
  left: calc(50% - 168px);
}
.coupong-div205 {
  top: 2.813rem;
  left: calc(50% - 89px);
  font-size: var(--font-size-xl);
  color: var(--main);
}
.coupong-parent2 {
  position: absolute;
  top: 16.625rem;
  left: calc(50% - 168px);
  width: 21rem;
  height: 4.313rem;
  text-align: center;
  color: var(--color-black);
}
.coupong-deleteproduct-13 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow: hidden;
  text-align: right;
  font-size: var(--font-size-5xl);
  color: var(--main);
  font-family: var(--font-inter);
}
