.coupong-div261,
.coupong-div262 {
  position: absolute;
  top: 4.875rem;
  left: calc(50% - 56px);
}
.coupong-div262 {
  top: 8.25rem;
  left: calc(50% - 54px);
  font-size: var(--font-size-5xl);
}
.coupong-frame-child48,
.coupong-frame-child49,
.coupong-frame-child50 {
  position: absolute;
  background-color: var(--color-white);
  box-sizing: border-box;
}
.coupong-frame-child48 {
  top: 0;
  left: 0;
  border-top: 1px solid var(--color-gray);
  width: 25.5rem;
  height: 32.688rem;
}
.coupong-frame-child49,
.coupong-frame-child50 {
  top: 0.563rem;
  left: 0.625rem;
  border: 1px solid var(--color-gray);
  width: 24.25rem;
  height: 13.5rem;
}
.coupong-frame-child50 {
  top: 14.563rem;
  border: 2px solid var(--main);
}
.coupong-div263,
.coupong-div264 {
  position: absolute;
  top: 1.875rem;
  left: 1.688rem;
  font-size: var(--font-size-xl);
}
.coupong-div264 {
  top: 15.875rem;
}
.coupong-frame-child51,
.coupong-frame-child52,
.coupong-frame-child53,
.coupong-frame-child54,
.coupong-frame-child55 {
  position: absolute;
  top: 3.875rem;
  left: 1.688rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 4.813rem;
  height: 1.563rem;
}
.coupong-frame-child52,
.coupong-frame-child53,
.coupong-frame-child54,
.coupong-frame-child55 {
  left: 6.625rem;
  border: 1px solid var(--color-mediumseagreen);
  width: 7rem;
}
.coupong-frame-child53,
.coupong-frame-child54,
.coupong-frame-child55 {
  top: 17.875rem;
  left: 1.688rem;
}
.coupong-frame-child54,
.coupong-frame-child55 {
  top: 3.875rem;
  left: 13.75rem;
  border: 1px solid var(--main);
  width: 6.313rem;
}
.coupong-frame-child55 {
  top: 17.875rem;
  left: 8.813rem;
}
.coupong-div265,
.coupong-div266,
.coupong-div267,
.coupong-div268,
.coupong-div269 {
  position: absolute;
  top: 4.125rem;
  left: 2.063rem;
  font-size: var(--font-size-sm);
  color: var(--color-gray);
}
.coupong-div266,
.coupong-div267,
.coupong-div268,
.coupong-div269 {
  left: 7.125rem;
  color: var(--color-mediumseagreen);
}
.coupong-div267,
.coupong-div268,
.coupong-div269 {
  top: 18.125rem;
  left: 2.188rem;
}
.coupong-div268,
.coupong-div269 {
  top: 4.125rem;
  left: 14.375rem;
  color: var(--main);
  display: inline-block;
  width: 5.125rem;
}
.coupong-div269 {
  top: 18.125rem;
  left: 9.438rem;
}
.coupong-div270,
.coupong-div271 {
  position: absolute;
  top: 5.938rem;
  left: 1.688rem;
}
.coupong-div271 {
  top: 19.938rem;
}
.coupong-div272,
.coupong-div273,
.coupong-div274,
.coupong-div275 {
  position: absolute;
  top: 7.625rem;
  left: 1.688rem;
}
.coupong-div273,
.coupong-div274,
.coupong-div275 {
  top: 21.625rem;
}
.coupong-div274,
.coupong-div275 {
  top: 9.313rem;
}
.coupong-div275 {
  top: 23.313rem;
}
.coupong-frame-child56,
.coupong-frame-child57,
.coupong-frame-child58 {
  position: absolute;
  width: 3.813rem;
  height: 2.125rem;
}
.coupong-frame-child56 {
  top: 11rem;
  left: 2.063rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
}
.coupong-frame-child57,
.coupong-frame-child58 {
  top: 25rem;
}
.coupong-frame-child57 {
  left: 2.063rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
}
.coupong-frame-child58 {
  left: 20.063rem;
  background-color: var(--main);
}
.coupong-div276,
.coupong-div277 {
  position: absolute;
  top: 11.5rem;
  left: 3.063rem;
  color: var(--main);
}
.coupong-div277 {
  top: 25.5rem;
}
.coupong-group-child98 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--main);
  width: 3.813rem;
  height: 2.125rem;
}
.coupong-div278 {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
.coupong-div279,
.coupong-rectangle-parent78 {
  position: absolute;
  color: var(--color-white);
}
.coupong-rectangle-parent78 {
  top: 11rem;
  left: 20.063rem;
  width: 3.813rem;
  height: 2.125rem;
  cursor: pointer;
}
.coupong-div279 {
  top: 25.5rem;
  left: 21.063rem;
}
.coupong-frame-child59 {
  position: absolute;
  top: 28.563rem;
  left: 0.625rem;
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 24.25rem;
  height: 3.375rem;
}
.coupong-div280 {
  position: absolute;
  top: 29.5rem;
  left: 9.063rem;
  font-size: var(--font-size-xl);
  color: var(--main);
}
.coupong-rectangle-parent77 {
  position: absolute;
  top: calc(50% - 286px);
  left: calc(50% - 204px);
  width: 25.5rem;
  height: 32.688rem;
  font-size: var(--font-size-base);
}
.coupong-deliveryaddress-17 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
