.b54 {
  position: absolute;
  top: 0.813rem;
  left: 4.313rem;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.1em;
  font-family: var(--font-nanumgothic);
  color: var(--color-black);
  text-align: center;
}
.bluetoothwatchconnectionbutton1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 11.25rem;
  width: 11.25rem;
  height: 3.125rem;
  overflow: hidden;
}
.bluetoothwatchconnectionbutton2 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 11.25rem;
  height: 3.125rem;
  overflow: hidden;
}
.bluetoothwatchconnectionbutton {
  position: absolute;
  top: 13.875rem;
  left: calc(50% - 180px);
  width: 22.5rem;
  height: 3.125rem;
}
.b56 {
  position: absolute;
  top: 11.938rem;
  left: calc(50% - 180px);
  letter-spacing: -0.1em;
  display: flex;
  align-items: center;
  width: 23.75rem;
}
.watch5conncetionimage-icon {
  position: absolute;
  top: 3.875rem;
  left: calc(50% - 46px);
  width: 5.744rem;
  height: 7.625rem;
  object-fit: cover;
}
.galaxy-watch5-pro3 {
  position: absolute;
  top: 1.563rem;
  left: calc(50% - 180px);
  font-size: var(--font-size-5xl);
  letter-spacing: -0.05em;
  display: flex;
  color: var(--color-black);
  align-items: center;
  width: 23.75rem;
}
.bluetoothwatchconnection {
  position: absolute;
  width: 93.02%;
  top: 39.813rem;
  right: 3.49%;
  left: 3.49%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 17.5rem;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.53);
}
.btdevicesettingimage-icon2 {
  position: absolute;
  top: 1.563rem;
  right: 1.188rem;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}
.galaxy-watch5-pro4 {
  position: absolute;
  top: 2.188rem;
  left: 4.938rem;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-nanumgothic);
  color: var(--color-black);
  text-align: left;
  width: 17.813rem;
}
.bluetoothdevicewatchimage-icon1 {
  position: absolute;
  top: 0.625rem;
  left: 0.563rem;
  width: 4.375rem;
  height: 4.375rem;
  overflow: hidden;
}
.availabledeviceinfo1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-white);
  position: absolute;
  width: 100%;
  top: 2.25rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-11xl);
  height: 5.313rem;
  overflow: hidden;
}
.b57 {
  position: absolute;
  top: 0rem;
  left: 1.875rem;
}
.availabledevice1 {
  position: absolute;
  width: 100%;
  top: 9.75rem;
  right: 0%;
  left: 0%;
  height: 7.563rem;
}
.bluetoothdeviceheadsetimage-icon1 {
  position: absolute;
  top: 1.563rem;
  left: 1.688rem;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}
.registereddevice1 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 7.563rem;
}
.bluetoothdeviceselect1 {
  position: absolute;
  width: 97.67%;
  top: 19.063rem;
  right: 1.16%;
  left: 1.16%;
  height: 17.313rem;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
}
.p53 {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.p54 {
  margin: 0;
}
.div10 {
  position: absolute;
  top: 10.75rem;
  left: 2.188rem;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 22.5rem;
  height: 6.875rem;
}
.bluetoothonswtichonrectangle1 {
  position: absolute;
  top: 0rem;
  right: 0rem;
  border-radius: var(--br-11xl);
  /* background-color: var(--color-royalblue-100); */
  background-color: royalblue;
  width: 5.625rem;
  height: 2.5rem;
}
.bluetoothonswtichonellipse1 {
  position: absolute;
  top: 0.313rem;
  right: 0.45rem;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 1.988rem;
  height: 1.875rem;
}
.bluetoothonswtichon1 {
  position: absolute;
  top: 0.813rem;
  right: 1.625rem;
  width: 5.625rem;
  height: 2.5rem;
}
.watchb59 {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  font-size: var(--font-size-17xl);
  font-family: var(--font-nanumgothic);
  /* color: var(--color-royalblue-200); */
  color: royalblue;
  /* text-align: left; */
}
.bluetoothonswtich1 {
  cursor: pointer;
  border: none;
  padding: 0;
  /* background-color: var(--color-whitesmoke-200); */
  background-color: whitesmoke;
  position: absolute;
  width: 97.67%;
  top: 5.125rem;
  right: 1.16%;
  left: 1.16%;
  border-radius: var(--br-11xl);
  height: 4.125rem;
  overflow: hidden;
}
.vector-icon1 {
  position: absolute;
  height: 65.6%;
  width: 11%;
  top: 17%;
  right: 44.4%;
  bottom: 17.4%;
  left: 44.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bluetoothstopbutton1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 3.875rem;
  width: 3.125rem;
  height: 3.125rem;
  overflow: hidden;
}
.watchb60 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  /* font-size: var(--font-size-11xl); */
  font-size: 1.5rem;
  display: flex;
  font-family: var(--font-nanumgothic);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 4.688rem;
  height: 3.125rem;
}
.bluetoothmorebutton1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 3.688rem;
  height: 3.125rem;
}
.bluetoothtitlebutton1 {
  position: absolute;
  top: 1.125rem;
  right: 0.813rem;
  width: 7rem;
  height: 3.125rem;
}
.watchb61 {
  position: absolute;
  top: 0.1rem;
  left: 3.125rem;
  display: inline-block;
  width: 14.438rem;
  font-size: 2rem;
}
.bluetoothonttitlebackbuttonvec-icon1 {
  position: absolute;
  height: 50%;
  width: 25%;
  top: 25%;
  right: 35.4%;
  bottom: 25%;
  left: 39.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bluetoothonttitlebackbutton1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 3.125rem;
  height: 3.125rem;
  overflow: hidden;
}
.bluetoothonttitle1 {
  position: absolute;
  top: 0.938rem;
  left: 0.813rem;
  width: 17.563rem;
  height: 3.125rem;
  font-size: var(--font-size-16xl);
}
.bluetoothconnection-06 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-nanumgothic);
}
