.watchothersetbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4.375rem;
  left: 0.875rem;
  width: 25.125rem;
  height: 4.375rem;
}

.watchroamingbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 0.875rem;
  border-bottom: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 25.125rem;
  height: 4.375rem;
}

.watchconnectionsettingsd {
  position: absolute;
  width: 100%;
  top: 49.5rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 8.75rem;
}

.watchhotspotbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 13.125rem;
  left: 0.875rem;
  width: 25.125rem;
  height: 4.375rem;
}

.watchdatabutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 8.75rem;
  left: 0.875rem;
  border-bottom: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 25.125rem;
  height: 4.375rem;
}

.watchnetworkbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 4.375rem;
  left: 0.875rem;
  border-bottom: 1px solid var(--color-whitesmoke-400);
  box-sizing: border-box;
  width: 25.125rem;
  height: 4.375rem;
}

.watchsim {
  position: absolute;
  top: 1.438rem;
  left: 0.875rem;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-nanumgothic);
  color: var(--color-black);
  text-align: left;
  width: 17.563rem;
}

.watchconnectionsettingsc {
  position: absolute;
  width: 100%;
  top: 30.938rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 17.5rem;
}

.watchswitchoffrectangle {
  position: absolute;
  top: 0rem;
  right: 0rem;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-100);
  width: 4.375rem;
  height: 1.875rem;
}

.watchswitchoffellipse {
  position: absolute;
  top: 0.125rem;
  right: 2.338rem;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 1.725rem;
  height: 1.625rem;
}

.watchswitchoff {
  position: absolute;
  top: 1.25rem;
  right: 1.563rem;
  width: 4.375rem;
  height: 1.875rem;
}

.watchconnectionsettingsline {
  position: absolute;
  top: 1.031rem;
  left: 19.969rem;
  border-right: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 0.063rem;
  height: 2.563rem;
}

.watchbutton9 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.438rem;
  left: 1.75rem;
  font-size: var(--font-size-5xl);
  font-weight: 700;
  font-family: var(--font-nanumgothic);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 17.563rem;
}

.watchconnectionsettingsb {
  position: absolute;
  width: 100%;
  top: 25.25rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 4.375rem;
}

.watchswitchonrectangle {
  position: absolute;
  top: 0rem;
  right: 0rem;
  border-radius: var(--br-11xl);
  background-color: var(--color-royalblue-100);
  width: 4.375rem;
  height: 1.875rem;
}

.watchswitchonellipse {
  position: absolute;
  top: 0.125rem;
  right: 0.213rem;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 1.725rem;
  height: 1.625rem;
}

.watchswitchon {
  position: absolute;
  top: 0.188rem;
  right: 0rem;
  width: 4.375rem;
  height: 1.875rem;
}

.watchconnectionsettingsline1 {
  position: absolute;
  top: -0.031rem;
  left: 18.219rem;
  border-right: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 0.063rem;
  height: 2.563rem;
}

.watchuwb {
  position: absolute;
  top: 0.375rem;
  left: 0rem;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-nanumgothic);
  color: var(--color-black);
  text-align: left;
  width: 17.563rem;
}

.watchuwbbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 14.188rem;
  right: 1.563rem;
  width: 23.563rem;
  height: 2.5rem;
}

.watchnfcbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 9.813rem;
  right: 1.563rem;
  width: 23.563rem;
  height: 2.5rem;
}

.watchbluetoothbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 5.438rem;
  right: 1.563rem;
  width: 23.563rem;
  height: 2.5rem;
}

.watchwifibutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.063rem;
  right: 1.563rem;
  width: 23.563rem;
  height: 2.5rem;
}

.watchconnectionsettingsa {
  position: absolute;
  width: 100%;
  top: 6.438rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 17.5rem;
}

.watchsettingsheaderbackbuttonsearch-icon {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.watchsettingsheaderbackbuttonsearch {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.813rem;
  right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}

.watchb46 {
  position: absolute;
  top: 0.125rem;
  left: 2.875rem;
  display: inline-block;
  width: 17.063rem;
}

.watchsettingsheaderbackbuttonvector-icon {
  position: absolute;
  height: 62.5%;
  width: 78.5%;
  top: 18.75%;
  right: 14.5%;
  bottom: 18.75%;
  left: 7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.watchsettingsheaderbackbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 1.25rem;
  height: 2.5rem;
  overflow: hidden;
}

.watchconnectionsettingsheader {
  position: absolute;
  top: 1.813rem;
  left: 1.813rem;
  width: 19.938rem;
  height: 2.5rem;
}

.watchconnectionsettings-03 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  border-radius: 20px;
  font-family: var(--font-nanumgothic);
}