.WIPB-button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 10rem;
  left: calc(50% - 200px);
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-nanumgothic);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
}
.WIPB-button1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 13.375rem;
  left: calc(50% - 200px);
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-nanumgothic);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
}
.WIPB-galaxy-wearable3 {
  color: var(--color-black);
}
.WIPB-galaxy-wearable2 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.WIPB-p5 {
  margin: 0;
}
.WIPB-galaxy-wearable-container2 {
  width: 100%;
}
.WIPB-galaxy-wearable-container1 {
  position: absolute;
  top: 5.125rem;
  left: calc(50% - 200px);
  letter-spacing: -0.05em;
  display: flex;
  align-items: center;
  width: 25rem;
}
.WIPB-installationpermissionallowpoi-icon {
  position: absolute;
  height: 100%;
  top: 0%;
  bottom: 0%;
  left: calc(50% - 16.65px);
  max-height: 100%;
  width: 2.081rem;
}
.WIPB-installationpermissionallowpoi-icon1 {
  position: absolute;
  height: 29.98%;
  top: 24.94%;
  bottom: 45.08%;
  left: calc(50% - 6.25px);
  max-height: 100%;
  width: 0.781rem;
}
.WIPB-installationpermissionallowpoi {
  position: absolute;
  height: 14.89%;
  top: 5.79%;
  bottom: 79.32%;
  left: calc(50% - 16.7px);
  width: 2.081rem;
}
.WIPB-installationpermissionallowbut {
  position: absolute;
  width: 93.02%;
  top: 39.813rem;
  right: 3.49%;
  left: 3.49%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 17.5rem;
  overflow: hidden;
  color: var(--color-dimgray);
}
.WIPB-div6 {
  position: absolute;
  top: 5.25rem;
  left: 3.313rem;
  color: var(--color-gray-100);
  display: inline-block;
  width: 21.313rem;
}
.WIPB-div7 {
  position: absolute;
  top: 3.25rem;
  left: 3.313rem;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 21.313rem;
}
.WIPB-installationpermissioninfopoin-icon2 {
  position: absolute;
  height: 33.3%;
  width: 6.78%;
  top: 55.3%;
  right: 91.52%;
  bottom: 11.4%;
  left: 1.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.WIPB-div8 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 24.625rem;
}
.WIPB-installationpermissioninfo1 {
  position: absolute;
  top: 24.625rem;
  left: calc(50% - 179px);
  width: 24.625rem;
  height: 6.25rem;
  text-align: left;
  font-size: var(--font-size-base);
}
.WIPB-galaxy-wearable-container3 {
  position: absolute;
  top: 13.125rem;
  left: calc(50% - 184px);
  font-size: 2rem;
  display: inline-block;
  width: 23.063rem;
  height: 9.375rem;
}
.WIPB-installationpermissionlogoelli4 {
  position: absolute;
  top: 1.938rem;
  left: 1.938rem;
  border-radius: 50%;
  /* border: 4px solid var(--color-royalblue-100); */
  border: 4px solid;
  border-color: royalblue;
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.WIPB-installationpermissionlogoelli5 {
  position: absolute;
  top: 1.938rem;
  left: 0rem;
  border-radius: 50%;
  /* border: 4px solid var(--color-royalblue-100); */
  border: 4px solid;
  border-color: royalblue;
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.WIPB-installationpermissionlogoelli6 {
  position: absolute;
  top: 0rem;
  left: 1.938rem;
  border-radius: 50%;
  /* border: 4px solid var(--color-royalblue-100); */
  border: 4px solid;
  border-color: royalblue;
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.WIPB-installationpermissionlogoelli7 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 50%;
  /* border: 4px solid var(--color-royalblue-100); */
  border: 4px solid;
  border-color: royalblue;
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.WIPB-installationpermissionlogo1 {
  position: absolute;
  top: 8.75rem;
  left: calc(50% - 28px);
  width: 3.5rem;
  height: 3.5rem;
}
.WIPB-installationpermissionb-09 {
  width: 100%;
  position: relative;
  /* background-color: var(--color-whitesmoke-200); */
  background-color: whitesmoke;
  height: 58.25rem;
  overflow: hidden;
  text-align: center;
  font-size
