.watchp43 {
  margin-block-start: -0.55rem;
  margin-block-end: 5px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}

.watchb37 {
  position: absolute;
  top: 0.625rem;
  left: 4.375rem;
  display: inline-block;
  font-family: var(--font-nanumgothic);
  text-align: left;
  width: 21.438rem;
}

.watchmainsettingsoundimage-icon {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 3.75rem;
  height: 3.75rem;
  object-fit: cover;
}

.watchmainsettingsoundbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6.438rem;
  left: 1.063rem;
  width: 25.813rem;
  height: 3.75rem;
}

.watchmainsettingsdline {
  position: absolute;
  top: 5.594rem;
  left: 1.031rem;
  border-top: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 25.188rem;
  height: 0.063rem;
}

.watchmainsettingmodebutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.188rem;
  left: 1.063rem;
  width: 25.813rem;
  height: 3.75rem;
}

.watchmainsettingsd {
  position: absolute;
  width: 100%;
  top: 47rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-11xl) var(--br-11xl) 0px 0px;
  background-color: var(--color-white);
  height: 11.25rem;
}

.watchquick-sharesamsung-dexandroi {
  margin: 0;
  font-size: var(--font-size-base);
  letter-spacing: -0.05em;
  color: var(--color-darkgray);
}

.watchquick-sharesamsung-dexandroi-container {
  position: absolute;
  top: 0.5rem;
  left: 4.375rem;
  display: inline-block;
  font-family: var(--font-nanumgothic);
  text-align: left;
  width: 21.438rem;
}

.watchmainsettingsconnectionbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.063rem;
  left: 1.063rem;
  width: 25.813rem;
  height: 3.75rem;
}

.watchmainsettingsc {
  position: absolute;
  width: 100%;
  top: 34.75rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 11.25rem;
}

.watchbutton7 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.688rem;
  left: 5.375rem;
  font-weight: 700;
  font-family: var(--font-nanumgothic);
  text-align: left;
  display: inline-block;
  width: 21.5rem;
}

.watchmainsettingsbulbimage-icon {
  position: absolute;
  top: 1.25rem;
  left: 1.375rem;
  width: 3.125rem;
  height: 3.125rem;
  overflow: hidden;
}

.watchmainsettingsb {
  position: absolute;
  width: 100%;
  top: 28.125rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 5.625rem;
}

.watchp52 {
  margin: 0;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
}

.watchbutton8 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.563rem;
  left: 1.75rem;
  font-weight: 700;
  font-family: var(--font-nanumgothic);
  text-align: left;
  display: inline-block;
  width: 25.125rem;
}

.watchmainsettingsa {
  position: absolute;
  width: 100%;
  top: 21.5rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 5.625rem;
}

.watchmainsettingssearchbuttonvector-icon {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.watchmainsettingssearchbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 18rem;
  right: 1.188rem;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}

.watchb39 {
  position: absolute;
  width: 100%;
  top: 0rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watchmainsettingsttitletext {
  position: absolute;
  top: 8.688rem;
  left: 0rem;
  width: 26.875rem;
  height: 3rem;
}

.watchmainsettings-02 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 58.25rem;
  overflow: hidden;
  text-align: center;
  font-size: 3rem;
  color: var(--color-black);
  font-family: var(--font-nanumgothic);
}