.WMN-b8 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.563rem;
  height: 3.75rem;
}

.WMN-matchingnumberbuttonb {
  position: absolute;
  top: 0rem;
  left: 12.5rem;
  border-radius: var(--br-11xl);
  /* background-color: var(--color-royalblue-100); */
  background-color: royalblue;
  width: 11.563rem;
  height: 3.75rem;
  overflow: hidden;
  cursor: pointer;
}

.WMN-matchingnumberbuttona {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: var(--br-11xl);
  /* background-color: var(--color-whitesmoke-300); */
  background-color: #E9E9E9;
  width: 11.563rem;
  height: 3.75rem;
  overflow: hidden;
  color: var(--color-black);
}

.WMN-matchingnumberbuttonset {
  position: absolute;
  top: 52.313rem;
  left: calc(50% - 192px);
  width: 24.063rem;
  height: 3.75rem;
}

.WMN-galaxy-wearable11 {
  font-family: var(--font-nanumgothic);
}

.WMN-galaxy-wearable10 {
  color: var(--color-black);
}

.WMN-galaxy-wearable9 {
  margin: 0;
}

.WMN-galaxy-wearable-container6 {
  position: absolute;
  top: 47rem;
  left: calc(50% - 215px);
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
  width: 26.875rem;
  /* color: var(--color-gray-400); */
  Color: gray;
}

.WMN-matchingnumberwatchimage-icon {
  position: absolute;
  top: 18.563rem;
  left: calc(50% - 125px);
  width: 15.625rem;
  height: 23.163rem;
  object-fit: cover;
}

.WMN-txt {
  width: 100%;
}

.WMN-b10 {
  position: absolute;
  top: 7.313rem;
  left: calc(50% - 215px);
  /* font-size: var(--font-size-21xl); */
  display: flex;
  color: var(--color-black);
  align-items: center;
  width: 26.875rem;
}

.WMN-matchingnumberwatchlogovector-icon {
  position: absolute;
  height: 68.25%;
  width: 50%;
  top: 15.88%;
  right: 25%;
  bottom: 15.88%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.WMN-matchingnumberwatchlogo {
  position: absolute;
  top: 1.813rem;
  left: calc(50% - 40px);
  width: 5rem;
  height: 5rem;
  overflow: hidden;
}

.WMN-matchingnumber-11 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  border-radius: 20px;
  font-family: var(--font-nanumgothic);
}
