.b26 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22.5rem;
  height: 3.75rem;
}
.softwareagreebbutton {
  position: absolute;
  top: 52.313rem;
  left: calc(50% - 180px);
  border-radius: var(--br-11xl);
  /* background-color: var(--color-royalblue-100); */
  background-color: royalblue;
  width: 22.5rem;
  height: 3.75rem;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.b27 {
  position: absolute;
  top: 0.188rem;
  left: calc(50% - 140px);
  display: flex;
  align-items: center;
  width: 19.688rem;
  height: 1.375rem;
}
.agreeacheckbox6 {
  margin: 0;
  position: absolute;
  top: 0rem;
  left: calc(50% - 175px);
  width: 1.563rem;
  height: 1.563rem;
}
.allagreecheck1 {
  position: absolute;
  top: 47.875rem;
  left: calc(50% - 164px);
  width: 21.875rem;
  height: 1.563rem;
  text-align: left;
}
.agreeacheckbox7 {
  margin: 0;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 1.738rem;
  height: 1.563rem;
}
.galaxy-wearable16 {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.p30 {
  margin: 0;
  color: #E9E9E9;
}
.galaxy-wearable-container10 {
  position: absolute;
  top: 0rem;
  left: 2.638rem;
  display: inline-block;
  width: 19.425rem;
}
.agreeacheckboxcontent51 {
  position: absolute;
  top: 22.5rem;
  left: 1.063rem;
  width: 22.063rem;
  height: 4rem;
}
.agreeacheckbox8 {
  margin: 0;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 1.563rem;
  height: 1.563rem;
  opacity: 20%;
}
.p32 {
  margin-block-start: 0;
  margin-block-end: 5px;
  font-size: var(--font-size-mini);
  letter-spacing: -0.05em;
  color: #E9E9E9;
}
.galaxy-watch5-pro-container1 {
  position: absolute;
  top: 0rem;
  left: 2.375rem;
  display: inline-block;
  width: 19.688rem;
}
.agreeacheckboxcontent41 {
  position: absolute;
  top: 15.438rem;
  left: 1.063rem;
  width: 22.063rem;
  height: 5.25rem;
}
.b28 {
  position: absolute;
  top: 0rem;
  left: 2.375rem;
  display: inline-block;
  width: 19.563rem;
}
.agreeacheckboxcontent31 {
  position: absolute;
  top: 11.063rem;
  left: 1.063rem;
  width: 21.938rem;
  height: 2.563rem;
}
.agreeacheckboxcontent21 {
  position: absolute;
  top: 6.688rem;
  left: 1.063rem;
  width: 21.938rem;
  height: 2.563rem;
}
.agreeacheckboxcontent11 {
  position: absolute;
  top: 2.313rem;
  left: 1.063rem;
  width: 22.063rem;
  height: 2.563rem;
}
.SAB-softwareagreebcheckboxset {
  position: absolute;
  top: 14.813rem;
  left: calc(50% - 184px);
  border-top: 1px dashed var(--color-darkgray);
  border-bottom: 1px dashed var(--color-darkgray);
  box-sizing: border-box;
  width: 23rem;
  height: 30.688rem;
  overflow: hidden;
  text-align: left;
}
.galaxy-wearable19 {
  text-decoration: underline;
  color: #E9E9E9;
}
.galaxy-wearable18 {
  color: var(--color-black);
}
.span8 {
  color: var(--color-gray-400);
}
.galaxy-wearable17 {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.p40 {
  margin: 0;
}
.SAB-galaxy-wearable-container11 {
  position: absolute;
  top: 10rem;
  left: calc(50% - 175px);
  letter-spacing: -0.05em;
  display: inline-block;
  text-align: left;
  width: 23.375rem;
  height: 4.25rem;
}
.SAB-b31 {
  position: absolute;
  top: 6.563rem;
  left: calc(50% - 215px);
  /* font-size: var(--font-size-23xl); */
  font-size: 1.8rem;
  display: flex;
  color: #E9E9E9;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 26.875rem;
}
.softwareagreelogovector-icon1 {
  position: absolute;
  height: 85.33%;
  width: 85.33%;
  top: 7.33%;
  right: 7.33%;
  bottom: 7.33%;
  left: 7.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 20%;
}
.softwareagreelogo1 {
  position: absolute;
  top: 2.438rem;
  left: calc(50% - 30px);
  width: 3.75rem;
  height: 3.75rem;
  overflow: hidden;
}
.SAB-button5 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3.375rem;
  left: 0rem;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-nanumgothic);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
}
.SAB-button6 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 0rem;
  font-size: var(--font-size-13xl);
  font-weight: 700;
  font-family: var(--font-nanumgothic);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
}
.softwareagreebselectbutton {
  position: absolute;
  top: 9.875rem;
  left: 0rem;
  width: 25rem;
  height: 5.375rem;
}
.galaxy-wearable20 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.galaxy-wearable-container13 {
  width: 100%;
}
.galaxy-wearable-container12 {
  position: absolute;
  top: 5.438rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 25rem;
}
.softwareagreebselectvector-icon {
  position: absolute;
  top: 1.313rem;
  left: 11.25rem;
  width: 2.5rem;
  height: 2.5rem;
}
.softwareagreebselect {
  position: absolute;
  top: 39.313rem;
  left: calc(50% - 200px);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 25rem;
  height: 17.5rem;
  overflow: hidden;
  color: var(--color-dimgray);
}
.softwareagreeb-15 {
  width: 100%;
  position: relative;
  /* background-color: var(--color-whitesmoke-200); */
  background-color: whitesmoke; 
  height: 58.25rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  border-radius: 20px;
  font-family: var(--font-nanumgothic);
}
