@keyframes slide-in-left {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.div5 {
  position: absolute;
  top: 199px;
  left: 27px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 80px;
}
.searchhistoryframe-child {
  position: absolute;
  top: calc(50% - 22px);
  left: 0;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.digital-highway1 {
  position: absolute;
  top: 13px;
  left: 56px;
  font-weight: 600;
  display: inline-block;
  width: 200px;
}
.phx-bold-icon1,
.xbutton {
  position: absolute;
  overflow: hidden;
}
.phx-bold-icon1 {
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  width: 16px;
  height: 16px;
}
.xbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 16px);
  right: 0;
  width: 32px;
  height: 32px;
}
.searchhistoryframe {
  position: absolute;
  top: 8px;
  left: 24px;
  width: 348px;
  height: 44px;
}
.searchhistory,
.searchhistory1,
.searchhistory2,
.searchhistory3 {
  position: absolute;
  top: 249px;
  left: 0;
  width: 398px;
  height: 60px;
  overflow: hidden;
}
.searchhistory1,
.searchhistory2,
.searchhistory3 {
  top: 309px;
}
.searchhistory2,
.searchhistory3 {
  top: 369px;
}
.searchhistory3 {
  top: 429px;
}
.searchhistory4,
.searchhistory5,
.searchhistory6,
.searchhistory7,
.searchhistory8 {
  position: absolute;
  top: 489px;
  left: 0;
  width: 398px;
  height: 60px;
  overflow: hidden;
}
.searchhistory5,
.searchhistory6,
.searchhistory7,
.searchhistory8 {
  top: 549px;
}
.searchhistory6,
.searchhistory7,
.searchhistory8 {
  top: 609px;
}
.searchhistory7,
.searchhistory8 {
  top: 669px;
}
.searchhistory8 {
  top: 729px;
}
.searchhistory9 {
  top: 789px;
  left: 0;
  width: 398px;
  height: 60px;
}
.phx-bold1,
.searchhistory9,
.vector-icon3 {
  position: absolute;
  overflow: hidden;
}
.vector-icon3 {
  height: 65.63%;
  width: 65.63%;
  top: 17.19%;
  right: 17.19%;
  bottom: 17.19%;
  left: 17.19%;
  max-width: 100%;
  max-height: 100%;
}
.phx-bold1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 20px;
  left: 354px;
  width: 32px;
  height: 32px;
}
.followinggroup-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 199px;
  height: 68px;
}
.b7 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 49.5px);
  font-size: var(--font-size-13xl);
  display: flex;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.followgroup,
.followinggroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 105px;
  left: 199px;
  width: 199px;
  height: 68px;
}
.followgroup {
  left: 0;
}
.b9 {
  position: absolute;
  top: 20px;
  left: 32px;
  display: inline-block;
  width: 66px;
}
.followsidebar,
.sidebarheader1 {
  width: 398px;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.sidebarheader1 {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 173px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
}
.followsidebar {
  height: 100%;
  border-radius: 0 var(--br-base) var(--br-base) 0;
  background-color: var(--color-white);
  overflow-y: auto;
  opacity: 0;
  max-width: 90%;
  overflow: auto;
  font-size: var(--font-size-base);
}
.followsidebar.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-left;
}
