.reconfirm-child,
.reconfirm-item {
  position: absolute;
  left: 0;
  width: 26.875rem;
}
.reconfirm-child {
  border: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(72, 163, 71, 0.25),
    rgba(27, 61, 27, 0.25)
  );
  height: 46.875rem;
}
.reconfirm-item {
  top: 32rem;
  border-radius: 15px 15px 0 0;
  background-color: #fff;
  height: 18rem;
}
.child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: #3870ff;
  width: 23.875rem;
  height: 3.75rem;
}
.div32 {
  top: 1.188rem;
  left: 9.813rem;
  font-size: 1.125rem;
  font-weight: 600;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.button6,
.div32,
.div33 {
  position: absolute;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 44.75rem;
  left: 1.5rem;
  width: 23.875rem;
  height: 3.75rem;
}
.div33 {
  top: 15.625rem;
  left: 10.375rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: left;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 18px;
  background-color: #fff;
  width: 23.438rem;
  height: 2.813rem;
}
.phx-icon {
  position: absolute;
  top: 0.563rem;
  left: 0.938rem;
  width: 1.875rem;
  height: 1.875rem;
  overflow: hidden;
}
.div34 {
  position: relative;
  font-weight: 500;
}
.chevron-right-icon1 {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.parent6 {
  position: absolute;
  top: 0.75rem;
  left: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.688rem;
}
.rectangle-parent2 {
  position: absolute;
  top: 3rem;
  left: 1.5rem;
  width: 23.438rem;
  height: 2.813rem;
  font-size: 1rem;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(217, 217, 217, 0.51);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 26.875rem;
  height: 4rem;
}
.div36 {
  top: 1.719rem;
  left: 1.75rem;
}
.div36,
.div37,
.div38 {
  position: absolute;
  font-weight: 500;
}
.div37 {
  top: 1.719rem;
  left: 17.563rem;
  color: rgba(0, 0, 0, 0.44);
}
.div38 {
  top: 1.5rem;
  left: 19.438rem;
  font-size: 1.25rem;
}
.frame-child4,
.rectangle-parent3 {
  position: absolute;
  left: 0;
  width: 26.875rem;
}
.rectangle-parent3 {
  top: 40.75rem;
  height: 4rem;
}
.frame-child4 {
  top: 0;
  background-color: rgba(217, 217, 217, 0.51);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 3.25rem;
}
.rectangle-icon {
  position: absolute;
  top: 1.156rem;
  left: 1.875rem;
  width: 1.688rem;
  height: 0.875rem;
  object-fit: cover;
}
.div39 {
  position: absolute;
  top: 1.063rem;
  left: 4.063rem;
  font-weight: 500;
}
.rectangle-parent4 {
  position: absolute;
  top: 37.5rem;
  left: 0;
  width: 26.875rem;
  height: 3.25rem;
}
.frame-child5 {
  width: 2.75rem;
  position: relative;
  height: 2rem;
  object-fit: cover;
}
.rectangle-parent5 {
  position: absolute;
  top: 32rem;
  left: 0;
  background-color: #fff;
  width: 26.875rem;
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem 1.875rem 1.938rem;
  box-sizing: border-box;
  gap: 1.063rem;
}
.reconfirm {
  width: 100%;
  position: relative;
  background-color: #c4c4c4;
  height: 50rem;
  overflow: hidden;
  text-align: center;
  font-size: 0.875rem;
  color: #000;
  font-family: Inter;
}
