.child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fffefe;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 23.5rem;
  height: 3.688rem;
}
.div15,
.div16,
.div17 {
  position: absolute;
  top: 1.375rem;
  left: 1rem;
}
.div15,
.div17 {
  left: 18.438rem;
}
.div15 {
  top: 10.313rem;
  left: 1.688rem;
  width: 23.5rem;
  height: 3.688rem;
}
.child2 {
  top: 0;
  left: 0;
  border-radius: 30px;
  background-color: #f6ed1d;
  width: 20rem;
  height: 4.25rem;
}
.b10,
.button2,
.child2 {
  position: absolute;
}
.b10 {
  top: 1.438rem;
  left: calc(50% - 17px);
  font-size: 1.125rem;
  font-family: Inter;
  color: #000;
  text-align: left;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 40.125rem;
  left: 3.438rem;
  width: 20rem;
  height: 4.25rem;
}
.cardinfo {
  width: 100%;
  position: relative;
  background-color: #c4c4c4;
  height: 50rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.75rem;
  color: #000;
  font-family: Inter;
}
