.taxipick-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 26.875rem;
  height: 7.5rem;
}
.fluent-mdl2back-icon {
  position: absolute;
  top: 1.563rem;
  left: 1.313rem;
  width: 1.438rem;
  height: 1.438rem;
  overflow: hidden;
  cursor: pointer;
}
.taxipick-item {
  position: absolute;
  top: 3.313rem;
  left: 2.063rem;
  border-radius: 18px;
  background-color: #efefef;
  width: 23.438rem;
  height: 2.813rem;
}
.div29 {
  position: relative;
  font-weight: 500;
}
.chevron-right-icon {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.parent5 {
  position: absolute;
  top: 4rem;
  left: 4.563rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.688rem;
}
.child5,
.child6,
.rectangle-a {
  position: absolute;
  top: 0;
  height: 7rem;
}
.rectangle-a {
  cursor: pointer;
  text-decoration: none;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  width: 22.75rem;
}
.child5,
.child6 {
  background-color: #d9d9d9;
  width: 11.375rem;
}
.child5 {
  left: 0;
}
.child6 {
  left: 11.375rem;
}
.b18,
.b19 {
  position: absolute;
  top: calc(50% - 11px);
  left: 7rem;
}
.b19 {
  left: 14.688rem;
}
.div31,
.notobus-icon {
  position: absolute;
  top: 1.438rem;
  left: 1.063rem;
  width: 3.875rem;
  height: 3.25rem;
  overflow: hidden;
}
.div31 {
  top: 27.5rem;
  left: 2.063rem;
  border-radius: 10px;
  width: 22.75rem;
  height: 7rem;
  font-size: 1.125rem;
}
.taxipick {
  width: 100%;
  position: relative;
  border-radius: 20px 20px 0 0;
  background-color: #c4c4c4;
  height: 46.875rem;
  overflow: hidden;
  text-align: center;
  font-size: 1rem;
  color: #000;
  font-family: Inter;
}
