.mainpage-footer {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -18.75rem;
  left: 0;
  background-color: var(--contents);
  height: 18.75rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  /* font-family: var(--font-noto-sans-kr); */
  font-family: var(--font-main);
}
.mainpage-footer-logo-icon {
  position: absolute;
  height: 77.33%;
  top: 11.33%;
  bottom: 11.33%;
  left: 2.313rem;
  max-height: 100%;
  width: 14.438rem;
  object-fit: cover;
}
.mainpage-footer-title {
  position: absolute;
  top: 21%;
  right: 3.313rem;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  text-align: left;
}
.mainpage-footer-footermenutext {
  position: absolute;
  right: 3.313rem;
  height: 17.33%;
  top: 50%;
  bottom: 32.67%;
  width: 80.438rem;
  font-size: var(--font-size-13xl);
}
.mainpage-footer-div,
.mainpage-footer-div1 {
  position: absolute;
  top: 0;
  left: 73.063rem;
}
.mainpage-footer-div1 {
  left: 56.563rem;
}
.mainpage-footer-div2,
.mainpage-footer-div3,
.mainpage-footer-div4,
.mainpage-footer-div5 {
  position: absolute;
  top: 0;
  left: 38.688rem;
}
.mainpage-footer-div3,
.mainpage-footer-div4,
.mainpage-footer-div5 {
  left: 28.188rem;
}
.mainpage-footer-div4,
.mainpage-footer-div5 {
  left: 17.688rem;
}
.mainpage-footer-div5 {
  left: 7.188rem;
}
.mainpage-footer-copyright {
  position: absolute;
  top: 68.67%;
  right: 3.313rem;
}