.kikio-cardnickname-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fffefe;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 23.5rem;
  height: 3.688rem;
}
.kikio-cardnickname,
.kikio-div17,
.kikio-div18 {
  position: absolute;
  top: 1.375rem;
  left: 1rem;
}
.kikio-cardnickname,
.kikio-div18 {
  left: 18.438rem;
}
.kikio-cardnickname {
  top: 10.25rem;
  left: 1.688rem;
  width: 23.5rem;
  height: 3.688rem;
}
.kikio-cardinfoinput-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fffefe;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 23.5rem;
  height: 18.188rem;
}
.kikio-cvc,
.kikio-div19,
.kikio-div20,
.kikio-div21 {
  position: absolute;
  top: 2rem;
  left: 1.75rem;
}
.kikio-cvc,
.kikio-div20,
.kikio-div21 {
  top: 5.813rem;
}
.kikio-div20,
.kikio-div21 {
  top: 9.625rem;
}
.kikio-div21 {
  top: 13.438rem;
}
.kikio-cardinfoinput-child1,
.kikio-cardinfoinput-inner,
.kikio-cardinfoinput-item,
.kikio-rectangle-input {
  border: 0;
  outline: 0;
  background-color: transparent;
  position: absolute;
  top: 6.75rem;
  left: 1.75rem;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  width: 20rem;
  height: 2.25rem;
}
.kikio-cardinfoinput-child1,
.kikio-cardinfoinput-inner,
.kikio-rectangle-input {
  top: 10.563rem;
}
.kikio-cardinfoinput-child1,
.kikio-rectangle-input {
  top: 14.375rem;
}
.kikio-cardinfoinput-child1 {
  top: 2.938rem;
}
.kikio-cardinfoinput {
  position: absolute;
  top: 16.438rem;
  left: 1.688rem;
  width: 23.5rem;
  height: 18.188rem;
  overflow: hidden;
}
.kikio-checkbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
  background-color: #f6ed1d;
  width: 20rem;
  height: 4.25rem;
}
.kikio-b11 {
  position: absolute;
  top: 1.438rem;
  left: calc(50% - 17px);
  font-size: 1.125rem;
  font-family: Inter;
  color: #000;
  text-align: left;
}
.kikio-checkbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 40.25rem;
  left: 3.438rem;
  width: 20rem;
  height: 4.25rem;
}
.kikio-cardinfo-05 {
  width: 100%;
  position: relative;
  background-color: #c4c4c4;
  height: 50rem;
  overflow: hidden;
  text-align: left;
  font-size: 0.75rem;
  color: #000;
  font-family: Inter;
}
