.cardcomplete-07-child {
  position: absolute;
  top: 6.375rem;
  left: 3.688rem;
  border-radius: 15px;
  background-color: #fff;
  width: 19.438rem;
  height: 35.375rem;
}
.b14 {
  width: 15rem;
  position: relative;
  display: inline-block;
}
.completetext {
  position: absolute;
  top: 11.375rem;
  left: 3.688rem;
  width: 19.438rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.812rem 3rem;
  box-sizing: border-box;
}
.b15 {
  width: 5.875rem;
  position: relative;
  font-size: 1rem;
  display: inline-block;
  font-family: Inter;
  color: #000;
  text-align: center;
}
.div26,
.gohome {
  width: 17.938rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div26 {
  border-radius: 30px;
  background-color: #f6ed1d;
  height: 4.25rem;
  align-items: flex-end;
  padding: 0 6rem;
  box-sizing: border-box;
}
.gohome {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 32.5rem;
  left: 4.438rem;
  align-items: center;
}
.cardcomplete-07 {
  width: 100%;
  position: relative;
  background-color: #c4c4c4;
  height: 50rem;
  overflow: hidden;
  text-align: center;
  font-size: 1.125rem;
  color: #000;
  font-family: Inter;
}
