.kikio-completeheadbox,
.kikio-mapbox3 {
  position: absolute;
  left: 0;
  width: 26.875rem;
}
.kikio-mapbox3 {
  border: 0;
  top: 13.688rem;
  background: linear-gradient(
    180deg,
    rgba(72, 163, 71, 0.25),
    rgba(27, 61, 27, 0.25)
  );
  height: 36.313rem;
}
.kikio-completeheadbox {
  top: 0;
  background-color: #d9d9d9;
  height: 19.938rem;
}
.kikio-driverpic-icon {
  position: absolute;
  top: 6.5rem;
  left: 9.813rem;
  border-radius: 50%;
  width: 7.188rem;
  height: 7.188rem;
  object-fit: cover;
}
.kikio-licenseplate {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 14.875rem;
  height: 3.813rem;
}
.kikio-div54 {
  position: absolute;
  top: 1.25rem;
  left: 3.938rem;
  font-weight: 600;
}
.kikio-numberbox {
  position: absolute;
  top: 14.563rem;
  left: 6.375rem;
  width: 14.875rem;
  height: 3.813rem;
}
.kikio-complete-14 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 50rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.125rem;
  color: #000;
  font-family: Inter;
}
