@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.kikio-p {
  margin: 0;
  font-family: "Nanum Gothic";
}
.kikio-div {
  position: relative;
}
.kikio-fa6-solidt-icon {
  width: 7.313rem;
  position: undefined;
  height: 7.688rem;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 0.062rem;
}
.kikio-frame,
.kikio-frame1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kikio-frame1 {
  width: 7.375rem;
  height: 10.25rem;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: 0.687rem;
}
.kikio-frame {
  position: absolute;
  top: 7.625rem;
  left: -0.25rem;
  width: 27.375rem;
  height: 22.688rem;
  justify-content: center;
}
.kikio-child {
  top: 8.1rem;
  left: 0;
  background-color: #dbdf0d;
  width: 26.875rem;
  height: 5.25rem;
  cursor: pointer;
}
.kikio-button,
.kikio-child,
.kikio-div1 {
  position: absolute;
}
.kikio-div1 {
  top: 10rem;
  left: calc(50% - 73px);
  font-size: 1rem;
  font-weight: 600;
  font-family: "Nanum Gothic";
  color: #000;
  text-align: center;
}
.kikio-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 44.75rem;
  left: 0;
  width: 26.875rem;
  height: 5.25rem;
}
.kikio-first-01 {
  width: 100%;
  position: relative;
  background-color: #1e232d;
  height: 58.25rem;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
  font-family: "Nanum Gothic";
}
