.kikio-home-filled-icon {
  width: 3.75rem;
  position: relative;
  height: 3.75rem;
  overflow: hidden;
  flex-shrink: 0;
}
.kikio-div27 {
  width: 3rem;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.kikio-home-filled-parent {
  position: absolute;
  top: 0.563rem;
  left: 2.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.kikio-hometab,
.notificationtab-child {
  background-color: #d9d9d9;
  height: 6.25rem;
}
.kikio-hometab {
  flex: 1;
  position: relative;
}
.kikio-notificationtab-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 8.944rem;
}
.kikio-bell-icon {
  width: 3.744rem;
  position: relative;
  height: 3.75rem;
  object-fit: cover;
}
.kikio-div28 {
  width: 4.688rem;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.kikio-bell-parent {
  position: absolute;
  top: 0.563rem;
  left: 2.181rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kikio-notificationtab,
.kikio-payment-icon {
  width: 8.944rem;
  position: relative;
  height: 6.25rem;
}
.kikio-payment-icon {
  width: 3.744rem;
  height: 3.75rem;
  overflow: hidden;
  flex-shrink: 0;
}
.kikio-payment-parent {
  position: absolute;
  top: 0.563rem;
  left: 2.619rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kikio-paymenttab {
  width: 8.944rem;
  position: relative;
  height: 6.25rem;
  cursor: pointer;
}
.kikio-homebottommenu {
  position: absolute;
  top: 43.75rem;
  left: 0;
  width: 26.831rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
.kikio-taxibutton-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4feff;
  width: 9.438rem;
  height: 6.25rem;
}
.kikio-noto-v1taxi-icon {
  width: 2.5rem;
  position: relative;
  height: 2.375rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.kikio-b16 {
  position: relative;
}
.kikio-noto-v1taxi-parent {
  position: absolute;
  top: 1.25rem;
  left: 3.438rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.kikio-taxibutton {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#f4feff, #f4feff),
    linear-gradient(#f4feff, #f4feff), linear-gradient(#f4feff, #f4feff),
    linear-gradient(#d9d9d9, #d9d9d9), #d9d9d9;
  width: 9.438rem;
  height: 6.25rem;
  cursor: pointer;
}
.kikio-uimcalender-icon {
  width: 2.25rem;
  position: relative;
  height: 2.375rem;
  overflow: hidden;
  flex-shrink: 0;
}
.kikio-uimcalender-parent {
  position: absolute;
  top: 1.25rem;
  left: 2.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.kikio-reservationbutton {
  position: absolute;
  top: -0.062rem;
  left: 9.375rem;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 9.5rem;
  height: 6.25rem;
}
.kikio-bikebutton-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4feff;
  width: 18.875rem;
  height: 6.25rem;
}
.kikio-emojionebicycle-icon {
  width: 2.625rem;
  position: relative;
  height: 2.375rem;
  overflow: hidden;
  flex-shrink: 0;
}
.kikio-emojionebicycle-parent {
  position: absolute;
  top: 1.25rem;
  left: 7.813rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.kikio-bikebutton,
.kikio-hometaxibutton {
  position: absolute;
  width: 18.875rem;
}
.kikio-bikebutton {
  top: 6.188rem;
  left: 0;
  background: linear-gradient(#f4feff, #f4feff),
    linear-gradient(#f4feff, #f4feff), linear-gradient(#f4feff, #f4feff),
    #d9d9d9;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  height: 6.313rem;
}
.kikio-hometaxibutton {
  top: calc(50% - 125px);
  left: 3.938rem;
  height: 12.5rem;
}
.kikio-homesearchbar-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  background-color: transparent;
  border: 1.5px solid #237fd5;
  box-sizing: border-box;
  width: 18.875rem;
  height: 3.375rem;
  cursor: pointer;
}
.kikio-material-symbolssearch-icon {
  position: absolute;
  top: 0.75rem;
  left: 16.25rem;
  width: 1.875rem;
  height: 1.875rem;
  overflow: hidden;
}
.kikio-div30 {
  position: absolute;
  top: 1rem;
  left: 1.938rem;
  font-weight: 600;
  cursor: pointer;
}
.kikio-homesearchbar {
  position: absolute;
  top: 4.688rem;
  left: 3.938rem;
  width: 18.875rem;
  height: 3.375rem;
  overflow: hidden;
  text-align: left;
  color: #878585;
}
.kikio-home-08 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 50rem;
  overflow: hidden;
  text-align: center;
  font-size: 1.125rem;
  color: #000;
  font-family: Inter;
}
