.kikio-b2 {
  position: relative;
}
.kikio-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
}
.kikio-chevron-down-icon {
  position: absolute;
  top: 1.313rem;
  left: 20.813rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.kikio-div4,
.kikio-t {
  position: absolute;
}
.kikio-div4 {
  top: 0;
  left: 0;
  border-radius: 30px;
  width: 23.5rem;
  height: 4.25rem;
}
.kikio-t {
  top: calc(50% - 7px);
  left: 2.688rem;
}
.kikio-cellphone,
.kikio-creditcard,
.kikio-kikiopoint {
  align-self: stretch;
  position: relative;
  height: 4.25rem;
}
.kikio-creditcard {
  cursor: pointer;
}
.kikio-cellphone {
  text-align: left;
}
.kikio-paymentmethod-03,
.kikio-paymentmethodbutton {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kikio-paymentmethodbutton {
  width: 23.5rem;
  justify-content: flex-start;
  gap: 0.75rem;
  text-align: center;
  font-size: 0.75rem;
}
.kikio-paymentmethod-03 {
  width: 100%;
  position: relative;
  background-color: #c4c4c4;
  height: 50rem;
  justify-content: center;
  padding: 5.937rem 1.687rem;
  box-sizing: border-box;
  gap: 8.25rem;
  text-align: left;
  font-size: 1rem;
  color: #000;
  font-family: Inter;
}
