.kikio-p2 {
  margin: 0;
}
.kikio-div2 {
  position: relative;
}
.kikio-container,
.kikio-wrapper {
  position: absolute;
  left: 0;
  width: 26.875rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}
.kikio-wrapper {
  top: 9.063rem;
  height: 6rem;
  align-items: flex-start;
  padding: 1.187rem 6.437rem;
  text-align: left;
}
.kikio-container {
  top: 15.125rem;
  height: 5.063rem;
  align-items: center;
  padding: 1.937rem 0;
}
.kikio-b {
  align-self: stretch;
  position: relative;
  font-size: 0.75rem;
  font-family: Inter;
  color: #000;
  text-align: center;
}
.kikio-button1,
.kikio-infoinputbutton-child {
  width: 13.438rem;
  height: 4.813rem;
  cursor: pointer;
}
.kikio-button1 {
  border: 0;
  padding: 0;
  background-color: #d9d9d9;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kikio-infoinputbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4472eb;
}
.kikio-b1 {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 56.5px);
  display: inline-block;
  width: 7.125rem;
  height: 0.875rem;
}
.kikio-infoinputbutton {
  flex: 1;
  position: relative;
  height: 4.813rem;
  overflow: hidden;
}
.kikio-secondpagebottom {
  position: absolute;
  top: 45.188rem;
  left: 0;
  width: 26.875rem;
  height: 4.875rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}
.kikio-second-02 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 50rem;
  overflow: hidden;
  text-align: center;
  font-size: 0.75rem;
  color: #000;
  font-family: Inter;
}
