@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-div56 {
  position: absolute;
  width: 62.09%;
  top: 1.125rem;
  left: 37.91%;
  display: flex;
  align-items: center;
}
.krail-div57 {
  position: absolute;
  width: 97.91%;
  top: 4.625rem;
  left: 2.09%;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.krail-p81 {
  margin: 0;
}
.krail-txt17 {
  line-break: anywhere;
  width: 100%;
}
.krail-div58 {
  position: absolute;
  top: 0.938rem;
  left: 0.938rem;
  font-size: 1.375rem;
  display: flex;
  align-items: center;
  width: 7rem;
}
.krail-paymentmethodmaininput3checkbo {
  margin: 0;
  position: absolute;
  width: 5.81%;
  top: 0.938rem;
  right: 64.65%;
  left: 29.53%;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 1.563rem;
}
.krail-paymentmethodmaininput3 {
  position: absolute;
  width: 100%;
  top: 29.625rem;
  right: 0%;
  left: 0%;
  background-color: #F8F8F8;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 8.563rem;
  font-size: 1.125rem;
}
.krail-div59 {
  position: absolute;
  top: 0.188rem;
  left: 2.688rem;
  text-decoration: underline;
  display: flex;
  align-items: center;
  width: 22.438rem;
}
.krail-paymentmethodmaininput2checkbo {
  margin: 0;
  position: absolute;
  top: 0rem;
  left: 0rem;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.krail-paymentmethodmaininput2check {
  position: absolute;
  top: 23.25rem;
  left: 1.75rem;
  width: 25.125rem;
  height: 1.563rem;
}
.krail-div60 {
  position: absolute;
  top: 0.438rem;
  left: 2.94%;
}
.krail-vector-icon21 {
  position: absolute;
  height: 20%;
  width: 5.15%;
  top: 40%;
  right: 3.31%;
  bottom: 40%;
  left: 91.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-installmentbutton {
  position: absolute;
  top: 18.813rem;
  left: 0.063rem;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  width: 17rem;
  height: 2.188rem;
}
.krail-div61 {
  position: absolute;
  top: 2.375rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 17rem;
}
.krail-birthdateinput {
  border: 1px solid #D9D9D9;
  outline: none;
  background-color: #FFF;
  position: absolute;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  width: 17rem;
  height: 2.188rem;
  font-size: 1.5rem;
}
.krail-birthdate {
  position: absolute;
  top: 14.188rem;
  left: 0rem;
  width: 17rem;
  height: 3.5rem;
  font-size: 1.125rem;
  color: #7659AD;
}
.krail-div62 {
  position: absolute;
  top: 0.375rem;
  left: 2.375rem;
}
.krail-cardtypeselect2radio-icon {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 1.875rem;
  height: 1.875rem;
}
.krail-cardtypeselect2 {
  position: absolute;
  top: 0rem;
  left: 6.313rem;
  width: 4.75rem;
  height: 1.875rem;
}
.krail-div63 {
  position: absolute;
  top: 0.313rem;
  left: 2.063rem;
}
.krail-cardtypeselect1 {
  position: absolute;
  top: 0.063rem;
  left: 0rem;
  width: 4.438rem;
  height: 1.875rem;
}
.krail-cardtypeselect {
  position: absolute;
  top: 11.438rem;
  left: 0rem;
  width: 11.063rem;
  height: 1.938rem;
}
.krail-div64 {
  position: absolute;
  top: 0.5rem;
  left: 4.1rem;
}
.krail-passwordinput {
  border: 1px solid #D9D9D9;
  outline: none;
  background-color: #FFF;
  position: absolute;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  width: 3.438rem;
  height: 2.188rem;
  font-size: 1.5rem;
}
.krail-password {
  position: absolute;
  top: 8.438rem;
  left: 0.063rem;
  width: 5.313rem;
  height: 2.188rem;
}
.krail-div65 {
  position: absolute;
  top: 0.5rem;
  left: 5.188rem;
}
.krail-dateyearinput {
  border: 1px solid #D9D9D9;
  outline: none;
  font-family: 'Nanum Gothic';
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #FFF;
  position: absolute;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  width: 5rem;
  height: 2.188rem;
  padding: 0.5rem 0rem 0.5rem;
  /* color: #D9D9D9; */
}
.krail-dateyear {
  position: absolute;
  top: 0rem;
  left: 6.25rem;
  width: 5.375rem;
  height: 2.188rem;
}
.krail-datemonthinput {
  border: 1px solid #D9D9D9;
  outline: none;
  font-family: 'Nanum Gothic';
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #FFF;
  position: absolute;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  width: 3.9rem;
  height: 2.188rem;
  padding: 0.5rem 0.1rem 0.5rem;
  /* color: #D9D9D9; */
}
.krail-datemonth {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 4.938rem;
  height: 2.188rem;
}
.krail-expirationdate {
  position: absolute;
  top: 5.375rem;
  left: 0.063rem;
  width: 11.625rem;
  height: 2.188rem;
}
.krail-newcardinput1 {
  border: 1px solid #D9D9D9;
  outline: none;
  background-color: #FFF;
  width: 4.063rem;
  position: relative;
  box-sizing: border-box;
  height: 2.188rem;
  font-size: 1.5rem;
}
.krail-newcardinput {
  position: absolute;
  top: 2.438rem;
  left: 0rem;
  width: 17.188rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.312rem;
}
.krail-div67 {
  position: absolute;
  width: 96.69%;
  top: 0.438rem;
  left: 3.31%;
  display: flex;
  align-items: center;
}
.krail-registeredcardbutton {
  position: absolute;
  top: -0.5rem;
  left: 0rem;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  width: 17rem;
  height: 2.188rem;
}
.krail-paymentmethodmaininput2card {
  position: absolute;
  width: 63.49%;
  top: 1.188rem;
  right: 2.09%;
  left: 34.42%;
  height: 21rem;
}
.krail-div68 {
  position: absolute;
  top: 19.313rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
}
.krail-div69 {
  position: absolute;
  top: 14.688rem;
  left: 0rem;
}
.krail-div70 {
  position: absolute;
  top: 11.75rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
}
.krail-div71 {
  position: absolute;
  top: 8.813rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
}
.krail-div72 {
  position: absolute;
  top: 5.875rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
}
.krail-div73 {
  position: absolute;
  top: 2.938rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
}
.krail-div74 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
  font-size: 1.15rem;
}
.krail-paymentmethodmaininput2text {
  position: absolute;
  top: 1.125rem;
  left: 0.75rem;
  width: 8.5rem;
  height: 21.063rem;
  font-size: 1.375rem;
}
.krail-paymentmethodmaininput2 {
  position: absolute;
  width: 100%;
  top: 3.25rem;
  right: 0%;
  left: 0%;
  background-color: #F8F8F8;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 26.25rem;
}
.krail-b155 {
  position: absolute;
  top: 0.875rem;
  right: 0rem;
  display: flex;
  align-items: center;
  width: 5.813rem;
  cursor: pointer;
}
.krail-paymentmethodmaininput1reloadb-icon {
  position: absolute;
  top: 0.875rem;
  right: 6.125rem;
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
  cursor: pointer;
}
.krail-paymentmethodmaininput1 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #F8F8F8;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 3.125rem;
  color: #7659AD;
}
.krail-paymentmethodmaininput {
  position: absolute;
  width: 100%;
  top: 22.813rem;
  right: 0%;
  left: 0%;
  height: 38.188rem;
}
.krail-b156 {
  position: absolute;
  width: 100%;
  top: 1.625rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-paymentmethodmaininfo3button-icon {
  position: absolute;
  width: 3.26%;
  top: 4.625rem;
  right: 48.37%;
  left: 48.37%;
  max-width: 100%;
  overflow: hidden;
  height: 0.438rem;
}
.krail-paymentmethodmaininfo3 {
  position: absolute;
  width: 100%;
  top: 16.438rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 6.25rem;
  font-size: 1.5rem;
}
.krail-div75 {
  position: absolute;
  width: 100%;
  top: 3.313rem;
  left: 0%;
  color: #7659AD;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-ktx7 {
  position: absolute;
  top: 0.75rem;
  left: 0.813rem;
  text-align: left;
  display: flex;
  align-items: center;
  width: 17.688rem;
}
.krail-ktx8 {
  position: absolute;
  width: 100%;
  top: 5.813rem;
  left: 0%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-div76 {
  position: absolute;
  top: 0.75rem;
  right: 5.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
}
.krail-paymentmethodmaininfo2button2-icon {
  position: absolute;
  width: 3.49%;
  top: 8.813rem;
  right: 48.37%;
  left: 48.14%;
  max-width: 100%;
  overflow: hidden;
  height: 0.438rem;
}
.krail-div77 {
  position: absolute;
  top: 0.313rem;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.313rem;
  height: 0.688rem;
}
.krail-paymentmethodmaininfo2button1 {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background-color: #E4DEF0;
  width: 4.375rem;
  height: 1.25rem;
  font-size: 1rem;
  color: #7659AD;
}
.krail-paymentmethodmaininfo2 {
  position: absolute;
  width: 100%;
  top: 6rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 10.313rem;
}
.krail-b157 {
  position: absolute;
  top: 0.938rem;
  left: 18rem;
  right: 0.625rem;
  font-size: 1.75rem;
  display: flex;
  color: #7659AD;
  align-items: center;
  width: 15.688rem;
}
.krail-div78 {
  position: absolute;
  top: 3.688rem;
  left: 0.438rem;
  text-align: left;
  display: flex;
  align-items: center;
  width: 13.063rem;
}
.krail-div79 {
  position: absolute;
  top: 3.75rem;
  left: 13rem;
  right: 0.625rem;
  display: flex;
  align-items: center;
  width: 15.688rem;
}
.krail-b158 {
  position: absolute;
  top: 1.063rem;
  left: 0.438rem;
  font-size: 1.375rem;
  display: flex;
  text-align: left;
  align-items: center;
  width: 13.063rem;
}
.krail-paymentmethodmaininfo1 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.938rem;
  text-align: right;
}
.krail-paymentmethodmaininfo {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 22.688rem;
  text-align: center;
}
.krail-paymentmethodmain {
  position: absolute;
  width: 100%;
  top: 8.25rem;
  right: 0%;
  left: 0%;
  height: 61rem;
  overflow-y: auto;
  text-align: left;
  font-size: 1.25rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-b159 {
  position: absolute;
  width: 100%;
  top: 1.063rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-easypaymentbutton {
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 0%;
  left: 50%;
  background-color: #FFF;
  height: 4.156rem;
}
.krail-b160 {
  position: absolute;
  width: 100%;
  top: 1.188rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-cardpaymentbutton {
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 50%;
  left: 0%;
  background-color: #FFF;
  border-bottom: 2px solid #7659AD;
  box-sizing: border-box;
  height: 4.156rem;
  color: #7659AD;
}
.krail-paymentmethodheaderbutton {
  position: absolute;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  height: 4.156rem;
}
.krail-b161 {
  position: absolute;
  width: 100%;
  top: 1.125rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-headerclosebuttonvector-icon1 {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 1.375rem;
  height: 1.375rem;
}
.krail-headerclosebutton1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.25rem;
  right: 1.313rem;
  width: 1.375rem;
  height: 1.375rem;
}
.krail-paymentmethodheadertitle {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #7659AD;
  height: 4.063rem;
  color: #FFF;
}
.krail-paymentmethodheader {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 8.219rem;
  text-align: center;
  font-size: 1.75rem;
  color: #CCCECF;
  font-family: 'Nanum Gothic';
}
.krail-b162 {
  position: absolute;
  width: 100%;
  bottom: 1.188rem;
  left: 0%;
  font-size: 1.75rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #7659AD;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.krail-paymentfooterbuttonissuance {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #E5DEF0;
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 0%;
  left: 50%;
  border-left: 1px solid #8A8D8E;
  box-sizing: border-box;
  height: 4.375rem;
}
.krail-paymentfooterbuttonprev {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #E5DEF0;
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 50%;
  left: 0%;
  border-right: 1px solid #8A8D8E;
  box-sizing: border-box;
  height: 4.375rem;
}
.krail-paymentfooterbuttonset1 {
  position: absolute;
  width: 100%;
  top: 5rem;
  right: 0%;
  left: 0%;
  height: 4.375rem;
}
.krail-b164 {
  position: absolute;
  width: 93.95%;
  bottom: 1.625rem;
  left: 6.05%;
  display: flex;
  align-items: center;
}
.krail-b165 {
  position: absolute;
  width: 38.6%;
  bottom: 1.375rem;
  left: 61.4%;
  font-size: 2rem;
  display: flex;
  color: #FFF;
  align-items: center;
}
.krail-paymentfooterprice1 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 5rem;
}
.krail-paymentmethodfooter {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  right: 0%;
  bottom: 0.063rem;
  left: 0%;
  height: 9.375rem;
  text-align: left;
  font-size: 1.5rem;
  color: #E5DEF0;
  font-family: 'Nanum Gothic';
}
.krail-paymentmethod-14 {
  width: 100%;
  position: relative;
  background-color: #F8F8F8;
  height: 78.688rem;
  overflow-y: auto;
}
