.div56 {
  position: absolute;
  width: 62.09%;
  top: 1.125rem;
  left: 37.91%;
  display: flex;
  align-items: center;
}
.div57 {
  position: absolute;
  width: 97.91%;
  top: 4.625rem;
  left: 2.09%;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
}
.p81 {
  margin: 0;
}
.txt17 {
  line-break: anywhere;
  width: 100%;
}
.div58 {
  position: absolute;
  top: 0.938rem;
  left: 0.938rem;
  font-size: var(--font-size-3xl);
  display: flex;
  align-items: center;
  width: 7rem;
}
.paymentmethodmaininput3checkbo {
  margin: 0;
  position: absolute;
  width: 5.81%;
  top: 0.938rem;
  right: 64.65%;
  left: 29.53%;
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 1.563rem;
}
.paymentmethodmaininput3 {
  position: absolute;
  width: 100%;
  top: 29.625rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-whitesmoke-100);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 8.563rem;
  font-size: var(--font-size-lg);
}
.div59 {
  position: absolute;
  top: 0.188rem;
  left: 2.688rem;
  text-decoration: underline;
  display: flex;
  align-items: center;
  width: 22.438rem;
}
.paymentmethodmaininput2checkbo {
  margin: 0;
  position: absolute;
  top: 0rem;
  left: 0rem;
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.paymentmethodmaininput2check {
  position: absolute;
  top: 23.25rem;
  left: 1.75rem;
  width: 25.125rem;
  height: 1.563rem;
}
.div60 {
  position: absolute;
  top: 0.438rem;
  left: 2.94%;
}
.vector-icon21 {
  position: absolute;
  height: 20%;
  width: 5.15%;
  top: 40%;
  right: 3.31%;
  bottom: 40%;
  left: 91.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.installmentbutton {
  position: absolute;
  top: 18.813rem;
  left: 0.063rem;
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 17rem;
  height: 2.188rem;
}
.div61 {
  position: absolute;
  top: 2.375rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 17rem;
}
.birthdateinput {
  border: 1px solid var(--color-gainsboro-100);
  outline: none;
  background-color: var(--color-white);
  position: absolute;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  width: 17rem;
  height: 2.188rem;
}
.birthdate {
  position: absolute;
  top: 14.188rem;
  left: 0rem;
  width: 17rem;
  height: 3.5rem;
  font-size: var(--font-size-lg);
  color: var(--color-darkslateblue-100);
}
.div62 {
  position: absolute;
  top: 0.375rem;
  left: 2.375rem;
}
.cardtypeselect2radio-icon {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 1.875rem;
  height: 1.875rem;
}
.cardtypeselect2 {
  position: absolute;
  top: 0rem;
  left: 6.313rem;
  width: 4.75rem;
  height: 1.875rem;
}
.div63 {
  position: absolute;
  top: 0.313rem;
  left: 2.063rem;
}
.cardtypeselect1 {
  position: absolute;
  top: 0.063rem;
  left: 0rem;
  width: 4.438rem;
  height: 1.875rem;
}
.cardtypeselect {
  position: absolute;
  top: 11.438rem;
  left: 0rem;
  width: 11.063rem;
  height: 1.938rem;
}
.div64 {
  position: absolute;
  top: 0.5rem;
  left: 3.75rem;
}
.passwordinput {
  border: 1px solid var(--color-gainsboro-100);
  outline: none;
  background-color: var(--color-white);
  position: absolute;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  width: 3.438rem;
  height: 2.188rem;
}
.password {
  position: absolute;
  top: 8.438rem;
  left: 0.063rem;
  width: 5.313rem;
  height: 2.188rem;
}
.div65 {
  position: absolute;
  top: 0.5rem;
  left: 4.188rem;
}
.dateyearinput {
  border: 1px solid var(--color-gainsboro-100);
  outline: none;
  font-family: var(--font-nanumgothic);
  font-size: var(--font-size-xl);
  background-color: var(--color-white);
  position: absolute;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  width: 4.063rem;
  height: 2.188rem;
  padding: var(--padding-5xs) 0rem var(--padding-6xs);
  color: var(--color-gainsboro-100);
}
.dateyear {
  position: absolute;
  top: 0rem;
  left: 6.25rem;
  width: 5.375rem;
  height: 2.188rem;
}
.datemonthinput {
  border: 1px solid var(--color-gainsboro-100);
  outline: none;
  font-family: var(--font-nanumgothic);
  font-size: var(--font-size-xl);
  background-color: var(--color-white);
  position: absolute;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  width: 3.438rem;
  height: 2.188rem;
  padding: var(--padding-5xs) 0rem var(--padding-6xs);
  color: var(--color-gainsboro-100);
}
.datemonth {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 4.938rem;
  height: 2.188rem;
}
.expirationdate {
  position: absolute;
  top: 5.375rem;
  left: 0.063rem;
  width: 11.625rem;
  height: 2.188rem;
}
.newcardinput1 {
  border: 1px solid var(--color-gainsboro-100);
  outline: none;
  background-color: var(--color-white);
  width: 4.063rem;
  position: relative;
  box-sizing: border-box;
  height: 2.188rem;
}
.newcardinput {
  position: absolute;
  top: 2.438rem;
  left: 0rem;
  width: 17.188rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.312rem;
}
.div67 {
  position: absolute;
  width: 96.69%;
  top: 0.438rem;
  left: 3.31%;
  display: flex;
  align-items: center;
}
.registeredcardbutton {
  position: absolute;
  top: -0.5rem;
  left: 0rem;
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 17rem;
  height: 2.188rem;
}
.paymentmethodmaininput2card {
  position: absolute;
  width: 63.49%;
  top: 1.188rem;
  right: 2.09%;
  left: 34.42%;
  height: 21rem;
}
.div68 {
  position: absolute;
  top: 19.313rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
}
.div69 {
  position: absolute;
  top: 14.688rem;
  left: 0rem;
}
.div70 {
  position: absolute;
  top: 11.75rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
}
.div71 {
  position: absolute;
  top: 8.813rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
}
.div72 {
  position: absolute;
  top: 5.875rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
}
.div73 {
  position: absolute;
  top: 2.938rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
}
.div74 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 8.5rem;
}
.paymentmethodmaininput2text {
  position: absolute;
  top: 1.125rem;
  left: 0.75rem;
  width: 8.5rem;
  height: 21.063rem;
  font-size: var(--font-size-3xl);
}
.paymentmethodmaininput2 {
  position: absolute;
  width: 100%;
  top: 3.25rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-whitesmoke-100);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 26.25rem;
}
.b155 {
  position: absolute;
  top: 0.875rem;
  right: 0rem;
  display: flex;
  align-items: center;
  width: 5.813rem;
}
.paymentmethodmaininput1reloadb-icon {
  position: absolute;
  top: 0.875rem;
  right: 6.125rem;
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
}
.paymentmethodmaininput1 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-whitesmoke-100);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 3.125rem;
  color: var(--color-darkslateblue-100);
}
.paymentmethodmaininput {
  position: absolute;
  width: 100%;
  top: 22.813rem;
  right: 0%;
  left: 0%;
  height: 38.188rem;
}
.b156 {
  position: absolute;
  width: 100%;
  top: 1.625rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paymentmethodmaininfo3button-icon {
  position: absolute;
  width: 3.26%;
  top: 4.625rem;
  right: 48.37%;
  left: 48.37%;
  max-width: 100%;
  overflow: hidden;
  height: 0.438rem;
}
.paymentmethodmaininfo3 {
  position: absolute;
  width: 100%;
  top: 16.438rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 6.25rem;
  font-size: var(--font-size-5xl);
}
.div75 {
  position: absolute;
  width: 100%;
  top: 3.313rem;
  left: 0%;
  color: var(--color-darkslateblue-100);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ktx7 {
  position: absolute;
  top: 0.75rem;
  left: 0.813rem;
  text-align: left;
  display: flex;
  align-items: center;
  width: 17.688rem;
}
.ktx8 {
  position: absolute;
  width: 100%;
  top: 5.813rem;
  left: 0%;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  justify-content: center;
}
.div76 {
  position: absolute;
  top: 0.75rem;
  right: 5.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
}
.paymentmethodmaininfo2button2-icon {
  position: absolute;
  width: 3.49%;
  top: 8.813rem;
  right: 48.37%;
  left: 48.14%;
  max-width: 100%;
  overflow: hidden;
  height: 0.438rem;
}
.div77 {
  position: absolute;
  top: 0.313rem;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.313rem;
  height: 0.688rem;
}
.paymentmethodmaininfo2button1 {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background-color: var(--color-plum);
  width: 4.375rem;
  height: 1.25rem;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-100);
}
.paymentmethodmaininfo2 {
  position: absolute;
  width: 100%;
  top: 6rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 10.313rem;
}
.b157 {
  position: absolute;
  top: 0.938rem;
  right: 0.625rem;
  font-size: var(--font-size-9xl);
  display: flex;
  color: var(--color-darkslateblue-100);
  align-items: center;
  width: 15.688rem;
}
.div78 {
  position: absolute;
  top: 3.688rem;
  left: 0.438rem;
  text-align: left;
  display: flex;
  align-items: center;
  width: 13.063rem;
}
.div79 {
  position: absolute;
  top: 3.75rem;
  right: 0.625rem;
  display: flex;
  align-items: center;
  width: 15.688rem;
}
.b158 {
  position: absolute;
  top: 1.063rem;
  left: 0.438rem;
  font-size: var(--font-size-3xl);
  display: flex;
  text-align: left;
  align-items: center;
  width: 13.063rem;
}
.paymentmethodmaininfo1 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 5.938rem;
  text-align: right;
}
.paymentmethodmaininfo {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 22.688rem;
  text-align: center;
}
.paymentmethodmain {
  position: absolute;
  width: 100%;
  top: 8.25rem;
  right: 0%;
  left: 0%;
  height: 61rem;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-nanumgothic);
}
.b159 {
  position: absolute;
  width: 100%;
  top: 1.063rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.easypaymentbutton {
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 0%;
  left: 50%;
  background-color: var(--color-white);
  height: 4.156rem;
}
.b160 {
  position: absolute;
  width: 100%;
  top: 1.188rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardpaymentbutton {
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 50%;
  left: 0%;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  height: 4.156rem;
  color: var(--color-darkslateblue-100);
}
.paymentmethodheaderbutton {
  position: absolute;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  height: 4.156rem;
}
.b161 {
  position: absolute;
  width: 100%;
  top: 1.125rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerclosebuttonvector-icon1 {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 1.375rem;
  height: 1.375rem;
}
.headerclosebutton1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.25rem;
  right: 1.313rem;
  width: 1.375rem;
  height: 1.375rem;
}
.paymentmethodheadertitle {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-darkslateblue-100);
  height: 4.063rem;
  color: var(--color-white);
}
.paymentmethodheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 8.219rem;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-lightgray-100);
  font-family: var(--font-nanumgothic);
}
.b162 {
  position: absolute;
  width: 100%;
  bottom: 1.188rem;
  left: 0%;
  font-size: var(--font-size-9xl);
  display: flex;
  font-family: var(--font-nanumgothic);
  color: var(--color-darkslateblue-100);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.paymentfooterbuttonissuance {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-lavender-100);
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 0%;
  left: 50%;
  border-left: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 4.375rem;
}
.paymentfooterbuttonprev {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-lavender-100);
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 50%;
  left: 0%;
  border-right: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  height: 4.375rem;
}
.paymentfooterbuttonset1 {
  position: absolute;
  width: 100%;
  top: 5rem;
  right: 0%;
  left: 0%;
  height: 4.375rem;
}
.b164 {
  position: absolute;
  width: 93.95%;
  bottom: 1.625rem;
  left: 6.05%;
  display: flex;
  align-items: center;
}
.b165 {
  position: absolute;
  width: 38.6%;
  bottom: 1.375rem;
  left: 61.4%;
  font-size: var(--font-size-13xl);
  display: flex;
  color: var(--color-white);
  align-items: center;
}
.paymentfooterprice1 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-darkslategray-100);
  height: 5rem;
}
.paymentmethodfooter {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0.063rem;
  left: 0%;
  height: 9.375rem;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-lavender-100);
  font-family: var(--font-nanumgothic);
}
.paymentmethod-14 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 78.688rem;
  overflow-y: auto;
}
