@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-p76 {
  margin: 0;
}
.krail-txt16 {
  width: 100%;
}
.krail-div42 {
  position: absolute;
  width: 96.98%;
  top: 0.938rem;
  left: 3.02%;
  display: flex;
  align-items: center;
}
.krail-paymentmaincontent11 {
  position: absolute;
  width: 100%;
  top: 45.75rem;
  right: 0%;
  left: 0%;
  height: 8.125rem;
  font-size: .9375rem;
}
.krail-div43 {
  position: absolute;
  width: 64.42%;
  top: 1rem;
  left: 3.02%;
  display: flex;
  align-items: center;
}
.krail-paymentmaincontentbuttonvector-icon {
  position: absolute;
  height: 87.5%;
  width: 31.82%;
  top: 0%;
  right: -0.23%;
  bottom: 12.5%;
  left: 68.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-paymentmaincontentbuttonline {
  position: absolute;
  width: 36.36%;
  top: 0.438rem;
  right: 65.91%;
  left: -2.27%;
  border-top: 2px solid #7659AD;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-paymentmaincontentbutton {
  position: absolute;
  top: 1.188rem;
  right: 1.313rem;
  width: 2.75rem;
  height: 0.5rem;
}
.krail-paymentmaincontent10 {
  position: absolute;
  width: 100%;
  top: 42.313rem;
  right: 0%;
  left: 0%;
  border-bottom: 2px solid #F8F8F8;
  box-sizing: border-box;
  height: 3.313rem;
}
.krail-div45 {
  position: absolute;
  width: 100%;
  top: 0rem;
  left: 0%;
  display: flex;
  align-items: center;
}
.krail-paymentmaincontentbuttonvector-icon1 {
  position: absolute;
  height: 41.18%;
  width: 10%;
  top: 35.29%;
  right: 15%;
  bottom: 23.53%;
  left: 75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-paymentmaincontentbutton1 {
  position: absolute;
  top: 1rem;
  right: 0rem;
  width: 8.75rem;
  height: 1.063rem;
  font-size: .9375rem;
  color: #7659AD;
}
.krail-paymentmaincontent9 {
  position: absolute;
  width: 100%;
  top: 38.875rem;
  right: 0%;
  left: 0%;
  border-bottom: 2px solid #F8F8F8;
  box-sizing: border-box;
  height: 3.313rem;
}
.krail-paymentmaincontentbuttonvector-icon2 {
  position: absolute;
  height: 41.18%;
  width: 10%;
  top: 29.41%;
  right: 15%;
  bottom: 29.41%;
  left: 75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-paymentmaincontentbutton2 {
  position: absolute;
  top: 0.938rem;
  right: 0rem;
  width: 8.75rem;
  height: 1.063rem;
  font-size: .9375rem;
  color: #7659AD;
}
.krail-paymentmaincontent8 {
  position: absolute;
  width: 100%;
  top: 35.438rem;
  right: 0%;
  left: 0%;
  border-bottom: 2px solid #F8F8F8;
  box-sizing: border-box;
  height: 3.313rem;
}
.krail-paymentmaincontentbuttonvector-icon3 {
  position: absolute;
  height: 98.59%;
  width: 31.82%;
  top: 0%;
  right: -0.23%;
  bottom: 1.41%;
  left: 68.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-paymentmaincontentbuttonline1 {
  position: absolute;
  width: 36.36%;
  top: 0.381rem;
  right: 65.91%;
  left: -2.27%;
  border-top: 2px solid #7659AD;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-paymentmaincontentbutton3 {
  position: absolute;
  top: 1.244rem;
  right: 1.313rem;
  width: 2.75rem;
  height: 0.444rem;
}
.krail-paymentmaincontent7 {
  position: absolute;
  width: 100%;
  top: 32rem;
  right: 0%;
  left: 0%;
  border-bottom: 2px solid #F8F8F8;
  box-sizing: border-box;
  height: 3.313rem;
}
.krail-paymentmaincontentbuttonvector-icon4 {
  position: absolute;
  height: 100%;
  width: 31.82%;
  top: 0%;
  right: -0.23%;
  bottom: 0%;
  left: 68.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-paymentmaincontentbuttonline2 {
  position: absolute;
  width: 36.36%;
  top: 0.363rem;
  right: 65.91%;
  left: -2.27%;
  border-top: 2px solid #7659AD;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-paymentmaincontentbutton4 {
  position: absolute;
  top: 1.263rem;
  right: 1.313rem;
  width: 2.75rem;
  height: 0.438rem;
}
.krail-paymentmaincontent6 {
  position: absolute;
  width: 100%;
  top: 28.625rem;
  right: 0%;
  left: 0%;
  border-bottom: 2px solid #F8F8F8;
  box-sizing: border-box;
  height: 3.313rem;
}
.krail-div50 {
  position: absolute;
  width: 64.19%;
  top: 1rem;
  left: 3.02%;
  display: flex;
  align-items: center;
}
.krail-paymentmaincontentbuttonline3 {
  position: absolute;
  width: 36.36%;
  top: 0.344rem;
  right: 65.91%;
  left: -2.27%;
  border-top: 2px solid #7659AD;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-paymentmaincontentbutton5 {
  position: absolute;
  top: 1.281rem;
  right: 1.313rem;
  width: 2.75rem;
  height: 0.438rem;
}
.krail-paymentmaincontent5 {
  position: absolute;
  width: 100%;
  top: 25.188rem;
  right: -0.23%;
  left: 0.23%;
  border-bottom: 2px solid #F8F8F8;
  box-sizing: border-box;
  height: 3.313rem;
}
.krail-b145 {
  position: absolute;
  top: 0.938rem;
  left: 17.3rem;
  right: 0.063rem;
  font-size: 1.75rem;
  display: flex;
  color: #7659AD;
  align-items: center;
  width: 13.313rem;
}
.krail-div51 {
  position: absolute;
  width: 36.28%;
  top: 3.75rem;
  left: 3.02%;
  display: flex;
  align-items: center;
}
.krail-div52 {
  position: absolute;
  top: 3.75rem;
  left: 12rem;
  text-align: right;
  display: flex;
  align-items: center;
  width: 18.625rem;
}
.krail-b146 {
  position: absolute;
  width: 36.28%;
  top: 1.063rem;
  left: 3.02%;
  font-size: 1.375rem;
  display: flex;
  align-items: center;
}
.krail-paymentmaincontent4 {
  position: absolute;
  width: 100%;
  top: 19.125rem;
  right: -0.23%;
  left: 0.23%;
  border-bottom: 2px solid #F8F8F8;
  box-sizing: border-box;
  height: 5.938rem;
  font-size: 1.25rem;
}
.krail-div53 {
  position: absolute;
  width: 100%;
  top: 0.438rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-paymentmaincontent3button {
  position: absolute;
  width: 11.63%;
  top: 1.375rem;
  right: 4.19%;
  left: 84.19%;
  background-color: #E4DEF0;
  height: 1.875rem;
}
.krail-a15 {
  position: absolute;
  width: 99.77%;
  top: 1.625rem;
  left: 0%;
  font-size: 1.375rem;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-paymentmaincontent3 {
  position: absolute;
  width: 100%;
  top: 14.625rem;
  right: -0.23%;
  left: 0.23%;
  border-bottom: 1px dashed #8A8D8E;
  box-sizing: border-box;
  height: 4.375rem;
  text-align: center;
  font-size: 1rem;
  color: #7659AD;
}
.krail-b147 {
  position: absolute;
  width: 100%;
  top: 0rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-div54 {
  position: absolute;
  width: 100%;
  top: 2.875rem;
  left: 0%;
  font-size: 1.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-endstation {
  position: absolute;
  width: 46.05%;
  top: 1.5rem;
  right: 0%;
  left: 53.95%;
  height: 4.438rem;
}
.krail-startstation {
  position: absolute;
  width: 46.28%;
  top: 1.5rem;
  right: 53.72%;
  left: 0%;
  height: 4.438rem;
}
.krail-paymentmaincontent2arrow-icon {
  position: absolute;
  width: 6.98%;
  top: 3.688rem;
  right: 46.74%;
  left: 46.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-paymentmaincontent2 {
  position: absolute;
  width: 100%;
  top: 7rem;
  right: -0.23%;
  left: 0.23%;
  border-bottom: 1px dashed #8A8D8E;
  box-sizing: border-box;
  height: 7.5rem;
  text-align: center;
  font-size: 2.25rem;
}
.krail-b149 {
  position: absolute;
  width: 99.77%;
  top: 1.063rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-ktx-1622 {
  position: absolute;
  width: 99.77%;
  top: 4.063rem;
  left: 0%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-paymentmaincontent1 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  border-bottom: 1px dashed #8A8D8E;
  box-sizing: border-box;
  height: 6.875rem;
  text-align: center;
  font-size: 1.75rem;
  color: #7659AD;
}
.krail-paymentmain {
  position: absolute;
  width: 100%;
  top: 3.938rem;
  right: 0%;
  left: 0%;
  height: 53.875rem;
  text-align: left;
  font-size: 1.375rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-b150 {
  position: absolute;
  width: 100%;
  top: 1.063rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-headerclosebuttonvector-icon {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 1.375rem;
  height: 1.375rem;
}
.krail-headerclosebutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.25rem;
  right: 1.313rem;
  width: 1.375rem;
  height: 1.375rem;
}
.krail-paymentheader {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  top: -0.125rem;
  right: 0%;
  left: 0%;
  background-color: #7659AD;
  height: 4.063rem;
  text-align: center;
  font-size: 1.75rem;
  color: #FFF;
  font-family: 'Nanum Gothic';
}
.krail-b151 {
  position: absolute;
  width: 100%;
  bottom: 1.188rem;
  left: 0%;
  font-size: 1.75rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #7659AD;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.krail-paymentfooterbuttonnext {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #E5DEF0;
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 0%;
  left: 50%;
  border-left: 1px solid #8A8D8E;
  box-sizing: border-box;
  height: 4.375rem;
}
.krail-paymentfooterbuttoncencel {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #E5DEF0;
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 50%;
  left: 0%;
  border-right: 1px solid #8A8D8E;
  box-sizing: border-box;
  height: 4.375rem;
}
.krail-paymentfooterbuttonset {
  position: absolute;
  width: 100%;
  top: 5rem;
  right: 0%;
  left: 0%;
  height: 4.375rem;
}
.krail-b153 {
  position: absolute;
  width: 93.95%;
  bottom: 1.625rem;
  left: 6.05%;
  display: flex;
  align-items: center;
}
.krail-b154 {
  position: absolute;
  width: 38.6%;
  bottom: 1.313rem;
  left: 61.4%;
  font-size: 2rem;
  display: flex;
  color: #FFF;
  align-items: center;
}
.krail-paymentfooterprice {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 5rem;
}
.krail-paymentfooter {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 9.375rem;
  text-align: left;
  font-size: 1.5rem;
  color: #E5DEF0;
  font-family: 'Nanum Gothic';
}
.krail-payment-13 {
  width: 100%;
  position: relative;
  background-color: #FFF;
  height: 67.188rem;
  overflow: hidden;
}
