@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-b186 {
  position: absolute;
  bottom: 0rem;
  left: calc(50% - 53.75px);
  font-size: 1rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #424242;
  text-align: center;
  width: 6.75rem;
  height: 1.875rem;
}
.krail-footerbutton4image3 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 1.875rem;
  left: calc(50% - 28.75px);
  width: 3.625rem;
  height: 3.438rem;
  background-image: url("/public/appguide/Korail/footerbutton4image@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.krail-footerbutton43 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #FFF;
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 0%;
  left: 75%;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-footerbutton3image-icon3 {
  position: absolute;
  bottom: 1.844rem;
  left: calc(50% - 26.75px);
  width: 3.381rem;
  height: 3.406rem;
  object-fit: cover;
}
.krail-footerbutton33 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #FFF;
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 25%;
  left: 50%;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-footerbutton2image-icon3 {
  position: absolute;
  bottom: 2.094rem;
  left: calc(50% - 26.75px);
  width: 3.356rem;
  height: 3.406rem;
  object-fit: cover;
}
.krail-footerbutton23 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #FFF;
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 50%;
  left: 25%;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-b189 {
  position: absolute;
  bottom: 0rem;
  left: calc(50% - 53.75px);
  font-size: 1rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #3995DB;
  text-align: center;
  width: 6.75rem;
  height: 1.875rem;
}
.krail-footerbutton1image-icon3 {
  position: absolute;
  bottom: 1.875rem;
  left: calc(50% - 40.75px);
  width: 5.169rem;
  height: 3.125rem;
  object-fit: cover;
}
.krail-footerbutton13 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #FFF;
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 75%;
  left: 0%;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-refundfooterbuttonset {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 5.5rem;
}
.krail-b190 {
  position: absolute;
  width: 100%;
  bottom: 1.313rem;
  left: 0%;
  font-size: 1.5rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #185C93;
  text-align: center;
}
.krail-footerrefundbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #CDE0EE;
  position: absolute;
  width: 100%;
  top: -0.062rem;
  right: 0%;
  left: 0%;
  height: 4.375rem;
}
.krail-refundfooter {
  position: absolute;
  width: 100%;
  top: 48.375rem;
  right: 0%;
  left: 0%;
  height: 9.875rem;
}
.krail-b191 {
  position: absolute;
  width: 35.12%;
  top: 1.938rem;
  left: 60.93%;
  display: flex;
  align-items: center;
}
.krail-a17 {
  position: absolute;
  width: 55.12%;
  top: 1.938rem;
  left: 20.93%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.krail-b192 {
  position: absolute;
  top: 1.938rem;
  left: 3.25rem;
  display: flex;
  text-align: left;
  align-items: center;
  width: 6.813rem;
}
.krail-refundmainselectcheckbox {
  margin: 0;
  position: absolute;
  top: 1.625rem;
  left: 1rem;
  border: 1px solid #8A8D8E;
  box-sizing: border-box;
  width: 1.875rem;
  height: 1.875rem;
}
.krail-refundmainselectcheck {
  position: absolute;
  width: 100%;
  top: 7.688rem;
  right: 0%;
  left: 0%;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 4.875rem;
  text-align: right;
}
.krail-b193 {
  position: absolute;
  top: 0.875rem;
  left: 3.25rem;
  display: flex;
  align-items: center;
  width: 22.813rem;
}
.krail-refundmaintotalcheckbox {
  margin: 0;
  position: absolute;
  top: 0.563rem;
  left: 1rem;
  border: 1px solid #8A8D8E;
  box-sizing: border-box;
  width: 1.875rem;
  height: 1.875rem;
}
.krail-refundmaintotalcheck {
  position: absolute;
  width: 100%;
  top: 4.5rem;
  right: 0%;
  left: 0%;
  background-color: #D9D9D9;
  height: 3.125rem;
  color: #535C63;
}
.krail-ktx-1624 {
  margin: 0;
}
.krail-ktx-162-container1 {
  width: 100%;
}
.krail-ktx-162-container {
  position: absolute;
  width: 93.02%;
  top: 0.938rem;
  left: 3.72%;
  display: flex;
  align-items: center;
}
.krail-refundmainscheduleinfo {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 4.5rem;
  font-size: 1.125rem;
}
.krail-refundmain {
  position: absolute;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  height: 12.563rem;
  text-align: left;
  font-size: 1.25rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-headerbuttonline31 {
  position: absolute;
  width: 105%;
  top: 1.719rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-headerbuttonline21 {
  position: absolute;
  width: 105%;
  top: 0.831rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-headerbuttonline11 {
  position: absolute;
  width: 105%;
  top: -0.062rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-refundheadermenubarbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.188rem;
  right: 1.313rem;
  width: 2.5rem;
  height: 1.781rem;
}
.krail-b194 {
  position: absolute;
  width: 37.74%;
  top: 1.063rem;
  left: 30.49%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.938rem;
}
.krail-refundheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 4.063rem;
  text-align: center;
  font-size: 2rem;
  color: #FFF;
  font-family: 'Nanum Gothic';
}
.krail-refund-16 {
  width: 100%;
  position: relative;
  background-color: #FFF;
  height: 58.25rem;
  overflow: hidden;
}
