@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-b324 {
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
  left: 0%;
  font-size: 2rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #0B3B62;
  text-align: center;
}
.krail-signupfooter {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #CDE0EE;
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 5.625rem;
}
.krail-signupmainofflinepasswordinput {
  border: 1px solid #D9D9D9;
  outline: none;
  background-color: #FFF;
  width: 15rem;
  position: relative;
  box-sizing: border-box;
  height: 2.188rem;
  font-size: 1.5rem;
}
.krail-signupmaininputset {
  position: absolute;
  top: 11.563rem;
  left: 9.188rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.562rem;
}
.krail-p100 {
  margin: 0;
}
.krail-b325 {
  position: absolute;
  top: 0rem;
  left: 9.188rem;
  display: inline-block;
  width: 15rem;
  height: 9.75rem;
}
.krail-b326 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: inline-block;
  width: 9.188rem;
  height: 25.875rem;
}
.krail-signupmain {
  position: absolute;
  width: 90%;
  top: 6.625rem;
  right: 4.65%;
  left: 5.35%;
  height: 25.875rem;
  text-align: left;
  font-size: 1.25rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-b327 {
  position: absolute;
  width: 100%;
  top: 1rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-agreementheaderbuttonline34 {
  position: absolute;
  width: 105%;
  top: 1.719rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-agreementheaderbuttonline24 {
  position: absolute;
  width: 105%;
  top: 0.831rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-agreementheaderbuttonline14 {
  position: absolute;
  width: 105%;
  top: -0.062rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-headerbutton3 {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 2.5rem;
  height: 1.781rem;
  cursor: pointer;
}
.krail-signupheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 4.063rem;
  text-align: center;
  font-size: 1.75rem;
  color: #FFF;
  font-family: 'Nanum Gothic';
}
.krail-signup-07 {
  width: 100%;
  position: relative;
  background-color: #FFF;
  height: 58.25rem;
}
