@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-p52 {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.krail-p54 {
  margin-block-start: 0;
  margin-block-end: 10px;
  white-space: pre-wrap;
}
.krail-p55 {
  margin: 0;
}
.krail-b134 {
  position: absolute;
  width: 95.66%;
  top: 0.188rem;
  left: 4.34%;
  display: inline-block;
  height: 10.313rem;
}
.krail-p56 {
  margin-block-start: 0;
  margin-block-end: 3px;
}
.krail-b135 {
  position: absolute;
  width: 4.34%;
  top: 0rem;
  left: 0%;
  display: inline-block;
  height: 3.438rem;
}
.krail-ticketinformationmainnoticetex1 {
  position: absolute;
  top: 21.5rem;
  left: 1.188rem;
  width: 23.063rem;
  height: 10.5rem;
}
.krail-p58 {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.krail-span {
  color: #E76161;
}
.krail-b136 {
  position: absolute;
  width: 95.94%;
  top: 0.25rem;
  left: 4.06%;
  display: inline-block;
  height: 13.688rem;
}
.krail-b137 {
  position: absolute;
  top: 0rem;
  left: 0%;
}
.krail-ticketinformationmainnoticetex2 {
  position: absolute;
  top: 5.938rem;
  left: 1.188rem;
  width: 24.625rem;
  height: 13.938rem;
}
.krail-txt14 {
  width: 100%;
}
.krail-b138 {
  position: absolute;
  width: 98.05%;
  top: 1.438rem;
  left: 1.95%;
  text-decoration: underline;
  display: flex;
  align-items: center;
  height: 2.75rem;
}
.krail-b139 {
  position: absolute;
  top: 0rem;
  left: 0%;
  font-size: 1.125rem;
  color: #000;
}
.krail-ticketinformationmainnoticetex3 {
  position: absolute;
  top: 1.188rem;
  left: 0.938rem;
  width: 16rem;
  height: 4.188rem;
  color: #DE710C;
}
.krail-ticketinformationmainnoticetex {
  position: absolute;
  width: 100%;
  top: 20.625rem;
  right: 0%;
  left: 0%;
  height: 32rem;
}
.krail-p73 {
  margin: 0;
  white-space: pre-wrap;
}
.krail-b140 {
  position: absolute;
  width: 90.47%;
  top: 1.188rem;
  left: 3.49%;
  display: inline-block;
}
.krail-ticketinformationmainnoticetex4 {
  position: absolute;
  width: 100%;
  top: 13.75rem;
  right: 0%;
  left: 0%;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 6.875rem;
}
.krail-div38 {
  position: absolute;
  width: 47.5%;
  top: 0.625rem;
  left: 25%;
  display: inline-block;
}
.krail-informationmainbasketbutton {
  position: absolute;
  top: 9.813rem;
  left: 13.625rem;
  border-radius: 1.875rem;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  width: 11.25rem;
  height: 2.5rem;
}
.krail-div39 {
  position: absolute;
  width: 47.5%;
  top: 0.625rem;
  left: 25%;
  font-size: 1.25rem;
  font-family: 'Nanum Gothic';
  color: #383838;
  text-align: center;
  display: inline-block;
}
.krail-informationmaincancelbutton {
  cursor: pointer;
  border: 1px solid #F1F1F1;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 9.813rem;
  left: 0.875rem;
  border-radius: 1.875rem;
  box-sizing: border-box;
  width: 11.25rem;
  height: 2.5rem;
}
.krail-div40 {
  position: absolute;
  width: 97.86%;
  top: 5.5rem;
  left: 2.14%;
  font-size: 1.125rem;
  color: #DE710C;
  display: flex;
  align-items: center;
}
.krail-ktx-162-1014-container {
  position: absolute;
  width: 97.86%;
  top: 2.125rem;
  left: 2.14%;
  display: flex;
  align-items: center;
}
.krail-div41 {
  position: absolute;
  top: 0rem;
  right: 0rem;
  display: flex;
  align-items: center;
  width: 3.5rem;
}
.krail-b141 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  color: #639CC8;
  align-items: center;
  width: 23.688rem;
}
.krail-informationmainmyreservationin {
  position: absolute;
  top: 1.188rem;
  left: 0.625rem;
  width: 26.25rem;
  height: 7.75rem;
  text-align: left;
  color: #000;
}
.krail-informationmainmyreservation {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  height: 13.75rem;
  text-align: center;
  font-size: 1.25rem;
  color: #383838;
}
.krail-ticketinformationmain {
  position: absolute;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  height: 53.75rem;
  overflow-y: auto;
  text-align: left;
  font-size: 1rem;
  color: #8A8D8E;
  font-family: 'Nanum Gothic';
}
.krail-b142 {
  position: absolute;
  width: 100%;
  top: 1.125rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-ticketinformationheaderclosebu-icon {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 1.375rem;
  height: 1.375rem;
}
.ticketinformationheaderclosebu {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.25rem;
  right: 1.313rem;
  width: 1.375rem;
  height: 1.375rem;
}
.krail-ticketinformationheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 4.063rem;
  text-align: center;
  font-size: 1.75rem;
  color: #FFF;
  font-family: 'Nanum Gothic';
}
.krail-b143 {
  position: absolute;
  width: 49.3%;
  bottom: 1.5rem;
  left: 25.12%;
  font-size: 1.75rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #0B3B62;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
.krail-footerpaymentbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #CDE0EE;
  position: absolute;
  top: 0rem;
  left: 13.438rem;
  border-left: 1px solid #FFF;
  box-sizing: border-box;
  width: 13.438rem;
  height: 5rem;
}
.krail-b144 {
  position: absolute;
  width: 49.3%;
  bottom: 1.5rem;
  left: 25.12%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
.krail-footerinformationbutton {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: #CDE0EE;
  border-right: 1px solid #FFF;
  box-sizing: border-box;
  width: 13.438rem;
  height: 5rem;
}
.krail-ticketinformationfooter {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 5rem;
  text-align: center;
  font-size: 1.75rem;
  color: #0B3B62;
  font-family: 'Nanum Gothic';
}
.krail-ticketinformation-12 {
  width: 100%;
  position: relative;
  background-color: #F8F8F8;
  height: 63.75rem;
  overflow: hidden;
}
