.p52 {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.p54 {
  margin-block-start: 0;
  margin-block-end: 10px;
  white-space: pre-wrap;
}
.p55 {
  margin: 0;
}
.b134 {
  position: absolute;
  width: 95.66%;
  top: 0.188rem;
  left: 4.34%;
  display: inline-block;
  height: 10.313rem;
}
.p56 {
  margin-block-start: 0;
  margin-block-end: 3px;
}
.b135 {
  position: absolute;
  width: 4.34%;
  top: 0rem;
  left: 0%;
  display: inline-block;
  height: 3.438rem;
}
.ticketinformationmainnoticetex1 {
  position: absolute;
  top: 21.5rem;
  left: 1.188rem;
  width: 23.063rem;
  height: 10.5rem;
}
.p58 {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.span {
  color: var(--color-red-200);
}
.b136 {
  position: absolute;
  width: 95.94%;
  top: 0.25rem;
  left: 4.06%;
  display: inline-block;
  height: 13.688rem;
}
.b137 {
  position: absolute;
  top: 0rem;
  left: 0%;
}
.ticketinformationmainnoticetex2 {
  position: absolute;
  top: 5.938rem;
  left: 1.188rem;
  width: 24.625rem;
  height: 13.938rem;
}
.txt14 {
  width: 100%;
}
.b138 {
  position: absolute;
  width: 98.05%;
  top: 1.438rem;
  left: 1.95%;
  text-decoration: underline;
  display: flex;
  align-items: center;
  height: 2.75rem;
}
.b139 {
  position: absolute;
  top: 0rem;
  left: 0%;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.ticketinformationmainnoticetex3 {
  position: absolute;
  top: 1.188rem;
  left: 0.938rem;
  width: 16rem;
  height: 4.188rem;
  color: var(--color-chocolate);
}
.ticketinformationmainnoticetex {
  position: absolute;
  width: 100%;
  top: 20.625rem;
  right: 0%;
  left: 0%;
  height: 32rem;
}
.p73 {
  margin: 0;
  white-space: pre-wrap;
}
.b140 {
  position: absolute;
  width: 90.47%;
  top: 1.188rem;
  left: 3.49%;
  display: inline-block;
}
.ticketinformationmainnoticetex4 {
  position: absolute;
  width: 100%;
  top: 13.75rem;
  right: 0%;
  left: 0%;
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 6.875rem;
}
.div38 {
  position: absolute;
  width: 47.5%;
  top: 0.625rem;
  left: 25%;
  display: inline-block;
}
.informationmainbasketbutton {
  position: absolute;
  top: 9.813rem;
  left: 13.625rem;
  border-radius: var(--br-11xl);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 11.25rem;
  height: 2.5rem;
}
.div39 {
  position: absolute;
  width: 47.5%;
  top: 0.625rem;
  left: 25%;
  font-size: var(--font-size-xl);
  font-family: var(--font-nanumgothic);
  color: var(--color-gray-600);
  text-align: center;
  display: inline-block;
}
.informationmaincancelbutton {
  cursor: pointer;
  border: 1px solid var(--color-whitesmoke-200);
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 9.813rem;
  left: 0.875rem;
  border-radius: var(--br-11xl);
  box-sizing: border-box;
  width: 11.25rem;
  height: 2.5rem;
}
.div40 {
  position: absolute;
  width: 97.86%;
  top: 5.5rem;
  left: 2.14%;
  font-size: var(--font-size-lg);
  color: var(--color-chocolate);
  display: flex;
  align-items: center;
}
.ktx-162-1014-container {
  position: absolute;
  width: 97.86%;
  top: 2.125rem;
  left: 2.14%;
  display: flex;
  align-items: center;
}
.div41 {
  position: absolute;
  top: 0rem;
  right: 0rem;
  display: flex;
  align-items: center;
  width: 3.5rem;
}
.b141 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  color: var(--color-steelblue-100);
  align-items: center;
  width: 23.688rem;
}
.informationmainmyreservationin {
  position: absolute;
  top: 1.188rem;
  left: 0.625rem;
  width: 26.25rem;
  height: 7.75rem;
  text-align: left;
  color: var(--color-black);
}
.informationmainmyreservation {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-white);
  height: 13.75rem;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
}
.ticketinformationmain {
  position: absolute;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  height: 53.75rem;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-nanumgothic);
}
.b142 {
  position: absolute;
  width: 100%;
  top: 1.125rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ticketinformationheaderclosebu-icon {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 1.375rem;
  height: 1.375rem;
}
.ticketinformationheaderclosebu {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.25rem;
  right: 1.313rem;
  width: 1.375rem;
  height: 1.375rem;
}
.ticketinformationheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-darkslategray-100);
  height: 4.063rem;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-nanumgothic);
}
.b143 {
  position: absolute;
  width: 49.3%;
  bottom: 1.5rem;
  left: 25.12%;
  font-size: var(--font-size-9xl);
  display: flex;
  font-family: var(--font-nanumgothic);
  color: var(--color-darkslategray-200);
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
.footerpaymentbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-lavender-200);
  position: absolute;
  top: 0rem;
  left: 13.438rem;
  border-left: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 13.438rem;
  height: 5rem;
}
.b144 {
  position: absolute;
  width: 49.3%;
  bottom: 1.5rem;
  left: 25.12%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
.footerinformationbutton {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--color-lavender-200);
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 13.438rem;
  height: 5rem;
}
.ticketinformationfooter {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 5rem;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-nanumgothic);
}
.ticketinformation-12 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 63.75rem;
  overflow: hidden;
}
