@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-div134 {
  position: absolute;
  width: 100.11%;
  top: 0.688rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-trainselectmainnextdaybutton {
  position: absolute;
  width: 86.65%;
  top: 37.813rem;
  right: 6.6%;
  left: 6.74%;
  border-radius: 1.875rem;
  background-color: #F8F8F8;
  border: 1px solid #0C3C60;
  box-sizing: border-box;
  height: 2.813rem;
  color: #0C3C60;
}
.krail-trainlistline7 {
  position: absolute;
  width: 88.84%;
  top: 3.906rem;
  right: 5.47%;
  left: 5.7%;
  border-top: 1px solid #A5C9E3;
  box-sizing: border-box;
  height: 0.063rem;
}
.krail-ktx11 {
  margin: 0;
}
.krail-ktx-112-txt-container1 {
  line-break: anywhere;
  width: 100%;
}
.krail-ktx-1121 {
  position: absolute;
  width: 19.77%;
  top: 0.875rem;
  left: 0%;
  display: flex;
  align-items: center;
}
.krail-div135 {
  position: absolute;
  width: 16.28%;
  top: 0.875rem;
  left: 19.77%;
  display: flex;
  align-items: center;
}
.krail-div136 {
  position: absolute;
  width: 16.28%;
  top: 0.875rem;
  left: 36.05%;
  display: flex;
  align-items: center;
}
.krail-div137 {
  position: absolute;
  width: 100%;
  top: 0.188rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b328 {
  position: absolute;
  width: 64.71%;
  top: 1.313rem;
  left: 35.29%;
  font-size: .75rem;
  display: flex;
  color: #DE710C;
  text-align: left;
  align-items: center;
}
.krail-mileageimage-icon9 {
  position: absolute;
  top: 1.394rem;
  left: 0.975rem;
  width: 0.675rem;
  height: 0.713rem;
}
.krail-reservation69900button1 {
  position: absolute;
  width: 19.77%;
  top: 0.563rem;
  right: 2.09%;
  left: 78.14%;
  border: 1px solid #0C3C60;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: .875rem;
  color: #185C93;
}
.krail-reservation49900button2 {
  position: absolute;
  width: 19.77%;
  top: 0.563rem;
  right: 24.88%;
  left: 55.35%;
  border: 1px solid #0C3C60;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: .875rem;
  color: #185C93;
}
.krail-trainlist71 {
  position: absolute;
  width: 100%;
  top: 23.625rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-div141 {
  position: absolute;
  width: 100%;
  top: 0.688rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-soldoutbutton3 {
  position: absolute;
  width: 19.77%;
  top: 0.75rem;
  right: 2.09%;
  left: 78.14%;
  border: 1px solid #DE0C0C;
  box-sizing: border-box;
  height: 2.5rem;
  color: #DE0C0C;
}
.krail-unassignedsetbutton1 {
  position: absolute;
  width: 19.77%;
  top: 0.75rem;
  right: 24.88%;
  left: 55.35%;
  border: 1px solid #58DDE5;
  box-sizing: border-box;
  height: 2.5rem;
  color: #58DDE5;
}
.krail-trainlist61 {
  position: absolute;
  width: 100%;
  top: 19.688rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-hourglassimage-icon1 {
  position: absolute;
  top: 1.75rem;
  left: 4.813rem;
  width: 0.938rem;
  height: 1.188rem;
}
.krail-reservationred69900button1 {
  position: absolute;
  width: 19.77%;
  top: 0.563rem;
  right: 2.09%;
  left: 78.14%;
  border: 1px solid #DE0C0C;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: .875rem;
  color: #185C93;
}
.krail-trainlist51 {
  position: absolute;
  width: 100%;
  top: 15.75rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-soldoutbutton4 {
  position: absolute;
  width: 19.77%;
  top: 0.688rem;
  right: 2.09%;
  left: 78.14%;
  border: 1px solid #DE0C0C;
  box-sizing: border-box;
  height: 2.5rem;
  color: #DE0C0C;
}
.krail-div150 {
  position: absolute;
  width: 100%;
  top: 0.25rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b332 {
  position: absolute;
  width: 64.71%;
  top: 1.375rem;
  left: 35.29%;
  font-size: .75rem;
  display: flex;
  color: #DE710C;
  text-align: left;
  align-items: center;
}
.krail-mileageimage-icon13 {
  position: absolute;
  top: 1.313rem;
  left: 0.813rem;
  width: 1rem;
  height: 1rem;
}
.krail-reservation50300button3 {
  position: absolute;
  width: 19.77%;
  top: 0.688rem;
  right: 24.88%;
  left: 55.35%;
  border: 1px solid #0C3C60;
  box-sizing: border-box;
  height: 2.5rem;
  cursor: pointer;
  font-size: .875rem;
  color: #185C93;
}
.krail-trainlist41 {
  position: absolute;
  width: 100%;
  top: 11.813rem;
  right: 0%;
  left: 0%;
  background-color: rgba(165, 201, 227, 0.3);
  border: 2px solid #3F7BA8;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-div154 {
  position: absolute;
  width: 100%;
  top: 1.313rem;
  left: 0%;
  color: #639CC8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-waitseatbutton1 {
  position: absolute;
  width: 19.77%;
  top: 0.75rem;
  right: 24.88%;
  left: 55.35%;
  border: 1px solid #0C3C60;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: .875rem;
  color: #185C93;
}
.krail-trainlist31 {
  position: absolute;
  width: 100%;
  top: 7.875rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-b334 {
  position: absolute;
  width: 64.71%;
  top: 1.375rem;
  left: 35.29%;
  display: flex;
  align-items: center;
}
.krail-div159 {
  position: absolute;
  width: 100%;
  top: 0.25rem;
  left: 0%;
  font-size: .875rem;
  color: #185C93;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-reservation70400button2 {
  position: absolute;
  width: 19.77%;
  top: 0.75rem;
  right: 2.09%;
  left: 78.14%;
  border: 1px solid #0C3C60;
  box-sizing: border-box;
  height: 2.5rem;
  text-align: left;
  font-size: .75rem;
  color: #DE710C;
}
.krail-trainlist21 {
  position: absolute;
  width: 100%;
  top: 3.938rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-b335 {
  position: absolute;
  width: 65.88%;
  top: 1.375rem;
  left: 34.12%;
  display: flex;
  align-items: center;
}
.krail-trainlist11 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-trainselectmaintrainlistselect {
  position: absolute;
  width: 100%;
  top: 2.5rem;
  right: 0%;
  left: 0%;
  height: 27.563rem;
}
.krail-b337 {
  position: absolute;
  width: 18.14%;
  top: 0.563rem;
  left: 2.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b338 {
  position: absolute;
  width: 16.05%;
  top: 0.563rem;
  left: 20.47%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b339 {
  position: absolute;
  width: 17.67%;
  top: 0.563rem;
  left: 36.51%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b340 {
  position: absolute;
  width: 19.77%;
  top: 0.563rem;
  left: 55.35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b341 {
  position: absolute;
  width: 19.77%;
  top: 0.563rem;
  left: 77.21%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-trainselectmaintrainlisttitle {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #D9D9D9;
  border-top: 1px solid #535C63;
  border-bottom: 1px solid #535C63;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: 1.25rem;
  color: #535C63;
}
.krail-trainselectmainseat {
  position: absolute;
  width: 100%;
  top: 7.063rem;
  right: 0%;
  left: 0%;
  height: 30.063rem;
  font-size: 1rem;
}
.krail-div164 {
  position: absolute;
  width: 69.57%;
  top: 0.625rem;
  left: 8.7%;
  display: inline-block;
}
.krail-vector-icon24 {
  position: absolute;
  height: 17.5%;
  width: 15.22%;
  top: 40%;
  right: 6.52%;
  bottom: 42.5%;
  left: 78.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-schedulemaindatebutton31 {
  position: absolute;
  width: 21.4%;
  top: 3.625rem;
  right: 1.63%;
  left: 76.98%;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 2.5rem;
}
.krail-div165 {
  position: absolute;
  width: 80%;
  top: 0.625rem;
  left: 5.16%;
  display: inline-block;
}
.krail-vector-icon25 {
  position: absolute;
  height: 17.5%;
  width: 9.03%;
  top: 40%;
  right: 5.81%;
  bottom: 42.5%;
  left: 85.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-schedulemaindatebutton21 {
  position: absolute;
  width: 36.05%;
  top: 3.625rem;
  right: 24.88%;
  left: 39.07%;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 2.5rem;
  color: #535C63;
}
.krail-ktx16 {
  position: absolute;
  width: 78.71%;
  top: 0.625rem;
  left: 7.1%;
  display: inline-block;
}
.krail-vector-icon26 {
  position: absolute;
  height: 17.5%;
  width: 9.03%;
  top: 40%;
  right: 5.16%;
  bottom: 42.5%;
  left: 85.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-schedulemaindatebutton11 {
  position: absolute;
  width: 36.05%;
  top: 3.625rem;
  right: 62.79%;
  left: 1.16%;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 2.5rem;
  color: #535C63;
}
.krail-div166 {
  position: absolute;
  width: 100%;
  top: 0.563rem;
  left: 0%;
  display: inline-block;
  height: 1.125rem;
}
.krail-schedulemaindatenextbutton1 {
  position: absolute;
  width: 18.6%;
  top: 0.813rem;
  right: 1.63%;
  left: 79.77%;
  border-radius: 1.875rem;
  border: 2px solid #0C3C60;
  box-sizing: border-box;
  height: 2.25rem;
  text-align: center;
  font-size: 1rem;
  color: #0C3C60;
}
.krail-schedulemaindateprevbutton1 {
  position: absolute;
  width: 18.6%;
  top: 0.813rem;
  right: 78.37%;
  left: 3.02%;
  border-radius: 1.875rem;
  border: 2px solid #0C3C60;
  box-sizing: border-box;
  height: 2.25rem;
  text-align: center;
  font-size: 1rem;
  color: #0C3C60;
}
.krail-b342 {
  position: absolute;
  width: 58.14%;
  top: 1.25rem;
  left: 21.63%;
  font-size: 1.375rem;
  display: inline-block;
  text-align: center;
}
.krail-trainselectmaindate {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 7.063rem;
  text-align: left;
}
.krail-trainselectmain {
  position: absolute;
  width: 100%;
  top: 8.125rem;
  right: 0%;
  left: 0%;
  background-color: #F8F8F8;
  height: 40.625rem;
  text-align: center;
  font-size: 1.25rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-b343 {
  position: absolute;
  width: 46.05%;
  top: 0.875rem;
  left: 53.95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-trainscheduleheaderdestination-icon1 {
  position: absolute;
  width: 6.98%;
  top: 2.063rem;
  right: 46.98%;
  left: 46.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-b344 {
  position: absolute;
  width: 46.09%;
  top: 0.875rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-trainscheduleheaderdestination1 {
  position: absolute;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  background-color: #A5C9E3;
  height: 4.063rem;
}
.krail-trainselectheaderttitlereloadb-icon {
  position: absolute;
  top: 0.813rem;
  left: 22.063rem;
  width: 2.5rem;
  height: 2.5rem;
}
.krail-b345 {
  position: absolute;
  width: 100%;
  top: 0.875rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-trainselectttitle {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: #0C3C60;
  width: 26.875rem;
  height: 4.063rem;
  color: #FFF;
}
.krail-trainselectheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 8.125rem;
  text-align: center;
  font-size: 2rem;
  color: #0C3C60;
  font-family: 'Nanum Gothic';
}
.krail-b346 {
  position: absolute;
  bottom: 0rem;
  left: calc(50% - 53.75px);
  display: inline-block;
  width: 6.75rem;
  height: 1.875rem;
}
.krail-footerbutton4image5 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 1.875rem;
  left: calc(50% - 28.75px);
  width: 3.625rem;
  height: 3.438rem;
  background-image: url("/public/appguide/Korail/footerbutton4image@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.krail-footerbutton45 {
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 0%;
  left: 75%;
  background-color: #FFF;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-footerbutton3image-icon5 {
  position: absolute;
  bottom: 1.844rem;
  left: calc(50% - 26.75px);
  width: 3.381rem;
  height: 3.406rem;
  object-fit: cover;
}
.krail-footerbutton35 {
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 25%;
  left: 50%;
  background-color: #FFF;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-footerbutton2image-icon5 {
  position: absolute;
  bottom: 2.094rem;
  left: calc(50% - 26.75px);
  width: 3.356rem;
  height: 3.406rem;
  object-fit: cover;
}
.krail-footerbutton25 {
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 50%;
  left: 25%;
  background-color: #FFF;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-footerbutton1image-icon5 {
  position: absolute;
  bottom: 1.875rem;
  left: calc(50% - 40.75px);
  width: 5.169rem;
  height: 3.125rem;
  object-fit: cover;
}
.krail-footerbutton15 {
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 75%;
  left: 0%;
  background-color: #FFF;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
  cursor: pointer;
  color: #3995DB;
}
.krail-trainselectfooterbuttonset {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 5.625rem;
}
.krail-b350 {
  position: absolute;
  width: 100%;
  bottom: 1.813rem;
  left: 0%;
  font-size: 2rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #0B3B62;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 1.75rem;
}
.krail-trainselectfooterreservationbu {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #CDE0EE;
  position: absolute;
  width: 100%;
  top: 8.438rem;
  right: 0%;
  left: 0%;
  height: 5rem;
}
.krail-button6 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: -0.125rem;
  left: 0%;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Nanum Gothic';
  color: #FFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-footertraininfocontentbutton3 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 33.72%;
  top: 0rem;
  right: 0%;
  left: 66.28%;
  height: 1.5rem;
}
.krail-b351 {
  position: absolute;
  width: 100%;
  top: -0.125rem;
  left: 0%;
  font-size: 1.5rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #FFF;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.krail-footertraininfocontentbutton2 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 33.26%;
  top: 0.063rem;
  right: 33.72%;
  left: 33.02%;
  border-right: 3px solid #FFF;
  border-left: 3px solid #FFF;
  box-sizing: border-box;
  height: 1.5rem;
}
.krail-footertraininfocontentbutton1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 33.02%;
  top: 0.063rem;
  right: 66.98%;
  left: 0%;
  height: 1.5rem;
}
.krail-trainselectfootertraininfocont1 {
  position: absolute;
  width: 100%;
  top: 3.813rem;
  right: 0%;
  left: 0%;
  height: 1.563rem;
}
.krail-b353 {
  position: absolute;
  width: 20.93%;
  top: -0.062rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b354 {
  position: absolute;
  width: 79.07%;
  top: -0.062rem;
  left: 20.93%;
  display: flex;
  color: #FFF;
  text-align: left;
  align-items: center;
}
.krail-trainselectfootertraininfocont2 {
  position: absolute;
  width: 100%;
  top: 1.125rem;
  right: 0%;
  left: 0%;
  height: 1.25rem;
}
.krail-trainselectfootertraininfocont {
  position: absolute;
  width: 100%;
  top: 2.188rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 6.25rem;
}
.krail-trainselectfootertraininfoprev-icon {
  position: absolute;
  height: 20.86%;
  width: 57.14%;
  top: 45.71%;
  right: 21.43%;
  bottom: 33.43%;
  left: 21.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.krail-trainselectfootertraininfoprev {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #0C3C60;
  position: absolute;
  width: 16.28%;
  top: 0rem;
  right: 41.86%;
  left: 41.86%;
  border-radius: .625rem .625rem 0px 0px;
  height: 2.188rem;
}
.krail-trainselectfootertraininfo {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 8.438rem;
  font-size: 1.25rem;
  color: #58DDE5;
}
.krail-trainselectfooter {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 19.063rem;
  text-align: center;
  font-size: 1rem;
  color: #424242;
  font-family: 'Nanum Gothic';
}
.krail-trainselect-09 {
  width: 100%;
  position: relative;
  background-color: #F8F8F8;
  height: 58.25rem;
}
