@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-b83 {
  position: absolute;
  bottom: 0rem;
  left: calc(50% - 53.75px);
  display: inline-block;
  width: 6.75rem;
  height: 1.875rem;
}
.krail-footerbutton4image1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 1.875rem;
  left: calc(50% - 28.75px);
  width: 3.625rem;
  height: 3.438rem;
  background-image: url("/public/appguide/Korail/footerbutton4image@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.krail-footerbutton41 {
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 0%;
  left: 75%;
  background-color: #FFF;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-footerbutton3image-icon1 {
  position: absolute;
  bottom: 1.844rem;
  left: calc(50% - 26.75px);
  width: 3.381rem;
  height: 3.406rem;
  object-fit: cover;
}
.krail-footerbutton31 {
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 25%;
  left: 50%;
  background-color: #FFF;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-footerbutton2image-icon1 {
  position: absolute;
  bottom: 2.094rem;
  left: calc(50% - 26.75px);
  width: 3.356rem;
  height: 3.406rem;
  object-fit: cover;
}
.krail-footerbutton21 {
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 50%;
  left: 25%;
  background-color: #FFF;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-b86 {
  position: absolute;
  bottom: 0rem;
  left: calc(50% - 53.75px);
  font-size: 1rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #3995DB;
  text-align: center;
  width: 6.75rem;
  height: 1.875rem;
}
.krail-footerbutton1image-icon1 {
  position: absolute;
  bottom: 1.875rem;
  left: calc(50% - 40.75px);
  width: 5.169rem;
  height: 3.125rem;
  object-fit: cover;
}
.krail-footerbutton11 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #FFF;
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 75%;
  left: 0%;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-trainschedulefooter {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 5.625rem;
  text-align: center;
  font-size: 1rem;
  color: #424242;
  font-family: 'Nanum Gothic';
}
.krail-div {
  position: absolute;
  width: 100.11%;
  top: 0.688rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-trainschedulemainnextdaybutton {
  position: absolute;
  width: 86.65%;
  top: 37.813rem;
  right: 6.6%;
  left: 6.74%;
  border-radius: 1.875rem;
  background-color: #F8F8F8;
  border: 1px solid #0C3C60;
  box-sizing: border-box;
  height: 2.813rem;
  color: #363636;
}
.krail-trainlistline {
  position: absolute;
  width: 88.84%;
  top: 3.906rem;
  right: 5.47%;
  left: 5.7%;
  border-top: 1px solid #A5C9E3;
  box-sizing: border-box;
  height: 0.063rem;
}
.krail-ktx-112-txt-container {
  line-break: anywhere;
  width: 100%;
}
.krail-ktx-112 {
  position: absolute;
  width: 19.77%;
  top: 0.875rem;
  left: 0%;
  display: flex;
  align-items: center;
}
.krail-div1 {
  position: absolute;
  width: 16.28%;
  top: 0.875rem;
  left: 19.77%;
  display: flex;
  align-items: center;
}
.krail-div2 {
  position: absolute;
  width: 16.28%;
  top: 0.875rem;
  left: 36.05%;
  display: flex;
  align-items: center;
}
.krail-div3 {
  position: absolute;
  width: 100%;
  top: 0.188rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b87 {
  position: absolute;
  width: 64.71%;
  top: 1.313rem;
  left: 35.29%;
  font-size: .75rem;
  display: flex;
  color: #DE710C;
  text-align: left;
  align-items: center;
}
.krail-mileageimage-icon {
  position: absolute;
  top: 1.394rem;
  left: 0.975rem;
  width: 0.675rem;
  height: 0.713rem;
}
.krail-reservation69900button {
  position: absolute;
  width: 19.77%;
  top: 0.563rem;
  right: 2.09%;
  left: 78.14%;
  border: 1px solid #0C3C60;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: .875rem;
  color: #185C93;
}
.krail-reservation49900button {
  position: absolute;
  width: 19.77%;
  top: 0.563rem;
  right: 24.88%;
  left: 55.35%;
  border: 1px solid #0C3C60;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: .875rem;
  color: #185C93;
}
.krail-trainlist7 {
  position: absolute;
  width: 100%;
  top: 23.625rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-ktx- {
  margin: 0;
}
.krail-div7 {
  position: absolute;
  width: 100%;
  top: 0.688rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-soldoutbutton {
  position: absolute;
  width: 19.77%;
  top: 0.75rem;
  right: 2.09%;
  left: 78.14%;
  border: 1px solid #DE0C0C;
  box-sizing: border-box;
  height: 2.5rem;
  color: #DE0C0C;
}
.krail-unassignedsetbutton {
  position: absolute;
  width: 19.77%;
  top: 0.75rem;
  right: 24.88%;
  left: 55.35%;
  border: 1px solid #58DDE5;
  box-sizing: border-box;
  height: 2.5rem;
  color: #58DDE5;
}
.krail-trainlist6 {
  position: absolute;
  width: 100%;
  top: 19.688rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-hourglassimage-icon {
  position: absolute;
  top: 1.75rem;
  left: 4.813rem;
  width: 0.938rem;
  height: 1.188rem;
}
.krail-reservationred69900button {
  position: absolute;
  width: 19.77%;
  top: 0.563rem;
  right: 2.09%;
  left: 78.14%;
  border: 1px solid #DE0C0C;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: .875rem;
  color: #185C93;
}
.krail-trainlist5 {
  position: absolute;
  width: 100%;
  top: 15.75rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-soldoutbutton1 {
  position: absolute;
  width: 19.77%;
  top: 0.688rem;
  right: 2.09%;
  left: 78.14%;
  border: 1px solid #DE0C0C;
  box-sizing: border-box;
  height: 2.5rem;
  color: #DE0C0C;
}
.krail-div16 {
  position: absolute;
  width: 100%;
  top: 0.25rem;
  left: 0%;
  font-size: .875rem;
  font-family: 'Nanum Gothic';
  color: #185C93;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b91 {
  position: absolute;
  width: 64.71%;
  top: 1.375rem;
  left: 35.29%;
  font-size: .75rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #DE710C;
  text-align: left;
  align-items: center;
}
.krail-mileageimage-icon4 {
  position: absolute;
  top: 1.313rem;
  left: 0.813rem;
  width: 1rem;
  height: 1rem;
}
.krail-reservation50300button {
  cursor: pointer;
  border: 1px solid #0C3C60;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 19.77%;
  top: 0.688rem;
  right: 24.88%;
  left: 55.35%;
  box-sizing: border-box;
  height: 2.5rem;
}
.krail-trainlist4 {
  position: absolute;
  width: 100%;
  top: 11.813rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-div19 {
  position: absolute;
  width: 100%;
  top: 0.25rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-div20 {
  position: absolute;
  width: 100%;
  top: 1.313rem;
  left: 0%;
  color: #639CC8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-waitseatbutton {
  position: absolute;
  width: 19.77%;
  top: 0.75rem;
  right: 24.88%;
  left: 55.35%;
  border: 1px solid #0C3C60;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: .875rem;
  color: #185C93;
}
.krail-trainlist3 {
  position: absolute;
  width: 100%;
  top: 7.875rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-b92 {
  position: absolute;
  width: 64.71%;
  top: 1.375rem;
  left: 35.29%;
  font-size: .75rem;
  display: flex;
  color: #DE710C;
  text-align: left;
  align-items: center;
}
.krail-b93 {
  position: absolute;
  width: 64.71%;
  top: 1.375rem;
  left: 35.29%;
  display: flex;
  align-items: center;
}
.krail-div25 {
  position: absolute;
  width: 100%;
  top: 0.25rem;
  left: 0%;
  font-size: .875rem;
  color: #185C93;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-reservation70400button {
  position: absolute;
  width: 19.77%;
  top: 0.75rem;
  right: 2.09%;
  left: 78.14%;
  border: 1px solid #0C3C60;
  box-sizing: border-box;
  height: 2.5rem;
  text-align: left;
  font-size: .75rem;
  color: #DE710C;
}
.krail-trainlist2 {
  position: absolute;
  width: 100%;
  top: 3.938rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-b94 {
  position: absolute;
  width: 65.88%;
  top: 1.375rem;
  left: 34.12%;
  display: flex;
  align-items: center;
}
.krail-trainlist1 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #FFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  height: 3.938rem;
}
.krail-trainschedulemaintrainlistsele {
  position: absolute;
  width: 100%;
  top: 2.5rem;
  right: 0%;
  left: 0%;
  height: 27.563rem;
}
.krail-b96 {
  position: absolute;
  width: 18.14%;
  top: 0.563rem;
  left: 2.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b97 {
  position: absolute;
  width: 16.05%;
  top: 0.563rem;
  left: 20.47%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b98 {
  position: absolute;
  width: 17.67%;
  top: 0.563rem;
  left: 36.51%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b99 {
  position: absolute;
  width: 19.77%;
  top: 0.563rem;
  left: 55.35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b100 {
  position: absolute;
  width: 19.77%;
  top: 0.563rem;
  left: 77.21%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-trainschedulemaintrainlisttitl {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #D9D9D9;
  border-top: 1px solid #535C63;
  border-bottom: 1px solid #535C63;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: 1.25rem;
  color: #535C63;
}
.krail-trainschedulemainseat {
  position: absolute;
  width: 100%;
  top: 7.063rem;
  right: 0%;
  left: 0%;
  height: 30.063rem;
  font-size: 1rem;
}
.krail-div30 {
  position: absolute;
  width: 69.57%;
  top: 0.625rem;
  left: 8.7%;
  display: inline-block;
}
.krail-vector-icon1 {
  position: absolute;
  height: 17.5%;
  width: 15.22%;
  top: 40%;
  right: 6.52%;
  bottom: 42.5%;
  left: 78.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-schedulemaindatebutton3 {
  position: absolute;
  width: 21.4%;
  top: 3.625rem;
  right: 1.63%;
  left: 76.98%;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 2.5rem;
}
.krail-div31 {
  position: absolute;
  width: 80%;
  top: 0.625rem;
  left: 5.16%;
  display: inline-block;
}
.krail-vector-icon2 {
  position: absolute;
  height: 17.5%;
  width: 9.03%;
  top: 40%;
  right: 5.81%;
  bottom: 42.5%;
  left: 85.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-schedulemaindatebutton2 {
  position: absolute;
  width: 36.05%;
  top: 3.625rem;
  right: 24.88%;
  left: 39.07%;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 2.5rem;
  color: #535C63;
}
.krail-ktx6 {
  position: absolute;
  width: 78.71%;
  top: 0.625rem;
  left: 7.1%;
  display: inline-block;
}
.krail-vector-icon3 {
  position: absolute;
  height: 17.5%;
  width: 9.03%;
  top: 40%;
  right: 5.16%;
  bottom: 42.5%;
  left: 85.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-schedulemaindatebutton1 {
  position: absolute;
  width: 36.05%;
  top: 3.625rem;
  right: 62.79%;
  left: 1.16%;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 2.5rem;
  color: #535C63;
}
.krail-div32 {
  position: absolute;
  width: 100%;
  top: 0.563rem;
  left: 0%;
  display: inline-block;
  height: 1.125rem;
}
.krail-schedulemaindatenextbutton {
  position: absolute;
  width: 18.6%;
  top: 0.813rem;
  right: 1.63%;
  left: 79.77%;
  border-radius: 1.875rem;
  border: 2px solid #0C3C60;
  box-sizing: border-box;
  height: 2.25rem;
  text-align: center;
  font-size: 1rem;
  color: #0C3C60;
}
.krail-schedulemaindateprevbutton {
  position: absolute;
  width: 18.6%;
  top: 0.813rem;
  right: 78.37%;
  left: 3.02%;
  border-radius: 1.875rem;
  border: 2px solid #0C3C60;
  box-sizing: border-box;
  height: 2.25rem;
  text-align: center;
  font-size: 1rem;
  color: #0C3C60;
}
.krail-b101 {
  position: absolute;
  width: 58.14%;
  top: 1.25rem;
  left: 21.63%;
  font-size: 1.375rem;
  display: inline-block;
  text-align: center;
}
.krail-trainschedulemaindate {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 7.063rem;
  text-align: left;
}
.krail-trainschedulemain {
  position: absolute;
  width: 100%;
  top: 8.125rem;
  right: 0%;
  left: 0%;
  background-color: #F8F8F8;
  height: 40.625rem;
  text-align: center;
  font-size: 1.25rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-b102 {
  position: absolute;
  width: 46.05%;
  top: 0.875rem;
  left: 53.95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-trainscheduleheaderdestination-icon {
  position: absolute;
  width: 6.98%;
  top: 2.063rem;
  right: 46.98%;
  left: 46.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-b103 {
  position: absolute;
  width: 46.09%;
  top: 0.875rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-trainscheduleheaderdestination {
  position: absolute;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  background-color: #A5C9E3;
  height: 4.063rem;
}
.krail-trainscheduleheaderttitlereloa-icon {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  height: 2.5rem;
}
.krail-trainscheduleheaderttitlereloa {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0.813rem;
  right: 2.313rem;
  width: 2.5rem;
  height: 2.5rem;
}
.krail-b104 {
  position: absolute;
  width: 100%;
  top: 0.875rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-trainscheduleheaderttitle {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 4.063rem;
  color: #FFF;
}
.krail-trainscheduleheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 8.125rem;
  text-align: center;
  font-size: 2rem;
  color: #0C3C60;
  font-family: 'Nanum Gothic';
}
.krail-trainschedule-08 {
  width: 100%;
  position: relative;
  background-color: #F8F8F8;
  height: 58.25rem;
}
