.group-icon43 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  height: 3.438rem;
}
.b355 {
  position: absolute;
  top: 0.938rem;
  left: 30.91%;
}
.selectseatbutton-inner37 {
  position: absolute;
  width: 17.41%;
  top: 4.188rem;
  right: 22.47%;
  left: 60.13%;
  height: 3.438rem;
}
.a18 {
  position: absolute;
  top: 0.938rem;
  left: 29.09%;
}
.selectseatbutton-inner38 {
  position: absolute;
  width: 17.41%;
  top: 4.188rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.group-frame {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 3.438rem;
}
.group-parent108 {
  position: absolute;
  width: 17.41%;
  top: 0rem;
  right: 22.47%;
  left: 60.13%;
  height: 3.438rem;
}
.selectseatbutton-inner39 {
  position: absolute;
  width: 17.41%;
  top: 4.25rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.selectseatbutton-inner40 {
  position: absolute;
  width: 17.41%;
  top: 4.25rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.group-parent123 {
  position: absolute;
  width: 17.41%;
  top: 25.25rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent124 {
  position: absolute;
  width: 17.41%;
  top: 25.25rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent127 {
  position: absolute;
  width: 17.41%;
  top: 29.5rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent128 {
  position: absolute;
  width: 17.41%;
  top: 29.5rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent129 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent130 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.d15 {
  position: absolute;
  top: 0.938rem;
  left: 20%;
}
.group-parent131 {
  position: absolute;
  width: 17.41%;
  top: 38rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent132 {
  position: absolute;
  width: 17.41%;
  top: 38rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent133 {
  position: absolute;
  width: 17.41%;
  top: 42.25rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent134 {
  position: absolute;
  width: 17.41%;
  top: 42.25rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent135 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 0%;
  left: 82.59%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent136 {
  position: absolute;
  width: 17.41%;
  top: 0.125rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent137 {
  position: absolute;
  width: 17.41%;
  top: 25.313rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent138 {
  position: absolute;
  width: 17.41%;
  top: 0.063rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent139 {
  position: absolute;
  width: 17.41%;
  top: 0rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.group-parent140 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: var(--color-dimgray);
}
.selectseatbutton-inner41 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.selectseatbutton-inner42 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.selectseatbutton-inner43 {
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.selectseatbutton-inner44 {
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.selectseatbutton-inner45 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.selectseatbutton-inner46 {
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.selectseatbutton-inner47 {
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.selectseatbutton-inner48 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 82.59%;
  left: 0%;
  height: 3.438rem;
}
.selectseatbutton-inner49 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 61.08%;
  left: 21.52%;
  height: 3.438rem;
}
.b367 {
  position: absolute;
  top: 0.938rem;
  left: 21.82%;
}
.selectseatbutton-inner50 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.selectseatbutton-inner51 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 82.59%;
  left: 0%;
  height: 3.438rem;
}
.selectseatbutton-inner52 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 61.08%;
  left: 21.52%;
  height: 3.438rem;
}
.selectseatbutton-inner53 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.selectseatbutton-inner54 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.selectseatbutton-inner55 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.selectseatbutton-inner56 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.selectseatbutton-inner57 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.selectseatbutton-inner58 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.selectseatbutton-inner59 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.selectseatbutton-inner60 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.selectseatbutton-inner61 {
  position: absolute;
  width: 17.41%;
  top: 42.125rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.selectseatbutton-inner62 {
  position: absolute;
  width: 17.41%;
  top: 42.125rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.selectseatbutton-inner63 {
  position: absolute;
  width: 17.41%;
  top: 37.938rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.selectseatbutton-inner64 {
  position: absolute;
  width: 17.41%;
  top: 37.938rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.selectseatbutton-inner65 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.selectseatbutton-inner66 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.selectseatbutton-inner67 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.selectseatbutton-inner68 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.selectseatbutton-inner69 {
  position: absolute;
  width: 17.41%;
  top: 29.563rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.selectseatbutton-inner70 {
  position: absolute;
  width: 17.41%;
  top: 29.563rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.selectseatbutton-inner71 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.selectseatbutton-inner72 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.selectseatbutton-inner73 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.selectseatbutton-inner74 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.selectseatbutton-inner75 {
  position: absolute;
  width: 17.41%;
  top: 25.375rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.selectseatbutton1 {
  position: absolute;
  width: 73.49%;
  top: 3.438rem;
  right: 13.02%;
  left: 13.49%;
  height: 58.313rem;
}
.b374 {
  position: absolute;
  width: 18.84%;
  top: -0.062rem;
  left: 84.93%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b375 {
  position: absolute;
  top: -0.062rem;
  left: 65.07%;
}
.b376 {
  position: absolute;
  top: -0.062rem;
  left: 23.29%;
}
.b377 {
  position: absolute;
  top: -0.062rem;
  left: 0%;
}
.sideinfotext1 {
  position: absolute;
  width: 67.91%;
  top: 1.5rem;
  right: 15.81%;
  left: 16.28%;
  height: 1.125rem;
  color: var(--color-dimgray);
}
.rightwindowimage-child4 {
  position: absolute;
  width: 100%;
  top: 50.625rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.rightwindowimage-child5 {
  position: absolute;
  width: 100%;
  top: 42.188rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.rightwindowimage-child6 {
  position: absolute;
  width: 100%;
  top: 33.75rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.rightwindowimage-child7 {
  position: absolute;
  width: 100%;
  top: 25.313rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.rightwindowimage-child8 {
  position: absolute;
  width: 100%;
  top: 16.875rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.rightwindowimage-child9 {
  position: absolute;
  width: 100%;
  top: 8.438rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.rightwindowimage-child10 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.rightwindowimage1 {
  position: absolute;
  width: 2.33%;
  top: 3.125rem;
  right: 6.98%;
  left: 90.7%;
  height: 58.75rem;
}
.leftwindowimage-child5 {
  position: absolute;
  width: 90.91%;
  top: 50.625rem;
  right: 9.09%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.leftwindowimage-child6 {
  position: absolute;
  width: 90.91%;
  top: 42.188rem;
  right: 9.09%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.rectangle-icon {
  position: absolute;
  width: 90.91%;
  top: 33.75rem;
  right: 9.09%;
  left: 0%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 8.125rem;
}
.leftwindowimage-child7 {
  position: absolute;
  width: 90.91%;
  top: 25.313rem;
  right: 0%;
  left: 9.09%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.leftwindowimage-child8 {
  position: absolute;
  width: 90.91%;
  top: 16.813rem;
  right: 0%;
  left: 9.09%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.leftwindowimage-child9 {
  position: absolute;
  width: 90.91%;
  top: 8.375rem;
  right: 0%;
  left: 9.09%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.leftwindowimage-child10 {
  position: absolute;
  width: 90.91%;
  top: 0rem;
  right: 0%;
  left: 9.09%;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightsteelblue-100);
  height: 8.125rem;
}
.leftwindowimage1 {
  position: absolute;
  width: 2.56%;
  top: 3.125rem;
  right: 90%;
  left: 7.44%;
  height: 58.75rem;
}
.directionalindicatorimage-icon {
  position: absolute;
  width: 4.65%;
  top: 3.75rem;
  right: 47.67%;
  left: 47.67%;
  max-width: 100%;
  overflow: hidden;
  height: 58.125rem;
  opacity: 0.4;
}
.trainseatselectmainseatscroll {
  position: absolute;
  width: 100%;
  top: 21.625rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-whitesmoke-100);
  height: 62.875rem;
  overflow-y: auto;
}
.b378 {
  position: absolute;
  width: 65.87%;
  top: 0.5rem;
  left: 34.13%;
  display: flex;
  align-items: center;
}
.statusreverseseatimage-icon1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 2.5rem;
  height: 2.5rem;
}
.statusreverseseat1 {
  position: absolute;
  width: 30.29%;
  top: 0rem;
  right: 0%;
  left: 69.71%;
  height: 2.5rem;
}
.b379 {
  position: absolute;
  width: 66.41%;
  top: 0.5rem;
  left: 33.59%;
  display: flex;
  align-items: center;
}
.statusforwardseat1 {
  position: absolute;
  width: 30.77%;
  top: 0rem;
  right: 30.29%;
  left: 38.94%;
  height: 2.5rem;
}
.b380 {
  position: absolute;
  width: 73.46%;
  top: 0.5rem;
  left: 26.54%;
  display: flex;
  align-items: center;
}
.statusnotavailableseat1 {
  position: absolute;
  width: 38.94%;
  top: 0rem;
  right: 61.06%;
  left: 0%;
  height: 2.5rem;
}
.maininfoseatstatus1 {
  position: absolute;
  width: 96.74%;
  top: 14.063rem;
  right: -0.23%;
  left: 3.49%;
  height: 2.5rem;
}
.maininfovrbuttonimage-icon {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  border-radius: 15px;
  max-width: 100%;
  overflow: hidden;
  height: 4.119rem;
  object-fit: cover;
}
.maininfovrbutton {
  position: absolute;
  width: 100%;
  top: 8.75rem;
  right: 0%;
  left: 0%;
  height: 4.119rem;
}
.div168 {
  position: absolute;
  top: 0.688rem;
  left: 0rem;
  display: inline-block;
  width: 4.938rem;
}
.maininfocarstatusnextcarbutton1 {
  position: absolute;
  width: 19.66%;
  top: 0rem;
  right: 0%;
  left: 80.34%;
  border-radius: var(--br-11xl);
  border: 2px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  height: 2.25rem;
}
.div169 {
  position: absolute;
  top: 0.688rem;
  left: 0rem;
  display: inline-block;
  width: 4.875rem;
}
.maininfocarstatusprevcarbutton1 {
  position: absolute;
  width: 19.66%;
  top: 0rem;
  right: 80.34%;
  left: 0%;
  border-radius: var(--br-11xl);
  border: 2px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  height: 2.25rem;
}
.ktx-1626 {
  position: absolute;
  width: 100%;
  top: 0rem;
  left: 0%;
  display: inline-block;
}
.div170 {
  position: absolute;
  width: 100%;
  top: 2.063rem;
  left: 0%;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  white-space: pre-wrap;
  display: inline-block;
}
.maininfocarstatustext1 {
  position: absolute;
  width: 68.3%;
  top: 0rem;
  right: 15.97%;
  left: 15.72%;
  height: 3.188rem;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.maininfocarstatus1 {
  position: absolute;
  width: 94.65%;
  top: 4.375rem;
  right: 2.56%;
  left: 2.79%;
  height: 3.188rem;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.div171 {
  position: absolute;
  width: 89.16%;
  top: 0.625rem;
  left: 2.72%;
  display: inline-block;
}
.carselectionbuttonimage-icon1 {
  position: absolute;
  top: 1rem;
  right: 0.881rem;
  width: 0.881rem;
  height: 0.438rem;
}
.maininfocarselectionbutton1 {
  position: absolute;
  width: 94.21%;
  top: 0.625rem;
  right: 3%;
  left: 2.79%;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 2.5rem;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
}
.trainseatselectmaininfo {
  position: absolute;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  height: 17.563rem;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-200);
  font-family: var(--font-nanumgothic);
}
.b381 {
  position: absolute;
  width: 99.54%;
  bottom: 1.063rem;
  left: 0%;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-family: var(--font-nanumgothic);
  color: var(--color-darkslategray-200);
  text-align: center;
}
.trainseatselectfooterbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-lavender-200);
  position: absolute;
  width: 100.23%;
  top: 6.875rem;
  right: -0.23%;
  left: 0%;
  height: 4.375rem;
}
.a32 {
  position: absolute;
  width: 99.31%;
  bottom: 0.5rem;
  left: 0.46%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b382 {
  position: absolute;
  width: 99.54%;
  bottom: 2.688rem;
  left: 0.46%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b383 {
  position: absolute;
  width: 99.31%;
  bottom: 4.75rem;
  left: 0.46%;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-mediumturquoise);
  align-items: center;
  justify-content: center;
  height: 1.375rem;
}
.trainseatselectfooterinfo {
  position: absolute;
  width: 100.47%;
  top: 0rem;
  right: -0.47%;
  left: 0%;
  background-color: var(--color-darkslategray-300);
  height: 6.875rem;
}
.trainseatselectfooter {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 11.25rem;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-nanumgothic);
}
.b384 {
  position: absolute;
  top: 1rem;
  left: 23.26%;
}
.trainseatselectheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: var(--color-darkslategray-100);
  height: 4.063rem;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-nanumgothic);
}
.trainseatselect-11 {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  height: 95.625rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-nanumgothic);
}
