@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-group-icon {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  height: 3.438rem;
}
.krail-b105 {
  position: absolute;
  top: 0.938rem;
  left: 30.91%;
}
.krail-group-parent {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner {
  position: absolute;
  width: 17.41%;
  top: 4.188rem;
  right: 22.47%;
  left: 60.13%;
  height: 3.438rem;
}
.krail-a {
  position: absolute;
  top: 0.938rem;
  left: 29.09%;
}
.krail-selectseatbutton-child {
  position: absolute;
  width: 17.41%;
  top: 4.188rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-group-parent1 {
  position: absolute;
  width: 17.41%;
  top: 0rem;
  right: 22.47%;
  left: 60.13%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner1 {
  position: absolute;
  width: 17.41%;
  top: 4.25rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner2 {
  position: absolute;
  width: 17.41%;
  top: 4.25rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-group-parent16 {
  position: absolute;
  width: 17.41%;
  top: 25.25rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent17 {
  position: absolute;
  width: 17.41%;
  top: 25.25rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent20 {
  position: absolute;
  width: 17.41%;
  top: 29.5rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent21 {
  position: absolute;
  width: 17.41%;
  top: 29.5rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent22 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent23 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: #535C63;
}
.krail-d1 {
  position: absolute;
  top: 0.938rem;
  left: 20%;
}
.krail-group-parent24 {
  position: absolute;
  width: 17.41%;
  top: 38rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent25 {
  position: absolute;
  width: 17.41%;
  top: 38rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent26 {
  position: absolute;
  width: 17.41%;
  top: 42.25rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent27 {
  position: absolute;
  width: 17.41%;
  top: 42.25rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent28 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 0%;
  left: 82.59%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent29 {
  position: absolute;
  width: 17.41%;
  top: 0.125rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent30 {
  position: absolute;
  width: 17.41%;
  top: 25.313rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent31 {
  position: absolute;
  width: 17.41%;
  top: 0.063rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent32 {
  position: absolute;
  width: 17.41%;
  top: 0rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent33 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: #535C63;
}
.krail-selectseatbutton-inner3 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner4 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner5 {
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner6 {
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner7 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner8 {
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-a7 {
  position: absolute;
  top: 0.938rem;
  left: 29.09%;
  font-size: 1.125rem;
  font-family: 'Nanum Gothic';
  color: #000;
  text-align: center;
}
.krail-group-button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner9 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 82.59%;
  left: 0%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner10 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 61.08%;
  left: 21.52%;
  height: 3.438rem;
}
.krail-b117 {
  position: absolute;
  top: 0.938rem;
  left: 21.82%;
}
.krail-selectseatbutton-inner11 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner12 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 82.59%;
  left: 0%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner13 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 61.08%;
  left: 21.52%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner14 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner15 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner16 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner17 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner18 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner19 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner20 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner21 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner22 {
  position: absolute;
  width: 17.41%;
  top: 42.125rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner23 {
  position: absolute;
  width: 17.41%;
  top: 42.125rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner24 {
  position: absolute;
  width: 17.41%;
  top: 37.938rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner25 {
  position: absolute;
  width: 17.41%;
  top: 37.938rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner26 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner27 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner28 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner29 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner30 {
  position: absolute;
  width: 17.41%;
  top: 29.563rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner31 {
  position: absolute;
  width: 17.41%;
  top: 29.563rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner32 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner33 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner34 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner35 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner36 {
  position: absolute;
  width: 17.41%;
  top: 25.375rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton {
  position: absolute;
  width: 73.49%;
  top: 3.438rem;
  right: 13.02%;
  left: 13.49%;
  height: 58.313rem;
}
.krail-b124 {
  position: absolute;
  width: 19.18%;
  /* top: -0.125rem; */
  left: 84.93%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b125 {
  position: absolute;
  top: -0.062rem;
  left: 65.07%;
}
.krail-b126 {
  position: absolute;
  top: -0.062rem;
  left: 23.29%;
}
.krail-b127 {
  position: absolute;
  top: -0.062rem;
  left: 0%;
}
.krail-sideinfotext {
  position: absolute;
  width: 67.91%;
  top: 1.5rem;
  right: 15.81%;
  left: 16.28%;
  height: 1.125rem;
  color: #535C63;
}
.krail-rightwindowimage-child {
  position: absolute;
  width: 100%;
  top: 50.625rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage-item {
  position: absolute;
  width: 100%;
  top: 42.188rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage-inner {
  position: absolute;
  width: 100%;
  top: 33.75rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rectangle-div {
  position: absolute;
  width: 100%;
  top: 25.313rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage-child1 {
  position: absolute;
  width: 100%;
  top: 16.875rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage-child2 {
  position: absolute;
  width: 100%;
  top: 8.438rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage-child3 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage {
  position: absolute;
  width: 2.33%;
  top: 3.125rem;
  right: 6.98%;
  left: 90.7%;
  height: 58.75rem;
}
.krail-leftwindowimage-child {
  position: absolute;
  width: 90.91%;
  top: 50.625rem;
  right: 9.09%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-leftwindowimage-item {
  position: absolute;
  width: 90.91%;
  top: 42.188rem;
  right: 9.09%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-leftwindowimage-inner {
  position: absolute;
  width: 90.91%;
  top: 33.75rem;
  right: 9.09%;
  left: 0%;
  border-radius: .625rem;
  max-width: 100%;
  overflow: hidden;
  height: 8.125rem;
}
.krail-leftwindowimage-child1 {
  position: absolute;
  width: 90.91%;
  top: 25.313rem;
  right: 0%;
  left: 9.09%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-leftwindowimage-child2 {
  position: absolute;
  width: 90.91%;
  top: 16.813rem;
  right: 0%;
  left: 9.09%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-leftwindowimage-child3 {
  position: absolute;
  width: 90.91%;
  top: 8.375rem;
  right: 0%;
  left: 9.09%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-leftwindowimage-child4 {
  position: absolute;
  width: 90.91%;
  top: 0rem;
  right: 0%;
  left: 9.09%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-leftwindowimage {
  position: absolute;
  width: 2.56%;
  top: 3.125rem;
  right: 90%;
  left: 7.44%;
  height: 58.75rem;
}
.krail-vector-icon4 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon5 {
  position: absolute;
  top: 3.563rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon6 {
  position: absolute;
  top: 7.125rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon7 {
  position: absolute;
  top: 10.688rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon8 {
  position: absolute;
  top: 14.25rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon9 {
  position: absolute;
  top: 17.813rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon10 {
  position: absolute;
  top: 21.375rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon11 {
  position: absolute;
  top: 24.938rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon12 {
  position: absolute;
  top: 28.5rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon13 {
  position: absolute;
  top: 32.063rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon14 {
  position: absolute;
  top: 35.625rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon15 {
  position: absolute;
  top: 39.188rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon16 {
  position: absolute;
  top: 42.75rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon17 {
  position: absolute;
  top: 46.313rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon18 {
  position: absolute;
  top: 49.875rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon19 {
  position: absolute;
  top: 53.438rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-vector-icon20 {
  position: absolute;
  top: 57rem;
  left: 0rem;
  width: 1.25rem;
  height: 0.75rem;
}
.krail-directionalindicatorimage {
  position: absolute;
  width: 4.65%;
  top: 3.75rem;
  right: 47.67%;
  left: 47.67%;
  height: 58.125rem;
  opacity: 0.1;
}
.krail-trainseatmainseatscroll {
  position: absolute;
  width: 100%;
  top: 21.625rem;
  right: 0%;
  left: 0%;
  background-color: #F8F8F8;
  height: 62.875rem;
  overflow-y: auto;
  text-align: center;
  font-size: 1.125rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-b128 {
  position: absolute;
  width: 65.87%;
  top: 0.5rem;
  left: 34.13%;
  display: flex;
  align-items: center;
}
.krail-statusreverseseatimage-icon {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 2.5rem;
  height: 2.5rem;
}
.krail-statusreverseseat {
  position: absolute;
  width: 30.29%;
  top: 0rem;
  right: 0%;
  left: 69.71%;
  height: 2.5rem;
}
.krail-b129 {
  position: absolute;
  width: 66.41%;
  top: 0.5rem;
  left: 33.59%;
  display: flex;
  align-items: center;
}
.krail-statusforwardseat {
  position: absolute;
  width: 30.77%;
  top: 0rem;
  right: 30.29%;
  left: 38.94%;
  height: 2.5rem;
}
.krail-b130 {
  position: absolute;
  width: 73.46%;
  top: 0.5rem;
  left: 26.54%;
  display: flex;
  align-items: center;
}
.krail-statusnotavailableseat {
  position: absolute;
  width: 38.94%;
  top: 0rem;
  right: 61.06%;
  left: 0%;
  height: 2.5rem;
}
.krail-maininfoseatstatus {
  position: absolute;
  width: 96.74%;
  top: 14.063rem;
  right: -0.23%;
  left: 3.49%;
  height: 2.5rem;
}
.krail-maininfovrbutton-icon {
  position: absolute;
  width: 100%;
  top: 8.75rem;
  right: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  height: 4.119rem;
  object-fit: cover;
}
.krail-div34 {
  position: absolute;
  top: 0.688rem;
  left: 0rem;
  display: inline-block;
  width: 4.938rem;
}
.krail-maininfocarstatusnextcarbutton {
  position: absolute;
  width: 19.66%;
  top: 0rem;
  right: 0%;
  left: 80.34%;
  border-radius: 1.875rem;
  border: 2px solid #0C3C60;
  box-sizing: border-box;
  height: 2.25rem;
}
.krail-div35 {
  position: absolute;
  top: 0.4rem;
  left: 0rem;
  display: inline-block;
  width: 4.875rem;
}
.krail-maininfocarstatusprevcarbutton {
  position: absolute;
  width: 19.66%;
  top: 0rem;
  right: 80.34%;
  left: 0%;
  border-radius: 1.875rem;
  border: 2px solid #0C3C60;
  box-sizing: border-box;
  height: 2.25rem;
}
.krail-ktx-1621 {
  position: absolute;
  width: 100%;
  top: 0rem;
  left: 0%;
  display: inline-block;
}
.krail-div36 {
  position: absolute;
  width: 100%;
  top: 2.063rem;
  left: 0%;
  font-size: 1.125rem;
  color: #535C63;
  white-space: pre-wrap;
  display: inline-block;
}
.krail-maininfocarstatustext {
  position: absolute;
  width: 68.3%;
  top: 0rem;
  right: 15.97%;
  left: 15.72%;
  height: 3.188rem;
  font-size: 1.375rem;
  color: #000;
}
.krail-maininfocarstatus {
  position: absolute;
  width: 94.65%;
  top: 4.375rem;
  right: 2.56%;
  left: 2.79%;
  height: 3.188rem;
  text-align: center;
  font-size: 1rem;
  color: #0C3C60;
}
.krail-div37 {
  position: absolute;
  width: 89.16%;
  top: 0.625rem;
  left: 2.72%;
  display: inline-block;
}
.krail-carselectionbuttonimage-icon {
  position: absolute;
  top: 1rem;
  right: 0.881rem;
  width: 0.881rem;
  height: 0.438rem;
}
.krail-maininfocarselectionbutton {
  position: absolute;
  width: 94.21%;
  top: 0.625rem;
  right: 3%;
  left: 2.79%;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: 1.25rem;
  color: #535C63;
}
.krail-trainseatmaininfo {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  background-color: #F8F8F8;
  height: 17.563rem;
}
.krail-b131 {
  position: absolute;
  top: 1rem;
  left: 23.26%;
}
.krail-trainseatheader {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 4.063rem;
  text-align: center;
  font-size: 2rem;
  color: #FFF;
  font-family: 'Nanum Gothic';
}
.krail-b132 {
  position: absolute;
  width: 100%;
  bottom: 2.688rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
}
.krail-b133 {
  position: absolute;
  width: 100%;
  bottom: 4.75rem;
  left: 0%;
  font-size: 1.25rem;
  display: flex;
  color: #58DDE5;
  align-items: center;
  justify-content: center;
  height: 1.375rem;
}
.krail-trainseatfooter {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  right: 0%;
  bottom: -0.062rem;
  left: 0%;
  background-color: #3C627F;
  height: 6.875rem;
  text-align: center;
  font-size: 1.375rem;
  color: #FFF;
  font-family: 'Nanum Gothic';
}
.krail-trainseat-10 {
  width: 100%;
  position: relative;
  background-color: #F8F8F8;
  height: 91.313rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.5rem;
  color: #8A8D8E;
  font-family: 'Nanum Gothic';
}
