@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-group-icon43 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  height: 3.438rem;
}
.krail-b355 {
  position: absolute;
  top: 0.938rem;
  left: 30.91%;
}
.krail-selectseatbutton-inner37 {
  position: absolute;
  width: 17.41%;
  top: 4.188rem;
  right: 22.47%;
  left: 60.13%;
  height: 3.438rem;
}
.krail-a18 {
  position: absolute;
  top: 0.938rem;
  left: 29.09%;
}
.krail-selectseatbutton-inner38 {
  position: absolute;
  width: 17.41%;
  top: 4.188rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-group-frame {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 3.438rem;
}
.krail-group-parent108 {
  position: absolute;
  width: 17.41%;
  top: 0rem;
  right: 22.47%;
  left: 60.13%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner39 {
  position: absolute;
  width: 17.41%;
  top: 4.25rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner40 {
  position: absolute;
  width: 17.41%;
  top: 4.25rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-group-parent123 {
  position: absolute;
  width: 17.41%;
  top: 25.25rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent124 {
  position: absolute;
  width: 17.41%;
  top: 25.25rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent127 {
  position: absolute;
  width: 17.41%;
  top: 29.5rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent128 {
  position: absolute;
  width: 17.41%;
  top: 29.5rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent129 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent130 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: #535C63;
}
.krail-d15 {
  position: absolute;
  top: 0.938rem;
  left: 20%;
}
.krail-group-parent131 {
  position: absolute;
  width: 17.41%;
  top: 38rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent132 {
  position: absolute;
  width: 17.41%;
  top: 38rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent133 {
  position: absolute;
  width: 17.41%;
  top: 42.25rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent134 {
  position: absolute;
  width: 17.41%;
  top: 42.25rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent135 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 0%;
  left: 82.59%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent136 {
  position: absolute;
  width: 17.41%;
  top: 0.125rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent137 {
  position: absolute;
  width: 17.41%;
  top: 25.313rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent138 {
  position: absolute;
  width: 17.41%;
  top: 0.063rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent139 {
  position: absolute;
  width: 17.41%;
  top: 0rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: #535C63;
}
.krail-group-parent140 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
  color: #535C63;
}
.krail-selectseatbutton-inner41 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner42 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner43 {
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner44 {
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner45 {
  position: absolute;
  width: 17.41%;
  top: 12.625rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner46 {
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner47 {
  position: absolute;
  width: 17.41%;
  top: 8.438rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner48 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 82.59%;
  left: 0%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner49 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 61.08%;
  left: 21.52%;
  height: 3.438rem;
}
.krail-b367 {
  position: absolute;
  top: 0.938rem;
  left: 21.82%;
}
.krail-selectseatbutton-inner50 {
  position: absolute;
  width: 17.41%;
  top: 54.875rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner51 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 82.59%;
  left: 0%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner52 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 61.08%;
  left: 21.52%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner53 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner54 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner55 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner56 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner57 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner58 {
  position: absolute;
  width: 17.41%;
  top: 21.063rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner59 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner60 {
  position: absolute;
  width: 17.41%;
  top: 16.875rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner61 {
  position: absolute;
  width: 17.41%;
  top: 42.125rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner62 {
  position: absolute;
  width: 17.41%;
  top: 42.125rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner63 {
  position: absolute;
  width: 17.41%;
  top: 37.938rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner64 {
  position: absolute;
  width: 17.41%;
  top: 37.938rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner65 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner66 {
  position: absolute;
  width: 17.41%;
  top: 50.688rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner67 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 21.84%;
  left: 60.76%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner68 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 0.32%;
  left: 82.28%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner69 {
  position: absolute;
  width: 17.41%;
  top: 29.563rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner70 {
  position: absolute;
  width: 17.41%;
  top: 29.563rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner71 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner72 {
  position: absolute;
  width: 17.41%;
  top: 33.75rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner73 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 82.28%;
  left: 0.32%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner74 {
  position: absolute;
  width: 17.41%;
  top: 46.5rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton-inner75 {
  position: absolute;
  width: 17.41%;
  top: 25.375rem;
  right: 60.76%;
  left: 21.84%;
  height: 3.438rem;
}
.krail-selectseatbutton1 {
  position: absolute;
  width: 73.49%;
  top: 3.438rem;
  right: 13.02%;
  left: 13.49%;
  height: 58.313rem;
}
.krail-b374 {
  position: absolute;
  width: 18.84%;
  top: -0.062rem;
  left: 84.93%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.krail-b375 {
  position: absolute;
  top: -0.062rem;
  left: 65.07%;
}
.krail-b376 {
  position: absolute;
  top: -0.062rem;
  left: 23.29%;
}
.krail-b377 {
  position: absolute;
  top: -0.062rem;
  left: 0%;
}
.krail-sideinfotext1 {
  position: absolute;
  width: 67.91%;
  top: 1.5rem;
  right: 15.81%;
  left: 16.28%;
  height: 1.125rem;
  color: #535C63;
}
.krail-rightwindowimage-child4 {
  position: absolute;
  width: 100%;
  top: 50.625rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage-child5 {
  position: absolute;
  width: 100%;
  top: 42.188rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage-child6 {
  position: absolute;
  width: 100%;
  top: 33.75rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage-child7 {
  position: absolute;
  width: 100%;
  top: 25.313rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage-child8 {
  position: absolute;
  width: 100%;
  top: 16.875rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage-child9 {
  position: absolute;
  width: 100%;
  top: 8.438rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage-child10 {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rightwindowimage1 {
  position: absolute;
  width: 2.33%;
  top: 3.125rem;
  right: 6.98%;
  left: 90.7%;
  height: 58.75rem;
}
.krail-leftwindowimage-child5 {
  position: absolute;
  width: 90.91%;
  top: 50.625rem;
  right: 9.09%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-leftwindowimage-child6 {
  position: absolute;
  width: 90.91%;
  top: 42.188rem;
  right: 9.09%;
  left: 0%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-rectangle-icon {
  position: absolute;
  width: 90.91%;
  top: 33.75rem;
  right: 9.09%;
  left: 0%;
  border-radius: .625rem;
  max-width: 100%;
  overflow: hidden;
  height: 8.125rem;
}
.krail-leftwindowimage-child7 {
  position: absolute;
  width: 90.91%;
  top: 25.313rem;
  right: 0%;
  left: 9.09%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-leftwindowimage-child8 {
  position: absolute;
  width: 90.91%;
  top: 16.813rem;
  right: 0%;
  left: 9.09%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-leftwindowimage-child9 {
  position: absolute;
  width: 90.91%;
  top: 8.375rem;
  right: 0%;
  left: 9.09%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-leftwindowimage-child10 {
  position: absolute;
  width: 90.91%;
  top: 0rem;
  right: 0%;
  left: 9.09%;
  border-radius: .625rem;
  background-color: #A5C9E3;
  height: 8.125rem;
}
.krail-leftwindowimage1 {
  position: absolute;
  width: 2.56%;
  top: 3.125rem;
  right: 90%;
  left: 7.44%;
  height: 58.75rem;
}
.krail-directionalindicatorimage-icon {
  position: absolute;
  width: 4.65%;
  top: -0.5rem;
  right: 47.67%;
  left: 47.67%;
  height: 90%;
  opacity: 0.2;
}
.krail-trainseatselectmainseatscroll {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  top: 21.625rem;
  right: 0%;
  left: 0%;
  background-color: #F8F8F8;
  height: 62.875rem;
  overflow-y: auto;
}
.krail-b378 {
  position: absolute;
  width: 65.87%;
  top: 0.5rem;
  left: 34.13%;
  display: flex;
  align-items: center;
}
.krail-statusreverseseatimage-icon1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 2.5rem;
  height: 2.5rem;
}
.krail-statusreverseseat1 {
  position: absolute;
  width: 30.29%;
  top: 0rem;
  right: 0%;
  left: 69.71%;
  height: 2.5rem;
}
.krail-b379 {
  position: absolute;
  width: 66.41%;
  top: 0.5rem;
  left: 33.59%;
  display: flex;
  align-items: center;
}
.krail-statusforwardseat1 {
  position: absolute;
  width: 30.77%;
  top: 0rem;
  right: 30.29%;
  left: 38.94%;
  height: 2.5rem;
}
.krail-b380 {
  position: absolute;
  width: 73.46%;
  top: 0.5rem;
  left: 26.54%;
  display: flex;
  align-items: center;
}
.krail-statusnotavailableseat1 {
  position: absolute;
  width: 38.94%;
  top: 0rem;
  right: 61.06%;
  left: 0%;
  height: 2.5rem;
}
.krail-maininfoseatstatus1 {
  position: absolute;
  width: 96.74%;
  top: 14.063rem;
  right: -0.23%;
  left: 3.49%;
  height: 2.5rem;
}
.krail-maininfovrbuttonimage-icon {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  border-radius: 15px;
  max-width: 100%;
  overflow: hidden;
  height: 4.119rem;
  object-fit: cover;
}
.krail-maininfovrbutton {
  position: absolute;
  width: 100%;
  top: 8.75rem;
  right: 0%;
  left: 0%;
  height: 4.119rem;
}
.krail-div168 {
  position: absolute;
  top: 0.4rem;
  left: 0rem;
  display: inline-block;
  width: 4.938rem;
}
.krail-maininfocarstatusnextcarbutton1 {
  position: absolute;
  width: 19.66%;
  top: 0rem;
  right: 0%;
  left: 80.34%;
  border-radius: 1.875rem;
  border: 2px solid #0C3C60;
  box-sizing: border-box;
  height: 2.25rem;
}
.krail-div169 {
  position: absolute;
  top: 0.688rem;
  left: 0rem;
  display: inline-block;
  width: 4.875rem;
}
.krail-maininfocarstatusprevcarbutton1 {
  position: absolute;
  width: 19.66%;
  top: 0rem;
  right: 80.34%;
  left: 0%;
  border-radius: 1.875rem;
  border: 2px solid #0C3C60;
  box-sizing: border-box;
  height: 2.25rem;
}
.krail-ktx-1626 {
  position: absolute;
  width: 100%;
  top: 0rem;
  left: 0%;
  display: inline-block;
}
.krail-div170 {
  position: absolute;
  width: 100%;
  top: 2.063rem;
  left: 0%;
  font-size: 1.125rem;
  color: #535C63;
  white-space: pre-wrap;
  display: inline-block;
}
.krail-maininfocarstatustext1 {
  position: absolute;
  width: 68.3%;
  top: 0rem;
  right: 15.97%;
  left: 15.72%;
  height: 3.188rem;
  font-size: 1.375rem;
  color: #000;
}
.krail-maininfocarstatus1 {
  position: absolute;
  width: 94.65%;
  top: 4.375rem;
  right: 2.56%;
  left: 2.79%;
  height: 3.188rem;
  text-align: center;
  font-size: 1rem;
  color: #0C3C60;
}
.krail-div171 {
  position: absolute;
  width: 89.16%;
  top: 0.625rem;
  left: 2.72%;
  display: inline-block;
}
.krail-carselectionbuttonimage-icon1 {
  position: absolute;
  top: 1rem;
  right: 0.881rem;
  width: 0.881rem;
  height: 0.438rem;
}
.krail-maininfocarselectionbutton1 {
  position: absolute;
  width: 94.21%;
  top: 0.625rem;
  right: 3%;
  left: 2.79%;
  border: 1px solid #000;
  box-sizing: border-box;
  height: 2.5rem;
  font-size: 1.25rem;
  color: #535C63;
}
.krail-trainseatselectmaininfo {
  z-index: 10;
  /* position: absolute; */
  position: fixed;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  height: 17.563rem;
  text-align: left;
  font-size: 1.5rem;
  color: #8A8D8E;
  font-family: 'Nanum Gothic';
}
.krail-b381 {
  position: absolute;
  width: 99.54%;
  bottom: 1.063rem;
  left: 0%;
  font-size: 2rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #0B3B62;
  text-align: center;
}
.krail-trainseatselectfooterbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #CDE0EE;
  position: absolute;
  width: 100.23%;
  top: 6.875rem;
  right: -0.23%;
  left: 0%;
  height: 4.375rem;
}
.krail-a32 {
  position: absolute;
  width: 99.31%;
  bottom: 0.5rem;
  left: 0.46%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b382 {
  position: absolute;
  width: 99.54%;
  bottom: 2.688rem;
  left: 0.46%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b383 {
  position: absolute;
  width: 99.31%;
  bottom: 4.75rem;
  left: 0.46%;
  font-size: 1.25rem;
  display: flex;
  color: #58DDE5;
  align-items: center;
  justify-content: center;
  height: 1.375rem;
}
.krail-trainseatselectfooterinfo {
  position: absolute;
  width: 100.47%;
  top: 0rem;
  right: -0.47%;
  left: 0%;
  background-color: #3C627F;
  height: 6.875rem;
}
.krail-trainseatselectfooter {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 11.25rem;
  text-align: center;
  font-size: 1.375rem;
  color: #FFF;
  font-family: 'Nanum Gothic';
}
.krail-b384 {
  position: absolute;
  top: 1rem;
  left: 23.26%;
}
.krail-trainseatselectheader {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 4.063rem;
  text-align: center;
  font-size: 2rem;
  color: #FFF;
  font-family: 'Nanum Gothic';
}
.krail-trainseatselect-11 {
  width: 100%;
  position: relative;
  background-color: #F8F8F8;
  height: 95.625rem;
  overflow: hidden;
  text-align: center;
  font-size: 1.125rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
