.outsta-mdiinstagram-icon {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 1.875rem;
  height: 1.875rem;
  overflow: hidden;
}
.outsta-instagrambutton-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  width: 3rem;
  height: 6rem;
}
.outsta-instagrambutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 405.5px);
  left: calc(50% - 24px);
  width: 3rem;
  height: 6rem;
}
.outsta-material-symbolshome-icon {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.outsta-homebutton-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  width: 3rem;
  height: 3.5rem;
}
.outsta-homebutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 309.5px);
}
.outsta-compassbutton,
.outsta-homebutton,
.outsta-magnifybutton,
.outsta-sideheartbutton,
.outsta-sidepostbutton {
  position: absolute;
  left: calc(50% - 24px);
  width: 3rem;
  height: 3.5rem;
}
.outsta-magnifybutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 253.5px);
}
.outsta-compassbutton,
.outsta-sideheartbutton,
.outsta-sidepostbutton {
  top: calc(50% - 141.5px);
}
.outsta-sideheartbutton,
.outsta-sidepostbutton {
  top: calc(50% - 85.5px);
}
.outsta-sidepostbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 29.5px);
}
.outsta-solaruser-outline-icon {
  position: absolute;
  top: 1rem;
  left: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.outsta-followbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 13rem;
  left: 0.75rem;
  width: 3rem;
  height: 3.5rem;
}
.outsta-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  /* background-color: #F2DBDB;  좀 구린거같아서 주석으로 바꿈*/
  width: 4.5rem;
  height: 50.688rem;
  overflow: hidden;
}
.outsta-instawebmain {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: auto; /* 변경: 높이를 자동으로 조정 */
  min-height: 50.688rem; /* 최소 높이를 설정하여 초기 레이아웃 유지 */
  overflow-y: auto; /* 스크롤 사용 */
}
.outsta-instagrampost {
  position: relative; /* Ensure posts are positioned relatively */
  margin-bottom: 20px; /* Add some space between posts */
}