.outsta-postimageframe-icon {
  position: absolute;
  top: 0.063rem;
  left: 0;
  width: 40.5rem;
  height: 50.563rem;
  object-fit: cover;
}
.outsta-idframe-child {
  position: absolute;
  top: calc(50% - 22px);
  left: 1.063rem;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  object-fit: cover;
}
.outsta-eyesmag1 {
  position: absolute;
  top: calc(50% - 15px);
  left: 4.813rem;
  display: inline-block;
  width: 6.688rem;
  height: 1.875rem;
}
.outsta-idframe,
.outsta-phx-bold-icon {
  position: absolute;
  overflow: hidden;
}
.outsta-phx-bold-icon {
  top: 1rem;
  left: 29.875rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.outsta-idframe {
  top: 0;
  left: 0.063rem;
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 33.375rem;
  height: 4rem;
  font-size: var(--font-size-5xl);
}
.outsta-orion-world1 {
  position: absolute;
  top: 0.313rem;
  left: 9.75rem;
  display: inline-block;
  width: 21.625rem;
  height: 10.375rem;
}
.outsta-postcontentscomponent-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
.outsta-eyesmag2 {
  position: absolute;
  top: 0.313rem;
  left: 3rem;
  font-weight: 600;
  display: inline-block;
  width: 6.375rem;
  height: 2.75rem;
}
.outsta-postcontentscomponent {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 31.375rem;
  height: 11.75rem;
  overflow: hidden;
}
.outsta-postandcomment {
  position: absolute;
  top: 4rem;
  left: 0.063rem;
  width: 33.375rem;
  height: 35rem;
  overflow-y: auto;
}
.outsta-tablermood-smile-icon {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.outsta-commentgroup-child,
.outsta-emojiarea {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.25rem;
}
.outsta-emojiarea {
  width: 3.5rem;
  overflow: hidden;
}
.outsta-commentgroup-child {
  background-color: var(--color-gainsboro-200);
  width: 26.938rem;
}
.outsta-input {
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: transparent;
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
  color: var(--color-dimgray);
  text-align: left;
  display: inline-block;
  width: 26.688rem;
}
.outsta-commentgroup {
  position: absolute;
  top: 0;
  left: 3.5rem;
  width: 26.938rem;
  height: 3.25rem;
}
.outsta-commentwritebutton-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  width: 3rem;
  height: 3.25rem;
}
.outsta-b {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 15px);
  font-size: 0.875rem;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-dodgerblue);
  text-align: center;
  width: 1.875rem;
}
.outsta-commentwritebutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 30.438rem;
  width: 3rem;
  height: 3.25rem;
}
.outsta-postpagecommentframe {
  position: absolute;
  top: 47.438rem;
  left: 0;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 33.438rem;
  height: 3.25rem;
  overflow: hidden;
}
.outsta-postpageheartframe-icon {
  position: absolute;
  top: 0;
  left: 0.063rem;
  width: 33.375rem;
  height: 2.75rem;
  overflow: hidden;
}
.outsta-b1 {
  position: absolute;
  top: 0;
  left: 1rem;
  display: inline-block;
  width: 4.063rem;
}
.outsta-b2 {
  top: 0;
  left: 5.063rem;
  width: 3.25rem;
}
.outsta-b2,
.outsta-b3,
.outsta-div {
  position: absolute;
  display: inline-block;
}
.outsta-b3 {
  top: 0;
  left: 8.313rem;
  width: 1.5rem;
}
.outsta-div {
  top: 1.75rem;
  left: 1rem;
  width: 5.688rem;
}
.outsta-heartviewfreame,
.outsta-postpagelikeframe {
  position: absolute;
  top: 3rem;
  left: 0.063rem;
  width: 33.375rem;
  height: 4.125rem;
}
.outsta-heartviewfreame {
  top: 39.625rem;
  border-top: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 33.438rem;
  height: 7.813rem;
  overflow: hidden;
}
.outsta-postpage,
.outsta-rightarea {
  height: 50.688rem;
  overflow: hidden;
}
.outsta-rightarea {
  position: absolute;
  top: 0;
  left: 40.5rem;
  border-left: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 33.5rem;
}
.outsta-postpage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
