.outsta-b4,
.outsta-div1 {
  display: inline-block;
}
.outsta-b4 {
  position: absolute;
  top: calc(50% - 19.5px);
  left: calc(50% - 146.5px);
  width: 18.25rem;
}
.outsta-div1 {
  width: 5.5rem;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-dodgerblue);
  text-align: left;
}
.outsta-ionarrow-back-icon,
.outsta-writepostbutton {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}
.outsta-writepostbutton {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 26.5px);
  left: 68.438rem;
  width: 5.5rem;
  height: 3.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.outsta-ionarrow-back-icon {
  top: calc(50% - 23.5px);
  left: 1.5rem;
  width: 3rem;
  height: 3rem;
}
.outsta-postimageframe-icon1,
.outsta-writeposthead {
  position: absolute;
  left: 0.063rem;
  overflow: hidden;
}
.outsta-writeposthead {
  top: 0.063rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 73.938rem;
  height: 5.688rem;
}
.outsta-postimageframe-icon1 {
  top: 5.75rem;
  width: 45rem;
  height: 45rem;
  object-fit: cover;
}
.outsta-postidshowframe-child {
  width: 3rem;
  position: relative;
  border-radius: 50%;
  height: 3rem;
  object-fit: cover;
}
.outsta-digital-highway {
  width: 23.5rem;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.outsta-imojiframe-icon,
.outsta-postidshowframe {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.outsta-postidshowframe {
  top: 0;
  width: 27.5rem;
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  box-sizing: border-box;
  gap: 1rem;
}
.outsta-imojiframe-icon {
  top: 15.063rem;
  width: 28.938rem;
  height: 2.5rem;
}
.outsta-div2 {
  position: absolute;
  top: 18.563rem;
  left: calc(50% - 203.5px);
  font-size: var(--font-size-9xl);
  font-weight: 600;
  display: inline-block;
  width: 25.5rem;
}
.outsta-uploadbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-dodgerblue);
  width: 8.375rem;
  height: 2rem;
}
.outsta-b5 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 59px);
  font-size: 0.938rem;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  width: 7.375rem;
}
.outsta-posttypingarea,
.outsta-uploadbutton {
  border: 0;
  background-color: transparent;
  position: absolute;
  left: 1rem;
}
.outsta-uploadbutton {
  cursor: pointer;
  padding: 0;
  top: 21.375rem;
  width: 8.375rem;
  height: 2rem;
}
.outsta-posttypingarea {
  display: block;
  font-family: var(--font-inter);
  font-size: var(--font-size-5xl);
  outline: 0;
  top: 3.75rem;
  width: 25.5rem;
  height: 11.313rem;
  overflow: hidden;
  font-weight: 700;
  color: var(--color-black);
}
.outsta-posttypingcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 28.938rem;
  height: 17.563rem;
  overflow: hidden;
}
.outsta-postrightside,
.outsta-writepost {
  background-color: var(--color-white);
  overflow: hidden;
}
.outsta-postrightside {
  position: absolute;
  top: 5.75rem;
  left: 45.063rem;
  width: 28.938rem;
  height: 44.938rem;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.outsta-writepost {
  width: 100%;
  position: relative;
  border-radius: var(--br-9xs);
  height: 50.688rem;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
