.baeman-close-icon3 {
  position: absolute;
  top: 1.125rem;
  right: 1.563rem;
  width: 2.813rem;
  height: 3.25rem;
  object-fit: cover;
}
.baeman-frame-child4 {
  width: 0.625rem;
  position: relative;
  background-color: #000;
  height: 0.375rem;
}
.baeman-end-inner {
  position: absolute;
  top: 22.75rem;
  left: 4.5rem;
  width: 17.875rem;
  height: 12.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 5.562rem 3.625rem;
  box-sizing: border-box;
  background-image: url(/public/appguide/baemin/frame-29@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.baeman-end {
  width: 100%;
  position: relative;
  background-color: #edfffa;
  height: 58.25rem;
  overflow: hidden;
}
