.frame-child5,
.frame-child6 {
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 26.875rem;
}
.frame-child5 {
  top: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  height: 8.813rem;
}
.frame-child6 {
  top: 8.813rem;
  box-shadow: 0 0 0 transparent;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  height: 10.25rem;
}
.div181 {
  position: absolute;
  top: 1.25rem;
  left: 1.375rem;
  font-size: 2rem;
}
.div182,
.star-icon23 {
  position: absolute;
  top: 5.063rem;
  left: 3.75rem;
}
.star-icon23 {
  top: 4.875rem;
  left: 1.375rem;
  width: 2.188rem;
  height: 2.188rem;
  object-fit: cover;
}
.div183,
.frame-child7 {
  position: absolute;
  top: 5.063rem;
}
.div183 {
  left: 8.313rem;
  cursor: pointer;
}
.frame-child7 {
  left: 6.975rem;
  width: 0.025rem;
  height: 1.875rem;
  object-fit: contain;
}
.p137 {
  margin: 0;
}
.div184,
.frame-child8 {
  position: absolute;
  top: 10.188rem;
  left: 1.375rem;
}
.frame-child8 {
  top: 15.125rem;
  left: 1.5rem;
  border-radius: 10px;
  background-color: #59bea6;
  width: 23.813rem;
  height: 2.5rem;
}
.frame12 {
  position: absolute;
  top: 12.813rem;
  left: 0;
  width: 26.875rem;
  height: 19.063rem;
  overflow: hidden;
}
.image-1-icon1,
.storemainheader1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26.875rem;
}
.image-1-icon1 {
  height: 12.625rem;
  object-fit: cover;
}
.storemainheader1 {
  height: 31.875rem;
  font-size: 1.5rem;
}
.coupnstatus {
  position: absolute;
  top: 28.438rem;
  left: calc(50% - 89px);
  color: #fff;
  text-align: center;
}
.instance-child18 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #adadad;
  box-sizing: border-box;
}
.menucaption-txt17 {
  width: 100%;
}
.menucaption17 {
  position: absolute;
  height: 80%;
  width: 62.53%;
  top: 11.03%;
  left: 4.38%;
  display: flex;
  align-items: center;
}
.garlicmeat-icon4 {
  position: absolute;
  height: 80%;
  width: 27.59%;
  top: 11.31%;
  right: 3.45%;
  bottom: 8.69%;
  left: 68.95%;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent43 {
  position: absolute;
  top: 13.375rem;
  left: 0;
  width: 25.688rem;
  height: 9.063rem;
}
.instance-child19 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #adadad;
  box-sizing: border-box;
  cursor: pointer;
}
.rectangle-parent44 {
  position: absolute;
  top: 3.063rem;
  left: 0;
  width: 25.688rem;
  height: 9.063rem;
}
.div185 {
  position: absolute;
  top: 0;
  left: 0.813rem;
  font-size: 1.5rem;
}
.instance-parent5,
.instance-parent6 {
  position: absolute;
  left: 0;
  width: 25.688rem;
  height: 22.438rem;
}
.instance-parent5 {
  top: 0;
}
.instance-parent6 {
  top: 23.688rem;
}
.div187 {
  position: absolute;
  top: 0;
  left: 0.688rem;
  font-size: 1.5rem;
}
.instance-parent7 {
  top: 47.375rem;
  left: 0;
  height: 22.438rem;
}
.instance-parent7,
.instance-parent8,
.menulist3 {
  position: absolute;
  width: 25.688rem;
}
.instance-parent8 {
  top: 71.063rem;
  left: 0;
  height: 22.438rem;
}
.menulist3 {
  top: 33.125rem;
  left: 0.563rem;
  height: 93.5rem;
}
.div180 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 58.25rem;
  overflow-y: auto;
  text-align: left;
  font-size: 1.25rem;
  color: #000;
  font-family: Inter;
}
