.baeman-div154,
.baeman-order4-child {
  position: absolute;
  top: 6.563rem;
}
.baeman-div154 {
  left: 2.438rem;
  text-align: left;
}
.baeman-order4-child {
  left: 19.375rem;
  border-radius: 10px;
  background-color: #d9f7ef;
  width: 5.625rem;
  height: 5rem;
}
.baeman-div155 {
  position: absolute;
  top: 7.5rem;
  left: 20.313rem;
  font-size: 1rem;
}
.baeman-p129 {
  margin: 0;
}
.baeman-div156 {
  position: absolute;
  top: 8.813rem;
  left: 2.438rem;
  font-size: 1rem;
  text-align: left;
}
.baeman-order4-inner,
.baeman-order4-item {
  position: absolute;
  top: 20.5rem;
  left: 2.438rem;
  border-radius: 10px;
  background-color: #f4f4f4;
  width: 22.563rem;
  height: 1.063rem;
}
.baeman-order4-inner {
  background-color: #59bea6;
  width: 6.438rem;
}
.baeman-div157 {
  position: absolute;
  top: 8.75rem;
  left: 20.125rem;
  font-size: 1.875rem;
}
.baeman-order4-child1,
.baeman-order4-child2 {
  position: absolute;
  top: 20.5rem;
  left: 4.063rem;
  border-radius: 50%;
  background-color: #4a9f8b;
  width: 0.938rem;
  height: 1rem;
}
.baeman-order4-child2 {
  left: 22.188rem;
  background-color: #bdbdbd;
}
.baeman-div158,
.baeman-div159,
.baeman-div160 {
  position: absolute;
  top: 22rem;
  left: 2.688rem;
  font-size: 1rem;
  color: #59bea6;
}
.baeman-div159,
.baeman-div160 {
  left: 20.813rem;
  color: #bdbdbd;
}
.baeman-div160 {
  top: 17.625rem;
  left: 20.375rem;
}
.baeman-kakaotalk-20240410-182746195-1-icon {
  position: absolute;
  top: 13.125rem;
  left: 10.313rem;
  width: 6.813rem;
  height: 7.875rem;
  object-fit: cover;
}
.baeman-order4-child3 {
  position: absolute;
  top: 25.125rem;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  box-sizing: border-box;
  width: 26.875rem;
  height: 30.625rem;
}
.baeman-div161 {
  position: absolute;
  top: 27.313rem;
  left: 2.438rem;
}
.baeman-div162,
.baeman-div163 {
  position: absolute;
  left: 1.938rem;
}
.baeman-div162 {
  top: 30.188rem;
  font-size: 2rem;
}
.baeman-div163 {
  top: 33.438rem;
}
.baeman-t1r60000hj72-container {
  position: absolute;
  top: 36.313rem;
  left: 2.188rem;
  font-size: 1.25rem;
  text-align: left;
}
.baeman-order4-child4,
.baeman-order4-child5 {
  position: absolute;
  top: 42.813rem;
  left: calc(50% - 184px);
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 10.5rem;
  height: 3.25rem;
}
.baeman-order4-child5 {
  left: calc(50% + 15px);
}
.baeman-div164,
.baeman-div165 {
  position: absolute;
  top: 43.563rem;
  left: 5.438rem;
}
.baeman-div165 {
  left: 18rem;
}
.baeman-about-icon,
.baeman-online-shop-icon {
  position: absolute;
  top: 43.5rem;
  left: 15.813rem;
  width: 1.875rem;
  height: 1.875rem;
  object-fit: cover;
}
.baeman-online-shop-icon {
  left: 3.25rem;
}
.baeman-order4 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 58.25rem;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  color: #000;
  font-family: Inter;
}
