.baeman-order3-child,
.baeman-order3-item {
  position: absolute;
  top: 15.875rem;
  left: calc(50% - 153px);
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 21.125rem;
  height: 2.625rem;
}
.baeman-order3-item {
  top: 19.438rem;
}
.baeman-div140 {
  position: absolute;
  top: 6.75rem;
  left: 1.813rem;
}
.baeman-p120 {
  margin: 0;
}
.baeman-div141 {
  position: absolute;
  left: 3.875rem;
}
.baeman-div141,
.baeman-order3-inner {
  top: 9.5rem;
}
.baeman-order3-child1,
.baeman-order3-child2,
.baeman-order3-inner {
  position: absolute;
  left: 1.813rem;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #b7b7b7;
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.baeman-order3-child1 {
  cursor: pointer;
  margin: 0;
  top: 11.375rem;
}
.baeman-order3-child2 {
  top: 13.188rem;
}
.baeman-div142,
.baeman-div143 {
  position: absolute;
  top: 16.563rem;
  left: 4.563rem;
  font-size: 1.25rem;
}
.baeman-div143 {
  top: 20.125rem;
}
.baeman-sort-down-icon {
  position: absolute;
  top: 19.625rem;
  left: 22.125rem;
  width: 2.188rem;
  height: 2.188rem;
  object-fit: cover;
}
.baeman-order3-child3,
.baeman-order3-child4 {
  position: absolute;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #d6d6d6;
  box-sizing: border-box;
  width: 26.875rem;
  height: 10.813rem;
}
.baeman-order3-child3 {
  top: 23.625rem;
  border-top: 1px solid #d6d6d6;
}
.baeman-order3-child4 {
  top: 34.438rem;
}
.baeman-div144,
.baeman-div145,
.baeman-div146,
.baeman-div147 {
  position: absolute;
  top: 25.375rem;
  left: 1.75rem;
}
.baeman-div145,
.baeman-div146,
.baeman-div147 {
  top: 36.25rem;
}
.baeman-div146,
.baeman-div147 {
  top: 46.875rem;
}
.baeman-div147 {
  top: 25.563rem;
  left: 21.5rem;
  font-size: 1.25rem;
}
.baeman-order3-child5 {
  position: absolute;
  top: 28.688rem;
  left: calc(50% - 194px);
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 24.25rem;
  height: 2.625rem;
}
.baeman-div148 {
  position: absolute;
  top: 29.313rem;
  left: 2.25rem;
  font-size: 1.25rem;
}
.baeman-more-than-icon {
  position: absolute;
  top: 29.438rem;
  left: 23.625rem;
  width: 1.25rem;
  height: 1.25rem;
  object-fit: cover;
}
.baeman-div149,
.baeman-div150,
.baeman-div151 {
  position: absolute;
  top: 38.625rem;
  left: 1.75rem;
  font-size: 1.375rem;
}
.baeman-div150,
.baeman-div151 {
  left: 19rem;
  text-align: right;
}
.baeman-div151 {
  top: 46.875rem;
  left: 19.063rem;
}
.baeman-group-child23,
.baeman-order3-child6 {
  position: absolute;
  left: 0;
  border-radius: 10px;
}
.baeman-order3-child6 {
  top: 51rem;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  width: 26.875rem;
  height: 7.25rem;
}
.baeman-group-child23 {
  top: 0;
  background-color: #59bea6;
  width: 17.188rem;
  height: 2.688rem;
}
.baeman-div152 {
  position: absolute;
  top: 0.5rem;
  left: 2.875rem;
}
.baeman-div153,
.baeman-rectangle-parent37 {
  position: absolute;
  font-size: 1.375rem;
}
.baeman-rectangle-parent37 {
  top: 54.313rem;
  left: 4.813rem;
  width: 17.188rem;
  height: 2.688rem;
  cursor: pointer;
  color: #fff;
}
.baeman-div153 {
  top: 52.25rem;
  left: 6.688rem;
  color: #d6d6d6;
}
.baeman-rectangle-input1 {
  margin: 0;
  position: absolute;
  top: 52.5rem;
  left: 5rem;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;
}
.baeman-order3 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  font-family: Inter;
}