.baeman-storelistframe3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
}
.baeman-storename3 {
  position: absolute;
  top: 1.375rem;
  left: 1.438rem;
}
.baeman-star-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.188rem;
  height: 2.188rem;
  object-fit: cover;
}
.baeman-div36,
.baeman-starrate3 {
  position: absolute;
  top: 0.188rem;
  left: 2.375rem;
}
.baeman-starrate3 {
  top: 1.188rem;
  left: 12.125rem;
  width: 4.563rem;
  height: 2.188rem;
}
.baeman-malwang-1-icon,
.baeman-malwang-3-icon,
.baeman-malwnag-2-icon {
  position: absolute;
  height: 100%;
  width: 30.46%;
  top: 0;
  right: 69.54%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.baeman-malwang-3-icon,
.baeman-malwnag-2-icon {
  right: 34.77%;
  left: 34.77%;
}
.baeman-malwang-3-icon {
  right: 0;
  left: 69.54%;
}
.baeman-storeimg3 {
  position: absolute;
  top: 4.375rem;
  left: 1.25rem;
  width: 24.625rem;
  height: 7.5rem;
}
.baeman-catstore,
.baeman-civilstore,
.baeman-malwangstore {
  position: absolute;
  left: 0;
  width: 26.875rem;
  height: 12.938rem;
}
.baeman-malwangstore {
  top: 17.625rem;
  cursor: pointer;
}
.baeman-catstore,
.baeman-civilstore {
  top: 31.188rem;
}
.baeman-catstore {
  top: 44.75rem;
}
.baeman-sortlist {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  font-family: Inter;
}
