.baeman-div135 {
  position: absolute;
  top: 6.125rem;
  left: 9.75rem;
  font-size: 2rem;
}
.baeman-close-icon2 {
  position: absolute;
  top: 1.438rem;
  right: 23.938rem;
  width: 1.688rem;
  height: 1.625rem;
  object-fit: cover;
}
.baeman-group-child22,
.baeman-usecoupon-child {
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  width: 19rem;
  height: 2.625rem;
}
.baeman-usecoupon-child {
  top: 10rem;
  left: calc(50% - 194px);
}
.baeman-group-child22 {
  top: 0;
  left: calc(50% - 152px);
}
.baeman-div136 {
  position: absolute;
  top: 0.563rem;
  left: 7.188rem;
}
.baeman-rectangle-parent36 {
  position: absolute;
  top: 53.5rem;
  left: calc(50% - 152px);
  width: 19rem;
  height: 2.625rem;
  cursor: pointer;
  font-size: 1.25rem;
}
.baeman-usecoupon-inner,
.baeman-usecoupon-item {
  position: absolute;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
}
.baeman-usecoupon-item {
  top: 14.625rem;
  left: calc(50% - 194px);
  width: 24.313rem;
  height: 8.25rem;
}
.baeman-usecoupon-inner {
  top: 10rem;
  left: 21.438rem;
  width: 4.188rem;
  height: 2.625rem;
}
.baeman-div137 {
  position: absolute;
  top: 10.438rem;
  left: 22.25rem;
}
.baeman-p116 {
  margin: 0;
}
.baeman-div138,
.baeman-div139 {
  position: absolute;
  top: 15.625rem;
  left: 2.75rem;
}
.baeman-div139 {
  top: 19.5rem;
  font-size: 1rem;
}
.baeman-usecoupon-child1 {
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 17.938rem;
  left: 22.75rem;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #b7b7b7;
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.baeman-usecoupon {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.375rem;
  color: #000;
  font-family: Inter;
}
