.kikio-taximodel-child {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  width: 22.75rem;
  height: 7rem;
}
.kikio-taximodel-inner,
.kikio-taximodel-item {
  position: absolute;
  top: 0;
  background-color: #d9d9d9;
  width: 11.375rem;
  height: 7rem;
}
.kikio-taximodel-item {
  left: 0;
}
.kikio-taximodel-inner {
  left: 11.375rem;
}
.kikio-b23,
.kikio-b24 {
  position: absolute;
  top: calc(50% - 11px);
}
.kikio-b23 {
  left: 5.875rem;
  cursor: pointer;
}
.kikio-b24 {
  left: 14.25rem;
}
.kikio-noto-v1taxi-icon2,
.kikio-taximodel {
  position: absolute;
  overflow: hidden;
}
.kikio-noto-v1taxi-icon2 {
  top: 0.938rem;
  left: 1rem;
  width: 3.875rem;
  height: 3.625rem;
  object-fit: contain;
  cursor: pointer;
}
.kikio-taximodel {
  top: 9.5rem;
  left: 2.063rem;
  border-radius: 10px;
  width: 22.75rem;
  height: 7rem;
  text-align: center;
  font-size: 1.125rem;
  color: #000;
  font-family: Inter;
}
