.cart-child {
  position: absolute;
  top: 28.278rem;
  left: 0rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 23.889rem;
  height: 3.667rem;
}
.div135 {
  position: absolute;
  top: 8.611rem;
  left: 1.722rem;
  display: flex;
  align-items: center;
  width: 5.056rem;
  height: 2.611rem;
  cursor: pointer;
}
.div136 {
  position: absolute;
  top: 5.611rem;
  left: 8.667rem;
  font-size: var(--font-size-13xl);
}
.plus-math-icon {
  position: absolute;
  top: 29.278rem;
  left: 6.389rem;
  width: 1.667rem;
  height: 1.667rem;
  object-fit: cover;
}
.div137 {
  position: absolute;
  top: 29.444rem;
  left: 8.778rem;
  font-size: var(--font-size-xl);
}
.cart-item {
  position: absolute;
  top: 32.056rem;
  left: 0rem;
  background-color: var(--color-white);
  width: 23.889rem;
  height: 19.889rem;
}
.div138 {
  position: absolute;
  top: 33.444rem;
  left: 1.722rem;
}
.div139 {
  position: relative;
  font-size: var(--font-size-5xl);
  color: var(--color-cornflowerblue);
}
.div140 {
  position: relative;
}
.div141 {
  position: relative;
  text-align: right;
}
.parent2 {
  position: absolute;
  top: 36.222rem;
  left: 1.389rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-smi);
  gap: var(--gap-9xs);
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.div142 {
  position: relative;
  font-size: var(--font-size-5xl);
  color: var(--color-mediumaquamarine);
}
.home-page-icon {
  width: 1.667rem;
  position: relative;
  height: 1.667rem;
  object-fit: cover;
}
.parent3 {
  position: absolute;
  top: 40.389rem;
  left: 1.389rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-smi);
  gap: var(--gap-9xs);
  font-size: var(--font-size-lg);
}
.cart-inner {
  position: absolute;
  top: 45.667rem;
  left: 0rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  width: 23.889rem;
  height: 6.167rem;
}
.div145 {
  position: absolute;
  top: 47.944rem;
  left: 1.167rem;
  color: var(--color-white);
  text-align: right;
}
.div146 {
  position: absolute;
  top: 47.944rem;
  left: 16.944rem;
  color: var(--color-white);
  text-align: right;
}
.component-32-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background-color: #fffefe;
  border-top: 1px solid var(--color-darkgray-200);
  border-bottom: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
}
.p117 {
  margin: 0;
}
.txt19 {
  width: 100%;
}
.div147 {
  position: absolute;
  top: 1.667rem;
  left: 1.722rem;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  width: 18.278rem;
  height: 2.611rem;
}
.div148 {
  position: absolute;
  height: 20.45%;
  top: 36.33%;
  right: 2.278rem;
  display: flex;
  align-items: center;
  width: 12.167rem;
}
.div149 {
  position: absolute;
  right: 4.722rem;
  bottom: 3.778rem;
  display: flex;
  align-items: center;
  width: 9.722rem;
  height: 2.056rem;
}
.component-32-item {
  position: absolute;
  bottom: 3.778rem;
  left: 1.722rem;
  border-radius: var(--br-3xs);
  width: 6.333rem;
  height: 6.444rem;
  object-fit: cover;
}
.component-32-inner {
  position: absolute;
  top: 13.389rem;
  left: 9.444rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 5.389rem;
  height: 1.889rem;
}
.component-32-child1 {
  position: absolute;
  top: 13.389rem;
  left: 16.444rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 5.389rem;
  height: 1.889rem;
}
.div150 {
  position: absolute;
  top: 13.778rem;
  left: 10.5rem;
  font-size: var(--font-size-base);
}
.plus-math-icon1 {
  position: absolute;
  top: 13.722rem;
  left: 20.278rem;
  width: 1.111rem;
  height: 1.111rem;
  object-fit: cover;
}
.subtract-icon {
  position: absolute;
  top: 13.722rem;
  left: 17rem;
  width: 1.111rem;
  height: 1.111rem;
  object-fit: cover;
}
.div151 {
  position: absolute;
  top: 13.611rem;
  left: 18.944rem;
}
.component-32 {
  position: absolute;
  top: 12.222rem;
  left: 0rem;
  width: 23.889rem;
  height: 16.056rem;
  font-size: var(--font-size-xl);
}
.cart {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 51.778rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
