.child {
  position: absolute;
  top: 11.389rem;
  left: 0rem;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 23.889rem;
  height: 12.722rem;
}
.item {
  position: absolute;
  top: 24.111rem;
  left: 0rem;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  width: 23.889rem;
  height: 21.5rem;
}
.div153 {
  position: absolute;
  top: 12.833rem;
  left: 1rem;
  font-size: var(--font-size-11xl);
}
.div154 {
  position: absolute;
  top: 25.889rem;
  left: 1.222rem;
  font-size: var(--font-size-13xl);
}
.div155 {
  position: absolute;
  top: 15.556rem;
  left: 1.222rem;
  font-size: var(--font-size-9xl);
}
.p121 {
  margin: 0;
}
.div156 {
  position: absolute;
  top: 18.111rem;
  left: 18.111rem;
  text-align: right;
}
.p124 {
  margin-block-start: 0;
  margin-block-end: 7px;
}
.div157 {
  position: absolute;
  top: 28.389rem;
  left: 18.056rem;
  text-align: right;
}
.div158 {
  position: absolute;
  top: 0rem;
  left: 1.944rem;
}
.group-child30 {
  position: absolute;
  top: 0.056rem;
  left: 0rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
  height: 1.389rem;
}
.parent4 {
  position: absolute;
  top: 18.111rem;
  left: 1.222rem;
  width: 3.222rem;
  height: 1.611rem;
}
.div159 {
  position: absolute;
  top: 0rem;
  left: 0rem;
}
.wrapper4 {
  position: absolute;
  top: 0rem;
  left: 1.944rem;
  width: 1.278rem;
  height: 1.611rem;
}
.group-child31 {
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 0.111rem;
  left: 0rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
  height: 1.389rem;
}
.group-container {
  position: absolute;
  top: 19.722rem;
  left: 1.222rem;
  width: 3.222rem;
  height: 1.611rem;
}
.group-child32 {
  position: absolute;
  top: 0.111rem;
  left: 0rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
  height: 1.389rem;
}
.parent5 {
  position: absolute;
  top: 21.333rem;
  left: 1.222rem;
  width: 3.222rem;
  height: 1.611rem;
}
.div161 {
  position: absolute;
  height: 100%;
  top: 0%;
  left: 1.778rem;
  display: flex;
  align-items: center;
  width: 8.222rem;
}
.component-27-item {
  position: absolute;
  height: 86.21%;
  top: 6.9%;
  bottom: 6.9%;
  left: 0rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
}
.component-271 {
  position: absolute;
  top: 28.722rem;
  left: 1.222rem;
  width: 10rem;
  height: 1.611rem;
}
.component-28 {
  position: absolute;
  top: 30.611rem;
  left: 1.222rem;
  width: 10rem;
  height: 1.611rem;
}
.component-29-child {
  cursor: pointer;
  margin: 0;
  position: absolute;
  height: 86.21%;
  top: 6.9%;
  bottom: 6.9%;
  left: 0rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
}
.component-29 {
  position: absolute;
  top: 32.5rem;
  left: 1.222rem;
  width: 10rem;
  height: 1.611rem;
}
.component-30 {
  position: absolute;
  top: 34.389rem;
  left: 1.222rem;
  width: 10rem;
  height: 1.611rem;
}
.component-31 {
  position: absolute;
  top: 36.278rem;
  left: 1.222rem;
  width: 10rem;
  height: 1.611rem;
}
.inner {
  position: absolute;
  top: 45.611rem;
  left: 0rem;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 23.889rem;
  height: 6.167rem;
}
.div166 {
  position: absolute;
  top: 48.556rem;
  left: 1rem;
}
.div167 {
  position: absolute;
  top: 47.222rem;
  left: 1rem;
  font-size: var(--font-size-xl);
}
.group-child33 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  width: 12.556rem;
  height: 2.944rem;
}
.div168 {
  position: absolute;
  top: 0.833rem;
  left: 3rem;
}
.rectangle-parent29 {
  position: absolute;
  top: 47.222rem;
  left: 10.111rem;
  width: 12.556rem;
  height: 2.944rem;
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.image-3-icon {
  position: absolute;
  top: -0.111rem;
  left: 0rem;
  width: 23.889rem;
  height: 11.222rem;
  object-fit: cover;
}
.div152 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 51.778rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
