.div2 {
  position: absolute;
  top: 0rem;
  left: 0.722rem;
  font-size: var(--font-size-5xl);
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.p5 {
  margin: 0;
}
.txt1 {
  width: 100%;
}
.div3 {
  position: absolute;
  height: 80%;
  width: 62.53%;
  top: 11.03%;
  left: 4.38%;
  display: flex;
  align-items: center;
}
.instance-item {
  position: absolute;
  height: 80%;
  width: 27.59%;
  top: 11.31%;
  right: 3.45%;
  bottom: 8.69%;
  left: 68.95%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ant-designheart-filled1 {
  position: absolute;
  height: 22.07%;
  width: 8.03%;
  top: 11.72%;
  right: 48.42%;
  bottom: 66.21%;
  left: 43.55%;
  overflow: hidden;
}
.rectangle-group {
  position: absolute;
  top: 2.722rem;
  left: 0rem;
  width: 22.833rem;
  height: 8.056rem;
}
.rectangle-container {
  position: absolute;
  top: 11.889rem;
  left: 0rem;
  width: 22.833rem;
  height: 8.056rem;
}
.parent {
  width: 22.833rem;
  position: relative;
  height: 19.944rem;
  z-index: 0;
}
.instance-child1 {
  position: absolute;
  height: 80%;
  width: 27.59%;
  top: 11.31%;
  right: 3.45%;
  bottom: 8.69%;
  left: 68.95%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.div7 {
  position: absolute;
  top: 0rem;
  left: 1rem;
  font-size: var(--font-size-5xl);
}
.instance-parent {
  width: 22.833rem;
  position: relative;
  height: 19.944rem;
  z-index: 1;
}
.div10 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  font-size: var(--font-size-5xl);
}
.instance-group {
  width: 22.833rem;
  position: relative;
  height: 19.944rem;
  z-index: 2;
}
.icon {
  position: absolute;
  top: 3.556rem;
  left: 15.667rem;
  border-radius: var(--br-3xs);
  width: 6.422rem;
  height: 6.444rem;
  object-fit: cover;
}
.icon1 {
  position: absolute;
  top: 12.722rem;
  left: 15.667rem;
  border-radius: var(--br-3xs);
  width: 6.444rem;
  height: 6.444rem;
  object-fit: cover;
}
.instance-container {
  width: 22.833rem;
  position: relative;
  height: 19.944rem;
  z-index: 3;
}
.icon2 {
  width: 6.422rem;
  position: absolute;
  margin: 0 !important;
  top: 45.667rem;
  left: 15.667rem;
  border-radius: var(--br-3xs);
  height: 6.444rem;
  object-fit: cover;
  z-index: 4;
}
.icon3 {
  width: 6.422rem;
  position: absolute;
  margin: 0 !important;
  top: 54.833rem;
  left: 15.667rem;
  border-radius: var(--br-3xs);
  height: 6.444rem;
  object-fit: cover;
  z-index: 5;
}
.icon4 {
  width: 6.4rem;
  position: absolute;
  margin: 0 !important;
  top: 24.611rem;
  left: 15.667rem;
  border-radius: var(--br-3xs);
  height: 6.444rem;
  object-fit: cover;
  z-index: 6;
}
.frame-group {
  position: absolute;
  top: 10.389rem;
  left: 0.5rem;
  height: 89.278rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-child {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-top: 1px solid var(--color-silver-100);
  border-bottom: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 23.889rem;
  height: 9.111rem;
}
.div14 {
  position: absolute;
  top: 1.222rem;
  left: 1.222rem;
}
.frame-item {
  position: absolute;
  top: 5.611rem;
  left: 1.333rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  width: 21.167rem;
  height: 2.222rem;
}
.div15 {
  position: absolute;
  top: 6.056rem;
  left: 6.778rem;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame-div {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 23.889rem;
  height: 9.111rem;
  font-size: var(--font-size-5xl);
}
.frame-parent {
  position: absolute;
  top: 19.056rem;
  left: 0rem;
  width: 23.889rem;
  height: 32.722rem;
  overflow-y: auto;
  font-size: var(--font-size-xl);
}
.div16 {
  position: absolute;
  top: 1.111rem;
  left: 1.222rem;
  font-size: var(--font-size-13xl);
}
.frame-inner {
  position: absolute;
  top: 1.111rem;
  left: 17.444rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 5.167rem;
  height: 2.167rem;
}
.div17 {
  position: absolute;
  top: 1.667rem;
  left: 19.667rem;
  font-size: var(--font-size-base);
}
.div18 {
  position: absolute;
  top: 4.5rem;
  left: 3.333rem;
}
.star-icon {
  position: absolute;
  top: 4.333rem;
  left: 1.222rem;
  width: 1.944rem;
  height: 1.944rem;
  object-fit: cover;
}
.div19 {
  position: absolute;
  top: 4.5rem;
  left: 7.389rem;
}
.line-icon {
  position: absolute;
  top: 4.5rem;
  left: 6.2rem;
  width: 0.022rem;
  height: 1.667rem;
  object-fit: contain;
}
.favorite-icon {
  position: absolute;
  top: 1.222rem;
  left: 18rem;
  width: 1.278rem;
  height: 1.944rem;
  object-fit: cover;
}
.group {
  position: absolute;
  top: 11.222rem;
  left: 0rem;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  width: 23.889rem;
  height: 7.833rem;
}
.image-4-icon {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 23.889rem;
  height: 11.222rem;
  object-fit: cover;
}
.div20 {
  position: absolute;
  width: calc(100% - 326px);
  bottom: 2.278rem;
  left: 4.333rem;
  display: flex;
  align-items: center;
  height: 1.611rem;
}
.div21 {
  position: absolute;
  width: calc(100% - 290px);
  bottom: 2.278rem;
  left: 11.778rem;
  display: flex;
  align-items: center;
  height: 1.611rem;
  cursor: pointer;
}
.line-div {
  position: absolute;
  width: calc(100% - 429px);
  right: 12.917rem;
  bottom: 2.25rem;
  left: 10.917rem;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1.667rem;
}
.container {
  position: absolute;
  width: 100%;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  height: 6.167rem;
  color: var(--color-white);
}
.div1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 51.778rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
