.div222 {
  position: absolute;
  top: 2.944rem;
  left: 1.5rem;
  font-size: var(--font-size-5xl);
  text-align: left;
  display: flex;
  align-items: center;
  width: 20.833rem;
  height: 4.778rem;
}
.main-child {
  position: absolute;
  top: 7.389rem;
  left: 1.389rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 20.889rem;
  height: 4.444rem;
}
.search-icon1 {
  position: absolute;
  top: 8.222rem;
  left: 2.056rem;
  width: 2.333rem;
  height: 2.944rem;
  object-fit: cover;
}
.main-item {
  position: absolute;
  top: 46.167rem;
  left: 0rem;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  border-top: 1px solid #e7e7e7;
  box-sizing: border-box;
  width: 23.889rem;
  height: 5.611rem;
}
.main-inner {
  position: absolute;
  top: 13.333rem;
  left: 1.389rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 20.889rem;
  height: 30.944rem;
}
.div223 {
  position: absolute;
  top: 14.778rem;
  left: 2.889rem;
  font-size: var(--font-size-5xl);
}
.component-15-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 50%;
  background-color: var(--color-white);
}
.div224 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 25px);
}
.component-15 {
  width: 3.889rem;
  position: relative;
  height: 3.889rem;
  cursor: pointer;
}
.p151 {
  margin: 0;
}
.div225 {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 20px);
}
.component-16 {
  width: 3.889rem;
  position: relative;
  height: 3.889rem;
}
.div228 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 12px);
}
.div231 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 31px);
}
.div232 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 18px);
}
.div233 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 20px);
}
.component-15-parent {
  position: absolute;
  top: 18.722rem;
  left: 2rem;
  width: 19.556rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6.111rem 1.111rem;
  font-size: var(--font-size-xs);
}
.div236 {
  position: absolute;
  height: 33.33%;
  width: 150%;
  top: 66.67%;
  left: -25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-34 {
  position: absolute;
  top: 47.333rem;
  left: 2.611rem;
  width: 2.222rem;
  height: 3.333rem;
}
.component-35 {
  position: absolute;
  top: 47.333rem;
  left: 6.667rem;
  width: 2.222rem;
  height: 3.333rem;
}
.clipboard-icon {
  position: absolute;
  height: 66.67%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 33.33%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-36 {
  position: absolute;
  top: 47.333rem;
  left: 10.722rem;
  width: 2.222rem;
  height: 3.333rem;
}
.component-37 {
  position: absolute;
  top: 47.333rem;
  left: 14.778rem;
  width: 2.222rem;
  height: 3.333rem;
}
.component-38 {
  position: absolute;
  top: 47.333rem;
  left: 18.833rem;
  width: 2.222rem;
  height: 3.333rem;
}
.main {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 51.778rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
