.image-1-icon1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 23.889rem;
  height: 11.222rem;
  object-fit: cover;
}
.div179 {
  position: relative;
}
.frame13 {
  position: absolute;
  top: 30.389rem;
  left: 1.222rem;
  width: 21.444rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.p140 {
  margin: 0;
}
.txt23 {
  width: 100%;
}
.div180 {
  position: absolute;
  height: 80%;
  width: 62.52%;
  top: 11.03%;
  left: 4.37%;
  display: flex;
  align-items: center;
}
.instance-child33 {
  position: absolute;
  height: 80%;
  width: 27.6%;
  top: 11.31%;
  right: 3.45%;
  bottom: 8.69%;
  left: 68.96%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ant-designheart-filled19 {
  position: absolute;
  height: 22.07%;
  width: 8.03%;
  top: 11.72%;
  right: 48.42%;
  bottom: 66.21%;
  left: 43.54%;
  overflow: hidden;
}
.rectangle-parent32 {
  align-self: stretch;
  position: relative;
  height: 8.056rem;
}
.frame14 {
  position: absolute;
  top: 42.278rem;
  left: 0.5rem;
  width: 22.889rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.frame15 {
  position: absolute;
  top: 33.111rem;
  left: 0.5rem;
  width: 22.889rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.frame-child9 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  width: 23.889rem;
  height: 7.833rem;
}
.frame-child10 {
  position: absolute;
  top: 7.833rem;
  left: 0rem;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-top: 1px solid var(--color-lightgray-300);
  border-bottom: 1px solid var(--color-lightgray-300);
  box-sizing: border-box;
  width: 23.889rem;
  height: 9.111rem;
}
.div182 {
  position: absolute;
  top: 1.111rem;
  left: 1.222rem;
  font-size: var(--font-size-13xl);
}
.div183 {
  position: absolute;
  top: 4.5rem;
  left: 3.333rem;
}
.star-icon18 {
  position: absolute;
  top: 4.333rem;
  left: 1.222rem;
  width: 1.944rem;
  height: 1.944rem;
  object-fit: cover;
}
.div184 {
  position: absolute;
  top: 4.5rem;
  left: 7.389rem;
  cursor: pointer;
}
.frame-child11 {
  position: absolute;
  top: 4.5rem;
  left: 6.2rem;
  width: 0.022rem;
  height: 1.667rem;
  object-fit: contain;
}
.div185 {
  position: absolute;
  top: 9.056rem;
  left: 1.222rem;
}
.wrapper6 {
  position: absolute;
  top: 13.444rem;
  left: 1.333rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  width: 21.167rem;
  height: 2.222rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.beforelike-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.div187 {
  position: absolute;
  top: 25.64%;
  left: 43.01%;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.ant-designheart-outlined-icon2 {
  position: absolute;
  height: 64.1%;
  width: 26.88%;
  top: 12.82%;
  right: 64.52%;
  bottom: 23.08%;
  left: 8.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.beforelike2 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.111rem;
  left: 17.389rem;
  width: 5.167rem;
  height: 2.167rem;
}
.frame16 {
  position: absolute;
  top: 11.389rem;
  left: 0rem;
  width: 23.889rem;
  height: 16.944rem;
  overflow: hidden;
}
.menulist {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 51.778rem;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
