.group-child13 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-lightgray-100);
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 23.889rem;
  height: 10.278rem;
}
.group-child14 {
  position: absolute;
  top: 1.222rem;
  left: calc(50% - 199px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 21.556rem;
  height: 5.167rem;
}
.p106 {
  margin: 0;
}
.txt17 {
  width: 100%;
}
.div102 {
  position: absolute;
  top: 1.222rem;
  left: 2.333rem;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  width: 20.833rem;
  height: 4.778rem;
}
.div103 {
  position: absolute;
  top: 7.611rem;
  left: 2.333rem;
}
.group-child15 {
  position: absolute;
  top: 7.278rem;
  left: 17.833rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 4.222rem;
  height: 1.944rem;
}
.div104 {
  position: absolute;
  top: 7.611rem;
  left: 18.889rem;
}
.rectangle-parent21 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 23.889rem;
  height: 10.278rem;
}
.group-child16 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-lightgray-100);
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 23.889rem;
  height: 15.167rem;
}
.group-child17 {
  border: 1px solid var(--color-silver-100);
  outline: none;
  background-color: var(--color-white);
  position: absolute;
  top: 5.944rem;
  left: calc(50% - 194px);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 21.556rem;
  height: 2.333rem;
}
.group-child18 {
  border: 1px solid var(--color-silver-100);
  outline: none;
  background-color: var(--color-white);
  position: absolute;
  top: 11.556rem;
  left: calc(50% - 194px);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 21.556rem;
  height: 2.333rem;
}
.div105 {
  position: absolute;
  top: 1.056rem;
  left: 1.444rem;
}
.div106 {
  position: absolute;
  top: 3.5rem;
  left: 2.333rem;
}
.div107 {
  position: absolute;
  top: 9.111rem;
  left: 2.333rem;
}
.rectangle-parent22 {
  position: absolute;
  top: 10.278rem;
  left: 0rem;
  width: 23.889rem;
  height: 15.167rem;
  font-size: var(--font-size-5xl);
}
.group-child19 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--color-white);
  width: 23.889rem;
  height: 12.556rem;
}
.div108 {
  position: absolute;
  top: 1.333rem;
  left: 1.444rem;
}
.div109 {
  position: absolute;
  top: 3.778rem;
  left: 3.278rem;
}
.group-child20 {
  position: absolute;
  top: 3.778rem;
  left: 1.444rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
  height: 1.389rem;
}
.group-child21 {
  position: absolute;
  top: 5.444rem;
  left: 1.444rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
  height: 1.389rem;
}
.group-child22 {
  position: absolute;
  top: 7.056rem;
  left: 1.444rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
  height: 1.389rem;
}
.group-child23 {
  position: absolute;
  top: 9.222rem;
  left: calc(50% - 156px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 18.778rem;
  height: 2.333rem;
}
.div110 {
  position: absolute;
  top: 9.833rem;
  left: 3.889rem;
  font-size: var(--font-size-xl);
}
.rectangle-parent23 {
  position: absolute;
  top: 25.444rem;
  left: 0rem;
  width: 23.889rem;
  height: 12.556rem;
  font-size: var(--font-size-5xl);
}
.group-child24 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-lightgray-100);
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 23.889rem;
  height: 9.611rem;
}
.div111 {
  position: absolute;
  top: 1.556rem;
  left: 1.556rem;
  font-size: var(--font-size-5xl);
}
.div112 {
  position: absolute;
  top: 1.722rem;
  left: 19.111rem;
}
.group-child25 {
  position: absolute;
  top: 0rem;
  left: calc(50% - 194px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 21.556rem;
  height: 2.333rem;
}
.div113 {
  position: absolute;
  top: 0.611rem;
  left: 3.556rem;
}
.more-than-icon1 {
  position: absolute;
  top: 0.667rem;
  left: 19.833rem;
  width: 1.111rem;
  height: 1.111rem;
  object-fit: cover;
}
.rectangle-parent25 {
  position: absolute;
  top: 4.5rem;
  left: calc(50% - 194px);
  width: 21.556rem;
  height: 2.333rem;
  cursor: pointer;
}
.rectangle-parent24 {
  position: absolute;
  top: 38.111rem;
  left: 0rem;
  width: 23.889rem;
  height: 9.611rem;
}
.group-child26 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 23.889rem;
  height: 9.611rem;
}
.div114 {
  position: absolute;
  top: 1.611rem;
  left: 1.556rem;
  font-size: var(--font-size-5xl);
}
.div115 {
  position: absolute;
  top: 4.444rem;
  left: 1.556rem;
}
.div116 {
  position: absolute;
  top: 4.444rem;
  left: 16.889rem;
  text-align: right;
}
.rectangle-parent26 {
  position: absolute;
  top: 47.722rem;
  left: 0rem;
  width: 23.889rem;
  height: 9.611rem;
  font-size: var(--font-size-3xl);
}
.group-parent {
  position: absolute;
  top: 7.722rem;
  left: 0rem;
  width: 23.889rem;
  height: 63.778rem;
  overflow-y: auto;
}
.div117 {
  position: absolute;
  top: 5.278rem;
  left: 6.667rem;
  display: flex;
  align-items: center;
  width: 6.611rem;
  height: 2.611rem;
}
.div118 {
  position: absolute;
  top: 5.278rem;
  left: 13.889rem;
  font-size: var(--font-size-base);
  text-align: right;
  display: flex;
  align-items: center;
  width: 8.556rem;
  height: 2.611rem;
}
.div119 {
  position: absolute;
  top: 5.944rem;
  left: 1.444rem;
  color: var(--color-cornflowerblue);
}
.won-icon {
  position: absolute;
  top: 6rem;
  left: 5.556rem;
  width: 1.111rem;
  height: 1.111rem;
  object-fit: cover;
}
.group-child27 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 23.889rem;
  height: 6.444rem;
}
.group-child28 {
  position: absolute;
  top: 2.944rem;
  left: 4.278rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  width: 15.278rem;
  height: 2.389rem;
}
.div120 {
  position: absolute;
  top: 3.389rem;
  left: 6.833rem;
}
.div121 {
  position: absolute;
  top: 1.111rem;
  left: 5.944rem;
  color: var(--color-lightgray-100);
}
.group-child29 {
  position: absolute;
  top: 1.333rem;
  left: 4.444rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1.111rem;
  height: 1.111rem;
}
.rectangle-parent27 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 23.889rem;
  height: 6.444rem;
}
.order-inner {
  position: absolute;
  top: 45.389rem;
  left: 0rem;
  width: 23.889rem;
  height: 6.444rem;
  overflow-y: auto;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.order {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 51.778rem;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
