.order3-child {
  position: absolute;
  top: 14.111rem;
  left: calc(50% - 153px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 18.778rem;
  height: 2.333rem;
}
.order3-item {
  position: absolute;
  top: 17.278rem;
  left: calc(50% - 153px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 18.778rem;
  height: 2.333rem;
}
.div83 {
  position: absolute;
  top: 6rem;
  left: 1.611rem;
}
.p93 {
  margin: 0;
}
.div84 {
  position: absolute;
  top: 8.444rem;
  left: 3.444rem;
}
.order3-inner {
  position: absolute;
  top: 8.444rem;
  left: 1.611rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
  height: 1.389rem;
}
.ellipse-input {
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 10.111rem;
  left: 1.611rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
  height: 1.389rem;
}
.order3-child1 {
  position: absolute;
  top: 11.722rem;
  left: 1.611rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
  height: 1.389rem;
}
.div85 {
  position: absolute;
  top: 14.722rem;
  left: 4.056rem;
  font-size: var(--font-size-xl);
}
.div86 {
  position: absolute;
  top: 17.889rem;
  left: 4.056rem;
  font-size: var(--font-size-xl);
}
.sort-down-icon {
  position: absolute;
  top: 17.444rem;
  left: 19.667rem;
  width: 1.944rem;
  height: 1.944rem;
  object-fit: cover;
}
.order3-child2 {
  position: absolute;
  top: 21rem;
  left: 0rem;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-lightgray-100);
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 23.889rem;
  height: 9.611rem;
}
.order3-child3 {
  position: absolute;
  top: 30.611rem;
  left: 0rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 23.889rem;
  height: 9.611rem;
}
.div87 {
  position: absolute;
  top: 22.556rem;
  left: 1.556rem;
}
.div88 {
  position: absolute;
  top: 32.222rem;
  left: 1.556rem;
}
.div89 {
  position: absolute;
  top: 41.667rem;
  left: 1.556rem;
}
.div90 {
  position: absolute;
  top: 22.722rem;
  left: 19.111rem;
  font-size: var(--font-size-xl);
}
.order3-child4 {
  position: absolute;
  top: 25.5rem;
  left: calc(50% - 194px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 21.556rem;
  height: 2.333rem;
}
.div91 {
  position: absolute;
  top: 26.056rem;
  left: 2rem;
  font-size: var(--font-size-xl);
}
.more-than-icon {
  position: absolute;
  top: 26.167rem;
  left: 21rem;
  width: 1.111rem;
  height: 1.111rem;
  object-fit: cover;
}
.div92 {
  position: absolute;
  top: 34.333rem;
  left: 1.556rem;
  font-size: var(--font-size-3xl);
}
.div93 {
  position: absolute;
  top: 34.333rem;
  left: 16.889rem;
  font-size: var(--font-size-3xl);
  text-align: right;
}
.div94 {
  position: absolute;
  top: 41.667rem;
  left: 16.944rem;
  font-size: var(--font-size-3xl);
  text-align: right;
}
.order3-child5 {
  position: absolute;
  top: 45.333rem;
  left: 0rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 23.889rem;
  height: 6.444rem;
}
.group-child11 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  width: 15.278rem;
  height: 2.389rem;
}
.div95 {
  position: absolute;
  top: 0.444rem;
  left: 2.556rem;
}
.rectangle-parent19 {
  position: absolute;
  top: 48.278rem;
  left: 4.278rem;
  width: 15.278rem;
  height: 2.389rem;
  cursor: pointer;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.div96 {
  position: absolute;
  top: 46.444rem;
  left: 5.944rem;
  font-size: var(--font-size-3xl);
  color: var(--color-lightgray-100);
}
.rectangle-input {
  margin: 0;
  position: absolute;
  top: 46.667rem;
  left: 4.444rem;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1.111rem;
  height: 1.111rem;
}
.order3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 51.778rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
