.frame-child7 {
  width: 21.556rem;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  height: 5.167rem;
}
.p115 {
  margin: 0;
}
.txt18 {
  width: 100%;
}
.div124 {
  width: 20.833rem;
  position: relative;
  display: flex;
  align-items: center;
  height: 4.778rem;
  flex-shrink: 0;
  margin-left: -367px;
}
.frame3 {
  align-self: stretch;
  height: 5.167rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.frame2 {
  position: absolute;
  top: 8.556rem;
  left: 0.722rem;
  width: 22.444rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.div125 {
  position: relative;
}
.rectangle-button {
  cursor: pointer;
  border: 1px solid var(--color-silver-100);
  padding: 0;
  background-color: var(--color-white);
  width: 4.222rem;
  position: relative;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  height: 1.944rem;
}
.div126 {
  position: relative;
  margin-top: -29px;
}
.rectangle-parent28 {
  width: 4.222rem;
  height: 1.944rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.frame5 {
  width: 19.722rem;
  height: 1.944rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.556rem;
}
.frame4 {
  position: absolute;
  top: 14.833rem;
  left: 1.833rem;
  width: 20.222rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.frame6 {
  position: absolute;
  top: 18.333rem;
  left: 1.444rem;
  width: 21rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame7 {
  position: absolute;
  top: 20.778rem;
  left: 2.333rem;
  width: 19.222rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.request-child {
  border: 1px solid var(--color-silver-100);
  outline: none;
  background-color: var(--color-white);
  position: absolute;
  top: 23.222rem;
  left: calc(50% - 194px);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 21.556rem;
  height: 2.333rem;
}
.frame8 {
  position: absolute;
  top: 26.389rem;
  left: 2.333rem;
  width: 19.222rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-child8 {
  width: 1.111rem;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 1.111rem;
}
.frame10 {
  align-self: stretch;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.389rem;
}
.wrapper3 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  height: 2.389rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}
.frame9 {
  position: absolute;
  top: 45.278rem;
  left: 0rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 23.889rem;
  height: 6.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0rem 4.333rem 1.111rem 4.278rem;
  gap: 0.333rem;
  font-size: var(--font-size-3xl);
  color: var(--color-lightgray-100);
}
.request-item {
  border: 1px solid var(--color-silver-100);
  outline: none;
  background-color: var(--color-white);
  position: absolute;
  top: 28.833rem;
  left: calc(50% - 194px);
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 21.556rem;
  height: 2.333rem;
}
.won-icon1 {
  width: 1.111rem;
  position: relative;
  height: 1.111rem;
  object-fit: cover;
}
.div133 {
  width: 6.611rem;
  position: relative;
  color: var(--color-black);
  display: flex;
  align-items: center;
  height: 2.611rem;
  flex-shrink: 0;
}
.frame12 {
  height: 2.611rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div134 {
  width: 8.556rem;
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-black);
  text-align: right;
  display: flex;
  align-items: center;
  height: 2.611rem;
  flex-shrink: 0;
}
.frame11 {
  position: absolute;
  top: 5.111rem;
  left: 1.444rem;
  width: 21rem;
  height: 2.611rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.611rem;
  font-size: var(--font-size-xl);
  color: var(--color-cornflowerblue);
}
.request {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 51.778rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
