.p153 {
  margin: 0;
}
.txt25 {
  width: 100%;
}
.div243 {
  position: absolute;
  top: 3.056rem;
  left: 1.833rem;
  display: flex;
  align-items: center;
  width: 20.833rem;
  height: 7.944rem;
}
.component-33-child {
  border: 1px solid var(--color-gainsboro-100);
  outline: none;
  background-color: var(--color-gainsboro-200);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.search-icon3 {
  position: absolute;
  height: 66.25%;
  width: 11.17%;
  top: 18.75%;
  right: 85.64%;
  bottom: 15%;
  left: 3.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-33-item {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  height: 98.75%;
  width: 80.59%;
  top: 1.25%;
  right: 3.72%;
  bottom: 0%;
  left: 15.69%;
}
.component-33-inner {
  border: none;
  outline: none;
  background-color: var(--color-white);
  position: absolute;
  height: 81.25%;
  width: 80.32%;
  top: 11.25%;
  right: 3.72%;
  bottom: 7.5%;
  left: 15.96%;
}
.component-33 {
  position: absolute;
  top: 10.944rem;
  left: 1.222rem;
  width: 20.889rem;
  height: 4.444rem;
}
.setaddress {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 51.778rem;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: 2rem;
  color: var(--color-black);
  font-family: var(--font-inter);
}
