.search {
  position: absolute;
  height: 49.41%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 50.59%;
  left: 0%;
}
.div188 {
  position: absolute;
  height: 55.29%;
  width: 93.55%;
  top: 44.71%;
  left: 3.23%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-9 {
  position: absolute;
  top: 2.944rem;
  left: 19.056rem;
  width: 3.444rem;
  height: 4.722rem;
  text-align: center;
  font-size: var(--font-size-mini);
}
.shopping-cart-icon {
  position: absolute;
  top: 4rem;
  left: 19.056rem;
  width: 3.333rem;
  height: 1.778rem;
  object-fit: cover;
}
.div189 {
  position: absolute;
  top: 4rem;
  left: 2rem;
  display: flex;
  align-items: center;
  width: 5.056rem;
  height: 2.611rem;
}
.sortlist-child {
  position: absolute;
  top: 16.333rem;
  left: 0rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 23.889rem;
  height: 35.444rem;
}
.component-10-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.div190 {
  position: absolute;
  top: 1.222rem;
  left: 1.278rem;
}
.star-icon19 {
  position: absolute;
  top: 1.056rem;
  left: 10.778rem;
  width: 1.944rem;
  height: 1.944rem;
  object-fit: cover;
}
.div191 {
  position: absolute;
  top: 1.222rem;
  left: 12.889rem;
}
.component-10-item {
  position: absolute;
  height: 57.97%;
  width: 27.91%;
  top: 33.82%;
  right: 67.44%;
  bottom: 8.21%;
  left: 4.65%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-10-inner {
  position: absolute;
  height: 57.97%;
  width: 27.91%;
  top: 33.82%;
  right: 35.58%;
  bottom: 8.21%;
  left: 36.51%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-10-child1 {
  position: absolute;
  height: 57.97%;
  width: 27.91%;
  top: 33.82%;
  right: 3.72%;
  bottom: 8.21%;
  left: 68.37%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-10 {
  position: absolute;
  top: 15.667rem;
  left: 0rem;
  width: 23.889rem;
  height: 11.5rem;
  cursor: pointer;
}
.component-11 {
  position: absolute;
  top: 27.722rem;
  left: 0rem;
  width: 23.889rem;
  height: 11.5rem;
}
.component-12 {
  position: absolute;
  top: 39.778rem;
  left: 0rem;
  width: 23.889rem;
  height: 11.5rem;
}
.sortlist-item {
  position: absolute;
  top: 7.778rem;
  left: 0rem;
  background-color: var(--color-white);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  border-top: 1px solid var(--color-lightgray-300);
  border-bottom: 1px solid var(--color-lightgray-300);
  box-sizing: border-box;
  width: 23.889rem;
  height: 3.611rem;
}
.div196 {
  position: absolute;
  top: 9.167rem;
  left: 2rem;
  display: flex;
  align-items: center;
  width: 5.389rem;
  height: 1rem;
}
.div197 {
  position: absolute;
  top: 9.167rem;
  left: 8.944rem;
  display: flex;
  align-items: center;
  width: 8.333rem;
  height: 1rem;
}
.div198 {
  position: absolute;
  top: 9.167rem;
  left: 18.667rem;
  display: flex;
  align-items: center;
  width: 2.944rem;
  height: 1rem;
}
.div199 {
  position: absolute;
  top: 13.444rem;
  left: 1.444rem;
  font-size: var(--font-size-xl);
}
.group-child34 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 3.778rem;
  height: 1.833rem;
}
.div200 {
  position: absolute;
  top: 0.444rem;
  left: 0.889rem;
}
.rectangle-parent34 {
  position: absolute;
  top: 13.056rem;
  left: 4.444rem;
  width: 3.778rem;
  height: 1.833rem;
  font-size: var(--font-size-sm);
}
.div201 {
  position: absolute;
  top: 0.444rem;
  left: 1.167rem;
}
.rectangle-parent35 {
  position: absolute;
  top: 13.056rem;
  left: 13.889rem;
  width: 3.778rem;
  height: 1.833rem;
  font-size: var(--font-size-sm);
}
.rectangle-parent36 {
  position: absolute;
  top: 13.056rem;
  left: 18.611rem;
  width: 3.778rem;
  height: 1.833rem;
  font-size: var(--font-size-sm);
}
.div203 {
  position: absolute;
  top: 0.444rem;
  left: 0.444rem;
}
.rectangle-parent37 {
  position: absolute;
  top: 13.056rem;
  left: 9.167rem;
  width: 3.778rem;
  height: 1.833rem;
  font-size: var(--font-size-sm);
}
.sortlist {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 51.778rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
