.div97 {
  position: absolute;
  top: 5.444rem;
  left: 8.667rem;
  font-size: var(--font-size-13xl);
}
.close-icon2 {
  position: absolute;
  top: 1.278rem;
  right: 21.278rem;
  width: 1.5rem;
  height: 1.444rem;
  object-fit: cover;
}
.usecoupon-child {
  position: absolute;
  top: 8.889rem;
  left: calc(50% - 194px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 16.889rem;
  height: 2.333rem;
}
.group-child12 {
  position: absolute;
  top: 0rem;
  left: calc(50% - 152px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 16.889rem;
  height: 2.333rem;
}
.div98 {
  position: absolute;
  top: 0.5rem;
  left: 6.389rem;
}
.rectangle-parent20 {
  position: absolute;
  top: 47.556rem;
  left: calc(50% - 152px);
  width: 16.889rem;
  height: 2.333rem;
  cursor: pointer;
  font-size: var(--font-size-xl);
}
.usecoupon-item {
  position: absolute;
  top: 13rem;
  left: calc(50% - 194px);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 21.611rem;
  height: 7.333rem;
}
.usecoupon-inner {
  position: absolute;
  top: 8.889rem;
  left: 19.056rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 3.722rem;
  height: 2.333rem;
}
.div99 {
  position: absolute;
  top: 9.278rem;
  left: 19.778rem;
}
.p102 {
  margin: 0;
}
.div100 {
  position: absolute;
  top: 13.889rem;
  left: 2.444rem;
}
.div101 {
  position: absolute;
  top: 17.333rem;
  left: 2.444rem;
  font-size: var(--font-size-base);
}
.usecoupon-child1 {
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 15.944rem;
  left: 20.222rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.389rem;
  height: 1.389rem;
}
.usecoupon {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 51.778rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
