.never-octiconx-circle-fill-241 {
  position: absolute;
  height: 50%;
  width: 7.54%;
  top: 25%;
  right: 4.02%;
  bottom: 25%;
  left: 88.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.never-yousearched-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.never-div18 {
  position: absolute;
  top: 35%;
  left: 17.34%;
}
.never-yousearched-child1 {
  position: absolute;
  height: 68.33%;
  width: 12.81%;
  top: 16.67%;
  right: 86.68%;
  bottom: 15%;
  left: 0.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.never-yousearched1 {
  width: 24.875rem;
  position: relative;
  height: 3.75rem;
}
.never-group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color);
  width: 7.75rem;
  height: 2rem;
}
.never-div19 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 18px);
}
.never-group-child3,
.never-rectangle-parent2 {
  width: 7.75rem;
  position: relative;
  height: 2rem;
}
.never-group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumseagreen-100);
}
.never-div20 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 11px);
}
.never-rectangle-parent4 {
  width: 7.75rem;
  position: relative;
  height: 2rem;
  cursor: pointer;
}
.never-tabframe {
  width: 24.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--font-size-sm);
}
.never-sortingoption-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.never-div22,
.never-div23,
.never-div24 {
  position: absolute;
  top: 21.88%;
  left: 3.02%;
}
.never-div23,
.never-div24 {
  left: 66.83%;
}
.never-div24 {
  left: 85.68%;
}
.never-sortingoption {
  width: 24.875rem;
  position: relative;
  height: 2rem;
}
.never-searchcafetop {
  position: absolute;
  top: 1.625rem;
  left: 1rem;
  width: 24.875rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
}
.never-contents1-child,
.never-contents1-inner,
.never-contents1-item {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 24.875rem;
}
.never-contents1-child {
  top: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-600);
  height: 16.063rem;
}
.never-contents1-inner,
.never-contents1-item {
  top: 1rem;
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-gray-600);
  height: 3.875rem;
}
.never-contents1-inner {
  top: 5.125rem;
  height: 10.25rem;
}
.never-div25,
.never-for {
  position: absolute;
  left: 1.5rem;
}
.never-div25 {
  top: 1.25rem;
  font-weight: 500;
}
.never-for {
  top: 3.313rem;
  color: var(--color1);
}
.never-contents1-child1,
.never-div26 {
  position: absolute;
  top: 7.125rem;
  height: 6.25rem;
}
.never-div26 {
  left: 1.5rem;
  display: inline-block;
  width: 14.375rem;
}
.never-contents1-child1 {
  left: 17.625rem;
  border-radius: var(--br-8xs);
  width: 6.125rem;
  object-fit: cover;
}
.never-contents1,
.never-contents2 {
  position: absolute;
  top: 14.75rem;
  left: 1rem;
  width: 24.875rem;
  height: 16.063rem;
}
.never-contents2 {
  top: 31.813rem;
}
.never-group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 2.125rem;
  height: 2.125rem;
}
.never-n1 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 9px);
}
.never-rectangle-parent5 {
  width: 2.125rem;
  position: relative;
  height: 2.125rem;
  cursor: pointer;
}
.never-pharrow-left-thin-icon2,
.never-pharrow-left-thin-icon3 {
  width: 1.875rem;
  position: relative;
  height: 1.875rem;
  overflow: hidden;
  flex-shrink: 0;
}
.never-pharrow-left-thin-icon2 {
  cursor: pointer;
}
.never-pharrow-left-thin-icon3 {
  object-fit: contain;
}
.never-bottombar-item {
  width: 2.125rem;
  position: relative;
  height: 2.125rem;
}
.never-material-symbols-lightrefresh-icon1 {
  width: 1.875rem;
  position: relative;
  height: 1.875rem;
  overflow: hidden;
  flex-shrink: 0;
}
.never-bottombar1,
.never-searchcafe-06 {
  background-color: var(--color-white);
}
.never-bottombar1 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 199px);
  box-shadow: 0 4px 9px #050404;
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 24.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-smi) var(--padding-mini);
  font-size: var(--font-size-6xl);
}
.never-searchcafe-06 {
  width: 100%;
  position: relative;
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
