.never-octiconx-circle-fill-242 {
  position: absolute;
  height: 50%;
  width: 7.54%;
  top: 25%;
  right: 4.02%;
  bottom: 25%;
  left: 88.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.never-yousearched-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.never-div30 {
  position: absolute;
  top: 35%;
  left: 17.34%;
}
.never-yousearched-child3 {
  position: absolute;
  height: 68.33%;
  width: 12.81%;
  top: 16.67%;
  right: 86.68%;
  bottom: 15%;
  left: 0.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.never-yousearched2 {
  width: 24.875rem;
  position: relative;
  height: 3.75rem;
}
.never-group-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color);
  width: 7.75rem;
  height: 2rem;
}
.never-div31 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 18px);
}
.never-rectangle-parent6 {
  width: 7.75rem;
  position: relative;
  height: 2rem;
}
.never-div32 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 11px);
}
.never-group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumseagreen-100);
  width: 7.75rem;
  height: 2rem;
}
.never-tabframe1 {
  width: 24.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--font-size-sm);
}
.never-div34 {
  position: absolute;
  top: 0.438rem;
  left: 0.75rem;
  display: inline-block;
  width: 2.438rem;
}
.never-div35,
.never-div36,
.never-gif {
  width: 2.25rem;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.never-div36,
.never-gif {
  width: 3.25rem;
}
.never-gif {
  width: 1.875rem;
}
.never-frame2 {
  position: absolute;
  top: 0.438rem;
  left: 14.75rem;
  width: 9.25rem;
  height: 1.188rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: center;
}
.never-relation1 {
  width: 24.875rem;
  position: relative;
  border-radius: var(--br-5xs);
  background: linear-gradient(rgba(217, 217, 217, 0), rgba(217, 217, 217, 0)),
    #fff;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 2rem;
}
.never-contents11,
.never-searchimagetop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.never-searchimagetop {
  align-self: stretch;
  height: 11.813rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-base) 0 var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.never-contents11 {
  width: 24.875rem;
  height: 7.75rem;
  flex-direction: row;
  gap: var(--gap-5xl);
}
.never-contents3-child {
  width: 11.688rem;
  position: relative;
  border-radius: var(--br-3xs);
  height: 7.75rem;
  object-fit: cover;
}
.never-imagecontentsbox,
.never-searchimagecontainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.never-imagecontentsbox {
  align-self: stretch;
  padding: 0.562rem 0 var(--padding-lg);
  gap: var(--gap-5xl);
}
.never-searchimagecontainer {
  position: absolute;
  top: 1.25rem;
  left: 1rem;
  width: 24.875rem;
  gap: 1.625rem;
}
.never-group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 2.125rem;
  height: 2.125rem;
}
.never-n2 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 9px);
}
.never-rectangle-parent9 {
  width: 2.125rem;
  position: relative;
  height: 2.125rem;
  cursor: pointer;
}
.never-pharrow-left-thin-icon4,
.never-pharrow-left-thin-icon5 {
  width: 1.875rem;
  position: relative;
  height: 1.875rem;
  overflow: hidden;
  flex-shrink: 0;
}
.never-pharrow-left-thin-icon4 {
  cursor: pointer;
}
.never-pharrow-left-thin-icon5 {
  object-fit: contain;
}
.never-bottombar-inner {
  width: 2.125rem;
  position: relative;
  height: 2.125rem;
}
.never-material-symbols-lightrefresh-icon2 {
  width: 1.875rem;
  position: relative;
  height: 1.875rem;
  overflow: hidden;
  flex-shrink: 0;
}
.never-bottombar2,
.never-searchimage-07 {
  background-color: var(--color-white);
}
.never-bottombar2 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 199px);
  box-shadow: 0 4px 9px #050404;
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 24.875rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-smi) var(--padding-mini);
  font-size: var(--font-size-6xl);
}
.never-searchimage-07 {
  width: 100%;
  position: relative;
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
