/* .bandosidebarbg1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.bandoinfoimage-icon1 {
  position: absolute;
  height: 34.94%;
  width: 94.47%;
  top: 1.56%;
  right: 2.76%;
  bottom: 63.51%;
  left: 2.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bandoinfocontainer1,
.bandotitlebox2 {
  position: absolute;
  height: 59.35%;
  width: 94.47%;
  top: 38.44%;
  right: 2.76%;
  bottom: 2.21%;
  left: 2.76%;
}
.bandotitlebox2 {
  height: 9.09%;
  width: 88.69%;
  top: 40%;
  right: 5.53%;
  bottom: 50.91%;
  left: 5.78%;
}
.bandoinfobox1,
.bandomemberbox1 {
  position: absolute;
  height: 5.84%;
  width: 88.69%;
  top: 49.09%;
  right: 5.53%;
  bottom: 45.06%;
  left: 5.78%;
  cursor: pointer;
}
.bandoinfobox1,
.bandowritingstartbutton1 {
  height: 13.38%;
  top: 62.73%;
  bottom: 23.9%;
}
.bandowritingstartbutton1 {
  position: relative;
  height: 7.79%;
  top: 58%;
  bottom: 37.27%;
  background-color: #444A61;
}
.bandob7 {
  position: absolute;
  top: 15%;
  left: 38.69%;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
}
.bandob8 {
  top: 41.43%;
  left: 8.29%;
  font-size: var(--font-size-21xl);
}
.bandob8,
.bandodiv15 {
  position: absolute;
}
.bandodiv15 {
  top: 50.13%;
  left: 8.54%;
  font-size: var(--font-size-5xl);
}
.bandodiv16 {
  position: relative;
  top: 62%;
  left: 8.29%;
}
.bandop5 {
  margin: 0;
}
.bandop555 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.bandop555.expanded {
  display: block;
  -webkit-line-clamp: unset;
}
.bandodiv17 {
  position: relative;
  top: 63%;
  left: 8.29%;
}
.bandosidebar1,
.bandosidebarsection {
  position: absolute;
  width: 24.875rem;
  height: 48.125rem;
}
.bandosidebar1 {
  top: 0;
  left: 0;
}
.bandosidebarsection {
  top: 1.313rem;
  left: 1.375rem;
  overflow-y: auto;
}
.bandob9,
.bandodiv18 {
  position: absolute;
  top: 58.82%;
  left: 12.42%;
}
.bandob9 {
  top: 25.88%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.bandouserimagebox-icon1 {
  position: absolute;
  height: 70.59%;
  width: 9.09%;
  top: 12.94%;
  right: 89.39%;
  bottom: 16.47%;
  left: 1.52%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bandousernamebox1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.bandouser1 {
  width: 41.25rem;
  position: relative;
  height: 5.313rem;
  font-size: 1.1875rem;
  color: #333333;
}
.bandopostbackground1 {
  position: absolute;
  height: 93.14%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 6.86%;
  left: 0;
}
.bandotextbox1,
.bandotitlebox3 {
  position: absolute;
  height: 4.18%;
  width: 98.33%;
  top: 0.96%;
  right: 0.91%;
  bottom: 94.86%;
  left: 0.76%;
}
.bandotextbox1 {
  height: 12.43%;
  top: 6%;
  bottom: 81.56%;
}
.bandob10,
.bandodiv19 {
  position: relative;
  top: 1.5%;
  left: 2.42%;
}
.bandodiv19 {
  top: 7.61%;
  width: 95%;
  padding-bottom: 1rem;
}
.bandobodyuploadimage {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
  padding-bottom: 2rem;
}

.bandoimageone {
  width: 100%;
  height: auto;
}

.bandotwo-image {
  width: calc(50% - 2.5px);
  height: auto;
}

.bandothree-image-large {
  width: 100%;
  height: auto;
}

.bandothree-image-small-container {
  display: flex;
  gap: 5px;
  width: 100%;
}

.bandothree-image-small {
  width: calc(50% - 2.5px);
  height: auto;
}

.bandofour-image-large {
  width: 100%;
  height: auto;
}

.bandofour-image-small-container {
  display: flex;
  gap: 5px;
  width: 100%;
}

.bandofour-image-small {
  width: calc(33.33% - 3.33px);
  height: auto;
  position: relative;
}

.bandomore-images {
  position: relative;
}

.bandooverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.mingcutemore-2-fill-icon1 {
  height: 2.68%;
  width: 3.79%;
  top: 2.5rem;
  left: 95%;
  position: relative;
}

.bandopostunderbar1 {
  position: absolute;
  height: 5rem;
  width: 100%;
  bottom: 0;
}

.bandocommentlistbox1  {
  position: absolute;
  height: 15.57%;
  width: 100%;
  top: 94.43%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}


.bandocommentlistbox1 {
  height: 4.07%;
  width: 17.73%;
  top: 95.18%;
  right: 81.52%;
  bottom: 0.75%;
  left: 0.76%;
}
.bandodiv20 {
  position: absolute;
  top: 95.93%;
  left: 3.33%;
  font-size: var(--font-size-xl);
}
.solaralt-arrow-up-line-duoton-icon1 {
  position: absolute;
  height: 1.7rem;
  width: 3.03%;
  top: 96%;
  right: 83.48%;
  bottom: 1.71%;
  left: 13.48%;
}
.bandocommentviewbutton1 {
  background-color: #EEEEEE;
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  position: absolute;
  height: 1.7rem;
  width: 1.5rem;
  top: 0%;
  right: 0rem;
  bottom: 1.71%;
  left: 4rem;
}
.solaralt-arrow-up-line-duoton-icon1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bandoviewcountbox1 {
  position: absolute;
  height: 3.5%;
  width: 12.88%;
  top: 95.18%;
  right: 0.91%;
  bottom: 0.75%;
  left: 86.21%;
}
.bandodiv21 {
  position: absolute;
  height: 2.36%;
  width: 4.24%;
  top: 96.03%;
  left: 92.27%;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bandopost1 {
  width: 41.25rem;
  position: relative;
  min-height: auto;
}
.bandolikesharebarbg1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FCFCFC;
  border-top: 1px solid var(--color-darkgray);
  border-bottom: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.akar-iconsheart1 {
  position: absolute;
  height: 40.54%;
  width: 4.2%;
  top: 28.38%;
  right: 73.81%;
  bottom: 31.08%;
  left: 21.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.akar-iconsheart1.liked path {
  fill: #ffcccc;
}
.bandodiv22,
.bandodiv23,
.icon-parkshare1 {
  position: absolute;
  top: 29.73%;
  left: 26.89%;
}
.bandodiv23,
.icon-parkshare1 {
  left: 64.15%;
}
.icon-parkshare1 {
  height: 40.54%;
  width: 4.2%;
  top: 28.38%;
  right: 36.55%;
  bottom: 31.08%;
  left: 59.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bandolikesharebar1 {
  width: 100%;
  position: relative;
  height: 4.625rem;
  text-align: center;
  bottom: 0;
  left: 0;
}
.bandopostframe1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  padding-bottom: 3rem;
  border: 2px solid black;
}

.bandocommentcontainer2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FCFCFC;
  border-bottom: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.bandousercomment-inner {
  position: absolute;
  height: 21.35%;
  width: 8.4%;
  top: 7.83%;
  right: 85.85%;
  bottom: 70.82%;
  left: 5.74%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bandob11 {
  position: absolute;
  top: 14.23%;
  left: 16.53%;
}

.bandocommentuserbox2,
.bandopostingtimebox2 {
  position: absolute;
  height: 28.83%;
  width: 92.44%;
  top: 3.91%;
  right: 3.92%;
  bottom: 67.26%;
  left: 3.64%;
}
.bandopostingtimebox2 {
  height: 44.13%;
  top: 32.74%;
  bottom: 23.13%;
}

.bandocommentbodybox2 {
  position: absolute;
  height: 28.83%;
  width: 92.44%;
  top: 3.91%;
  right: 3.92%;
  bottom: 67.26%;
  left: 3.64%;
  height: 44.13%;
  top: 32.74%;
  bottom: 23.13%;
}

.bandopostingtimebox2 {
  height: 18.86%;
  top: 76.87%;
  bottom: 4.27%;
}


.bandodiv24,
.bandodiv25 {
  position: absolute;
  top: 40.93%;
  left: 5.74%;
}
.bandodiv25 {
  top: 82.21%;
}
.bandousercomment2 {
  width: 44.625rem;
  position: relative;
  height: 17.563rem;
  color: var(--color-black); 
}
.bandopostlistframe1 {
  position: absolute;
  top: 0.875rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bandopostlisttest {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 44.625rem;
  height: auto;
}
.bandobodysection {
  position: absolute;
  top: 1.313rem;
  left: 27.688rem;
  width: 44.625rem;
  height: 48.125rem;
  overflow-y: auto;
  font-size: var(--font-size-5xl);
}
.bandomain {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 50.688rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.bandocomment-input-container {
  position: relative;
  display: flex;
  align-items: center;
  top: 1rem;
  padding: 10px;
  border-top: 1px solid var(--color-darkgray);
  width: 44rem;
  height: 3.5rem;
}

.bandouserimage {
  position: relative;
  top: 0.2rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.bandocomment-input {
  position: relative;
  top: 0.4rem;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  font-size: 2rem;
  border-width: 3px;
  border-style: solid;
  border-color: #E5E5E5;
  border-radius: 0.5rem;
}

.bandosend-button {
  position: relative;
  top: 0.4rem;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #C9C9CA;
  color: black;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.8rem;
}

.bandosend-button.active {
  background-color: #444A61;
  color: white;
}

.bandoheart-icon {
  position: absolute;
  height: 3.5%;
  width: 3.03%;
  top: 95.18%;
  right: 21%;
  cursor: pointer;
}

.bandolikecountbox1 {
  position: absolute;
  height: 3.5%;
  width: 4.24%;
  top: 95.18%;
  right: 16.5%;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solideye-icon1 {
  position: absolute;
  height: 1.7rem;
  width: 3.03%;
  top: 96%;
  right: 83.48%;
  bottom: 1.71%;
  left: 13.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  width: 3.41%;
  right: 7.8%;
  left: 88.79%;
}

.bandomodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.bandomodal.open {
  display: block;
}

.bandomodal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.bandoclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.bandoclose:hover,
.bandoclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
 */

.bandosidebarbg1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.bandoinfoimage-icon1 {
  position: absolute;
  height: 34.94%;
  width: 94.47%;
  top: 1.56%;
  right: 2.76%;
  bottom: 63.51%;
  left: 2.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bandoinfocontainer1,
.bandotitlebox2 {
  position: absolute;
  height: 59.35%;
  width: 94.47%;
  top: 38.44%;
  right: 2.76%;
  bottom: 2.21%;
  left: 2.76%;
}
.bandotitlebox2 {
  height: 9.09%;
  width: 88.69%;
  top: 40%;
  right: 5.53%;
  bottom: 50.91%;
  left: 5.78%;
}
.bandoinfobox1,
.bandomemberbox1 {
  position: absolute;
  height: 5.84%;
  width: 88.69%;
  top: 49.09%;
  right: 5.53%;
  bottom: 45.06%;
  left: 5.78%;
  cursor: pointer;
}
.bandoinfobox1,
.bandowritingstartbutton1 {
  height: 13.38%;
  top: 62.73%;
  bottom: 23.9%;
}
.bandowritingstartbutton1 {
  position: relative;
  height: 7.79%;
  top: 58%;
  bottom: 37.27%;
  background-color: #444A61;
}
.bandob7 {
  position: absolute;
  top: 15%;
  left: 38.69%;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
}
.bandob8 {
  top: 41.43%;
  left: 8.29%;
  font-size: var(--font-size-21xl);
}
.bandob8,
.bandodiv15 {
  position: absolute;
}
.bandodiv15 {
  top: 50.13%;
  left: 8.54%;
  font-size: var(--font-size-5xl);
}
.bandodiv16 {
  position: relative;
  top: 62%;
  left: 8.29%;
}
.bandop5 {
  margin: 0;
}
.bandop555 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.bandop555.expanded {
  display: block;
  -webkit-line-clamp: unset;
}
.bandodiv17 {
  position: relative;
  top: 63%;
  left: 8.29%;
}
.bandosidebar1,
.bandosidebarsection {
  position: absolute;
  width: 24.875rem;
  height: 48.125rem;
}
.bandosidebar1 {
  top: 0;
  left: 0;
}
.bandosidebarsection {
  top: 1.313rem;
  left: 1.375rem;
  overflow-y: auto;
}
.bandob9,
.bandodiv18 {
  position: absolute;
  top: 58.82%;
  left: 12.42%;
}
.bandob9 {
  top: 25.88%;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.bandouserimagebox-icon1 {
  position: absolute;
  height: 70.59%;
  width: 9.09%;
  top: 12.94%;
  right: 89.39%;
  bottom: 16.47%;
  left: 1.52%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bandousernamebox1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.bandouser1 {
  width: 41.25rem;
  position: relative;
  height: 5.313rem;
  font-size: 1.1875rem;
  color: #333333;
}
.bandopostbackground1 {
  position: absolute;
  height: 93.14%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 6.86%;
  left: 0;
}
.bandotextbox1,
.bandotitlebox3 {
  position: absolute;
  height: 4.18%;
  width: 98.33%;
  top: 0.96%;
  right: 0.91%;
  bottom: 94.86%;
  left: 0.76%;
}
.bandotextbox1 {
  height: 12.43%;
  top: 6%;
  bottom: 81.56%;
}
.bandob10,
.bandodiv19 {
  position: relative;
  top: 1.5%;
  left: 2.42%;
}
.bandodiv19 {
  top: 7.61%;
  width: 95%;
  padding-bottom: 1rem;
}
.bandobodyuploadimage {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
  padding-bottom: 2rem;
}

.bandoimageone {
  width: 100%;
  height: auto;
}

.bandotwo-image {
  width: calc(50% - 2.5px);
  height: auto;
}

.bandothree-image-large {
  width: 100%;
  height: auto;
}

.bandothree-image-small-container {
  display: flex;
  gap: 5px;
  width: 100%;
}

.bandothree-image-small {
  width: calc(50% - 2.5px);
  height: auto;
}

.bandofour-image-large {
  width: 100%;
  height: auto;
}

.bandofour-image-small-container {
  display: flex;
  gap: 5px;
  width: 100%;
}

.bandofour-image-small {
  width: calc(33.33% - 3.33px);
  height: auto;
  position: relative;
}

.bandomore-images {
  position: relative;
}

.bandooverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.mingcutemore-2-fill-icon1 {
  height: 2.68%;
  width: 3.79%;
  top: 2.5rem;
  left: 95%;
  position: relative;
}

.bandopostunderbar1 {
  position: absolute;
  height: 5rem;
  width: 100%;
  bottom: 0;
}

.bandocommentlistbox1  {
  position: absolute;
  height: 15.57%;
  width: 100%;
  top: 94.43%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}


.bandocommentlistbox1 {
  height: 4.07%;
  width: 17.73%;
  top: 95.18%;
  right: 81.52%;
  bottom: 0.75%;
  left: 0.76%;
}
.bandodiv20 {
  position: absolute;
  top: 95.93%;
  left: 3.33%;
  font-size: var(--font-size-xl);
}
.solaralt-arrow-up-line-duoton-icon1 {
  position: absolute;
  height: 1.7rem;
  width: 3.03%;
  top: 96%;
  right: 83.48%;
  bottom: 1.71%;
  left: 13.48%;
}
.bandocommentviewbutton1 {
  background-color: #EEEEEE;
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  position: absolute;
  height: 1.7rem;
  width: 1.5rem;
  top: 0%;
  right: 0rem;
  bottom: 1.71%;
  left: 4rem;
}
.solaralt-arrow-up-line-duoton-icon1 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bandoviewcountbox1 {
  position: absolute;
  height: 3.5%;
  width: 12.88%;
  top: 95.18%;
  right: 0.91%;
  bottom: 0.75%;
  left: 86.21%;
}
.bandodiv21 {
  position: absolute;
  height: 2.36%;
  width: 4.24%;
  top: 96.03%;
  left: 92.27%;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bandopost1 {
  width: 41.25rem;
  position: relative;
  min-height: auto;
}
.bandolikesharebarbg1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FCFCFC;
  border-top: 1px solid var(--color-darkgray);
  border-bottom: 1px solid var(--color-darkgray);
  box-sizing: border-box;
}
.akar-iconsheart1 {
  position: absolute;
  height: 40.54%;
  width: 4.2%;
  top: 28.38%;
  right: 73.81%;
  bottom: 31.08%;
  left: 21.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.akar-iconsheart1.liked path {
  fill: #ffcccc;
}
.bandodiv22,
.bandodiv23,
.icon-parkshare1 {
  position: absolute;
  top: 29.73%;
  left: 26.89%;
}
.bandodiv23,
.icon-parkshare1 {
  left: 64.15%;
}
.icon-parkshare1 {
  height: 40.54%;
  width: 4.2%;
  top: 28.38%;
  right: 36.55%;
  bottom: 31.08%;
  left: 59.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bandolikesharebar1 {
  width: 100%;
  position: relative;
  height: 4.625rem;
  text-align: center;
  bottom: 0;
  left: 0;
}
.bandopostframe1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  padding-bottom: 3rem;
  border: 2px solid black;
}

.bandocommentcontainer2 {
  display: flex;
  align-items: center; /* 세로 정렬 */
  margin-bottom: 0.5rem; /* 아이콘과 댓글 텍스트 사이 공간 */
}
.bandousercomment-inner {
  position: relative;
  height: 3rem; /* 적절한 크기로 변경 */
  width: 3rem; /* 적절한 크기로 변경 */
  margin-right: 1rem; /* 아이콘과 텍스트 사이의 간격 */
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.bandob11 {
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  margin-right: 1rem; /* 아이콘과 텍스트 사이의 간격 */
}

.bandocommentuserbox2,
.bandopostingtimebox2 {
  position: absolute;
  height: 28.83%;
  width: 92.44%;
  top: 3.91%;
  right: 3.92%;
  bottom: 67.26%;
  left: 3.64%;
}
.bandopostingtimebox2 {
  height: 44.13%;
  top: 32.74%;
  bottom: 23.13%;
}

.bandocommentbodybox2 {
  position: relative;
  width: 92.44%;
  margin-left: 3.64%;
  margin-right: 3.92%;
  margin-bottom: 0.5rem; /* 댓글 텍스트 아래 공간 추가 */
  display: flex;
  flex-direction: column;
}

.bandopostingtimebox2 {
  height: 18.86%;
  top: 76.87%;
  bottom: 4.27%;
}

.bandodiv24 {
  position: relative;
  margin-left: 5.74%;
  margin-bottom: 0.5rem; /* 텍스트와 날짜 사이 공간 */
  word-break: break-word; /* 긴 단어를 새 줄로 넘기기 */
}
.bandodiv25 {
  position: relative;
  margin-left: 5.74%;
  margin-top: 0.5rem; /* 텍스트와 날짜 사이 공간 */
}
.bandocommentbodybox2, .bandodiv24, .bandodiv25 {
  display: block;
  width: auto;
}
.bandousercomment2 {
  width: 44.625rem;
  position: relative;
  color: var(--color-black); 
  padding: 1rem; /* 선택적 패딩으로 더 나은 모양 */
  border-bottom: 1px solid var(--color-darkgray); /* 각 댓글을 시각적으로 구분 */
  display: flex;
  flex-direction: column;
  background-color: #F5F6F7;
}
.bandopostlistframe1 {
  position: absolute;
  top: 0.875rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bandopostlisttest {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 44.625rem;
  height: auto;
}
.bandobodysection {
  position: absolute;
  top: 1.313rem;
  left: 27.688rem;
  width: 44.625rem;
  height: 48.125rem;
  overflow-y: auto;
  font-size: var(--font-size-5xl);
}
.bandomain {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 50.688rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.bandocomment-input-container {
  position: relative;
  display: flex;
  align-items: center;
  top: 1rem;
  padding: 10px;
  border-top: 1px solid var(--color-darkgray);
  width: 44rem;
  height: 3.5rem;
}

.bandouserimage {
  position: relative;
  top: 0.2rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.bandocomment-input {
  position: relative;
  top: 0.4rem;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  font-size: 2rem;
  border-width: 3px;
  border-style: solid;
  border-color: #E5E5E5;
  border-radius: 0.5rem;
}

.bandosend-button {
  position: relative;
  top: 0.4rem;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #C9C9CA;
  color: black;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.8rem;
}

.bandosend-button.active {
  background-color: #444A61;
  color: white;
}

.bandoheart-icon {
  position: absolute;
  height: 3.5%;
  width: 3.03%;
  top: 95.18%;
  right: 21%;
  cursor: pointer;
}

.bandolikecountbox1 {
  position: absolute;
  height: 3.5%;
  width: 4.24%;
  top: 95.18%;
  right: 16.5%;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solideye-icon1 {
  position: absolute;
  height: 1.7rem;
  width: 3.03%;
  top: 96%;
  right: 83.48%;
  bottom: 1.71%;
  left: 13.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  width: 3.41%;
  right: 7.8%;
  left: 88.79%;
}

.bandomodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.bandomodal.open {
  display: block;
}

.bandomodal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.bandoclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.bandoclose:hover,
.bandoclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

