@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-b25 {
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
  left: 0%;
  font-size: 2rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #0B3B62;
  text-align: center;
}
.krail-agreementfooter {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #CDE0EE;
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 5.625rem;
}
.krail-rectangle-input {
  margin: 0;
  position: absolute;
  top: 0rem;
  left: 0rem;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  width: 1.706rem;
  height: 1.538rem;
}
.krail-b26 {
  position: absolute;
  top: 0rem;
  left: -0.006rem;
  display: inline-block;
  width: 23.625rem;
}
.krail-b27 {
  position: absolute;
  top: 1.313rem;
  left: 0rem;
  font-size: .875rem;
  display: inline-block;
  color: #BBBCBD;
  width: 23.5rem;
}
.krail-frame {
  position: absolute;
  top: 0.25rem;
  left: 2.375rem;
  width: 23rem;
  height: 4.188rem;
  overflow: hidden;
}
.krail-agreementmain3c {
  position: absolute;
  width: 101.73%;
  top: 9.813rem;
  right: -2.24%;
  left: 0.5%;
  height: 2.563rem;
}
.krail-b28 {
  position: absolute;
  top: 0.006rem;
  left: -0.012rem;
  display: inline-block;
  width: 23.625rem;
}
.krail-b29 {
  position: absolute;
  top: 1.444rem;
  left: 0.05rem;
  font-size: .875rem;
  display: inline-block;
  color: #BBBCBD;
  width: 23.563rem;
}
.krail-frame1 {
  position: absolute;
  top: 0.244rem;
  left: 2.388rem;
  width: 21.863rem;
  height: 2.919rem;
  overflow: hidden;
}
.krail-agreementmain3b {
  position: absolute;
  width: 101.73%;
  top: 5.625rem;
  right: -2.24%;
  left: 0.5%;
  height: 2.563rem;
}
.krail-h2 {
  margin: 0;
  position: absolute;
  top: 0.25rem;
  left: 2.438rem;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 23.5rem;
}
.krail-agreementmain3a {
  position: absolute;
  width: 101.73%;
  top: 2.625rem;
  right: -2.24%;
  left: 0.5%;
  height: 1.563rem;
}
.krail-frame-child {
  position: absolute;
  top: 0rem;
  right: 0.938rem;
  background-color: #CDE0EE;
  width: 4.375rem;
  height: 1.563rem;
}
.krail-b30 {
  position: absolute;
  top: 0.375rem;
  right: 0rem;
  display: inline-block;
  width: 6.25rem;
}
.krail-rectangle-parent {
  position: absolute;
  top: 0rem;
  left: 18.875rem;
  width: 6.25rem;
  height: 1.563rem;
}
.krail-ol {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 1.2rem;
}
.krail-h1 {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 0rem;
  left: 0%;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: inherit;
  color: #000;
  text-align: left;
  display: inline-block;
}
.krail-agreementmain3ttitle {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 25.125rem;
  height: 1.563rem;
  overflow: hidden;
  text-align: center;
  font-size: .875rem;
  color: #3F7BA8;
}
.krail-agreementmain3 {
  position: absolute;
  width: 96.74%;
  top: 12.25rem;
  right: 0.23%;
  left: 3.02%;
  height: 12.375rem;
  font-size: .9375rem;
}
.krail-agreementmain2line {
  position: absolute;
  width: 99.98%;
  top: 5.688rem;
  right: -0.24%;
  left: 0.26%;
  border-top: 2px solid #8A8D8E;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-b31 {
  position: absolute;
  top: 0.25rem;
  left: 2.456rem;
  display: inline-block;
  width: 13.688rem;
}
.krail-agreementmain2check {
  position: absolute;
  width: 99.52%;
  top: 2.625rem;
  right: 0%;
  left: 0.48%;
  height: 1.563rem;
}
.krail-b32 {
  position: absolute;
  top: 0.313rem;
  right: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.375rem;
}
.krail-wrapper {
  position: absolute;
  top: 0.313rem;
  left: 19.625rem;
  background-color: #CDE0EE;
  width: 4.375rem;
  height: 1.563rem;
  text-align: center;
  font-size: .875rem;
  color: #3F7BA8;
}
.krail-h11 {
  margin: 0;
  position: absolute;
  width: 96.63%;
  top: 0rem;
  left: 0%;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: inherit;
  color: #000;
  display: inline-block;
}
.krail-agreementmain2 {
  position: absolute;
  top: 5.5rem;
  left: 0.813rem;
  width: 26rem;
  height: 5.75rem;
}
.krail-agreementmain1line {
  position: absolute;
  width: 100.48%;
  top: 2.5rem;
  right: -0.24%;
  left: -0.24%;
  border-top: 2px solid #8A8D8E;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-agreementmain1 {
  position: absolute;
  top: 1.625rem;
  left: 0.938rem;
  width: 25.994rem;
  height: 2.563rem;
  color: #414141;
}
.krail-agreementmain {
  position: absolute;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  background-color: #FAFAFA;
  height: 25.313rem;
  text-align: left;
  font-size: 1rem;
  color: #8A8D8E;
  font-family: 'Nanum Gothic';
}
.krail-b34 {
  position: absolute;
  width: 100%;
  top: 1.063rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.938rem;
}
.krail-agreementheaderbuttonline3 {
  position: absolute;
  width: 105%;
  top: 1.719rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-agreementheaderbuttonline2 {
  position: absolute;
  width: 105%;
  top: 0.831rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-agreementheaderbuttonline1 {
  position: absolute;
  width: 105%;
  top: -0.062rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-agreementheaderbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 2.5rem;
  height: 1.781rem;
}
.krail-agreementheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 4.063rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-family: 'Nanum Gothic';
}
.krail-agreement-04 {
  width: 100%;
  position: relative;
  background-color: #FAFAFA;
  height: 58.25rem;
  overflow: hidden;
}
