@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-b14 {
  position: absolute;
  bottom: 0rem;
  left: calc(50% - 53.75px);
  display: inline-block;
  width: 6.75rem;
  height: 1.875rem;
}
.krail-footerbutton4image {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 1.875rem;
  left: calc(50% - 28.75px);
  width: 3.625rem;
  height: 3.438rem;
  background-image: url("/public/appguide/Korail/footerbutton4image@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.krail-footerbutton4 {
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 0%;
  left: 75%;
  background-color: #fff;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-footerbutton3image-icon {
  position: absolute;
  bottom: 1.844rem;
  left: calc(50% - 26.75px);
  width: 3.381rem;
  height: 3.406rem;
  object-fit: cover;
}
.krail-footerbutton3 {
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 25%;
  left: 50%;
  background-color: #fff;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-footerbutton2image-icon {
  position: absolute;
  bottom: 2.094rem;
  left: calc(50% - 26.75px);
  width: 3.356rem;
  height: 3.406rem;
  object-fit: cover;
}
.krail-footerbutton2 {
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 50%;
  left: 25%;
  background-color: #fff;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-b17 {
  position: absolute;
  bottom: 0rem;
  left: calc(50% - 53.75px);
  font-size: 1rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #3995DB;
  text-align: center;
  width: 6.75rem;
  height: 1.875rem;
}
.krail-footerbutton1image-icon {
  position: absolute;
  bottom: 1.875rem;
  left: calc(50% - 40.75px);
  width: 5.169rem;
  height: 3.125rem;
  object-fit: cover;
}
.krail-footerbutton1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #fff;
  position: absolute;
  width: 25%;
  top: 0rem;
  right: 75%;
  left: 0%;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  height: 5.625rem;
}
.krail-krailloginfooter {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  height: 5.625rem;
  text-align: center;
  font-size: 1rem;
  color: #D9D9D9;
  font-family: 'Nanum Gothic';
}
.krail-b18 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  font-size: 1rem;
  font-family: 'Nanum Gothic';
  color: #000;
  text-align: left;
}
.krail-searchbutton1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 5.938rem;
  position: relative;
  height: 1rem;
}
.krail-loginmainsearchline1 {
  width: 0.063rem;
  position: relative;
  border-right: 1px solid #8A8D8E;
  box-sizing: border-box;
  height: 1.063rem;
}
.krail-button1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 0rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Nanum Gothic';
  color: #000;
  text-align: left;
  display: inline-block;
}
.krail-signupbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 3.813rem;
  position: relative;
  height: 1rem;
}
.krail-loginmainsearch {
  position: absolute;
  width: 76.74%;
  top: 25.688rem;
  right: 11.86%;
  left: 11.4%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.375rem;
  box-sizing: border-box;
}
.krail-socialloginbutton-icon {
  position: absolute;
  top: 18.5rem;
  left: calc(50% - 188px);
  width: 24.188rem;
  height: 5.031rem;
  object-fit: cover;
}
.krail-button2 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 28.86%;
  top: 1rem;
  left: 35.57%;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Nanum Gothic';
  color: #fff;
  text-align: center;
  display: inline-block;
}
.krail-loginmainbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #005CAF;
  position: absolute;
  width: 93.49%;
  top: 12.563rem;
  right: 2.56%;
  left: 3.95%;
  border-radius: 0.625rem;
  height: 3.438rem;
}
.krail-b20 {
  position: absolute;
  top: 0.019rem;
  left: 2.413rem;
  display: flex;
  align-items: center;
  width: 8.625rem;
  height: 1.5rem;
}
.krail-checkbox {
  margin: 0;
  position: absolute;
  top: 0rem;
  left: 0rem;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  width: 1.706rem;
  height: 1.538rem;
}
.krail-check2 {
  position: absolute;
  top: 0rem;
  left: 11.044rem;
  width: 11.038rem;
  height: 1.538rem;
  color: black;
}
.krail-b21 {
  position: absolute;
  top: 0.019rem;
  left: 2.4rem;
  display: inline-block;
  width: 8.625rem;
  height: 1.5rem;
}
.krail-check1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 11.025rem;
  height: 1.538rem;
  color: black;
}
.krail-logininputcheck {
  position: absolute;
  top: 8.063rem;
  left: 0.5rem;
  width: 23.875rem;
  height: 1.5rem;
}
.krail-b22 {
  position: absolute;
  top: 0.006rem;
  left: 0rem;
  display: inline-block;
  width: 6.688rem;
  height: 2.438rem;
}
.krail-textinputbox {
  border: 1px solid #CCCCCC;
  outline: none;
  background-color: #fff;
  position: absolute;
  width: 72.56%;
  top: 0rem;
  right: 0%;
  left: 27.44%;
  box-sizing: border-box;
  height: 2.438rem;
  font-size: 1.5rem;
}
.krail-inputareapassword {
  position: absolute;
  width: 100%;
  top: 3.75rem;
  right: 0%;
  left: 0%;
  height: 2.438rem;
  color: black;
}
.krail-b23 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 6.688rem;
  height: 2.438rem;
}
.krail-inputareamembership {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 2.438rem;
  color: black;
}
.krail-logininputarea {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 6.188rem;
  font-size: 1.375rem;
}
.krail-loginmaininput {
  position: absolute;
  width: 90.7%;
  top: 1.438rem;
  right: 4.65%;
  left: 4.65%;
  height: 9.563rem;
}
.krail-loginmain {
  position: absolute;
  width: 100%;
  top: 8.375rem;
  right: 0%;
  left: 0%;
  background-color: #FAFAFA;
  height: 29.063rem;
  text-align: left;
  font-size: 1.125rem;
  color: #D9D9D9;
  font-family: 'Nanum Gothic';
}
.krail-button3 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0rem;
  left: 0%;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Nanum Gothic';
  color: #8A8D8E;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.125rem;
}
.krail-krailloginheaderbutton3 {
  position: absolute;
  width: 33.56%;
  top: 0rem;
  right: 0%;
  left: 66.44%;
  background-color: #fff;
  height: 4.125rem;
}
.krail-krailloginheaderbutton2 {
  position: absolute;
  width: 33.09%;
  top: 0rem;
  right: 33.35%;
  left: 33.56%;
  background-color: #fff;
  height: 4.125rem;
}
.krail-krailloginheaderbuttonline {
  position: absolute;
  width: 101.95%;
  top: 4.031rem;
  right: -0.91%;
  left: -1.05%;
  border-top: 3px solid #0C3C60;
  box-sizing: border-box;
  height: 0.188rem;
}
.krail-button5 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0rem;
  left: 0%;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Nanum Gothic';
  color: #0C3C60;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.063rem;
}
.krail-krailloginheaderbutton1 {
  position: absolute;
  width: 33.33%;
  top: 0rem;
  right: 66.44%;
  left: 0.23%;
  background-color: #fff;
  height: 4.125rem;
}
.krail-krailloginheaderbutton {
  position: absolute;
  width: 100%;
  top: 4.125rem;
  right: 0%;
  left: 0%;
  height: 4.125rem;
}
.krail-b24 {
  position: absolute;
  width: 100.07%;
  top: 1.063rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.938rem;
}
.krail-vector-icon {
  position: absolute;
  height: 32.31%;
  top: 33.85%;
  right: 1.256rem;
  bottom: 33.85%;
  max-height: 100%;
  width: 1.375rem;
  cursor: pointer;
}
.krail-krailloginheaderttile {
  position: absolute;
  width: 99.93%;
  top: 0rem;
  right: 0.07%;
  left: 0%;
  background-color: #0C3C60;
  height: 4.063rem;
}
.krail-krailloginheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 8.25rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  font-family: 'Nanum Gothic';
}
.krail-kraillogin-03 {
  width: 100%;
  position: relative;
  background-color: #FAFAFA;
  height: 58.25rem;
  overflow: hidden;
}
