@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-b166 {
  position: absolute;
  width: 102.54%;
  top: 0.5rem;
  left: -0.31%;
  font-size: 1.375rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #005CAF;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.krail-mainticketbutton3 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 32.51%;
  top: 0.688rem;
  right: 0.98%;
  left: 66.52%;
  height: 2.5rem;
}
.krail-b167 {
  position: absolute;
  width: 99.46%;
  top: 0.5rem;
  left: 0.23%;
  font-size: 1.375rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #005CAF;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.krail-mainticketbutton2 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 32.51%;
  top: 0.688rem;
  right: 33.48%;
  left: 34.01%;
  border-right: 2px solid #8A8D8E;
  border-left: 2px solid #8A8D8E;
  box-sizing: border-box;
  height: 2.5rem;
}
.krail-b168 {
  position: absolute;
  width: 100.23%;
  top: 0.5rem;
  left: 0%;
  font-size: 1.375rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #005CAF;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.krail-mainticketbutton1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 32.51%;
  top: 0.688rem;
  right: 65.99%;
  left: 1.5%;
  height: 2.5rem;
}
.krail-mainticketbuttonset {
  position: absolute;
  width: 99.75%;
  top: 43.813rem;
  right: 0.25%;
  left: 0%;
  border-radius: 0px 0px 0.625rem 0.625rem;
  background-color: #CDE0EE;
  height: 4.313rem;
}
.krail-p83 {
  margin: 0;
}
.krail-txt18 {
  width: 100%;
}
.krail-div80 {
  position: absolute;
  width: 100%;
  top: 0.063rem;
  left: 0%;
  display: flex;
  align-items: center;
  height: 2.625rem;
}
.krail-mainticketcurrenttime {
  position: absolute;
  width: 99.75%;
  top: 41.125rem;
  right: 0.25%;
  left: 0%;
  background-color: #8A8D8E;
  height: 2.688rem;
  color: #fff;
}
.krail-vector-icon23 {
  position: absolute;
  width: 3.51%;
  top: 1.063rem;
  right: 35.74%;
  left: 60.75%;
  max-width: 100%;
  overflow: hidden;
  height: 0.438rem;
}
.krail-div81 {
  position: absolute;
  width: 100%;
  top: 0.563rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-mainticketexpandbutton {
  position: absolute;
  width: 99.75%;
  top: 38.625rem;
  right: 0.25%;
  left: 0%;
  height: 2.5rem;
}
.krail-div82 {
  position: absolute;
  width: 100%;
  top: 1.8rem;
  left: 0%;
  display: flex;
  align-items: center;
}
.krail-mainticketfeatures4icon {
  position: absolute;
  top: 0.238rem;
  left: 0.875rem;
  width: 3.238rem;
  height: 1.55rem;
}
.krail-mainticketfeatures4 {
  position: absolute;
  top: 0.388rem;
  left: calc(50% + 100.45px);
  width: 5rem;
  height: 4.25rem;
}
.krail-sms-txt {
  line-break: anywhere;
  width: 100%;
}
.krail-sms {
  position: absolute;
  width: 100%;
  top: 1.925rem;
  left: 0%;
  display: flex;
  align-items: center;
}
.krail-mainticketfeatures3icon {
  position: absolute;
  top: -0.012rem;
  left: 0.938rem;
  width: 2.063rem;
  height: 1.75rem;
}
.krail-mainticketfeatures3 {
  position: absolute;
  top: 0.388rem;
  left: calc(50% + 14.45px);
  width: 3.988rem;
  height: 4.175rem;
}
.krail-ktx9 {
  position: absolute;
  width: 100%;
  top: 2.419rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-mainticketfeatures2icon {
  position: absolute;
  top: 0rem;
  left: 1.544rem;
  width: 2.806rem;
  height: 2.044rem;
}
.krail-mainticketfeatures2 {
  position: absolute;
  top: 0.563rem;
  left: calc(50% - 90.55px);
  width: 5.938rem;
  height: 3.544rem;
}
.krail-div83 {
  position: absolute;
  width: 100%;
  top: 2.513rem;
  left: 0%;
  display: flex;
  align-items: center;
}
.krail-mainticketfeatures1icon {
  position: absolute;
  top: 0rem;
  left: 1.431rem;
  width: 2.806rem;
  height: 2.044rem;
}
.krail-mainticketfeatures1 {
  position: absolute;
  top: 0.5rem;
  left: calc(50% - 189.55px);
  width: 5.675rem;
  height: 3.488rem;
  text-align: left;
  color: #000;
}
.krail-mainticketfeatures {
  position: absolute;
  width: 94.78%;
  top: 33.188rem;
  right: 2.72%;
  left: 2.5%;
  border-top: 1px solid #BDBFC0;
  border-bottom: 1px solid #BDBFC0;
  box-sizing: border-box;
  height: 5rem;
  font-size: 1rem;
  color: #8A8D8E;
}
.krail-div84 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 11.313rem;
}
.krail-div85 {
  position: absolute;
  top: 0rem;
  right: 0rem;
  text-align: right;
  display: flex;
  align-items: center;
  width: 18.125rem;
}
.krail-maintickettrainnumber {
  position: absolute;
  top: 31.188rem;
  left: calc(50% - 186px);
  width: 23.438rem;
  height: 1.313rem;
  text-align: left;
}
.krail-div86 {
  position: absolute;
  width: 21.89%;
  top: 0.063rem;
  left: -1.35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-div87 {
  position: absolute;
  width: 21.89%;
  top: 0.063rem;
  left: 21.21%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-div88 {
  position: absolute;
  width: 17.51%;
  top: 0.063rem;
  left: 43.1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-mainticketseatinfo2line2 {
  position: absolute;
  width: 0.34%;
  top: 0.094rem;
  right: 56.73%;
  left: 42.93%;
  border-right: 1px solid #000;
  box-sizing: border-box;
  height: 1.188rem;
}
.krail-mainticketseatinfo2line1 {
  position: absolute;
  width: 0.34%;
  top: 0.094rem;
  right: 79.29%;
  left: 20.37%;
  border-right: 1px solid #000;
  box-sizing: border-box;
  height: 1.188rem;
}
.krail-mainticketseatinfo2 {
  position: absolute;
  top: 28.438rem;
  left: calc(50% - 186px);
  width: 18.563rem;
  height: 1.313rem;
}
.krail-mainticketseatinfo4image-icon {
  position: absolute;
  top: 1.875rem;
  left: 0.044rem;
  width: 5.813rem;
  height: 5.875rem;
  object-fit: cover;
}
.krail-div89 {
  position: absolute;
  top: 0.375rem;
  left: 0.019rem;
  display: inline-block;
  width: 5.938rem;
}
.krail-mainticketseatinfo3title {
  position: absolute;
  top: 0rem;
  left: 0.044rem;
  background-color: #E4EEF6;
  border-top: 1px solid #93999B;
  border-bottom: 1px solid #93999B;
  box-sizing: border-box;
  width: 5.813rem;
  height: 1.875rem;
}
.krail-mainticketseatinfo4 {
  position: absolute;
  top: 0rem;
  left: 17.769rem;
  border: 1px solid rgba(138, 141, 142, 0.85);
  box-sizing: border-box;
  width: 5.925rem;
  height: 7.813rem;
  font-size: 1rem;
  color: #000;
}
.krail-a16 {
  position: absolute;
  top: 3.313rem;
  left: 0.031rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.938rem;
}
.krail-mainticketseatinfo3title1 {
  position: absolute;
  top: 0rem;
  left: 0.031rem;
  background-color: #E4EEF6;
  border-top: 1px solid #93999B;
  border-bottom: 1px solid #93999B;
  box-sizing: border-box;
  width: 5.875rem;
  height: 1.875rem;
  font-size: 1rem;
  color: #000;
}
.krail-mainticketseatinfo3 {
  position: absolute;
  top: 0rem;
  left: 11.844rem;
  border-top: 1px solid #8A8D8E;
  border-bottom: 1px solid #8A8D8E;
  border-left: 1px solid #8A8D8E;
  box-sizing: border-box;
  width: 5.925rem;
  height: 7.813rem;
}
.krail-span2 {
  font-size: 1.25rem;
}
.krail-b169 {
  position: absolute;
  width: 100.21%;
  top: 3.375rem;
  left: 0.32%;
  display: flex;
  align-items: center;
}
.krail-mainticketseatinfo2title {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: #E4EEF6;
  border-top: 1px solid #93999B;
  border-bottom: 1px solid #93999B;
  border-left: 1px solid #93999B;
  box-sizing: border-box;
  width: 5.925rem;
  height: 1.875rem;
  font-size: 1rem;
  color: #000;
}
.krail-mainticketseatinfo21 {
  position: absolute;
  top: 0rem;
  left: 5.925rem;
  border-top: 1px solid #93999B;
  border-bottom: 1px solid #93999B;
  border-left: 1px solid #93999B;
  box-sizing: border-box;
  width: 5.925rem;
  height: 7.813rem;
}
.krail-b170 {
  position: absolute;
  top: 4.813rem;
  left: 0rem;
  display: flex;
  align-items: center;
  width: 5.938rem;
}
.krail-mainticketseatinfo1reloadimage-icon {
  position: absolute;
  top: 2.375rem;
  left: 2.056rem;
  width: 1.869rem;
  height: 1.875rem;
}
.krail-div92 {
  position: absolute;
  top: 0.375rem;
  left: 0rem;
  display: inline-block;
  width: 5.938rem;
}
.krail-mainticketseatinfo11 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-top: 1px solid #93999B;
  border-bottom: 1px solid #93999B;
  border-left: 1px solid #93999B;
  box-sizing: border-box;
  width: 5.925rem;
  height: 7.813rem;
  font-size: 1.125rem;
}
.krail-mainticketseatinfo1 {
  position: absolute;
  top: 19.938rem;
  left: calc(50% - 186px);
  width: 23.694rem;
  height: 7.813rem;
  font-size: 2.25rem;
  color: #185C93;
}
.krail-ktx-1623 {
  position: absolute;
  top: 0.75rem;
  left: 0.563rem;
  display: flex;
  align-items: center;
  width: 16.25rem;
}
.krail-div93 {
  position: absolute;
  top: 0.4rem;
  right: 0.006rem;
  display: inline-block;
  width: 6.25rem;
}
.krail-maintickettraintimebutton {
  position: absolute;
  top: 0.438rem;
  left: 16.831rem;
  border-radius: 1.875rem;
  border: 2px solid #0C3C60;
  box-sizing: border-box;
  width: 6.238rem;
  height: 2.25rem;
  text-align: center;
  font-size: 1rem;
  color: #0C3C60;
}
.krail-maintickettraininfo {
  position: absolute;
  top: 15.688rem;
  left: calc(50% - 186px);
  background-color: #E4EEF6;
  border-top: 1px solid #93999B;
  border-bottom: 1px solid #93999B;
  box-sizing: border-box;
  width: 23.694rem;
  height: 3.125rem;
  text-align: left;
  font-size: 1.375rem;
}
.krail-mainticketinfodestinationarrow-icon {
  position: absolute;
  width: 10.5%;
  top: 1.25rem;
  right: 45.05%;
  left: 44.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-b171 {
  position: absolute;
  width: 100%;
  top: 0rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-b172 {
  position: absolute;
  width: 100%;
  top: 3.063rem;
  left: 0%;
  font-size: 1.5rem;
  display: flex;
  color: #185C93;
  align-items: center;
  justify-content: center;
}
.krail-arrivaltime {
  position: absolute;
  top: 0rem;
  left: 13.75rem;
  width: 11.25rem;
  height: 4.813rem;
}
.krail-departuretime {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 11.125rem;
  height: 4.813rem;
}
.krail-mainticketinfodestination {
  position: absolute;
  top: 7.313rem;
  left: calc(50% - 200px);
  width: 25rem;
  height: 4.813rem;
  font-size: 2.25rem;
}
.krail-b175 {
  position: absolute;
  width: 97.05%;
  top: 0.563rem;
  left: -0.21%;
  display: inline-block;
}
.krail-mainticketaaddinfobuttonvector-icon {
  position: absolute;
  height: 42.86%;
  width: 15.82%;
  top: 31.43%;
  right: 73.84%;
  bottom: 25.71%;
  left: 10.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.krail-mainticketaaddinfobutton {
  position: absolute;
  top: 3.375rem;
  right: 0rem;
  border-radius: 20px 0px 0px 20px;
  background-color: rgba(165, 201, 227, 0.75);
  width: 5.925rem;
  height: 2.188rem;
  text-align: right;
  font-size: 1rem;
  color: #185C93;
}
.krail-b176 {
  position: absolute;
  top: 0.563rem;
  left: 0.75rem;
  display: inline-block;
  width: 16.5rem;
}
.krail-b177 {
  position: absolute;
  top: 0.563rem;
  right: 0.688rem;
  display: inline-block;
  text-align: right;
  width: 12.063rem;
}
.krail-mainticketinfotitle {
  position: absolute;
  width: 99.75%;
  top: 0rem;
  right: 0.25%;
  left: 0%;
  border-radius: 0.625rem 0.625rem 0px 0px;
  background-color: #185C93;
  height: 2.5rem;
  text-align: left;
  color: #fff;
}
.krail-myticketmain {
  position: absolute;
  width: 93.02%;
  top: 9.813rem;
  right: 3.49%;
  left: 3.49%;
  background-color: #fff;
  height: 48.125rem;
  text-align: center;
  font-size: 1.125rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-b178 {
  position: absolute;
  bottom: 0rem;
  left: calc(50% - 53.75px);
  font-size: 1rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #3995db;
  text-align: center;
  width: 6.75rem;
  height: 1.875rem;
}
.krail-footerbutton4image2 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 1.875rem;
  left: calc(50% - 28.75px);
  width: 3.625rem;
  height: 3.438rem;
  background-image: url("/public/appguide/Korail/footerbutton4image@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.krail-footerbutton4rectangle {
  position: absolute;
  bottom: 5.006rem;
  left: 1.031rem;
  border-radius: 20px;
  background-color: #3F7BA8;
  width: 4.663rem;
  height: 0.556rem;
}
.krail-footerbutton42 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 0rem;
  left: 20.156rem;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  width: 6.719rem;
  height: 5.625rem;
}
.krail-b179 {
  position: absolute;
  bottom: 0rem;
  left: calc(50% - 53.75px);
  font-size: 1rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #424242;
  text-align: center;
  width: 6.75rem;
  height: 1.875rem;
}
.krail-footerbutton3image-icon2 {
  position: absolute;
  bottom: 1.844rem;
  left: calc(50% - 26.75px);
  width: 3.381rem;
  height: 3.406rem;
  object-fit: cover;
}
.krail-footerbutton32 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 0rem;
  left: 13.438rem;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  width: 6.719rem;
  height: 5.625rem;
}
.krail-footerbutton2image-icon2 {
  position: absolute;
  bottom: 2.094rem;
  left: calc(50% - 26.75px);
  width: 3.356rem;
  height: 3.406rem;
  object-fit: cover;
}
.krail-footerbutton22 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 0rem;
  left: 6.719rem;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  width: 6.719rem;
  height: 5.625rem;
}
.krail-footerbutton1image-icon2 {
  position: absolute;
  bottom: 1.875rem;
  left: calc(50% - 40.75px);
  width: 5.169rem;
  height: 3.125rem;
  object-fit: cover;
}
.krail-footerbutton12 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
  width: 6.719rem;
  height: 5.625rem;
}
.krail-myticketfooterbuttonset {
  position: absolute;
  bottom: 0.019rem;
  left: -0.125rem;
  width: 26.875rem;
  height: 5.5rem;
}
.krail-b182 {
  position: absolute;
  bottom: 0.25rem;
  left: 0.438rem;
  display: flex;
  align-items: center;
  width: 26.375rem;
}
.krail-myticketfootertext {
  position: absolute;
  top: 0.188rem;
  left: -0.062rem;
  background-color: #F8F8F8;
  border-top: 1px solid #C1C2C3;
  border-bottom: 1px solid #C1C2C3;
  box-sizing: border-box;
  width: 26.875rem;
  height: 1.563rem;
}
.krail-myticketfooter {
  /* position: absolute; */
  position: fixed;
  bottom: -0.019rem;
  left: 0rem;
  width: 26.813rem;
  height: 7.206rem;
  text-align: left;
  font-size: .9375rem;
  color: #8A8D8E;
  font-family: 'Nanum Gothic';
}
.krail-b183 {
  position: absolute;
  width: 100%;
  top: 1.125rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-commutationticketbutton {
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 0%;
  left: 50%;
  background-color: #fff;
  height: 4.188rem;
}
.krail-regularticketbutton-child {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #fff;
  border-bottom: 2px solid #0C3C60;
  box-sizing: border-box;
  height: 4.188rem;
}
.krail-div94 {
  position: absolute;
  width: 100%;
  top: 0.063rem;
  left: 0%;
  display: inline-block;
}
.krail-regularticketbuttonicon {
  position: absolute;
  width: 18.6%;
  top: 1.5rem;
  right: 9.3%;
  left: 72.09%;
  border-radius: 1.875rem;
  background-color: #DE710C;
  height: 1.25rem;
  overflow: hidden;
  font-size: 1rem;
  color: #fff;
}
.krail-regularticketbutton {
  position: absolute;
  width: 50%;
  top: 0rem;
  right: 50%;
  left: 0%;
  height: 4.188rem;
  color: #185C93;
}
.krail-myticketheaderbuttonset {
  position: absolute;
  width: 100%;
  top: 4.063rem;
  right: 0%;
  left: 0%;
  height: 4.188rem;
}
.krail-headerbuttonline3 {
  position: absolute;
  width: 105%;
  top: 1.719rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-headerbuttonline2 {
  position: absolute;
  width: 105%;
  top: 0.831rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-headerbuttonline1 {
  position: absolute;
  width: 105%;
  top: -0.062rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #fff;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-myticketheadermenubarbutton {
  position: absolute;
  top: 1.188rem;
  right: 1.313rem;
  width: 2.5rem;
  height: 1.781rem;
}
.krail-b185 {
  position: absolute;
  width: 100%;
  top: 0.875rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-myticketheadertitle {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 4.063rem;
  font-size: 2rem;
  color: #fff;
}
.krail-myticketheader {
  position: fixed;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 8.344rem;
  text-align: center;
  font-size: 1.75rem;
  color: #CCCECF;
  font-family: 'Nanum Gothic';
}
.krail-myticket-15 {
  width: 100%;
  position: relative;
  background-color: #F8F8F8;
  height: 66rem;
  overflow-y: auto;
}
