@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


.krail-passfooterimage-icon {
  position: absolute;
  right: 1.25rem;
  bottom: 0.925rem;
  width: 6.25rem;
  height: 2.513rem;
  object-fit: cover;
}
.krail-b202 {
  position: absolute;
  bottom: 0.75rem;
  left: 1.125rem;
  display: flex;
  align-items: center;
  width: 18.25rem;
}
.krail-passfooter {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  background-color: #F1F1F1;
  height: 4.375rem;
  text-align: left;
  font-size: 1.25rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-sms2 {
  position: absolute;
  width: 100%;
  top: 1rem;
  left: 0%;
  font-size: 1.75rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #FFF;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.krail-smsauthbutton {
  cursor: pointer;
  border: 1px solid #000;
  padding: 0;
  background-color: #8A8D8E;
  position: absolute;
  width: 100%;
  top: 4.5rem;
  right: 0%;
  left: 0%;
  box-sizing: border-box;
  height: 3.75rem;
}
.krail-pass {
  position: absolute;
  width: 100%;
  top: 1rem;
  left: 0%;
  font-size: 1.75rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #000;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.krail-passauthbutton {
  cursor: pointer;
  border: 1px solid #000;
  padding: 0;
  background-color: #F8F8F8;
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  box-sizing: border-box;
  height: 3.75rem;
}
.krail-passmainbuttonset {
  position: absolute;
  width: 88.37%;
  top: 39.313rem;
  right: 6.05%;
  left: 5.58%;
  height: 8.25rem;
}
.krail-b203 {
  position: absolute;
  top: 0.7rem;
  left: 0rem;
  text-decoration: underline;
  display: flex;
  align-items: center;
  width: 10.688rem;
  height: 0.75rem;
}
.krail-checkbox2 {
  position: absolute;
  top: 0rem;
  left: -0.3rem;
  transform: scale(1.5);
}
.krail-checkboxMain {
  position: absolute;
  top: 0rem;
  left: -0.3rem;
  transform: scale(1.5);
}
.krail-passmaincheck4 {
  position: absolute;
  top: 4.063rem;
  left: 12.438rem;
  width: 12.813rem;
  height: 1.25rem;
}
.krail-b204 {
  position: absolute;
  width: 86.63%;
  top: 0.125rem;
  left: 13.37%;
  text-decoration: underline;
  display: flex;
  align-items: center;
  height: 0.75rem;
}
.krail-passmaincheck3 {
  position: absolute;
  top: 4.188rem;
  left: 0rem;
  width: 12.438rem;
  height: 1.25rem;
}
.krail-passmaincheck2 {
  position: absolute;
  top: 2.313rem;
  left: 12.438rem;
  width: 12.813rem;
  height: 1.25rem;
}
.krail-b206 {
  position: absolute;
  width: 86.63%;
  top: 0.25rem;
  left: 13.37%;
  text-decoration: underline;
  display: flex;
  align-items: center;
  height: 0.75rem;
}
.krail-passmaincheck1 {
  position: absolute;
  top: 2.313rem;
  left: 0rem;
  width: 12.438rem;
  height: 1.25rem;
}
.krail-b207 {
  position: absolute;
  width: 91.29%;
  top: 0.4rem;
  left: 8.63%;
  display: flex;
  align-items: center;
}
.krail-passmainchecktotal {
  position: absolute;
  top: -0.062rem;
  left: 0rem;
  width: 23.188rem;
  height: 1.75rem;
  font-size: 1.5rem;
  color: #000;
}
.krail-passmaincheck {
  position: absolute;
  width: 93.95%;
  top: 32.563rem;
  right: 0%;
  left: 6.05%;
  height: 5.813rem;
  text-align: left;
  font-size: 1rem;
  color: #8A8D8E;
  font-family: 'Nanum Gothic';
}
.krail-telecommvnoellipse {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  border-radius: 50%;
  background-color: #FFF;
  border: 1px solid #A6A6A6;
  box-sizing: border-box;
  height: 11.25rem;
}
.krail-telecommvnoimage-icon {
  position: absolute;
  width: 72.22%;
  top: 3.188rem;
  right: 13.89%;
  left: 13.89%;
  max-width: 100%;
  overflow: hidden;
  height: 4.875rem;
  object-fit: cover;
}
.krail-telecommvno {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 12.625rem;
  left: 12.938rem;
  width: 11.25rem;
  height: 11.25rem;
}
.krail-telecomlgimage-icon {
  position: absolute;
  width: 83.33%;
  top: 4.313rem;
  right: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  height: 2.613rem;
  object-fit: cover;
}
.krail-telecomlg {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 12.625rem;
  left: 0rem;
  width: 11.25rem;
  height: 11.25rem;
}
.krail-telecomktimage-icon {
  position: absolute;
  width: 38.89%;
  top: 3.813rem;
  right: 30.56%;
  left: 30.56%;
  max-width: 100%;
  overflow: hidden;
  height: 3.569rem;
  object-fit: cover;
}
.krail-telecomkt {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 12.938rem;
  width: 11.25rem;
  height: 11.25rem;
}
.krail-telecomskimage-icon {
  position: absolute;
  width: 66.67%;
  top: 3.688rem;
  right: 16.67%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  height: 3.875rem;
  object-fit: cover;
}
.krail-telecomsk {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 11.25rem;
  height: 11.25rem;
}
.krail-passmaintelecom {
  position: absolute;
  width: 90.23%;
  top: 7.75rem;
  right: 4.65%;
  left: 5.12%;
  height: 23.875rem;
}
.krail-b208 {
  position: absolute;
  top: 3.875rem;
  left: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26.875rem;
}
.krail-passmainttitleimage-icon {
  position: absolute;
  top: 1rem;
  left: 2.313rem;
  width: 7.5rem;
  height: 2.231rem;
  object-fit: cover;
}
.krail-passmainttitle {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  height: 6.375rem;
  text-align: center;
  font-size: 1.625rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-passmain {
  position: absolute;
  top: 5.438rem;
  left: 0rem;
  width: 26.875rem;
  height: 47.563rem;
}
.krail-pass- {
  position: absolute;
  width: 100%;
  top: 1.125rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-agreementheaderbuttonline31 {
  position: absolute;
  width: 105%;
  top: 1.719rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-agreementheaderbuttonline21 {
  position: absolute;
  width: 105%;
  top: 0.831rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-agreementheaderbuttonline11 {
  position: absolute;
  width: 105%;
  top: -0.062rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-headerbutton {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 2.5rem;
  height: 1.781rem;
  cursor: pointer;
}
.krail-passheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 4.063rem;
  text-align: center;
  font-size: 1.5rem;
  color: #FFF;
  font-family: 'Nanum Gothic';
}
.krail-pass-05 {
  width: 100%;
  position: relative;
  background-color: #FFF;
  height: 58.25rem;
  overflow: hidden;
}
.krail-selected {
  border: 0.2rem solid #FF3A4A;
  border-radius: 60%;
}