@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-passfooterimage-icon1 {
  position: absolute;
  right: 1.25rem;
  bottom: 0.925rem;
  width: 6.25rem;
  height: 2.513rem;
  object-fit: cover;
}
.krail-b209 {
  position: absolute;
  bottom: 0.75rem;
  left: 1.125rem;
  display: flex;
  align-items: center;
  width: 18.25rem;
}
.krail-passsmsfooter {
  position: absolute;
  width: 100%;
  right: 0%;
  bottom: 0rem;
  left: 0%;
  background-color: #F1F1F1;
  height: 4.375rem;
  text-align: left;
  font-size: 1.25rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-b210 {
  position: absolute;
  top: 0.688rem;
  left: 4.375rem;
  font-size: 1.625rem;
  font-family: 'Nanum Gothic';
  color: #FFF;
  text-align: left;
}
.krail-smsmainconfirmbutton {
  cursor: pointer;
  border: 1px solid #000;
  padding: 0;
  background-color: #8A8D8E;
  position: absolute;
  top: 0rem;
  left: 13.125rem;
  box-sizing: border-box;
  width: 11.875rem;
  height: 3.125rem;
}
.krail-b211 {
  position: absolute;
  top: 0.813rem;
  left: 3.931rem;
  font-size: 1.625rem;
  display: flex;
  font-family: 'Nanum Gothic';
  color: #000;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 4.006rem;
  height: 1.5rem;
}
.krail-smsmaincancelbutton {
  cursor: pointer;
  border: 1px solid #000;
  padding: 0;
  background-color: #F8F8F8;
  position: absolute;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  width: 11.875rem;
  height: 3.125rem;
}
.krail-smsmainbuttonset {
  position: absolute;
  top: 26.25rem;
  left: 0rem;
  width: 25rem;
  height: 3.125rem;
}
.krail-smsmainremembercheckbox {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 50%;
  background-color: #FFF;
  border: 2px solid #8A8D8E;
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.krail-b212 {
  position: absolute;
  top: 0rem;
  left: 2.438rem;
  display: flex;
  align-items: center;
  width: 23.375rem;
  height: 1.563rem;
}
.krail-smsmainremembercheck {
  position: absolute;
  top: 23.313rem;
  left: 0.188rem;
  width: 25.813rem;
  height: 1.563rem;
  font-size: 1.2rem;
  color: #535C63;
}
.krail-smsmaintellnumberinput {
  border: 1px solid #000;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 2.375rem;
  left: 0rem;
  box-sizing: border-box;
  width: 25rem;
  height: 2.5rem;
  padding: 0.5rem 0.562rem;
  font-family: 'Nanum Gothic';
  font-size: 1.5rem;
  color: #000;
}
.krail-b213 {
  position: absolute;
  top: 0rem;
  left: 0.75rem;
}
.krail-smsmaintellnumber {
  position: absolute;
  top: 17.813rem;
  left: 0rem;
  width: 25rem;
  height: 4.875rem;
}
.krail-residentregistrationellipse1 {
  width: 0.938rem;
  position: relative;
  border-radius: 50%;
  background-color: #535C63;
  height: 0.938rem;
}
.krail-residentregistrationellipseset {
  position: absolute;
  top: 0.813rem;
  left: 16.938rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.375rem;
}
.krail-genderdateinput {
  border: 1px solid #000;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 14.188rem;
  box-sizing: border-box;
  width: 2.313rem;
  height: 2.5rem;
  font-size: 1.5rem;
}
.krail-smsmainresidentregistrationlin {
  position: absolute;
  top: 1.219rem;
  left: 12.906rem;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 1rem;
  height: 0.063rem;
}
.krail-birthdateinput1 {
  border: 1px solid #000;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 0rem;
  left: 0rem;
  box-sizing: border-box;
  width: 12.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
}
.krail-smsmainresidentregistrationinp {
  position: absolute;
  top: 2.25rem;
  left: 0rem;
  width: 25.938rem;
  height: 2.5rem;
}
.krail-smsmainresidentregistration {
  position: absolute;
  top: 11.188rem;
  left: 0rem;
  width: 25.938rem;
  height: 4.75rem;
}
.krail-smsmainnameinput {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 2rem;
  left: 0rem;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  width: 25rem;
  height: 2.5rem;
  padding: 0.5rem 0.75rem 0.8rem;
  font-family: 'Nanum Gothic';
  font-size: 1.5rem;
  color: #000;
}
.krail-b215 {
  position: absolute;
  top: 0rem;
  left: 0.75rem;
  display: flex;
  align-items: center;
  width: 24.25rem;
}
.krail-smsmainname {
  position: absolute;
  top: 4.813rem;
  left: 0rem;
  width: 25rem;
  height: 4.5rem;
}
.krail-passmainttitleimage-icon1 {
  position: absolute;
  top: 0rem;
  left: 1.188rem;
  width: 7.5rem;
  height: 2.231rem;
  object-fit: cover;
}
.krail-passsmsheadermain {
  position: absolute;
  top: 6.438rem;
  left: 0.938rem;
  width: 26rem;
  height: 29.375rem;
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
.krail-sms3 {
  position: absolute;
  width: 86.05%;
  top: 1.25rem;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krail-agreementheaderbuttonline32 {
  position: absolute;
  width: 105%;
  top: 1.719rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-agreementheaderbuttonline22 {
  position: absolute;
  width: 105%;
  top: 0.831rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-agreementheaderbuttonline12 {
  position: absolute;
  width: 105%;
  top: -0.062rem;
  right: -2.5%;
  left: -2.5%;
  border-top: 2px solid #FFF;
  box-sizing: border-box;
  height: 0.125rem;
}
.krail-headerbutton1 {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 2.5rem;
  height: 1.781rem;
}
.krail-passsmsheader {
  position: absolute;
  width: 100%;
  top: 0rem;
  right: 0%;
  left: 0%;
  background-color: #0C3C60;
  height: 4.063rem;
  text-align: center;
  font-size: 1.375rem;
  color: #FFF;
  font-family: 'Nanum Gothic';
}
.krail-headerbutton2 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 2.5rem;
  height: 1.781rem;
}
.krail-passsms-06 {
  width: 100%;
  height: 58.25rem;
  position: relative;
  background-color: #FFF;
  overflow: hidden;
}
