@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-b216 {
  position: absolute;
  width: 21.18%;
  top: 1.625rem;
  left: 39.3%;
  font-size: 1.5rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #185C93;
  text-align: center;
}
.krail-popupcheckmemberbutton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #CDE0EE;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 400px;
  height: 70px;
}
.krail-b217 {
  position: absolute;
  width: 100%;
  top: 69px;
  left: 0%;
  display: flex;
  align-items: center;
}
.krail-popupcheckmemberinfoline {
  position: absolute;
  width: 100.26%;
  top: 46.5px;
  right: -0.13%;
  left: -0.13%;
  border-top: 1px solid #3995DB;
  box-sizing: border-box;
  height: 1px;
}
.krail-b218 {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0%;
  font-size: 2rem;
  display: flex;
  color: #005CAF;
  align-items: center;
}
.krail-popupcheckmemberinfo {
  position: absolute;
  top: 29px;
  left: 20px;
  width: 380px;
  height: 93px;
}
.krail-popupcheckmember {
  width: 400px;
  background-color: #FFF;
  height: 220px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  font-family: 'Nanum Gothic';
}
