.b219 {
  position: absolute;
  width: 21.18%;
  top: 26px;
  left: 39.3%;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-nanumgothic);
  color: var(--color-steelblue-400);
  text-align: center;
}
.popupregistrationcompletedbutt {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: var(--color-lavender-200);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 400px;
  height: 70px;
}
.p97 {
  margin: 0;
}
.txt22 {
  width: 100%;
}
.b220 {
  position: absolute;
  width: 100%;
  top: 65px;
  left: 0%;
  display: flex;
  align-items: center;
}
.popupregistrationcompletedinfo1 {
  position: absolute;
  width: 95%;
  top: 46.5px;
  right: 5.13%;
  left: -0.13%;
  border-top: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  height: 1px;
}
.b221 {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0%;
  font-size: var(--font-size-13xl);
  display: flex;
  color: var(--color-darkslateblue-200);
  align-items: center;
}
.popupregistrationcompletedinfo {
  position: absolute;
  top: 29px;
  left: 20px;
  width: 380px;
  height: 143px;
}
.popupregistrationcompleted {
  width: 400px;
  background-color: var(--color-white);
  height: 260px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-nanumgothic);
}
