@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.krail-b195 {
  position: absolute;
  top: 1.3125rem;
  left: 0px;
  font-size: 1.75rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #185C93;
  text-align: center;
  width: 12.5rem;
}
.krail-b1955 {
  position: absolute;
  top: 1.3125rem;
  right: .5rem;
  font-size: 1.75rem;
  display: inline-block;
  font-family: 'Nanum Gothic';
  color: #185C93;
  text-align: center;
  width: 12.5rem;
}
.krail-popuprefundinfobuttonrequest {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #CDE0EE;
  position: absolute;
  top: 0px;
  left: 200px;
  border-left: 1px solid #8A8D8E;
  box-sizing: border-box;
  width: 200px;
  height: 70px;
  overflow: hidden;
}
.krail-popuprefundinfobuttoncancel {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #CDE0EE;
  position: absolute;
  top: 0px;
  left: 0px;
  border-right: 1px solid #8A8D8E;
  box-sizing: border-box;
  width: 200px;
  height: 70px;
  overflow: hidden;
}
.krail-popuprefundinfobutton {
  position: absolute;
  top: 260px;
  left: 0px;
  width: 400px;
  height: 70px;
}
.krail-p91 {
  margin: 0;
}
.krail-b197 {
  position: absolute;
  top: 67px;
  left: 0px;
  display: inline-block;
  width: 372px;
}
.krail-popuprefundinfocontentline {
  position: absolute;
  top: 45.5px;
  left: -0.5px;
  border-top: 1px solid #3995DB;
  box-sizing: border-box;
  width: 361px;
  height: 1px;
}
.krail-b198 {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 2rem;
  display: inline-block;
  width: 363px;
}
.krail-popuprefundinfocontent {
  position: absolute;
  top: 35px;
  left: 28px;
  width: 372px;
  height: 211px;
}
/* .krail-popuprefundinfo {
  width: 400px;
  background-color: #FFF;
  height: 330px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: 1rem;
  color: #000;
  font-family: 'Nanum Gothic';
} */
.krail-popuprefundinfo {
  position: relative; /* 추가된 코드 */
  width: 400px;
  background-color: #FFF;
  height: 330px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: 1rem;
  color: #000;
  font-family: 'Nanum Gothic';
}