@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
}

.chat-box {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  background-color: #f1f3f5
}

.input-box {
  display: flex;
  padding: 10px;
  background-color: ;
  height : 80px
}

textarea {
  flex-grow: 1;
  resize: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 2rem;
  font-family: "Noto Sans KR";
}

.send-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--main);
  color: white;
  font-size: 2rem;
  font-family: "Noto Sans KR";
  cursor: pointer;
}

/* button:hover {
  background-color: #0056b3;
} */

.chat-message {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
}

.user-message {
  align-self: flex-end;
  background-color: var(--light);
  color: white;
}

.assistant-message {
  align-self: flex-start;
  position: relative;
  left: 4rem;
  text-align: left;
  background-color: lightgray;
  font-size: 2rem;
  color: black;
}

.error-message {
  align-self: center;
  background-color: #f8d7da;
  color: #721c24;
}