.blank-line {
  margin: 0;
}
.div27 {
  position: relative;
}
.root {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 123px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
