.coupon-child {
  position: absolute;
  top: 27.938rem;
  left: 1.5rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  width: 23.813rem;
  height: 2.5rem;
}
.coupon-inner,
.coupon-item {
  position: absolute;
  top: 12.813rem;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 26.875rem;
  height: 8.813rem;
}
.coupon-inner {
  top: 21.625rem;
  height: 10.25rem;
}
.coupon-child1,
.div74 {
  position: absolute;
  top: 14.063rem;
}
.div74 {
  left: 1.375rem;
  font-size: var(--font-size-13xl);
}
.coupon-child1 {
  left: 19.625rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 5.813rem;
  height: 2.438rem;
}
.div75 {
  position: absolute;
  top: 14.688rem;
  left: 22.125rem;
  font-size: var(--font-size-base);
}
.div76,
.star-icon7 {
  position: absolute;
  top: 17.875rem;
  left: 3.75rem;
}
.star-icon7 {
  top: 17.688rem;
  left: 1.375rem;
  width: 2.188rem;
  height: 2.188rem;
  object-fit: cover;
}
.div77,
.line-icon {
  position: absolute;
  top: 17.875rem;
  left: 8.313rem;
}
.line-icon {
  left: 6.975rem;
  width: 0.025rem;
  height: 1.875rem;
  object-fit: contain;
}
.p42 {
  margin: 0;
}
.div78,
.div79,
.div80 {
  position: absolute;
  top: 23rem;
  left: 1.375rem;
}
.div79,
.div80 {
  top: 34.188rem;
}
.div80 {
  top: 28.375rem;
  left: 5.375rem;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.instance-child12 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.txt9 {
  width: 100%;
}
.div81,
.instance-child13 {
  position: absolute;
  height: 80%;
}
.div81 {
  width: 62.53%;
  top: 11.03%;
  left: 4.38%;
  display: flex;
  align-items: center;
}
.instance-child13 {
  width: 27.59%;
  top: 11.31%;
  right: 3.45%;
  bottom: 8.69%;
  left: 68.95%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ant-designheart-filled8 {
  position: absolute;
  height: 22.07%;
  width: 8.03%;
  top: 11.72%;
  right: 48.42%;
  bottom: 66.21%;
  left: 43.55%;
  overflow: hidden;
}
.rectangle-parent13 {
  position: absolute;
  top: 47.563rem;
  left: 0.563rem;
  width: 25.688rem;
  height: 9.063rem;
  font-size: var(--font-size-xl);
}
.favorite-icon1,
.image-2-icon {
  position: absolute;
  object-fit: cover;
}
.image-2-icon {
  top: 0;
  left: 0;
  width: 26.875rem;
  height: 12.625rem;
}
.favorite-icon1 {
  top: 14.188rem;
  left: 20.188rem;
  width: 1.438rem;
  height: 2.188rem;
}
.coupon-child2 {
  position: absolute;
  top: 0.063rem;
  left: 0;
  background-color: rgba(110, 108, 108, 0.75);
  width: 26.875rem;
  height: 58.25rem;
  cursor: pointer;
}
.div82 {
  position: relative;
}
.wrapper {
  position: absolute;
  top: 26.063rem;
  left: 2.438rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2.312rem 3.562rem;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.coupon {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
