.image-1-icon1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 12.625rem;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child4,
.frame-child5 {
  position: absolute;
  left: 0;
  background-color: var(--color-white);
  width: 26.875rem;
}
.frame-child4 {
  top: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  height: 8.813rem;
}
.frame-child5 {
  top: 8.813rem;
  box-shadow: 0 0 0 transparent;
  border-top: 1px solid var(--color-lightgray-300);
  border-bottom: 1px solid var(--color-lightgray-300);
  box-sizing: border-box;
  height: 10.25rem;
}
.div190 {
  position: absolute;
  top: 1.25rem;
  left: 1.375rem;
  font-size: var(--font-size-13xl);
}
.div191,
.star-icon23 {
  position: absolute;
  top: 5.063rem;
  left: 3.75rem;
}
.star-icon23 {
  top: 4.875rem;
  left: 1.375rem;
  width: 2.188rem;
  height: 2.188rem;
  object-fit: cover;
}
.div192,
.frame-child6 {
  position: absolute;
  top: 5.063rem;
  left: 8.313rem;
}
.frame-child6 {
  left: 6.975rem;
  width: 0.025rem;
  height: 1.875rem;
  object-fit: contain;
}
.p89 {
  margin: 0;
}
.div193 {
  position: absolute;
  top: 10.188rem;
  left: 1.375rem;
}
.div194 {
  position: relative;
}
.beforelike-child,
.wrapper4 {
  position: absolute;
  border-radius: var(--br-3xs);
}
.wrapper4 {
  top: 15.125rem;
  left: 1.5rem;
  background-color: var(--color-mediumaquamarine);
  width: 23.813rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.beforelike-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.div195 {
  position: absolute;
  top: 25.64%;
  left: 43.01%;
}
.ant-designheart-outlined-icon {
  position: absolute;
  height: 64.1%;
  width: 26.88%;
  top: 12.82%;
  right: 64.52%;
  bottom: 23.08%;
  left: 8.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.beforelike {
  position: absolute;
  top: 1.25rem;
  left: 19.563rem;
  width: 5.813rem;
  height: 2.438rem;
  font-size: var(--font-size-base);
}
.frame15 {
  align-self: stretch;
  position: relative;
  height: 19.063rem;
  overflow: hidden;
  flex-shrink: 0;
}
.div196,
.frame14 {
  position: absolute;
  top: 0;
}
.frame14 {
  left: 0;
  width: 26.875rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.187rem;
}
.div196 {
  left: 0.813rem;
  font-size: var(--font-size-5xl);
}
.instance-child14 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  cursor: pointer;
}
.txt14 {
  width: 100%;
}
.div197,
.instance-child15 {
  position: absolute;
  height: 80%;
}
.div197 {
  width: 62.53%;
  top: 11.03%;
  left: 4.38%;
  display: flex;
  align-items: center;
}
.instance-child15 {
  width: 27.59%;
  top: 11.31%;
  right: 3.45%;
  bottom: 8.69%;
  left: 68.95%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ant-designheart-filled9 {
  position: absolute;
  height: 22.07%;
  width: 8.03%;
  top: 11.72%;
  right: 48.42%;
  bottom: 66.21%;
  left: 43.55%;
  overflow: hidden;
}
.rectangle-parent27,
.rectangle-parent28 {
  position: absolute;
  top: 3.063rem;
  left: 0;
  width: 25.688rem;
  height: 9.063rem;
}
.rectangle-parent28 {
  top: 13.375rem;
}
.instance-parent1,
.parent4 {
  width: 25.688rem;
  position: relative;
  height: 22.438rem;
  flex-shrink: 0;
  z-index: 0;
}
.instance-parent1 {
  z-index: 1;
}
.div202 {
  position: absolute;
  top: 0;
  left: 0.688rem;
}
.instance-parent2 {
  width: 25.688rem;
  position: relative;
  height: 22.438rem;
  flex-shrink: 0;
  z-index: 2;
  font-size: var(--font-size-5xl);
}
.icon5,
.icon6,
.instance-child23 {
  position: absolute;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.instance-child23 {
  height: 80%;
  width: 27.59%;
  top: 11.31%;
  right: 3.45%;
  bottom: 8.69%;
  left: 68.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.icon5,
.icon6 {
  top: 4rem;
  left: 17.625rem;
  width: 7.225rem;
  height: 7.25rem;
}
.icon6 {
  top: 14.313rem;
  width: 7.25rem;
}
.instance-parent3 {
  width: 25.688rem;
  position: relative;
  height: 22.438rem;
  flex-shrink: 0;
  z-index: 3;
}
.icon7,
.icon8,
.icon9 {
  width: 7.225rem;
  position: absolute;
  margin: 0 !important;
  top: 51.375rem;
  left: 17.625rem;
  border-radius: var(--br-3xs);
  height: 7.25rem;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 4;
}
.icon8,
.icon9 {
  top: 61.688rem;
  z-index: 5;
}
.icon9 {
  width: 7.2rem;
  top: 27.688rem;
  z-index: 6;
}
.frame-container {
  position: absolute;
  top: 33.125rem;
  left: 0.563rem;
  height: 93.438rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.div189 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
