.child,
.item {
  position: absolute;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 0 transparent;
  width: 26.875rem;
}
.child {
  top: 12.813rem;
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 14.313rem;
}
.item {
  top: 27.125rem;
  height: 24.188rem;
}
.div84,
.div85,
.div86 {
  position: absolute;
  top: 14.438rem;
  left: 1.125rem;
  font-size: var(--font-size-11xl);
}
.div85,
.div86 {
  top: 29.125rem;
  left: 1.375rem;
  font-size: var(--font-size-13xl);
}
.div86 {
  top: 17.5rem;
  font-size: var(--font-size-9xl);
}
.p48 {
  margin: 0;
}
.div87 {
  position: absolute;
  top: 20.375rem;
  left: 20.375rem;
  text-align: right;
}
.p51 {
  margin-block-start: 0;
  margin-block-end: 7px;
}
.div88,
.div89 {
  position: absolute;
}
.div88 {
  top: 31.938rem;
  left: 20.313rem;
  text-align: right;
}
.div89 {
  top: 0;
  left: 2.188rem;
}
.ellipse-div {
  position: absolute;
  top: 0.063rem;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.container {
  position: absolute;
  top: 20.375rem;
  left: 1.375rem;
  width: 3.625rem;
  height: 1.813rem;
}
.div90,
.wrapper1 {
  position: absolute;
  top: 0;
}
.div90 {
  left: 0;
}
.wrapper1 {
  left: 2.188rem;
  width: 1.438rem;
  height: 1.813rem;
}
.ellipse-input {
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 0.125rem;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.group-parent {
  position: absolute;
  top: 22.188rem;
  left: 1.375rem;
  width: 3.625rem;
  height: 1.813rem;
}
.group-child6 {
  top: 0.125rem;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.div92,
.group-child6,
.parent1 {
  position: absolute;
}
.parent1 {
  top: 24rem;
  left: 1.375rem;
  width: 3.625rem;
  height: 1.813rem;
}
.div92 {
  height: 100%;
  top: 0;
  left: 2rem;
  display: flex;
  align-items: center;
  width: 9.25rem;
}
.component-27-child {
  position: absolute;
  height: 86.21%;
  top: 6.9%;
  bottom: 6.9%;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.563rem;
}
.component-27,
.component-28 {
  position: absolute;
  top: 32.313rem;
  left: 1.375rem;
  width: 11.25rem;
  height: 1.813rem;
}
.component-28 {
  top: 34.438rem;
}
.component-29-child {
  cursor: pointer;
  margin: 0;
  position: absolute;
  height: 86.21%;
  top: 6.9%;
  bottom: 6.9%;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.563rem;
}
.component-29,
.component-30,
.component-31 {
  position: absolute;
  top: 36.563rem;
  left: 1.375rem;
  width: 11.25rem;
  height: 1.813rem;
}
.component-30,
.component-31 {
  top: 38.688rem;
}
.component-31 {
  top: 40.813rem;
}
.inner {
  position: absolute;
  top: 51.313rem;
  left: 0;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 26.875rem;
  height: 6.938rem;
}
.div97,
.div98 {
  position: absolute;
  top: 54.625rem;
  left: 1.125rem;
}
.div98 {
  top: 53.125rem;
  font-size: var(--font-size-xl);
}
.group-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  width: 14.125rem;
  height: 3.313rem;
}
.div99 {
  position: absolute;
  top: 0.938rem;
  left: 3.375rem;
}
.rectangle-parent14 {
  position: absolute;
  top: 53.125rem;
  left: 11.375rem;
  width: 14.125rem;
  height: 3.313rem;
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.image-3-icon {
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 26.875rem;
  height: 12.625rem;
  object-fit: cover;
}
.div83 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
