.div1,
.instance-child {
  position: absolute;
  top: 0;
}
.div1 {
  left: 0.813rem;
  font-size: var(--font-size-5xl);
}
.instance-child {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.p {
  margin: 0;
}
.txt {
  width: 100%;
}
.div2,
.instance-item {
  position: absolute;
  height: 80%;
}
.div2 {
  width: 62.53%;
  top: 11.03%;
  left: 4.38%;
  display: flex;
  align-items: center;
}
.instance-item {
  width: 27.59%;
  top: 11.31%;
  right: 3.45%;
  bottom: 8.69%;
  left: 68.95%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ant-designheart-filled {
  position: absolute;
  height: 22.07%;
  width: 8.03%;
  top: 11.72%;
  right: 48.42%;
  bottom: 66.21%;
  left: 43.55%;
  overflow: hidden;
}
.rectangle-group,
.rectangle-parent {
  position: absolute;
  top: 3.063rem;
  left: 0;
  width: 25.688rem;
  height: 9.063rem;
}
.rectangle-group {
  top: 13.375rem;
}
.parent {
  width: 25.688rem;
  position: relative;
  height: 22.438rem;
  z-index: 0;
}
.instance-child1 {
  position: absolute;
  height: 80%;
  width: 27.59%;
  top: 11.31%;
  right: 3.45%;
  bottom: 8.69%;
  left: 68.95%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.div6 {
  position: absolute;
  top: 0;
  left: 1.125rem;
  font-size: var(--font-size-5xl);
}
.instance-parent {
  width: 25.688rem;
  position: relative;
  height: 22.438rem;
  z-index: 1;
}
.div7 {
  position: absolute;
  top: 0;
  left: 0;
}
.instance-group {
  width: 25.688rem;
  position: relative;
  height: 22.438rem;
  z-index: 2;
  font-size: var(--font-size-5xl);
}
.icon {
  top: 4rem;
  left: 17.625rem;
  border-radius: var(--br-3xs);
  width: 7.225rem;
  height: 7.25rem;
  object-fit: cover;
}
.div10,
.icon,
.icon1 {
  position: absolute;
}
.icon1 {
  top: 14.313rem;
  left: 17.625rem;
  border-radius: var(--br-3xs);
  width: 7.25rem;
  height: 7.25rem;
  object-fit: cover;
}
.div10 {
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
}
.instance-container {
  width: 25.688rem;
  position: relative;
  height: 22.438rem;
  z-index: 3;
}
.icon2,
.icon3,
.icon4 {
  width: 7.225rem;
  position: absolute;
  margin: 0 !important;
  top: 51.375rem;
  left: 17.625rem;
  border-radius: var(--br-3xs);
  height: 7.25rem;
  object-fit: cover;
  z-index: 4;
}
.icon3,
.icon4 {
  top: 61.688rem;
  z-index: 5;
}
.icon4 {
  width: 7.2rem;
  top: 27.688rem;
  z-index: 6;
}
.frame-group {
  position: absolute;
  top: 11.688rem;
  left: 0.563rem;
  height: 100.438rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 0 transparent;
  border-top: 1px solid var(--color-silver-100);
  border-bottom: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 26.875rem;
  height: 10.25rem;
}
.div11,
.frame-item {
  position: absolute;
  top: 1.375rem;
  left: 1.375rem;
}
.frame-item {
  top: 6.313rem;
  left: 1.5rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  width: 23.813rem;
  height: 2.5rem;
}
.div12 {
  position: absolute;
  top: 6.813rem;
  left: 7.625rem;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frame-div {
  top: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 0 transparent;
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  height: 10.25rem;
  font-size: var(--font-size-5xl);
}
.frame-div,
.frame-parent,
.image-4-icon {
  position: absolute;
  left: 0;
  width: 26.875rem;
}
.frame-parent {
  top: 21.438rem;
  height: 36.813rem;
  overflow-y: auto;
}
.image-4-icon {
  top: 0;
  height: 12.625rem;
  object-fit: cover;
}
.div13,
.div14 {
  position: absolute;
  width: calc(100% - 326px);
  bottom: 2.563rem;
  left: 4.875rem;
  display: flex;
  align-items: center;
  height: 1.813rem;
}
.div14 {
  width: calc(100% - 290px);
  left: 13.25rem;
  cursor: pointer;
}
.frame-inner {
  position: absolute;
  width: calc(100% - 429px);
  right: 14.531rem;
  bottom: 2.531rem;
  left: 12.281rem;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1.875rem;
}
.group {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  height: 6.938rem;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
