.group-child8,
.group-child9 {
  position: absolute;
  background-color: var(--color-white);
  box-sizing: border-box;
}
.group-child8 {
  top: 0;
  left: 0;
  border-top: 1px solid var(--color-lightgray-100);
  border-bottom: 1px solid var(--color-lightgray-100);
  width: 26.875rem;
  height: 11.563rem;
}
.group-child9 {
  top: 1.375rem;
  left: calc(50% - 199px);
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-silver-100);
  width: 24.25rem;
  height: 5.813rem;
}
.p62 {
  margin: 0;
}
.txt13 {
  width: 100%;
}
.div130 {
  position: absolute;
  top: 1.375rem;
  left: 2.625rem;
  font-size: var(--font-size-5xl);
  display: flex;
  align-items: center;
  width: 23.438rem;
  height: 5.375rem;
}
.div131,
.group-child10 {
  position: absolute;
  top: 8.563rem;
  left: 2.625rem;
}
.group-child10 {
  top: 8.188rem;
  left: 20.063rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 4.75rem;
  height: 2.188rem;
}
.div132 {
  position: absolute;
  top: 8.563rem;
  left: 21.25rem;
}
.rectangle-parent16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26.875rem;
  height: 11.563rem;
}
.group-child11,
.group-child12,
.rectangle-input {
  background-color: var(--color-white);
  position: absolute;
  box-sizing: border-box;
}
.group-child11 {
  top: 0;
  left: 0;
  border-top: 1px solid var(--color-lightgray-100);
  border-bottom: 1px solid var(--color-lightgray-100);
  width: 26.875rem;
  height: 17.063rem;
}
.group-child12,
.rectangle-input {
  border: 1px solid var(--color-silver-100);
  outline: 0;
  top: 6.688rem;
  left: calc(50% - 194px);
  border-radius: var(--br-3xs);
  width: 24.25rem;
  height: 2.625rem;
}
.group-child12 {
  top: 13rem;
}
.div133,
.div134,
.div135 {
  position: absolute;
  top: 1.188rem;
  left: 1.625rem;
}
.div134,
.div135 {
  top: 3.938rem;
  left: 2.625rem;
}
.div135 {
  top: 10.25rem;
}
.group-child13,
.rectangle-parent17 {
  position: absolute;
  left: 0;
  width: 26.875rem;
}
.rectangle-parent17 {
  top: 11.563rem;
  height: 17.063rem;
  font-size: var(--font-size-5xl);
}
.group-child13 {
  top: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  height: 10.813rem;
}
.div136,
.div137,
.div138 {
  position: absolute;
  left: 1.75rem;
}
.div136 {
  top: 1.813rem;
  font-size: var(--font-size-5xl);
}
.div137,
.div138 {
  top: 5rem;
}
.div138 {
  left: 19rem;
  text-align: right;
}
.group-container,
.rectangle-parent18 {
  position: absolute;
  left: 0;
  width: 26.875rem;
}
.rectangle-parent18 {
  top: 53.688rem;
  height: 10.813rem;
  font-size: var(--font-size-3xl);
}
.group-container {
  top: 8.688rem;
  height: 71.75rem;
  overflow-y: auto;
}
.div139 {
  top: 5.938rem;
  left: 7.5rem;
  display: flex;
  align-items: center;
  width: 7.438rem;
  height: 2.938rem;
}
.div139,
.div140,
.div141 {
  position: absolute;
}
.div140 {
  top: 5.938rem;
  left: 15.625rem;
  font-size: var(--font-size-base);
  text-align: right;
  display: flex;
  align-items: center;
  width: 9.625rem;
  height: 2.938rem;
}
.div141 {
  top: 6.688rem;
  left: 1.625rem;
  color: var(--color-cornflowerblue);
}
.won-icon2 {
  position: absolute;
  top: 6.75rem;
  left: 6.25rem;
  width: 1.25rem;
  height: 1.25rem;
  object-fit: cover;
}
.group-child14,
.group-child15 {
  position: absolute;
  border-radius: var(--br-3xs);
}
.group-child14 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 26.875rem;
  height: 7.25rem;
}
.group-child15 {
  top: 3.313rem;
  left: 4.813rem;
  background-color: var(--color-mediumaquamarine);
  width: 17.188rem;
  height: 2.688rem;
}
.div142,
.div143 {
  position: absolute;
  top: 3.813rem;
  left: 7.688rem;
}
.div143 {
  top: 1.25rem;
  left: 6.688rem;
  color: var(--color-lightgray-100);
}
.group-child16 {
  position: absolute;
  top: 1.5rem;
  left: 5rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;
}
.order-inner,
.rectangle-parent19 {
  position: absolute;
  left: 0;
  width: 26.875rem;
  height: 7.25rem;
}
.rectangle-parent19 {
  top: 0;
}
.order-inner {
  top: 51.063rem;
  overflow-y: auto;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.order {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
