
.p29 {
  margin: 0;
}
.txt6 {
  width: 100%;
}
.div16 {
  position: absolute;
  top: 48.688rem;
  left: 12rem;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.div15 {
  position: absolute;
  top: 3.438rem;
  left: 2.063rem;
  display: flex;
  align-items: center;
  width: 23.438rem;
  height: 8.938rem;
}
.component-33 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 12.313rem;
  left: 1.375rem;
  width: 23.5rem;
  height: 2.5rem; /* 모든 컴포넌트가 같은 높이를 가지도록 조정 */
}

.search-icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  margin-right: 0.5rem; /* 아이콘과 입력 필드 사이의 간격 */
}

.component-33-item {
  flex-grow: 1;
  border: 1px solid var(--color-gainsboro-100);
  background-color: var(--color-gainsboro-200);
  height: 100%;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  outline: 0;
}

.confirm-button {
  background-color: var(--color-mediumaquamarine);
  border: none;
  border-radius: var(--br-3xs);
  cursor: pointer;
  width: 5rem;
  height: 2.5rem; /* 버튼의 높이를 아이콘과 동일하게 조정 */
}

.setaddress {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: 2.25rem;
  color: var(--color-black);
  font-family: var(--font-inter);
}

.setaddress2-child {
  position: absolute;
  top: 47.813rem;
  left: 4.563rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 17.688rem;
  height: 4rem;
  cursor: pointer;
}