.setaddress2-child {
  position: absolute;
  top: 47.813rem;
  left: 4.563rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 17.688rem;
  height: 4rem;
  cursor: pointer;
}
.div16,
.div17 {
  position: absolute;
  top: 48.688rem;
  left: 12rem;
}
.div17 {
  top: 6.938rem;
  left: 2.125rem;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  display: flex;
  align-items: center;
  width: 23.438rem;
  height: 5.375rem;
}
.setaddress2-item {
  border: 1px solid var(--color-gainsboro-100);
  outline: 0;
  background-color: var(--color-gainsboro-200);
  position: absolute;
  top: 12.313rem;
  left: 1.688rem;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 23.5rem;
  height: 5rem;
}
.setaddress2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
