.div128 {
  position: absolute;
  top: 10.438rem;
  left: 6.313rem;
}
.input {
  outline: 0;
  top: 15.313rem;
  left: calc(50% - 195px);
  width: 19.125rem;
  height: 2.813rem;
}
.input,
.setphone-child,
.setphone-item {
  border: 1px solid var(--color-silver-100);
  background-color: var(--color-white);
  position: absolute;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.setphone-child {
  outline: 0;
  top: 20.125rem;
  left: calc(50% - 195px);
  width: 24.313rem;
  height: 4.375rem;
}
.setphone-item {
  cursor: pointer;
  padding: 0;
  top: 15.313rem;
  left: calc(50% + 128px);
  width: 4.125rem;
  height: 2.813rem;
}
.div129 {
  position: absolute;
  top: 15.813rem;
  left: 22.063rem;
  font-size: var(--font-size-5xl);
}
.close-icon {
  position: absolute;
  top: 2.438rem;
  right: 23.188rem;
  width: 1.688rem;
  height: 1.625rem;
  object-fit: cover;
}
.setphone {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
