.close-icon3 {
  position: absolute;
  top: 2.063rem;
  right: 1.938rem;
  width: 2.813rem;
  height: 3.25rem;
  object-fit: cover;
}
.frame-child7 {
  width: 0.75rem;
  position: relative;
  background-color: var(--color-black);
  height: 0.5rem;
}
.start-inner {
  position: absolute;
  top: 22.75rem;
  left: 4.5rem;
  width: 17.875rem;
  height: 12.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 5.437rem var(--padding-39xl);
  box-sizing: border-box;
  background-image: url(/public/baemin/frame-29@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.start {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 58.25rem;
  overflow: hidden;
}


.start-child {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--br-3xs);
}

/* 버튼 내부 래퍼 스타일 */
.wrapper5 {
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumaquamarine);
  padding: 1rem 2rem; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 버튼의 그림자 효과 */
}
.wrapper5>p{
  text-align: center;
  width: fit-content;
  display:flex;
  font-size:3rem;
  white-space: nowrap;
  margin:0;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
