.div144 {
  position: absolute;
  top: 6.125rem;
  left: 9.75rem;
  font-size: var(--font-size-13xl);
}
.close-icon1 {
  position: absolute;
  top: 1.438rem;
  right: 23.938rem;
  width: 1.688rem;
  height: 1.625rem;
  object-fit: cover;
}
.group-child17,
.usecoupon-child {
  position: absolute;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 19rem;
  height: 2.625rem;
}
.usecoupon-child {
  top: 10rem;
  left: calc(50% - 194px);
}
.group-child17 {
  top: 0;
  left: calc(50% - 152px);
}
.div145 {
  position: absolute;
  top: 0.563rem;
  left: 7.188rem;
}
.rectangle-parent20 {
  position: absolute;
  top: 53.5rem;
  left: calc(50% - 152px);
  width: 19rem;
  height: 2.625rem;
  cursor: pointer;
  font-size: var(--font-size-xl);
}
.usecoupon-inner,
.usecoupon-item {
  position: absolute;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
}
.usecoupon-item {
  top: 14.625rem;
  left: calc(50% - 194px);
  width: 24.313rem;
  height: 8.25rem;
}
.usecoupon-inner {
  top: 10rem;
  left: 21.438rem;
  width: 4.188rem;
  height: 2.625rem;
}
.div146 {
  position: absolute;
  top: 10.438rem;
  left: 22.25rem;
}
.p68 {
  margin: 0;
}
.div147,
.div148 {
  position: absolute;
  top: 15.625rem;
  left: 2.75rem;
}
.div148 {
  top: 19.5rem;
  font-size: var(--font-size-base);
}
.usecoupon,
.usecoupon-child1 {
  background-color: var(--color-white);
}
.usecoupon-child1 {
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 17.938rem;
  left: 22.75rem;
  border-radius: 50%;
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1.563rem;
  height: 1.563rem;
}
.usecoupon {
  width: 100%;
  position: relative;
  height: 58.25rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
