.icon11,
.p44 {
  position: absolute;
}
.icon11 {
  top: 25px;
  left: 2px;
  max-height: 100%;
  width: 252px;
  object-fit: cover;
}
.p44 {
  margin: 0;
  top: 0;
  left: 0;
}
.zpph5soiydoswqrblac-en9rwdppzi-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 103px;
  object-fit: cover;
}
.p45 {
  top: 103px;
  left: 3px;
  display: inline-block;
  width: 104px;
}
.kcal,
.p45,
.p46,
.ul {
  margin: 0;
  position: absolute;
}
.kcal {
  top: 134px;
  left: 31px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.p46,
.ul {
  left: 18px;
}
.p46 {
  top: 116px;
  font-size: var(--num-size);
}
.ul {
  top: 6px;
  width: 97px;
  height: 146px;
  cursor: pointer;
}
.fvj4a6klki3ofoh8qdlz-ik7lau7mw-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 77px;
  object-fit: cover;
}
.p47 {
  margin: 0;
  position: absolute;
  top: 72px;
  left: 3px;
  display: inline-block;
  width: 79px;
  height: 13px;
}
.kcal1 {
  top: 106px;
  left: 24px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kcal1,
.p48,
.ul1 {
  margin: 0;
  position: absolute;
}
.p48 {
  top: 88px;
  left: 12px;
  font-size: var(--num-size);
}
.ul1 {
  top: 178px;
  left: 24px;
  width: 85px;
  height: 116px;
  cursor: pointer;
}
.gtsjfh-czvksa2qe7kf7ejf2vrhjqz-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 102px;
  height: 108px;
  object-fit: cover;
}
.p49 {
  top: 119px;
  left: 20px;
}
.kcal2,
.p49,
.p50,
.ul2 {
  margin: 0;
  position: absolute;
}
.kcal2 {
  top: 136px;
  left: 32px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.p50,
.ul2 {
  top: 106px;
  left: 30px;
  font-size: var(--menu-size);
}
.ul2 {
  top: 4px;
  left: 137px;
  width: 102px;
  height: 148px;
  cursor: pointer;
  font-size: var(--num-size);
}
.gi9yxjm4c7a-5wawetfoncpnjkxwrj-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 117px;
  height: 119px;
  object-fit: cover;
}
.p51 {
  margin: 0;
  position: absolute;
  top: 113px;
  left: 22px;
}
.kcal3 {
  top: 146px;
  left: 39px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kcal3,
.p52,
.ul3 {
  margin: 0;
  position: absolute;
}
.p52 {
  top: 129px;
  left: 29px;
  font-size: var(--num-size);
}
.ul3 {
  top: 137px;
  left: 130px;
  width: 117px;
  height: 157px;
  cursor: pointer;
}
.div39 {
  width: 252px;
  position: relative;
  height: 294px;
  font-size: var(--menu-size);
}
.kcal4,
.p53,
.p54 {
  margin: 0;
  position: absolute;
}
.kcal4 {
  top: 140px;
  left: 45px;
  color: var(--kcal);
}
.p53,
.p54 {
  top: 123px;
  left: 35px;
  font-size: var(--num-size);
}
.p54 {
  top: 110px;
  left: 37px;
  font-size: var(--menu-size);
}
.ul4 {
  top: 0;
  left: 0;
  width: 123px;
  height: 153px;
  cursor:pointer;
}
.kcal5,
.p55,
.p56,
.ul4 {
  margin: 0;
  position: absolute;
}
.kcal5 {
  top: 140px;
  left: 48px;
  color: var(--kcal);
}
.p55,
.p56 {
  top: 123px;
  left: 36px;
  font-size: var(--num-size);
}
.p56 {
  top: 107px;
  left: 32px;
  font-size: var(--menu-size);
}
.b-removebg-preview-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 123px;
  object-fit: cover;
}
.p57,
.p58,
.ul5 {
  margin: 0;
  position: absolute;
}
.ul5 {
  top: 143px;
  left: 0;
  width: 123px;
  height: 151px;
  cursor:pointer;
}
.p57,
.p58 {
  top: 120px;
  left: 33px;
}
.p58 {
  top: 107px;
  left: 25px;
  font-size: var(--menu-size);
}
.kcal6 {
  top: 137px;
  left: 43px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kcal6,
.kcal7,
.ul6 {
  margin: 0;
  position: absolute;
}
.ul6 {
  top: 3px;
  left: 129px;
  width: 123px;
  height: 150px;
  font-size: var(--num-size);
  cursor:pointer;
}
.kcal7 {
  top: 140px;
  left: 41px;
  color: var(--kcal);
}
.p59 {
  top: 123px;
  left: 29px;
  font-size: var(--num-size);
}
.p59,
.p60,
.ul7 {
  margin: 0;
  position: absolute;
}
.p60 {
  top: 107px;
  left: 12px;
  font-size: var(--menu-size);
  display: inline-block;
  width: 111px;
}
.ul7 {
  top: 143px;
  left: 129px;
  width: 123px;
  height: 151px;
  cursor:pointer;
}
.div40 {
  width: 252px;
  position: relative;
  height: 294px;
}
.unnamed-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 88.3px;
  height: 74.2px;
  object-fit: cover;
}
.kcal8,
.p61 {
  margin: 0;
  font-family: var(--num);
  text-align: center;
}
.kcal8 {
  position: absolute;
  top: 101px;
  left: 25px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.p61 {
  top: 84px;
  left: 15px;
  font-size: var(--num-size);
  color: var(--color-black);
}
.button29,
.p61,
.p62 {
  position: absolute;
}
.p62 {
  margin: 0;
  top: 71px;
  left: 12px;
  font-size: var(--menu-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}
.button29 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 39px;
  left: 20px;
  width: 88.3px;
  height: 114px;
}
.mcdonalds-side-macwings-menu-0-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106.7px;
  height: 70.5px;
  object-fit: cover;
}
.kcal9,
.p63 {
  margin: 0;
  font-family: var(--num);
  text-align: center;
}
.kcal9 {
  position: absolute;
  top: 99px;
  left: 35px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.p63 {
  top: 82px;
  left: 20px;
  font-size: var(--num-size);
  color: var(--color-black);
}
.button30,
.p63,
.p64 {
  position: absolute;
}
.p64 {
  margin: 0;
  top: 66px;
  left: 42px;
  font-size: var(--menu-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}
.button30 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 184px;
  left: 11px;
  width: 106.7px;
  height: 110px;
}
.icon12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 77.3px;
  height: 83.6px;
  object-fit: cover;
}
.kcal10,
.p65 {
  margin: 0;
  font-family: var(--num);
  text-align: center;
}
.kcal10 {
  position: absolute;
  top: 107.6px;
  left: 17.3px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.p65 {
  top: 90.6px;
  left: 4.3px;
  font-size: var(--num-size);
  color: var(--color-black);
}
.button31,
.p65,
.p66 {
  position: absolute;
}
.p66 {
  margin: 0;
  top: 74.6px;
  left: 15.3px;
  font-size: var(--menu-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}
.button31 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 175.4px;
  left: 149.7px;
  width: 77.3px;
  height: 118.6px;
}
.removebg-preview-1-icon3 {
  position: absolute;
  top: 0;
  left: 15px;
  width: 80px;
  height: 67.7px;
  object-fit: cover;
}
.kcal11,
.p67 {
  margin: 0;
  font-family: var(--num);
  text-align: center;
}
.kcal11 {
  position: absolute;
  top: 86.8px;
  left: 36px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.p67 {
  top: 69.8px;
  left: 26px;
  font-size: var(--num-size);
  color: var(--color-black);
}
.button32,
.p67,
.p68 {
  position: absolute;
}
.p68 {
  margin: 0;
  top: 56.8px;
  left: 0;
  font-size: var(--menu-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 120px;
}
.button32 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 53.2px;
  left: 132px;
  width: 108px;
  height: 99.8px;
}
.kcal12,
.p69,
.p70 {
  margin: 0;
  position: absolute;
}
.kcal12 {
  top: 130px;
  left: 20px;
  color: var(--kcal);
}
.p69,
.p70 {
  top: 113px;
  left: 9px;
  font-size: var(--num-size);
}
.p70 {
  top: 100px;
  left: 18px;
  font-size: var(--menu-size);
}
.png-clipart-fizzy-drinks-coca-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 78px;
  height: 98px;
  object-fit: cover;
}
.ul8 {
  top: 10px;
  left: 28px;
  width: 78px;
  height: 143px;
  cursor:pointer;
}
.kcal13,
.p71,
.p72,
.ul8 {
  margin: 0;
  position: absolute;
}
.kcal13 {
  top: 109px;
  left: 11px;
  color: var(--kcal);
}
.p71,
.p72 {
  top: 91px;
  left: 0;
  font-size: var(--num-size);
}
.p72 {
  top: 78px;
  left: 4px;
  font-size: var(--menu-size);
}
.image-3-icon1 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 55px;
  height: 71px;
  object-fit: cover;
}
.ul9 {
  top: 32px;
  left: 156px;
  width: 58px;
  height: 121px;
  cursor:pointer;
}
.kcal14,
.p73,
.p74,
.ul9 {
  margin: 0;
  position: absolute;
}
.kcal14 {
  top: 120px;
  left: 20px;
  color: var(--kcal);
}
.p73,
.p74 {
  top: 105px;
  left: 6px;
  font-size: var(--num-size);
}
.p74 {
  top: 87px;
  left: 9px;
  font-size: var(--menu-size);
}
.image-2-icon1,
.ul10 {
  position: absolute;
  width: 70px;
}
.image-2-icon1 {
  top: 0;
  left: 0;
  height: 88px;
  object-fit: cover;
}
.ul10 {
  margin: 0;
  top: 163px;
  left: 32px;
  height: 131px;
  cursor:pointer;
}
.menu,
.menuframe {
  position: absolute;
  left: 0;
}
.menu {
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.menuframe {
  top: 42px;
  width: 252px;
  height: 294px;
  overflow-x: auto;
  text-align: center;
  font-size: var(--kcal-1-size);
}
.section3 {
  position: absolute;
  top: 141px;
  left: 99px;
  width: 254px;
  height: 336px;
  overflow: hidden;
  text-align: left;
  font-size: var(--num-size);
  color: var(--color-black);
  font-family: var(--num);
}

.line1 {
  position: absolute;
  width: 250px;
  top: 28px;
}

::-webkit-scrollbar {
  display: none; /* 스크롤바를 숨김 */
}