.p40,
.w2 {
  margin: 0;
  position: absolute;
}
.w2 {
  top: 0;
  left: 6px;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}
.p40 {
  top: 22px;
  left: 7px;
  font-size: var(--kcal-1-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}
.button25 {
  cursor: pointer;
  border: 2px solid var(--color-gainsboro);
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 56px;
  height: 57px;
}
.button25,
.button26,
.p41 {
  position: absolute;
}
.p41 {
  margin: 0;
  top: 21px;
  left: 3px;
  font-size: var(--kcal-1-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}
.button26 {
  cursor: pointer;
  border: 2px solid var(--color-gainsboro);
  padding: 0;
  background-color: transparent;
  top: 78px;
  left: 0;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 56px;
  height: 57px;
}
.p42 {
  margin: 0;
  top: 20px;
  left: 16px;
  font-size: var(--kcal-1-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}
.button27,
.p42,
.p43 {
  position: absolute;
}
.button27 {
  cursor: pointer;
  border: 2px solid var(--color-gainsboro);
  padding: 0;
  background-color: transparent;
  top: 234px;
  left: 0;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 56px;
  height: 57px;
}
.p43 {
  margin: 0;
  top: 20px;
  left: -5px;
  font-size: var(--kcal-1-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 65px;
}
.button28,
.section1,
.section2 {
  position: absolute;
  left: 0;
  width: 56px;
}
.button28 {
  cursor: pointer;
  border: 2px solid var(--color-gainsboro);
  padding: 0;
  background-color: transparent;
  top: 156px;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  height: 57px;
}
.section1,
.section2 {
  top: 72px;
  height: 291px;
  overflow: hidden;
}
.section1 {
  top: 131px;
  left: 21px;
  height: 363px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-gold);
  font-family: var(--font-krub);
}

.button26.active,
.button27.active,
.button28.active,
.button25.active {
  border-color: #F4AA41; /* 클릭된 상태의 테두리 색 */
}