.kiosc_icon11,
.kiosc_p44 {
  position: absolute;
}
.kiosc_icon11 {
  top: 25px;
  left: 2px;
  max-height: 100%;
  width: 252px;
  object-fit: cover;
}
.kiosc_p44 {
  margin: 0;
  top: 0;
  left: 0;
}
.kiosc_zpph5soiydoswqrblac-en9rwdppzi-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 103px;
  object-fit: cover;
}
.kiosc_p45 {
  top: 103px;
  left: 3px;
  display: inline-block;
  width: 104px;
}
.kiosc_kcal,
.kiosc_p45,
.kiosc_p46,
.kiosc_ul {
  margin: 0;
  position: absolute;
}
.kiosc_kcal {
  top: 134px;
  left: 31px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kiosc_p46,
.kiosc_ul {
  left: 18px;
}
.kiosc_p46 {
  top: 116px;
  font-size: var(--num-size);
}
.kiosc_ul {
  top: 6px;
  width: 97px;
  height: 146px;
  cursor: pointer;
}
.kiosc_fvj4a6klki3ofoh8qdlz-ik7lau7mw-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  height: 77px;
  object-fit: cover;
}
.kiosc_p47 {
  margin: 0;
  position: absolute;
  top: 72px;
  left: 3px;
  display: inline-block;
  width: 79px;
  height: 13px;
}
.kiosc_kcal1 {
  top: 106px;
  left: 24px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kiosc_kcal1,
.kiosc_p48,
.kiosc_ul1 {
  margin: 0;
  position: absolute;
}
.kiosc_p48 {
  top: 88px;
  left: 12px;
  font-size: var(--num-size);
}
.kiosc_ul1 {
  top: 178px;
  left: 24px;
  width: 85px;
  height: 116px;
  cursor: pointer;
}
.kiosc_gtsjfh-czvksa2qe7kf7ejf2vrhjqz-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 102px;
  height: 108px;
  object-fit: cover;
}
.kiosc_p49 {
  top: 119px;
  left: 20px;
}
.kiosc_kcal2,
.kiosc_p49,
.kiosc_p50,
.kiosc_ul2 {
  margin: 0;
  position: absolute;
}
.kiosc_kcal2 {
  top: 136px;
  left: 32px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kiosc_p50,
.kiosc_ul2 {
  top: 106px;
  left: 30px;
  font-size: var(--menu-size);
}
.kiosc_ul2 {
  top: 4px;
  left: 137px;
  width: 102px;
  height: 148px;
  cursor: pointer;
  font-size: var(--num-size);
}
.kiosc_gi9yxjm4c7a-5wawetfoncpnjkxwrj-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 117px;
  height: 119px;
  object-fit: cover;
}
.kiosc_p51 {
  margin: 0;
  position: absolute;
  top: 113px;
  left: 22px;
}
.kiosc_kcal3 {
  top: 146px;
  left: 39px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kiosc_kcal3,
.kiosc_p52,
.kiosc_ul3 {
  margin: 0;
  position: absolute;
}
.kiosc_p52 {
  top: 129px;
  left: 29px;
  font-size: var(--num-size);
}
.kiosc_ul3 {
  top: 137px;
  left: 130px;
  width: 117px;
  height: 157px;
  cursor: pointer;
}
.kiosc_div39 {
  width: 252px;
  position: relative;
  height: 294px;
  font-size: var(--menu-size);
}
.kiosc_kcal4,
.kiosc_p53,
.kiosc_p54 {
  margin: 0;
  position: absolute;
}
.kiosc_kcal4 {
  top: 140px;
  left: 45px;
  color: var(--kcal);
}
.kiosc_p53,
.kiosc_p54 {
  top: 123px;
  left: 35px;
  font-size: var(--num-size);
}
.kiosc_p54 {
  top: 110px;
  left: 37px;
  font-size: var(--menu-size);
}
.kiosc_ul4 {
  top: 0;
  left: 0;
  width: 123px;
  height: 153px;
  cursor: pointer;
}
.kiosc_kcal5,
.kiosc_p55,
.kiosc_p56,
.kiosc_ul4 {
  margin: 0;
  position: absolute;
}
.kiosc_kcal5 {
  top: 140px;
  left: 48px;
  color: var(--kcal);
}
.kiosc_p55,
.kiosc_p56 {
  top: 123px;
  left: 36px;
  font-size: var(--num-size);
}
.kiosc_p56 {
  top: 107px;
  left: 32px;
  font-size: var(--menu-size);
}
.kiosc_b-removebg-preview-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 123px;
  object-fit: cover;
}
.kiosc_p57,
.kiosc_p58,
.kiosc_ul5 {
  margin: 0;
  position: absolute;
}
.kiosc_ul5 {
  top: 143px;
  left: 0;
  width: 123px;
  height: 151px;
  cursor:pointer;
}
.kiosc_p57,
.kiosc_p58 {
  top: 120px;
  left: 33px;
}
.kiosc_p58 {
  top: 107px;
  left: 25px;
  font-size: var(--menu-size);
}
.kiosc_kcal6 {
  top: 137px;
  left: 43px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kiosc_kcal6,
.kiosc_kcal7,
.kiosc_ul6 {
  margin: 0;
  position: absolute;
}
.kiosc_ul6 {
  top: 3px;
  left: 129px;
  width: 123px;
  height: 150px;
  font-size: var(--num-size);
  cursor:pointer;
}
.kiosc_kcal7 {
  top: 140px;
  left: 41px;
  color: var(--kcal);
}
.kiosc_p59 {
  top: 123px;
  left: 29px;
  font-size: var(--num-size);
}
.kiosc_p59,
.kiosc_p60,
.kiosc_ul7 {
  margin: 0;
  position: absolute;
}
.kiosc_p60 {
  top: 107px;
  left: 12px;
  font-size: var(--menu-size);
  display: inline-block;
  width: 111px;
}
.kiosc_ul7 {
  top: 143px;
  left: 129px;
  width: 123px;
  height: 151px;
  cursor:pointer;
}
.kiosc_div40 {
  width: 252px;
  position: relative;
  height: 294px;
}
.kiosc_unnamed-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 88.3px;
  height: 74.2px;
  object-fit: cover;
}
.kiosc_kcal8,
.kiosc_p61 {
  margin: 0;
  font-family: var(--num);
  text-align: center;
}
.kiosc_kcal8 {
  position: absolute;
  top: 101px;
  left: 25px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kiosc_p61 {
  top: 84px;
  left: 15px;
  font-size: var(--num-size);
  color: var(--color-black);
}
.kiosc_button29,
.kiosc_p61,
.kiosc_p62 {
  position: absolute;
}
.kiosc_p62 {
  margin: 0;
  top: 71px;
  left: 12px;
  font-size: var(--menu-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}
.kiosc_button29 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 39px;
  left: 20px;
  width: 88.3px;
  height: 114px;
}
.kiosc_mcdonalds-side-macwings-menu-0-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106.7px;
  height: 70.5px;
  object-fit: cover;
}
.kiosc_kcal9,
.kiosc_p63 {
  margin: 0;
  font-family: var(--num);
  text-align: center;
}
.kiosc_kcal9 {
  position: absolute;
  top: 99px;
  left: 35px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kiosc_p63 {
  top: 82px;
  left: 20px;
  font-size: var(--num-size);
  color: var(--color-black);
}
.kiosc_button30,
.kiosc_p63,
.kiosc_p64 {
  position: absolute;
}
.kiosc_p64 {
  margin: 0;
  top: 66px;
  left: 42px;
  font-size: var(--menu-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}
.kiosc_button30 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 184px;
  left: 11px;
  width: 106.7px;
  height: 110px;
}
.kiosc_icon12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 77.3px;
  height: 83.6px;
  object-fit: cover;
}
.kiosc_kcal10,
.kiosc_p65 {
  margin: 0;
  font-family: var(--num);
  text-align: center;
}
.kiosc_kcal10 {
  position: absolute;
  top: 107.6px;
  left: 17.3px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kiosc_p65 {
  top: 90.6px;
  left: 4.3px;
  font-size: var(--num-size);
  color: var(--color-black);
}
.kiosc_button31,
.kiosc_p65,
.kiosc_p66 {
  position: absolute;
}
.kiosc_p66 {
  margin: 0;
  top: 74.6px;
  left: 15.3px;
  font-size: var(--menu-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}
.kiosc_button31 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 175.4px;
  left: 149.7px;
  width: 77.3px;

  height: 118.6px;
}
.removebg-preview-1-icon3 {
  position: absolute;
  top: 0;
  left: 15px;
  width: 80px;
  height: 67.7px;
  object-fit: cover;
}
.kcal11,
.p67 {height: 118.6px;
}
.kiosc_removebg-preview-1-icon3 {
  position: absolute;
  top: 0;
  left: 15px;
  width: 80px;
  height: 67.7px;
  object-fit: cover;
}
.kiosc_kcal11,
.kiosc_p67 {
  margin: 0;
  font-family: var(--num);
  text-align: center;
}
.kiosc_kcal11 {
  position: absolute;
  top: 86.8px;
  left: 36px;
  font-size: var(--kcal-1-size);
  color: var(--kcal);
}
.kiosc_p67 {
  top: 69.8px;
  left: 26px;
  font-size: var(--num-size);
  color: var(--color-black);
}
.kiosc_button32,
.kiosc_p67,
.kiosc_p68 {
  position: absolute;
}
.kiosc_p68 {
  margin: 0;
  top: 56.8px;
  left: 0;
  font-size: var(--menu-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 120px;
}
.kiosc_button32 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 53.2px;
  left: 132px;
  width: 108px;
  height: 99.8px;
}
.kiosc_kcal12,
.kiosc_p69,
.kiosc_p70 {
  margin: 0;
  position: absolute;
}
.kiosc_kcal12 {
  top: 130px;
  left: 20px;
  color: var(--kcal);
}
.kiosc_p69,
.kiosc_p70 {
  top: 113px;
  left: 9px;
  font-size: var(--num-size);
}
.kiosc_p70 {
  top: 100px;
  left: 18px;
  font-size: var(--menu-size);
}
.kiosc_png-clipart-fizzy-drinks-coca-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 78px;
  height: 98px;
  object-fit: cover;
}
.kiosc_ul8 {
  top: 10px;
  left: 28px;
  width: 78px;
  height: 143px;
  cursor:pointer;
}
.kiosc_kcal13,
.kiosc_p71,
.kiosc_p72,
.kiosc_ul8 {
  margin: 0;
  position: absolute;
}
.kiosc_kcal13 {
  top: 109px;
  left: 11px;
  color: var(--kcal);
}
.kiosc_p71,
.kiosc_p72 {
  top: 91px;
  left: 0;
  font-size: var(--num-size);
}
.kiosc_p72 {
  top: 78px;
  left: 4px;
  font-size: var(--menu-size);
}
.kiosc_image-3-icon1 {
  position: absolute;
  top: 0;
  left: 3px;
  width: 55px;
  height: 71px;
  object-fit: cover;
}
.kiosc_ul9 {
  top: 32px;
  left: 156px;
  width: 58px;
  height: 121px;
  cursor:pointer;
}
.kiosc_kcal14,
.kiosc_p73,
.kiosc_p74,
.kiosc_ul9 {
  margin: 0;
  position: absolute;
}
.kiosc_kcal14 {
  top: 120px;
  left: 20px;
  color: var(--kcal);
}
.kiosc_p73,
.kiosc_p74 {
  top: 105px;
  left: 6px;
  font-size: var(--num-size);
}
.kiosc_p74 {
  top: 87px;
  left: 9px;
  font-size: var(--menu-size);
}
.kiosc_image-2-icon1,
.kiosc_ul10 {
  position: absolute;
  width: 70px;
}
.kiosc_image-2-icon1 {
  top: 0;
  left: 0;
  height: 88px;
  object-fit: cover;
}
.kiosc_ul10 {
  margin: 0;
  top: 163px;
  left: 32px;
  height: 131px;
  cursor:pointer;
}
.kiosc_menu,
.kiosc_menuframe {
  position: absolute;
  left: 0;
}
.kiosc_menu {
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.kiosc_menuframe {
  top: 42px;
  width: 252px;
  height: 294px;
  overflow-x: auto;
  text-align: center;
  font-size: var(--kcal-1-size);
}
.kiosc_section3 {
  position: absolute;
  top: 141px;
  left: 99px;
  width: 254px;
  height: 336px;
  overflow: hidden;
  text-align: left;
  font-size: var(--num-size);
  color: var(--color-black);
  font-family: var(--num);
}

.kiosc_line1 {
  position: absolute;
  width: 250px;
  top: 28px;
}

::-webkit-scrollbar {
  display: none; /* 스크롤바를 숨김 */
}
