.kiosc_icon10 {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.kiosc_p35,
.kiosc_p36,
.kiosc_p37,
.kiosc_p38,
.kiosc_p39 {
  font-size: small;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  color: var(--color-black);
}

.kiosc_button18 {
  position: relative;
}

.kiosc_child16 {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-goldenrod);
  width: 50px;
  height: 50px;
}

.kiosc_div23 {
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 13px;
  font-size: var(--font-size-smi);
  font-family: var(--num);
  color: var(--color-black);
  text-align: left;
}

.kiosc_order-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.kiosc_orderlist {
  flex-grow: 1;
  margin-left: 10px;
}

.kiosc_button18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kiosc_section {
  position: absolute;
  top: 118px;
  left: 15px;
  width: 344px;
  height: 450px;
  text-align: left;
  font-size: var(--num-size);
  color: var(--kcal);
  font-family: var(--num);
  overflow: auto;
}

.kiosc_p8 {
  position: absolute;
  margin: 0;
  top: 575px;
  left: 220px;
  text-align: center;
  color: black;
}
