.kiosc_barcode-icon1,
.kiosc_cardreader-icon2,
.kiosc_receipt-icon1 {
  width: 97.7px;
  position: relative;
  height: 48.2px;
  object-fit: cover;
  cursor: pointer;
}
.kiosc_cardreader-icon2,
.kiosc_receipt-icon1 {
  width: 130px;
  height: 169px;
}
.kiosc_receipt-icon1 {
  width: 125px;
  height: 23px;
}
.kiosc_frame2 {
  position: absolute;
  top: 731px;
  left: 28px;
  width: 374px;
  height: 169px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
