.div20 {
  position: absolute;
  top: 91px;
  left: 24px;
  font-size: var(--menu-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}
.png-clipart-fizzy-drinks-coca-icon {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 78px;
  height: 83px;
  object-fit: cover;
}
.button15,
.child13 {
  width: 88px;
  height: 118px;
}
.child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
}
.button15 {
  border: 2px solid #d9d9d9;
  border-radius: var(--br-3xs);
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: relative;
  
}
.div21 {
  position: absolute;
  top: 91px;
  left: 19px;
  font-size: var(--menu-size);
  font-family: var(--num);
  color: var(--color-black);
  text-align: center;
}
.image-2-icon,
.image-3-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 55px;
  height: 71px;
  object-fit: cover;
}
.image-2-icon {
  top: 3px;
  left: 9px;
  width: 70px;
  height: 88px;
}
.div19 {
  position: absolute;
  top: 466px;
  left: 44px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.button15.active {
  border-color: #F4AA41; /* 클릭된 상태의 테두리 색 */
}