.ncafe-searchbarinput-child {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--grayline);
  box-sizing: border-box;
  width: 30.5rem;
  height: 3.25rem;
}
.ncafe-input1 {
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: calc(50% - 12px);
  left: 0.938rem;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 27.188rem;
}
.ncafe-searchbarinput {
  position: absolute;
  top: 1.375rem;
  left: 9.875rem;
  width: 30.5rem;
  height: 3.25rem;
}
.ncafe-searchbarbutton-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-limegreen);
  width: 4.5rem;
  height: 3.25rem;
}
.ncafe-div42 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 24px);
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
}
.ncafe-searchbarbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 1.375rem;
  left: 40.375rem;
  width: 4.5rem;
  height: 3.25rem;
}
.ncafe-cafesearchbarframe {
  position: absolute;
  top: 49.938rem;
  left: 18.125rem;
  border-top: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 54.75rem;
  height: 6rem;
  overflow: hidden;
}
