.b26 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 45px);
  display: inline-block;
  width: 5.625rem;
}
.cafeinformation1 {
  position: absolute;
  top: 0.125rem;
  left: 0;
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 16.25rem;
  height: 2.875rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
}
.cafewritingbutton-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-dimgray);
  width: 15.25rem;
  height: 3rem;
}
.b27 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 60px);
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  width: 7.5rem;
  height: 1.5rem;
}
.cafewritingbutton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11.5rem;
  left: 0.5rem;
  width: 15.25rem;
  height: 3rem;
}
.b28 {
  position: absolute;
  top: 0;
  left: 1.875rem;
  display: inline-block;
  width: 4.375rem;
}
.ico-member-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.375rem;
  height: 1.125rem;
  overflow: hidden;
}
.b29,
.container {
  position: absolute;
}
.container {
  top: 1.875rem;
  left: 1rem;
  width: 6.25rem;
  height: 1.188rem;
}
.b29 {
  top: 0.188rem;
  left: 1.875rem;
  display: inline-block;
  width: 4.375rem;
}
.group-div,
.group-item {
  position: absolute;
  top: 0;
  height: 1.375rem;
}
.group-item {
  left: 0;
  width: 1.375rem;
  object-fit: cover;
}
.group-div {
  left: 1rem;
  width: 6.25rem;
}
.caferankandmember1 {
  position: absolute;
  top: 6.75rem;
  left: 0;
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 16.25rem;
  height: 3.75rem;
  overflow: hidden;
}
.b30,
.cafemanager-item {
  position: absolute;
  top: 0.625rem;
}
.cafemanager-item {
  left: 1.25rem;
  border-radius: var(--br-3xl);
  width: 3.875rem;
  height: 3.875rem;
  object-fit: cover;
}
.b30 {
  left: 6.438rem;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 6.313rem;
}
.managericon-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 2.5rem;
  height: 0.938rem;
}
.div43 {
  position: absolute;
  top: 0.063rem;
  left: 0.188rem;
  font-weight: 500;
  display: inline-block;
  width: 2.188rem;
}
.managericon1 {
  position: absolute;
  top: 0.688rem;
  left: 12.75rem;
  width: 2.5rem;
  height: 0.938rem;
  text-align: center;
  font-size: var(--font-size-3xs);
}
.div44,
.div45 {
  position: absolute;
  top: 2.063rem;
  left: 6.438rem;
  font-weight: 500;
  display: inline-block;
  width: 8.438rem;
}
.div45 {
  top: 3.438rem;
  width: 5.5rem;
}
.cafeintroduction1,
.cafemanager1 {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 16.25rem;
  overflow: hidden;
}
.cafemanager1 {
  top: 0.25rem;
  border-bottom: 1px solid var(--color-gainsboro-100);
  height: 6rem;
  font-size: var(--font-size-mini);
}
.cafeintroduction1 {
  top: 3rem;
  border-bottom: 2px solid var(--color-black);
  height: 15.5rem;
}
.b31 {
  position: absolute;
  top: calc(50% - 15px);
  left: 1rem;
  line-height: 130%;
}
.browsingtext1 {
  position: absolute;
  top: 18.5rem;
  left: 0;
  border-bottom: 2px solid var(--grayline);
  box-sizing: border-box;
  width: 16.25rem;
  height: 3.5rem;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.rifile-list-line-icon21 {
  position: absolute;
  top: 0.125rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}
.div46 {
  position: absolute;
  top: 0;
  left: 1.375rem;
  line-height: 130%;
  display: inline-block;
  width: 13.875rem;
}
.culturee1,
.employmentt1,
.financee2,
.medicall1,
.welfaree1 {
  position: absolute;
  top: 0.75rem;
  left: 1rem;
  width: 15.25rem;
  height: 1.188rem;
}
.employmentt1,
.financee2,
.medicall1,
.welfaree1 {
  top: 2.938rem;
}
.employmentt1,
.financee2,
.welfaree1 {
  top: 5.125rem;
}
.employmentt1,
.welfaree1 {
  top: 7.313rem;
}
.employmentt1 {
  top: 9.5rem;
}
.sidebarlist3 {
  position: absolute;
  top: 2.75rem;
  left: 0;
  border-bottom: 2px solid var(--grayline);
  box-sizing: border-box;
  width: 16.25rem;
  height: 12.188rem;
  overflow: hidden;
}
.b32 {
  position: absolute;
  top: calc(50% - 11px);
  left: 1.125rem;
  line-height: 130%;
}
.sortframe3 {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--grayline);
  box-sizing: border-box;
  width: 16.25rem;
  height: 2.75rem;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.cafesidebarlistcomponent3 {
  position: absolute;
  top: 22rem;
  left: 0;
  width: 16.25rem;
  height: 14.938rem;
  font-size: var(--font-size-mini);
}
.sortframe4 {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--grayline);
  box-sizing: border-box;
  width: 16.25rem;
  height: 2.75rem;
  overflow: hidden;
}
.financee3,
.mapp1,
.meetingg1,
.stargramm1,
.taxii1 {
  position: absolute;
  top: 11.688rem;
  left: 1rem;
  width: 15.25rem;
  height: 1.188rem;
}
.financee3,
.mapp1,
.meetingg1,
.taxii1 {
  top: 13.875rem;
}
.financee3,
.mapp1,
.meetingg1 {
  top: 16.063rem;
}
.mapp1,
.meetingg1 {
  top: 18.25rem;
}
.meetingg1 {
  top: 20.438rem;
}
.sidebarlist4 {
  position: absolute;
  top: 2.75rem;
  left: 0;
  border-bottom: 2px solid var(--grayline);
  box-sizing: border-box;
  width: 16.25rem;
  height: 23.125rem;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.cafesidebarlistcomponent4,
.sidebarlist5 {
  position: absolute;
  top: 36.938rem;
  left: 0;
  width: 16.25rem;
  height: 25.875rem;
}
.sidebarlist5 {
  top: 2.75rem;
  border-bottom: 2px solid var(--grayline);
  box-sizing: border-box;
  height: 14.375rem;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.cafesidebarlistcomponent5 {
  position: absolute;
  top: 62.813rem;
  left: 0;
  width: 16.25rem;
  height: 17.125rem;
}
.navercafesidebar1 {
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  background-color: var(--color-white);
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 16.25rem;
  height: 87.75rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
