.ncafe-pagenumberframe {
  position: absolute;
  top: 47.063rem;
  left: 28.688rem;
  width: 33.625rem;
  height: 2.5rem;
  /* overflow: hidden; */
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
