.text6 {
  flex: 1;
  position: relative;
  line-height: 130%;
  font-weight: 600;
}
.cell4,
.content6 {
  align-self: stretch;
}
.content6 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
}
.cell4 {
  flex: 1;
  background-color: var(--color-forestgreen-100);
  flex-direction: column;
  justify-content: center;
}
.cell4,
.cell5,
.content8 {
  display: flex;
  align-items: flex-start;
}
.cell5 {
  align-self: stretch;
  width: 8rem;
  background-color: var(--color-forestgreen-100);
  flex-direction: column;
  justify-content: center;
}
.content8 {
  width: 7.5rem;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
}
.cell6 {
  align-self: stretch;
  width: 7.5rem;
  background-color: var(--color-forestgreen-100);
  flex-direction: column;
  justify-content: center;
}
.cell6,
.cell7,
.row,
.table,
.table-1 {
  display: flex;
  align-items: flex-start;
}
.cell7 {
  align-self: stretch;
  width: 4.25rem;
  background-color: var(--color-forestgreen-100);
  flex-direction: column;
  justify-content: center;
}
.row,
.table,
.table-1 {
  justify-content: flex-start;
}
.row {
  align-self: stretch;
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-direction: row;
}
.table,
.table-1 {
  flex-direction: column;
}
.table {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  overflow: hidden;
  gap: var(--gap-12xs);
}
.table-1 {
  position: absolute;
  top: 17.125rem;
  left: 18.125rem;
  width: 54.75rem;
  height: 28.188rem;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--color-white);
  font-family: var(--font-inter);
}
