.ncafe-text1 {
  flex: 1;
  position: relative;
  line-height: 130%;
  cursor: pointer;
}
.ncafe-content1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  background-color: var(--color-white);
}
.ncafe-cell,
.ncafe-cell1,
.ncafe-cell2 {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--grayline);
  flex-direction: column;
  justify-content: center;
}
.ncafe-cell {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.ncafe-cell1,
.ncafe-cell2 {
  box-sizing: border-box;
}
.ncafe-cell1 {
  align-self: stretch;
  width: 128px;
  display: flex;
  align-items: flex-start;
}
.ncafe-cell2 {
  width: 120px;
  text-align: center;
}
.ncafe-cell2,
.ncafe-cell3,
.ncafe-tablerowcomponent {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
.ncafe-cell3 {
  width: 68px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--grayline);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.ncafe-tablerowcomponent {
  background-color: var(--color-gray-200);
  max-width: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
