@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Apple+SD+Gothic+Neo:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

@font-face {
  font-family: "NanumGothic";
  src: url("/public/Appguide/Korail/NanumGothic.otf");
  font-weight: 400;
}
@font-face {
  font-family: "NanumGothic";
  src: url("/public/Appguide/Korail/NanumGothicBold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "BerkshireSwash";
  src: url("/public/BerkshireSwash-Regular.ttf");
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-nanumgothic: NanumGothic;
  --font-swash: BerkshireSwash;
  --font-noto-sans-kr: "Noto Sans KR";

  /* font sizes */
  --font-size-31xl: 3.125rem;
  --font-size-xs: 0.75rem;
  --font-size-11xl: 1.875rem;
  --font-size-xl: 1.25rem;
  --font-size-3xs: 0.625rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-smi: 0.813rem;
  --font-size-5xl: 1.5rem;
  --font-size-mini: 0.938rem;
  --font-size-2xs: 0.688rem;

  /* font sizes - main */
  --font-size-29xl: 3rem;
  --font-size-13xl: 2rem;
  --font-size-21xl: 2.5rem;
  --font-size-9xl: 1.75rem;
  --font-size-41xl: 3.75rem;
  --font-size-19xl: 2.375rem;
  --font-size-56xl: 4.688rem;
  --font-size-17xl: 2.25rem;

  /* Colors */
  --color-white: #fff;
  --color-deepskyblue: #00b3ff;
  --color-greenyellow: #bdff00;
  --color-gold: #ffd600;
  --color-red: #ff0000;
  --color-saddlebrown: #774f00;
  --main: #4081ff;
  --color-gray: #898989;
  --color-black: #000;
  --color-gainsboro-100: #e2e2e2;
  --color-gainsboro-200: #ddd;
  --color-lightgray-100: #d4d4d4;
  --color-lightgray-200: rgba(212, 212, 212, 0.3);
  --color-firebrick: #b62222;
  --color-limegreen: #82e247;
  --color-whitesmoke-100: #f6f6f6;
  --color-whitesmoke-200: #f5f5f5;
  --color-mediumseagreen: #3db976;

  /* Colors - main */
  --contents: #f5f6f7;
  --light: #e2fbcc;
  --color-darkseagreen: #b5e299;
  --color-palegoldenrod: #c3e8ac;
  --heavy: #4d6140;
  --color-lightgray: #d5d5d5;
  --color-darkslategray: #444;
  --color-dimgray: #696969;

  /* Gaps */
  --gap-15xl: 2.125rem;
  --gap-8xs: 0.312rem;
  --gap-3xs: 0.625rem;
  --gap-31xl: 3.125rem;
  --gap-xl: 1.25rem;

  /* Paddings */
  --padding-5xs: 0.5rem;
  --padding-5xl: 1.5rem;
  --padding-6xs: 0.437rem;
  --padding-2xs: 0.687rem;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-9xs: 4px;
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-21xl: 40px;
  --br-xl: 20px;
  --br-5xs: 8px;
}