@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@font-face {
  font-family: 'MangoDdobak-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'WavvePADO-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* 폰트 */
  --font-noto-sans-kr: "Noto Sans KR";
  --font-inter: "Inter";
  --font-mango-ddobak: "MangoDdobak-B";
  --font-main: "WavvePADO-Regular";
  --num: Inter;
  --font-krub: Krub;

  /* 폰트 크기 */
  --font-size-56xl: 4.688rem;
  --font-size-5xl: 1.5rem;
  --font-size-29xl: 3rem;
  --font-size-13xl: 2rem;
  --font-size-19xl: 2.375rem;
  --font-size-21xl: 2.5rem;
  --font-size-xl: 1.25rem;
  --font-size-17xl: 2.25rem;
  --font-size-41xl: 3.75rem;
  --font-size-9xl: 1.75rem;
  --font-size-lg: 18px;
  --font-size-smi: 13px;
  --menu-size: 11px;
  --num-size: 15px;
  --font-size-31xl: 50px;
  --kcal-1-size: 10px;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-mid: 1.063rem;
  --font-size-mini: 0.938rem;
  --font-size-3xs: 0.625rem;
  --font-size-xs: 0.75rem;

  /* 색상 */
  --color-white: #fff;
  /* --main: #b5e299; */
  /* --main: #009874; */
  /* --main: #228b22; */
  /* --main: #00bf8f; */
  --main: #63886D;
  --color-goldenrod: #f0c055; /* 중복됨 */
  --color-mediumaquamarine: #62c796;
  --color-black: #000;
  --contents: #f5f6f7;
  --color-whitesmoke-100: #f5f5f5;
  /* --light: #e2fbcc; */
  /* --light: #bfffef; */
  /* --light: #a0efa0; */
  --light: #b3d1bb;
  --hover: #567a60;
  --color-gainsboro: #d9d9d9; /* 중복됨 */
  --color-darkgray: #9ba9b0;
  --color-palegoldenrod: #c3e8ac;
  --color-dimgray: #696969;
  --heavy: #4d6140;
  --color-darkslategray: #444;
  --color-lightgray: #d5d5d5;
  --color-darkslategray-200: rgba(68, 68, 68, 0.27);
  --color-darkslategray-300: rgba(51, 51, 51, 0.5);
  --kcal: #929292;
  --color-gray-100: #767676;
  --color-goldenrod: #f4aa41;
  --color-gold: #fcea2b;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-dodgerblue: #0095f6;
  --color-whitesmoke: #ebebea;
  --color-limegreen: #03c75a;
  --color-darkslategray-100: #444;
  --grayline: rgba(68, 68, 68, 0.5);
  --color-gray-200: rgba(0, 0, 0, 0.05);
  --color-forestgreen-100: #248f40;
  --color-dimgray-100: #5b5b5b;
  --color-dimgray-200: #5a5a5a;

  /* 간격 */
  --gap-3xs: 10px;
  --gap-2xs: 11px;
  --gap-12xs: 0.062rem;

  /* 패딩 */
  --padding-14xl: 33px;
  --padding-mini: 0.937rem;
  --padding-base: 1rem;
  --padding-24xl: 2.687rem;
  --padding-3xs: 0.625rem;
  --padding-xs: 0.75rem;

  /* 테두리 반경 */
  --br-11xl: 30px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-8xs: 5px;
  --br-mini: 15px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-base: 16px;
  --br-3xl: 22px;
  --br-7xs: 6px;
  --br-6xl: 25px;
}
