.afterlike-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #adadad;
  box-sizing: border-box;
}
.div203 {
  position: absolute;
  top: 25.64%;
  left: 43.01%;
}
.afterlike,
.vector-icon {
  max-width: 100%;
  max-height: 100%;
}
.vector-icon {
  position: absolute;
  height: 51.28%;
  width: 22.58%;
  top: 17.95%;
  right: 67.74%;
  bottom: 30.77%;
  left: 9.68%;
  overflow: hidden;
}
.afterlike {
  width: 5.813rem;
  position: relative;
  height: 2.438rem;
  cursor: pointer;
  overflow: auto;
  text-align: left;
  font-size: 1rem;
  color: #000;
  font-family: Inter;
}
