.div208,
.frame-child14 {
  position: absolute;
  top: 1.25rem;
}
.div208 {
  left: 1.375rem;
  font-size: 2rem;
}
.frame-child14 {
  left: 19.625rem;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 5.813rem;
  height: 2.438rem;
}
.div209 {
  position: absolute;
  top: 1.875rem;
  left: 22.125rem;
  font-size: 1rem;
}
.div210,
.star-icon25 {
  position: absolute;
  top: 5.063rem;
  left: 3.75rem;
}
.star-icon25 {
  top: 4.875rem;
  left: 1.375rem;
  width: 2.188rem;
  height: 2.188rem;
  object-fit: cover;
}
.div211 {
  position: absolute;
  top: 5.063rem;
  left: 8.313rem;
}
.favorite-icon2,
.frame-child15 {
  position: absolute;
  top: 5.063rem;
  left: 6.975rem;
  width: 0.025rem;
  height: 1.875rem;
  object-fit: contain;
}
.favorite-icon2 {
  top: 1.375rem;
  left: 20.25rem;
  width: 1.438rem;
  height: 2.188rem;
  object-fit: cover;
}
.parent4 {
  position: absolute;
  top: 12.625rem;
  left: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
  width: 26.875rem;
  height: 8.813rem;
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  font-family: Inter;
}
