.blank-line {
  margin: 0;
}
.certifybyphone {
  position: relative;
}
.certifybyphone-parent {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 123px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: Inter;
}
