@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.insta-instagramer {
  position: relative;
  font-family : "Berkshire Swash"
}
.insta-instagramer1 {
  position: relative;
  margin-top: -3.438rem;
}
.insta-frame {
  width: 14.563rem;
  height: 3.438rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: undefined;
  margin-left: 0.437rem;
}
.insta-frame-icon {
  width: 6.875rem;
  position: relative;
  height: 7.125rem;
  overflow: hidden;
  flex-shrink: 0;
}
.insta-div {
  flex: 1;
  position: relative;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Nanum Gothic";
  color: #000;
  text-align: center;
}
.insta-wrapper {
  cursor: pointer;
  border: none;
  padding: 1.062rem 4.812rem;
  background-color: transparent;
  align-self: stretch;
  border-radius: 22px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.insta-frame3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.insta-container {
  cursor: pointer;
  border: none;
  padding: 1.062rem 0rem;
  background-color: transparent;
  align-self: stretch;
  border-radius: 22px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.insta-frame2 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
}
.insta-frame1 {
  width: 18.125rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13.875rem;
}
.insta-mainpageinstagram {
  width: 100%;
  height: 58.25rem;
  position: relative;
  background-color: #ffeffa;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 4.375rem;
  box-sizing: border-box;
  gap: 3.875rem;
  text-align: center;
  font-size: 2.75rem;
  color: #000;
  font-family: "Berkshire Swash";
}
