.material-symbolshome-outline-icon6 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 4.125rem;
}
.material-symbolshome-outline-parent4 {
  position: absolute;
  top: 53.25rem;
  left: 0rem;
  background-color: #fff;
  border-top: 2px solid #d9d9d9;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.437rem 2rem;
  gap: 2.062rem;
}
.mypage1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 58.25rem;
  overflow: hidden;
}
