.div21 {
  align-self: stretch;
  position: relative;
  font-size: 2.5rem;
  font-family: "Noto Sans KR";
  color: #9a95a3;
  text-align: center;
}
.input-box13 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: #f7f6f9;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-box-wrapper4 {
  position: absolute;
  top: 43.75rem;
  left: 2.125rem;
  width: 22.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.div22 {
  align-self: stretch;
  position: relative;
}
.input-box14 {
  align-self: stretch;
  border-radius: 8px;
  background-color: #f7f6f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-box-wrapper5 {
  position: absolute;
  top: 48.938rem;
  left: 2.188rem;
  width: 22.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div23 {
  position: absolute;
  top: 10.313rem;
  left: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  text-align: left;
  display: inline-block;
  width: 22.75rem;
}
.profileimg1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 58.25rem;
  overflow: hidden;
  text-align: center;
  font-size: 2.5rem;
  color: #9a95a3;
  font-family: "Noto Sans KR";
}
